{% extends 'KasiaTadeuszBundle::layout.html.twig' %}
	{% block menu %}
		<ul class="list-group">
			<li class="list-group-item"><a href="b1.html">First book</a></li>
			<li class="list-group-item"><a href="b2.html">Second book</a></li>
			<li class="list-group-item"><a href="b3.html">Third book</a></li>
			<li class="list-group-item"><a href="b4.html">Fourth book</a></li>
			<li class="list-group-item"><a href="b5.html">Fifth book</a></li>
			<li class="list-group-item"><a href="b6.html">Sixth book</a></li>
			<li class="list-group-item"><a href="b7.html">Seventh book</a></li>
			<li class="list-group-item"><a href="b8.html">Eighth book</a></li>
			<li class="list-group-item"><a href="b9.html">Nineth book</a></li>
			<li class="list-group-item"><a href="b10.html">Tenth book</a></li>
			<li class="list-group-item"><a href="b11.html">Eleventh book</a></li>
			<li class="list-group-item"><a href="b12.html">Tvelvth book</a></li>
		</ul>
	{% endblock %}
	