{% extends 'MovieRentalBundle:Default:layout.html.twig'%}

{% block info %}
	<p><b>Genres:</b></p>
	<p><b>Starring:</b></p>
	<p><b>Year:</b></p>
	<p><b>Description:</b></p><br/>
	<p><b>Language:</b></p> 
	<p><b>Price:</b></p> <br/><br/>
	<p><b>Trailer:</b></p><br/>
{% endblock %}
{% block cover %}
	<img src="{{ asset('bundles/movierental/images/conjuring.jpg') }}"><br/>
{% endblock %}
{% block title %}
	<h4 class="film">The Conjuring</h4>
{% endblock %}
{% block genres %}
	<p>Horror<br/></p>
{% endblock %}
{% block starring %}
	<p>Patrick Wilson, Vera Farmiga, Ron Livingston<br/></p>
{% endblock %}
{% block year %}
	<p>2013<br/></p>
{% endblock %}
{% block description %}
	<p>Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse.<br/></p>
{% endblock %}
{% block language %}
	<p>English<br/></p>
{% endblock %}
{% block price %}
	<p>$4.58</p>
{% endblock %}
{% block trailer %}
	<video width="450" controls>
		<source src="{{ asset('bundles/movierental/video/conjuring.mp4') }}" type="video/mp4">
	</video>
{% endblock %}