{% extends 'MovieRentalBundle:Default:layout.html.twig'%}

{% block info %}
	<p><b>Genres:</b></p>
	<p><b>Starring:</b></p>
	<p><b>Year:</b></p>
	<p><b>Description:</b></p><br/><br/> 
	<p><b>Language:</b></p> 
	<p><b>Price:</b></p> <br/><br/>
	<p><b>Trailer:</b></p><br/>
{% endblock %}
{% block cover %}
	<img src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}"><br/>
{% endblock %}
{% block title %}
	<h4 class="film">The Hobbit: An Unexpected Journey</h4>
{% endblock %}
{% block genres %}
	<p>Adventure, Fantasy <br/></p>
{% endblock %}
{% block starring %}
	<p>Martin Freeman, Ian McKellen, Richard Armitage<br/></p>
{% endblock %}
{% block year %}
	<p>2012<br/></p>
{% endblock %}
{% block description %}
	<p>A reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain home - and the gold within it - from the dragon Smaug.<br/></p>
{% endblock %}
{% block language %}
	<p>English<br/></p>
{% endblock %}
{% block price %}
	<p>$5.98</p>
{% endblock %}
{% block trailer %}
	<video width="450" controls>
		<source src="{{ asset('bundles/movierental/video/hobbit1.mp4') }}" type="video/mp4">
	</video>
{% endblock %}