<!DOCTYPE html>
<HTML>
	<head>
		<title>Film Rental</title>
		<meta charset="UTF-8">
		<link href="{{ asset('bundles/movierental/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<style>
		body {
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			background-color: #FF0000;
		}
		h2 {color: #00FF00}
		label {
			font-weight: bold;
		}
		</style>
	</head>
	<body>
	</body>
</html>