{% extends 'KasiaTadeuszBundle::bars.html.twig' %}
	{% block header %}
		<h1>Pan Tadeusz</h1>			
	{% endblock %}
	{% block contnt %}
<h3>KSIĘGA ÓSMA</h3>

<h4>ZAJAZD</h4>

<p class="streszczenie">
Astronomia Wojskiego<br>
Uwaga Podkomorzego nad kometami<br>
Tajemnicza scena w pokoju Sędziego<br>
Tadeusz, chcąc zręcznie wyplątać się, wpada w wielkie kłopoty<br>
Nowa Dydo- Zajazd<br>
Ostatnia woźnieńska protestacja<br>
Hrabia zdobywa Soplicowo<br>
Szturm i rzeź<br>
Gerwazy piwnicznym<br>
Uczta zajazdowa
</p>

<p>
Przed burzą bywa chwila cicha i ponura,<br>
Kiedy nad głowy ludzi przyleciawszy chmura<br>
Stanie i grożąc twarzą, dech wiatrów zatrzyma,<br>
Milczy, obiega ziemię błyskawic oczyma,<br>
Znacząc te miejsca, gdzie wnet ciśnie grom po gromie:<br>
Tej ciszy chwila była w Soplicowskim domie.<br>
Myśliłbyś, że przeczucie nadzwyczajnych zdarzeń<br>
Ścięło usta i wzniosło duchy w kraje marzeń.
</p>

<p>
Po wieczerzy i Sędzia, i goście ze dworu<br>
Wychodzą na dziedziniec używać wieczoru;<br>
Zasiadają na przyzbach wysłanych murawą;<br>
Całe grono z posępną i cichą postawą<br>
Pogląda w niebo, które zdawało się zniżać,<br>
Ścieśniać i coraz bardziej ku ziemi przybliżać,<br>
Aż oboje, skrywszy się pod zasłonę ciemną<br>
Jak kochankowie, wszczęli rozmowę tajemną,<br>
Tłumacząc swe uczucia w westchnieniach tłumionych,<br>
Szeptach, szmerach i słowach na wpół wymówionych,<br>
Z których składa się dziwna muzyka wieczoru.
</p>

<p>
Zaczął ją puszczyk, jęcząc na poddaszu dworu;<br>
Szepnęły wiotkiem skrzydłem niedoperze, lecą<br>
Pod dom, gdzie szyby okien, twarze ludzi świecą;<br>
Niżej zaś — niedoperzów siostrzyczki, ćmy, rojem<br>
Wiją się, przywabione białym kobiet strojem.<br>
Mianowicie przykrzą się Zosi, bijąc w lice<br>
I w jasne oczki, które biorą za dwie świéce.<br>
Na powietrzu owadów wielki krąg się zbiera,<br>
Kręci się, grając jako harmoniki sfera;<br>
Ucho Zosi rozróżnia wśród tysiąca gwarów<br>
Akord muszek i półton fałszywy komarów.
</p>

<p>
W polu koncert wieczorny ledwie jest zaczęty;<br>
Właśnie muzycy kończą stroić instrumenty.<br>
Już trzykroć wrzasnął derkacz, pierwszy skrzypak łąki,<br>
Już mu z dala wtórują z bagien basem bąki,<br>
Już bekasy do góry porwawszy się wiją<br>
I bekając raz po raz jak w bębenki biją.
</p>

<p>
Na finał szmerów muszych i ptaszęcej wrzawy<br>
Odezwały się chórem podwójnym dwa stawy,<br>
Jako zaklęte w górach kaukaskich jeziora,<br>
Milczące przez dzień cały, grające z wieczora.<br>
Jeden staw, co toń jasną i brzeg miał piaszczysty,<br>
Modrą piersią jęk wydał cichy, uroczysty;<br>
Drugi staw, z dnem błotnistem i gardzielem mętnym,<br>
Odpowiedział mu krzykiem żałośnie namiętnym;<br>
W obu stawach piały żab niezliczone hordy,<br>
Oba chory zgodzone w dwa wielkie akordy.<br>
Ten fortissimo zabrzmiał, tamten nuci z cicha,<br>
Ten zdaje się wyrzekać, tamten tylko wzdycha;<br>
Tak dwa stawy gadały do siebie przez pola,<br>
Jak grające na przemian dwie arfy Eola.
</p>

<p>
Mrok gęstniał; tylko w gaju i około rzeczki,<br>
W łozach, błyskały wilcze oczy jako świeczki,<br>
A dalej, u ścieśnionych widnokręgu brzegów,<br>
Tu i ówdzie ogniska pastuszych noclegów.<br>
Nareszcie księżyc srebrną pochodnię zaniecił,<br>
Wyszedł z boru i niebo i ziemię oświecił.<br>
One teraz, z pomroku odkryte w połowie,<br>
Drzemały obok siebie jako małżonkowie<br>
Szczęśliwi: niebo w czyste objęło ramiona<br>
Ziemi pierś, co księżycem świeci posrebrzona.
</p>

<p>
Już naprzeciw księżyca gwiazda jedna, druga<br>
Błysnęła; już ich tysiąc, już milijon mruga.<br>
Kastor z bratem Polluksem jaśnieli na czele,<br>
Zwani niegdyś u Sławian: Lele i Polele;<br>
Teraz ich w zodyjaku gminnym znów przechrzczono,<br>
Jeden zowie się <strong>Litwą</strong>, a drugi <strong>Koroną</strong>.
</p>

<p>
Dalej niebieskiej <strong>Wagi</strong> dwie szale błyskają;<br>
Na nich Bóg w dniu stworzenia (starzy powiadają)<br>
Ważył z kolei wszystkie planety i ziemie,<br>
Nim w przepaściach powietrza osadził ich brzemię;<br>
Potem wagi złociste zawiesił na niebie:<br>
Z nich to ludzie wag i szal wzór wzięli dla siebie.
</p>

<p>
Na północ świeci okrąg gwiaździstego <strong>Sita</strong>,<br>
Przez które Bóg (jak mówią) przesiał ziarnka żyta,<br>
Kiedy je z nieba zrucał dla Adama ojca,<br>
Wygnanego za grzechy z rozkoszy ogrojca.
</p>

<p>
Nieco wyżej <strong>Dawida wóz</strong>, gotów do jazdy,<br>
Długi dyszel kieruje do Polarnej Gwiazdy.<br>
Starzy Litwini wiedzą o rydwanie owym,<br>
Że niesłusznie pospólstwo zwie go Dawidowym,<br>
Gdyż to jest wóz Anielski. Na nim to przed czasy<br>
Jechał Lucyper, Boga gdy wyzwał w zapasy,<br>
Mlecznym gościńcem pędząc w cwał w niebieskie progi,<br>
Aż go Michał zbił z wozu, a wóz zrucił z drogi.<br>
Teraz, popsuty, między gwiazdami się wala,<br>
Naprawiać go archanioł Michał nie pozwala.
</p>

<p>
I to wiadomo także u starych Litwinów<br>
(A wiadomość tę pono wzięli od rabinów),<br>
Że ów zodyjakowy <strong>Smok</strong>, długi i gruby,<br>
Który gwiaździste wije po niebie przeguby,<br>
Którego mylnie <strong>Wężem</strong> chrzczą astronomowie,<br>
Jest nie wężem, lecz rybą. Lewiatan się zowie.<br>
Przed czasy mieszkał w morzach, ale po potopie<br>
Zdechł z niedostatku wody; więc na niebios stropie,<br>
Tak dla osobliwości, jako dla pamiątki,<br>
Anieli zawiesili jego martwe szczątki.<br>
Podobnie pleban mirski zawiesił w kościele<br>
Wykopane olbrzymów żebra i piszczele.
</p>

<p>
Takie gwiazd historyje, które z książek zbadał<br>
Albo słyszał z podania, Wojski opowiadał;<br>
Chociaż wieczorem słaby miał wzrok Wojski stary<br>
I nie mógł w niebie dojrzeć nic przez okulary,<br>
Lecz na pamięć znał imię i kształt każdej gwiazdy;<br>
Wskazywał palcem miejsca i drogę ich jazdy.
</p>

<p>
Dziś mało go słuchano, nie zważano wcale<br>
Na Sito ni na Smoka, ani też na Szale;<br>
Dziś oczy i myśl wszystkich pociąga do siebie<br>
Nowy gość, dostrzeżony niedawno na niebie:<br>
Był to <strong>komet</strong> a pierwszej wielkości i mocy,<br>
Zjawił się na zachodzie, leciał ku północy;<br>
Krwawym okiem z ukosa na rydwan spoziera,<br>
Jakby chciał zająć puste miejsce Lucypera,<br>
Warkocz długi w tył rzucił i część nieba trzecią<br>
Obwinął nim, gwiazd krocie zagarnął jak siecią<br>
I ciągnie je za sobą, a sam wyżej głową<br>
Mierzy, na północ, prosto w gwiazdę biegunową.
</p>

<p>
Z niewymownym przeczuciem cały lud litewski<br>
Poglądał każdej nocy na ten cud niebieski,<br>
Biorąc złą wróżbę z niego tudzież z innych znaków;<br>
Bo zbyt często słyszano krzyk złowieszczych ptaków,<br>
Które na pustych polach gromadząc się w kupy,<br>
Ostrzyły dzioby, jakby czekając na trupy.<br>
Zbyt często postrzegano, że psy ziemię ryły<br>
I jak gdyby śmierć wietrząc, przeraźliwie wyły:<br>
Co wróży głód lub wojnę; a strażnicy boru<br>
Widzieli, jak przez smętarz szła dziewica moru,<br>
Która wznosi się czołem nad najwyższe drzewa,<br>
A w lewym ręku chustką skrwawioną powiewa.
</p>

<p>
Różne stąd wnioski tworzył stojący przy płocie<br>
Cywun, co przyszedł zdawać sprawę o robocie,<br>
I pisarz prowentowy w szeptach z ekonomem.
</p>

<p>
Lecz Podkomorzy siedział na przyźbie przed domem.<br>
Przerwał rozmowę gości, znać, że głos zabiera;<br>
Błysnęła przy księżycu wielka tabakiera<br>
(Cała z szczerego złota, z brylantów oprawa,<br>
We środku za szkłem portret króla Stanisława);<br>
Zadzwonił w nią palcami, zażył i rzekł: „Panie<br>
Tadeuszu, Waścine o gwiazdach gadanie<br>
Jest tylko echem tego, co słyszałeś w szkole.<br>
Ja o cudzie — prostaków poradzić się wolę.<br>
I ja astronomiji słuchałem dwa lata<br>
W Wilnie, gdzie Puzynina, mądra i bogata<br>
Pani, oddała dochód z wioski dwiestu chłopów<br>
Na zakupienie różnych szkieł i teleskopów;<br>
Ksiądz Poczobut, człek sławny, był obserwatorem<br>
I całej Akademiji naonczas rektorem,<br>
Przecież w końcu katedrę i teleskop rzucił,<br>
Do klasztoru, do cichej celi swej powrócił<br>
I tam umarł przykładnie. Znam się też z Śniadeckim,<br>
Który jest mądrym bardzo człekiem, chociaż świeckim.
</p>

<p>
Owoż astronomowie planetę, kometę,<br>
Uważają tak jako mieszczanie karetę;<br>
Wiedzą, czyli zajeżdża przed króla stolicę,<br>
Czyli z rogatek miejskich rusza za granicę;<br>
Lecz kto w niej jechał? po co? co z królem rozmawiał?<br>
Czy król posła z pokojem, czy z wojną wyprawiał?<br>
O to ani pytają.
</p>

<p>
Pomnę, za mych czasów,<br>
Gdy Branecki karetą swą ruszył do Jassów<br>
I za tą niepoczciwą pociągnął karetą<br>
Ogon targowiczanów, jak za tą kometą —<br>
Lud prosty, choć w publiczne nie mieszał się rady,<br>
Zgadnął zaraz, że ogon ów jest wróżbą zdrady.<br>
Słychać, że lud dał imię <strong>miotły</strong> tej komecie,<br>
I powiada, że ona milijon wymiecie”.
</p>

<p>
A na to rzekł z ukłonem Wojski: „Prawda, Jaśnie<br>
Wielmożny Podkomorzy; przypominam właśnie,<br>
Co mnie mówiono niegdyś, małemu dziecięciu,<br>
Pamiętam, choć nie miałem wówczas lat dziesięciu,<br>
Kiedy widziałem w domu naszym nieboszczyka<br>
Sapiehę, pancernego znaku porucznika,<br>
Co potem był nadwornym marszałkiem królewskim,<br>
Na koniec umarł wielkim kanclerzem litewskim,<br>
Miawszy lat sto i dziesięć. Ten, za króla Jana<br>
Trzeciego był pod Wiedniem w chorągwi hetmana<br>
Jabłonowskiego; owoż ów kanclerz powiadał,<br>
Że właśnie kiedy na koń król Jan Trzeci siadał,<br>
Gdy nuncjusz papieski żegnał go na drogę,<br>
A poseł austryjacki całował mu nogę,<br>
Podając strzemię (poseł zwał się Wilczek hrabia),<br>
Król krzyknął: «Patrzcie, co się na niebie wyrabia»<br>
Spójrzą, alić nad głowy suwał się kometa<br>
Drogą, jaką ciągnęły wojska Mahometa:<br>
Z wschodu na zachód; potem i ksiądz Bartochowski,<br>
Składając panegiryk na tryumf krakowski,<br>
Pod godłem Orientis Fulmen, prawił wiele<br>
O tym komecie; także czytam o nim w dziele<br>
Pod tytułem Janina, gdzie jest opisana<br>
Cała wyprawa króla nieboszczyka Jana<br>
I wyryta chorągiew wielka Mahometa,<br>
I ów taki, jak dziś go widzimy, kometa”.
</p>

<p>
„Amen — rzekł na to Sędzia — ja wróżbę Waszeci<br>
Przyjmuję; oby z gwiazdą zjawił się Jan Trzeci!<br>
Jest na zachodzie wielki dziś bohater; może<br>
Kometa go przywiedzie do nas; co daj Boże!”
</p>

<p>
Na to rzekł Wojski, głowę pochyliwszy smutnie:<br>
„Kometa czasem wojny, czasem wróży kłótnie!<br>
Niedobrze, iż się zjawił tuż nad Soplicowem:<br>
Może nam grozi jakiem nieszczęściem domowem.<br>
Mieliśmy wczora dosyć rozterku i zwady,<br>
Tak w czasie polowania, jako i biesiady,<br>
Rejent kłócił się z rana z panem Asesorem,<br>
A pan Tadeusz wyzwał Hrabiego wieczorem.<br>
Pono spór ten ze skóry niedźwiedziej pochodził;<br>
I gdyby mnie Dobrodziej Sędzia nie przeszkodził,<br>
Ja bym u stołu obu przeciwników zgodził.<br>
Bo chciałem opowiedzieć wypadek ciekawy,<br>
Podobny do zdarzenia wczorajszej wyprawy,<br>
Co trafił się najpierwszym strzelcom za mych czasów,<br>
Posłowi Rejtanowi i księciu Denassów.<br>
Przypadek był takowy:
</p>

<p>
Jenerał Podolskich<br>
Ziem przejeżdżał z Wołynia do swoich dóbr polskich,<br>
Czy też, gdy dobrze pomnę, na sejm do Warszawy.<br>
Po drodze zwiedzał szlachtę, już to dla zabawy,<br>
Już dla popularności; wstąpił więc do pana<br>
Tadeusza, dziś świętej pamięci, Rejtana,<br>
Który był potem naszym nowogrodzkim posłem<br>
I w którego ja domu od dzieciństwa wzrosłem.<br>
Owoż Rejtan na przyjazd księcia Jenerała<br>
Zaprosił gości — liczna szlachta się zebrała,<br>
Było teatrum (Książę kochał się w teatrze);<br>
Fajerwerk dawał Kaszyc, który mieszka w Jatrze,<br>
Pan Tyzenhauz tancerzy przysłał, a kapele<br>
Ogiński i pan Sołtan, co mieszka w Zdzięciele.<br>
Słowem, dawano huczne nad spodziw zabawy<br>
W domu, a w lasach wielkie robiono obławy.<br>
Wiadomo zaś Waszmościom jest, że prawie wszyscy,<br>
Ile ich zapamiętać można, Czartoryscy,<br>
Choć idą z Jagiellonów krwi, lecz do myślistwa<br>
Nie są bardzo pochopni, pewno nie z lenistwa,<br>
Lecz z gustów cudzoziemskich; i książę Jenerał<br>
Częściej do książek niźli do psiarni zazierał,<br>
I do alkówek damskich częściej niż do lasów.
</p>

<p>
W świcie Księcia był książę niemiecki Denassów,<br>
O którym powiadano, że w libijskiej ziemi<br>
Goszcząc, polował niegdyś z królmi murzyńskiemi<br>
I tam tygrysa śpisą w ręcznym boju zwalił,<br>
Z czego się bardzo książę ów Denassów chwalił.<br>
U nas zaś polowano na dziki w tę porę;<br>
Rejtan zabił ze sztucca ogromną maciorę,<br>
Z wielkim niebezpieczeństwem, bo z bliska wypalił.<br>
Każdy z nas trafność strzału wydziwiał i chwalił,<br>
Tylko Niemiec Denassów obojętnie słuchał<br>
Pochwał takich i, chodząc, pod nos sobie dmuchał:<br>
Że trafny strzał dowodzi tylko śmiałe oko,<br>
Biała broń śmiałą rękę; i zaczął szeroko<br>
Znowu gadać o swojej Libiji i śpisie,<br>
O swych królach murzyńskich i o swym tygrysie.<br>
Markotno to się stało panu Rejtanowi,<br>
Był człek żywy, uderzył po szabli i mówi:<br>
«Mości Książę! kto patrzy śmiele, walczy śmiele;<br>
Warte dziki tygrysów, a spis karabele» —<br>
I zaczynali z Niemcem dyskurs nazbyt żwawy.<br>
Szczęściem, książę Jenerał przerwał te rozprawy,<br>
Godząc ich po francusku. Co tam gadał, nie wiem,<br>
Ale ta zgoda był to popioł nad żarzewiem,<br>
Bo Rejtan wziął do serca, okazyi czekał<br>
I dobrą sztukę spłatać Niemcowi przyrzekał;<br>
Tej sztuki ledwie własnym nie przypłacił zdrowiem,<br>
A spłatał ją nazajutrz, jak to wnet opowiem”.
</p>

<p>
Tu Wojski umilknąwszy prawą rękę wznosił<br>
I u Podkomorzego tabakiery prosił;<br>
Długo zażywa, kończyć powieści nie raczy,<br>
Jak gdyby chciał zaostrzyć ciekawość słuchaczy.<br>
Zaczynał wreszcie, kiedy znowu mu przerwano<br>
Powieść taką ciekawą, tak pilnie słuchaną!<br>
Bo do Sędziego nagle któś przysłał człowieka,<br>
Donosząc, że z niezwłocznym interesem czeka.
</p>

<p>
Sędzia, dając dobranoc, żegnał całe grono;<br>
Natychmiast się po różnych stronach rozpierzchniono:<br>
Ci spać do domu, tamci w stodole na sianie;<br>
Sędzia szedł podróżnemu dawać posłuchanie.
</p>

<p>
Inni już śpią. Tadeusz po sieniach się zwija,<br>
Chodząc jako wartownik około drzwi stryja,<br>
Bo musi w ważnych rzeczach rady jego szukać<br>
Dziś jeszcze, nim spać pójdzie; nie śmie do drzwi stukać.<br>
Sędzia drzwi na klucz zamknął, z kimś tajnie rozmawia;<br>
Tadeusz końca czeka, a ucha nadstawia.
</p>

<p>
Słyszy wewnątrz szlochanie; nie trącając klamek,<br>
Ostróżnie dziurką klucza zagląda przez zamek.<br>
Widzi rzecz dziwną! Sędzia i Robak na ziemi<br>
Klęczeli objąwszy się i łzami rzewnemi<br>
Płakali, Robak ręce Sędziego całował,<br>
Sędzia Księdza za szyję płacząc obejmował;<br>
Wreszcie po ćwierćgodzinnem przerwaniu rozmowy<br>
Robak po cichu tymi odezwał się słowy:
</p>

<p>
„Bracie; Bóg wie, żem dotąd tajemnic dochował,<br>
Którem z żalu za grzechy w spowiedzi ślubował;<br>
Że Bogu i Ojczyźnie poświęcony cały,<br>
Nie służąc pysze, ziemskiej nie szukając chwały,<br>
Żyłem dotąd i chciałem umrzeć bernardynem,<br>
Nie wydając nazwiska nie tylko przed gminem,<br>
Ale nawet przed tobą i przed własnym synem!<br>
Wszakże ksiądz prowincyjał dał mi pozwolenie<br>
In articulo mortis zrobić objawienie.<br>
Kto wie, czy wrócę żywy! Kto wie, co się stanie<br>
W Dobrzynie! Bracie! wielkie, wielkie zamieszanie!<br>
Francuz jeszcze daleko; nim przeminie zima,<br>
Trzeba czekać, a szlachta pono nie dotrzyma.<br>
Możem zanadto czynnie z powstaniem się krzątał!<br>
Pono źle zrozumieli! Klucznik wszystko splątał!<br>
Ten wariat Hrabia! słyszę, pobiegł do Dobrzyna!<br>
Nie mogłem go uprzedzić, ważna w tym przyczyna:<br>
Stary Maciek mnie poznał, a jeśli odkryje,<br>
Potrzeba będzie oddać pod Scyzoryk szyję.<br>
Nic Klucznika nie wstrzyma! mniejsza o mą głowę,<br>
Lecz tym odkryciem spisku zerwałbym osnowę.
</p>

<p>
Przecież dziś tam być muszę! widzieć, co się dzieje,<br>
Choćbym zginął; beze mnie szlachta oszaleje!<br>
Bądź zdrów, najmilszy bracie, bądź zdrów, śpieszyć muszę.<br>
Jeśli zginę, ty jeden westchniesz za mą duszę;<br>
W przypadku wojny tobie cała tajemnica<br>
Wiadoma; kończ, com zaczął, pomnij, żeś Soplica!”
</p>

<p>
Tu Ksiądz łzy otarł, habit zapiął, kaptur włożył<br>
I okienicę tylną po cichu otworzył,<br>
Widać było, że oknem do ogrodu skakał;<br>
Sędzia, zostawszy jeden, siadł w krześle i płakał.
</p>

<p>
Chwilę czekał Tadeusz, nim w klamkę zadzwonił;<br>
Otworzono mu; cicho wszedł, nisko się skłonił:<br>
„Stryjaszku Dobrodzieju — rzekł — ledwie dni kilka<br>
Przebawiłem tu, dni te minęły jak chwilka;<br>
Nie miałem czasu z twoim domem się nacieszyć<br>
I z tobą, a odjeżdżać muszę, muszę śpieszyć<br>
Zaraz, dzisiaj, Stryjaszku, a jutro najdaléj:<br>
Wszak pamiętacie, żeśmy Hrabiego wyzwali.<br>
Bić się z nim to rzecz moja, posłałem wyzwanie,<br>
W Litwie jest zakazane pojedynkowanie,<br>
Jadę więc na granicę Warszawskiego Księstwa;<br>
Hrabia, prawda, fanfaron, lecz mu nie brak męstwa,<br>
Na miejsce naznaczone zapewne się stawi,<br>
Rozprawim się; a jeśli Bóg pobłogosławi,<br>
Ukarzę go, a potem za Łososny brzegi<br>
Przepłynę, gdzie mnie bratnie czekają szeregi.<br>
Słyszałem, że mi ojciec testamentem kazał<br>
Służyć w wojsku, a nie wiem, kto testament zmazał”.
</p>

<p>
„Mój Tadeuszku — rzekł stryj — czy Waszeć kąpany<br>
W gorącej wodzie, czy też kręcisz jak lis szczwany,<br>
Co indziej kitą wije, a sam indziej bieży?<br>
Wyzwaliśmy, zapewne, i bić się należy.<br>
Ale jechać dziś, skądżeś Waszeć tak się zaciął?<br>
Przed pojedynkiem zwyczaj jest posłać przyjacioł,<br>
Układać się, wszak Hrabia może nas przeprosić,<br>
Deprekować; czekaj Waść, czasu jeszcze dosyć.<br>
Chyba inny giez jaki Waści stąd wygania,<br>
To gadaj szczerze, po co takie omawiania?<br>
Jestem twój stryj; choć stary, znam, co serce młode;<br>
Byłem ci ojcem (mówiąc gładził go pod brodę).<br>
Już w ucho szepnął o tem mnie mój palec mały,<br>
Że Waszeć masz tu jakieś z damami kabały.<br>
Za katy, prędko teraz młodź do dam się bierze!<br>
No, Tadeuszku, przyznaj mi się Waść, a szczerze”.
</p>

<p>
„Jużci — bąknął Tadeusz — prawda, są przyczyny<br>
Inne, kochany Stryju! może z mojej winy!<br>
Omyłka! cóż? nieszczęście! już trudno naprawić!<br>
Nie, drogi Stryju, dłużej nie mogę tu bawić!<br>
Błąd młodości! Stryjaszku, nie pytaj o więcej,<br>
Ja muszę z Soplicowa wyjeżdżać co prędzej”.
</p>

<p>
„Ho — rzekł stryj — pewnie jakieś miłośne zatargi!<br>
Uważałem, że Waszeć wczora gryzłeś wargi<br>
Poglądając spode łba na pewną dziewczynkę,<br>
Widziałem, że i ona miała kwaśną minkę.<br>
Znam ja te wszystkie głupstwa; kiedy dzieci para<br>
Kocha się; to tam u nich nieszczęść co niemiara;<br>
To cieszą się, to znowu trapią się i smucą;<br>
To znowu Bóg wie o co do zębów się skłócą;<br>
To stojąc w kątkach jakby mruki, nie gadają<br>
Do siebie, czasem nawet w pole uciekają.<br>
Jeżeli na was raptus podobny napada,<br>
Bądźcie tylko cierpliwi, już jest na to rada;<br>
Biorę na siebie wkrótce przywieść was do zgody.<br>
Znam ja te wszystkie głupstwa, wszakże byłem młody.<br>
Powiedz mi Wasze wszystko; ja może nawzajem<br>
Coś odkryję i tak się oba poprzyznajem”.
</p>

<p>
„Stryjaszku — rzekł Tadeusz (całując mu rękę<br>
I rumieniąc się) — powiem prawdę; tę panienkę,<br>
Zosię, wychowanicę Stryja, podobałem<br>
Bardzo, choć tylko parę razy ją widziałem;<br>
A mówią, że Stryj dla mnie za żonę przeznacza<br>
Podkomorzankę, piękną i córkę bogacza.<br>
Teraz nie mógłbym z panną Różą się ożenić,<br>
Kiedy kocham tę Zosię; trudno serce zmienić!<br>
Nieuczciwie, żeniąc się z jedną, kochać drugą,<br>
Czas może mnie uleczy; wyjadę — na długo”.
</p>

<p>
„Tadeuszku! — stryj przerwał — to mi dziwny sposób<br>
Kochania się: uciekać od kochanych osób!<br>
Dobrze, żeś szczery; widzisz, głupstwo byś wypłatał<br>
Odjeżdżając: a co Waść powiesz, gdybym swatał<br>
Sam Waci Zosię! He! cóż, nie skoczysz z radości?”
</p>

<p>
Tadeusz rzekł po chwili: „Dobroć Jegomości<br>
Dziwi mnie! Lecz cóż? łaska Stryja Dobrodzieja<br>
Nie przyda się już na nic! Ach! próżna nadzieja!<br>
Bo pani Telimena nie odda mi Zosi!”<br>
„Będziem prosić” — rzekł Sędzia.<br>
„Nikt jej nie uprosi —<br>
Przerwał prędko Tadeusz — nie, czekać nie mogę,<br>
Stryjaszku, muszę prędko, jutro jechać w drogę.<br>
Daj mi, 5tryjaszku, tylko twe błogosławieństwo,<br>
Wszystko przygotowałem, jadę zaraz w Księstwo”.
</p>

<p>
Sędzia wąs kręcąc, z gniewem na chłopca spozierał:<br>
„To Waść tak szczery? takeś mi serce otwierał?<br>
Naprzód ów pojedynek! Potem znowu miłość<br>
I ten wyjazd, oj! jest tu w tem jakaś zawiłość.<br>
Już mnie gadano, jużem kroki Waści badał!<br>
Asan bałamut i trzpiot, Asan kłamstwa gadał.<br>
A gdzież to Asan chodził onegdaj wieczorem?<br>
Czego Asan jak wyżeł tropił pode dworem?<br>
O Tadeuszku! jeśli może Asan Zosię<br>
Zbałamucił i teraz uciekasz? młokosie,<br>
To się Waci nie uda; lubisz czy nie lubisz,<br>
Zapowiadam Asanu, że Zosię poślubisz,<br>
A nie, to bizun — jutro staniesz na kobiercu!<br>
I gada mnie o czuciach! o niezmiennym sercu!<br>
Łgarz jesteś! pfe! ja z Waści, Panie Tadeuszu,<br>
Zrobię śledztwo, ja Waści jeszcze natrę uszu!<br>
Dziś dość miałem kłopotów! Aż mi głowa boli!<br>
Ten mi jeszcze spokojnie zasnąć nie dozwoli!<br>
Idź mi Waść spać!”<br>
To mówiąc, drzwi na wściąż otwierał<br>
I zawołał Woźnego, żeby go rozbierał.
</p>

<p>
Tadeusz cicho wyszedł, opuściwszy głowę;<br>
Rozbierał w myśli przykrą ze stryjem rozmowę,<br>
Pierwszy raz połajany tak ostro!... ocenił<br>
Słuszność wyrzutów, sam się przed sobą rumienił.<br>
Co począć? jeśli Zosia o wszystkiem się dowie?<br>
Prosić o rękę? a cóż Telimena powie?<br>
Nie — czuł, że nie mógł dłużej zostać w Soplicowie.
</p>

<p>
Tak zadumany, ledwie zrobił kroków parę,<br>
Gdy mu coś drogę zaszło; spójrzał, widzi marę,<br>
Całą w bieliźnie, długą, wysmukłą i cienką.<br>
Suwała się ku niemu z wyciągniętą ręką,<br>
Od której odbijał się drżący blask miesięczny,<br>
I przystąpiwszy, cicho jęknęła: „Niewdzięczny!<br>
Szukałeś wzroku mego, teraz go unikasz,<br>
Szukałeś rozmów ze mną, dziś uszy zamykasz,<br>
Jakby w słowach, we wzroku mym była trucizna!<br>
Dobrze mi tak, wiedziałam, kto jesteś! — mężczyzna!<br>
Nie znając kokieterii, nie chciałam cię dręczyć,<br>
Uszczęśliwiłam; takżeś umiał mnie zawdzięczyć!<br>
Tryumf nad miękkim sercem serce twe zatwardził;<br>
Żeś je zdobył zbyt łacno, zbyt prędkoś niem wzgardził!<br>
Dobrze mi tak! lecz straszną nauczona probą,<br>
Wierz mi, iż więcej niż ty — gardzę sama sobą!”
</p>

<p>
„Telimeno — Tadeusz rzekł — dalbóg, nietwarde<br>
Mam serce ani ciebie unikam przez wzgardę,<br>
Ale uważ no sama, wszak nas widzą, śledzą,<br>
Czyż można tak otwarcie? cóż ludzie powiedzą?<br>
Wszak to nieprzyzwoicie, to, dalbóg, jest grzechem”.<br>
„Grzechem! — odpowiedziała mu z gorzkim uśmiechem —<br>
Niewiniątko! baranek! Ja, będąc kobiétą,<br>
Jeśli z miłości nie dbam, choćby mnie odkryto,<br>
Choćby mnie osławiono; a ty, ty mężczyzna?<br>
Cóż szkodzi z was któremu, chociaż się i przyzna,<br>
Że ma romans z dziesięciu razem kochankami?<br>
Mów prawdę: chcesz mnie rzucić?” — Zalała się łzami.
</p>

<p>
„Telimeno, cóż by świat mówił o człowieku —<br>
Rzekł Tadeusz — który by teraz, w moim wieku,<br>
Zdrów, żył na wsi, kochał się — kiedy tyle młodzi,<br>
Tylu żonatych od żon, od dzieci uchodzi<br>
Za granicę, pod znaki narodowe bieży?<br>
Choćbym chciał zostać, czy to ode mnie zależy?<br>
Ojciec mnie testamentem kazał, abym służył<br>
W wojsku polskiem, teraz stryj ten rozkaz powtórzył.<br>
Jutro jadę, zrobiłem już postanowienie,<br>
I dalbóg, Telimeno, już go nie odmienię”.<br>
„Ja — rzekła Telimena — nie chcę ci zagradzać<br>
Drogi do sławy, szczęściu twojemu przeszkadzać!<br>
Jesteś mężczyzną, znajdziesz kochankę godniejszą<br>
Serca twojego, znajdziesz bogatszą, piękniejszą!<br>
Tylko dla mej pociechy niech wiem przed rozstaniem,<br>
Że twoja skłonność była prawdziwem kochaniem,<br>
Że to nie był żart tylko, nie rozpusta płocha,<br>
Lecz miłość; niech wiem, że mnie mój Tadeusz kocha!<br>
Niech słowo «kocham» jeszcze raz z ust twych usłyszę,<br>
Niech je w sercu wyryję i w myśli zapiszę;<br>
Przebaczę łacniej, chociaż przestaniesz mnie kochać,<br>
Pomnąc, jakeś mnie kochał...” — I zaczęła szlochać.
</p>

<p>
Tadeusz, widząc, że tak płacze i tak błaga<br>
Czule, i tylko takiej drobnostki wymaga,<br>
Wzruszył się, przejęły go szczery żal i litość,<br>
I jeżeliby badał serca swego skrytość,<br>
Może by się w tej chwili i sam nie dowiedział,<br>
Czyli ją kochał, czy nie. — Więc żywo powiedział:<br>
„Telimeno, bogdaj mnie jasny piorun ubił,<br>
Jeśli nieprawda, żem cię, dalbóg, bardzo lubił<br>
Czy kochał; krótkie z sobą spędziliśmy chwile,<br>
Ale one mnie przeszły tak słodko, tak mile,<br>
Że będą długo, zawsze myśli mej przytomne,<br>
I dalibógże, nigdy ciebie nie zapomnę”.
</p>

<p>
Telimena skoczywszy padła mu na szyję:<br>
„Tegom się spodziewała, kochasz mnie, więc żyję!<br>
Bo dzisiaj miałam dni me własną ręką skrócić!<br>
Gdy mnie kochasz, mój drogi, czyż możesz mnie rzucić?<br>
Tobie oddałam serce, oddam ci majątek,<br>
Pójdę za tobą wszędzie; każdy świata kątek<br>
Będzie mnie z tobą miły! Z najdzikszej pustyni<br>
Miłość, wierzaj mi, ogród rozkoszy uczyni”.
</p>

<p>
Tadeusz, wydarłszy się z objęcia przemocą:<br>
„Jak to? — rzekł — czyś z rozumu obrana? gdzie? po co?<br>
Jechać ze mną? Ja, będąc sam prostym żołnierzem,<br>
Włóczyć, czy markietankę?” „To my się pobierzem” —<br>
Rzekła mu Telimena. „Nie, nigdy! — zawoła<br>
Tadeusz. Ja żenić się nie mam teraz zgoła<br>
Zamiaru ni kochać się — fraszki! dajmy pokój!<br>
Proszę cię, moja droga, rozmyśl się! uspokój!<br>
Ja jestem tobie wdzięczen, ale niepodobna<br>
Żenić się, kochajmy się, ale tak — z osobna.<br>
Zostać dłużej nie mogę; nie, nie, jechać muszę,<br>
Bądź zdrowa, Telimeno moja, jutro ruszę”.
</p>

<p>
Rzekł, nasuwał kapelusz, odwracał się bokiem,<br>
Chcąc iść; lecz go wstrzymała Telimena okiem<br>
I twarzą, jak Meduzy głową; musiał zostać<br>
Mimowolnie; poglądał z trwogą na jej postać,<br>
Stała blada, bez ruchu, bez tchu i bez życia!<br>
Aż wyciągając rękę jak miecz do przebicia,<br>
Z palcem zmierzonym prosto w Tadeusza oczy:<br>
„Tego chciałam — krzyknęła — ha, języku smoczy!<br>
Serce jaszczurcze! To nic, żem tobą zajęta<br>
Wzgardziła Asesora, Hrabię i Rejenta,<br>
Żeś mnie uwiódł i teraz porzucasz sierotę,<br>
To nic! Jesteś mężczyzną, znam waszą niecnotę,<br>
Wiem, że jak inni, tak ty mógłbyś wiarę złamać,<br>
Lecz nie wiedziałam, że tak podle umiesz kłamać!<br>
Słuchałam pode drzwiami stryja! więc to dziecko?<br>
Zosia? wpadła ci w oko? i na nią zdradziecko<br>
Dybiesz! Zaledwieś jedną nieszczęsną oszukał,<br>
A jużeś pod jej bokiem nowych ofiar szukał!<br>
Uciekaj, lecz cię moje dościgną przeklęctwa —<br>
Lub zostań, wydam światu twoje bezeceństwa;<br>
Twe sztuki już nie zwiodą innych, jak mnie zwiodły!<br>
Precz! gardzę tobą! jesteś kłamca, człowiek podły!”
</p>

<p>
Na obelgę śmiertelną dla uszu szlachcica,<br>
I której żaden nigdy nie słyszał Soplica,<br>
Zadrżał Tadeusz, twarz mu pobladła jak trupia,<br>
Tupnąwszy nogą, usta przyciąwszy, rzekł: „Głupia!”
</p>

<p>
Odszedł; lecz wyraz „podłość” echem się powtórzył<br>
W sercu, wzdrygnął się młodzian, czuł, że nań zasłużył;<br>
Czuł, że wyrządził wielką krzywdę Telimenie,<br>
Że go słusznie skarżyła, mówiło sumnienie;<br>
Lecz czuł, że po tych skargach tem mocniej ją zbrzydził;<br>
O Zosi, ach! pomyślić nie ważył się, wstydził.<br>
Przecież ta Zosia, taka piękna, taka miła!<br>
Stryj swatał ją! może by jego żoną była,<br>
Gdyby nie szatan, co go plącząc w grzech za grzechem,<br>
W kłamstwo za kłamstwem, wreszcie odstąpił z uśmiechem.<br>
Złajany, pogardzony od wszystkich! w dni parę<br>
Zmarnował przyszłość! Uczuł słuszną zbrodni karę.
</p>

<p>
W tej burzy uczuć, jakby kotwica spoczynku,<br>
Zabłysnęła mu nagle myśl o pojedynku:<br>
„Zamordować Hrabiego! łotra! — krzyknął w gniewie. —<br>
Zginąć albo zemścić się!” A za co? Sam nie wie!<br>
I ten gniew wielki, jak się zajął w mgnieniu oka,<br>
Tak wywietrzał; znow zdjęła go żałość głęboka.<br>
Myślił: „Jeśli prawdziwe było postrzeżenie,<br>
Że Hrabia z Zosią jakieś ma porozumienie,<br>
I cóż stąd? Może Hrabia kocha Zosię szczerze,<br>
Może go ona kocha? za męża wybierze!<br>
Jakimże prawem chciałbym zerwać to zamęście<br>
I, sam nieszczęśnik, wszystkich mam zaburzać szczęście?”
</p>

<p>
Wpadł w rozpacz i nie widział innego sposobu,<br>
Chyba ucieczkę prędką; gdzie? chyba do grobu!
</p>

<p>
Więc kułak przycisnąwszy na schylonem czole,<br>
Biegł ku łąkom, gdzie stawy błyszczały się w dole,<br>
I stanął nad błotnistym; w zielonawe tonie<br>
Łakomy wzrok utopił i błotniste wonie<br>
Z rozkoszą ciągnął piersią, i otworzył usta<br>
Ku nim: bo samobójstwo jak każda rozpusta<br>
Jest wymyślną; on w głowy szalonym zawrocie<br>
Czuł niewymowny pociąg utopić się w błocie.
</p>

<p>
Lecz Telimena, z dzikiej młodzieńca postawy<br>
Zgadując rozpacz, widząc, że pobiegł nad stawy,<br>
Chociaż ku niemu takim słusznym gniewem pała,<br>
Przelękła się; w istocie dobre serce miała.<br>
Żal jej było, że inną śmiał Tadeusz lubić,<br>
Chciała go skarać, ale nie myśliła zgubić;<br>
Więc puściła się za nim, wznosząc ręce obie,<br>
Krzycząc: „Stój! głupstwo! kochaj czy nie! żeń się sobie<br>
Czy jedź! tylko stój!” — Ale on już szybkim biegiem<br>
Wyprzedził ją daleko; już — stanął nad brzegiem.
</p>

<p>
Dziwnym zrządzeniem losów, po tym samym brzegu<br>
Jechał Hrabia na czele dżokejów szeregu,<br>
A zachwycony wdziękiem nocy tak pogodnej<br>
I harmoniją cudną orkiestry podwodnej,<br>
Owych chorów, co brzmiały jak arfy eolskie<br>
(Żadne żaby nie grają tak pięknie jak polskie),<br>
Wstrzymał konia i o swej zapomniał wyprawie,<br>
Zwrócił ucho do stawu i słuchał ciekawie.<br>
Oczy wodził po polach, po niebios obszarze:<br>
Pewnie układał w myśli nocne peizaże.
</p>

<p>
Zaiste, okolica była malownicza!<br>
Dwa stawy pochyliły ku sobie oblicza<br>
Jako para kochanków: prawy staw miał wody<br>
Gładkie i czyste jako dziewicze jagody;<br>
Lewy, ciemniejszy nieco, jako twarz młodziana<br>
Smagława i już męskim puchem osypana.<br>
Prawy złocistym piaskiem połyskał się wkoło<br>
Jak gdyby włosem jasnym; a lewego czoło<br>
Najeżone łozami, wierzbami czubate;<br>
Oba stawy ubrane w zieloności szatę.
</p>

<p>
Z nich dwa strugi, jak ręce związane pospołu,<br>
Ściskają się; strug dalej upada do dołu;<br>
Upada, lecz nie ginie, bo w rowu ciemnotę<br>
Unosi na swych falach księżyca pozłotę;<br>
Woda warstami spada, a na każdej warście<br>
Połyskają się blasku miesięcznego garście,<br>
Światło w rowie na drobne drzazgi się roztrąca,<br>
Chwyta je i w głąb niesie toń uciekająca,<br>
A z góry znów garściami spada blask miesiąca.<br>
Myślałbyś, że u stawu siedzi Świtezianka,<br>
Jedną ręką zdrój leje z bezdennego dzbanka,<br>
A drugą ręką w wodę dla zabawki miota<br>
Brane z fartuszka garście zaklętego złota.
</p>

<p>
Dalej, z rowu wybiegłszy, strumień na równinie<br>
Rozkręca się, ucisza, lecz widać, że płynie,<br>
Bo na jego ruchomej, drgającej powłoce<br>
Wzdłuż miesięczne światełko drgające migoce.<br>
Jako piękny wąż żmudzki, zwany <strong>giwojtosem</strong>,<br>
Chociaż zdaje się drzemać, leżąc między wrzosem,<br>
Pełźnie, bo na przemiany srebrzy się i złoci,<br>
Aż nagle zniknie z oczu we mchu lub paproci:<br>
Tak strumień kręcący się chował się w olszynach,<br>
Które na widnokręgu czerniały kończynach,<br>
Wznosząc swe kształty lekkie, niewyraźne oku,<br>
Jak duchy na wpół widne, na poły w obłoku.
</p>

<p>
Między stawami w rowie młyn ukryty siedzi;<br>
Jako stary opiekun, co kochanków śledzi,<br>
Podsłuchał ich rozmowę, gniewa się, szamoce,<br>
Trzęsie głową, rękami, i groźby bełkoce:<br>
Tak ów młyn nagle zatrząsł mchem obrosłe czoło<br>
I palczastą swą pięścią wykręcając wkoło,<br>
Ledwo kleknął i szczęki zębowate ruszył,<br>
Zaraz miłośną stawów rozmowę zagłuszył<br>
I zbudził Hrabię.
</p>

<p>
Hrabia, widząc, że tak blisko<br>
Tadeusz naszedł jego zbrojne stanowisko,<br>
Krzyczy: „Do broni! łapaj!” Skoczyli dżokeje;<br>
Nim Tadeusz rozeznać mógł, co się z nim dzieje,<br>
Już go chwycili; biegą do dworu, w podwórze<br>
Wpadają; dwór budzi się, psy w hałas, w krzyk stróże.<br>
Wyskoczył wpół ubrany Sędzia; widzi zgraję<br>
Zbrojną, myśli, że zbójcy, aż Hrabię poznaje.<br>
„Co to jest?” — pyta. Hrabia szpadą nad nim mignął,<br>
Lecz widząc bezbronnego w zapale ostygnął.<br>
„Soplico! — rzekł — odwieczny wrogu mej rodziny.<br>
Dziś skarzę cię za dawne i za świeże winy,<br>
Dziś zdasz mi sprawę z mojej fortuny zaboru,<br>
Nim pomszczę się obelgi mojego honoru!”
</p>

<p>
Lecz Sędzia żegnając się krzyknął: „W imię Ojca<br>
I Syna! tfu! Mospanie Hrabia, czy waść zbojca?<br>
Przebóg! czy to się zgadza z Pana urodzeniem,<br>
Wychowaniem i z Pana na świecie znaczeniem?<br>
Nie pozwolę skrzywdzić się!” — Wtem Sędziego słudzy<br>
Biegli, jedni z kijami, ze strzelbami drudzy;<br>
Wojski, stojąc z daleka, poglądał ciekawie<br>
W oczy panu Hrabiemu, a nóż miał w rękawie.
</p>

<p>
Już mieli zacząć bitwę, lecz Sędzia przeszkodził;<br>
Próżno było bronić się, nowy wróg nadchodził:<br>
Postrzeżono w olszynie blask, wystrzał rusznicy!<br>
Most na rzece zahuczał tętentem konnicy<br>
I „Hajże na Soplicę!” tysiąc głosów wrzasło.<br>
Wzdrygnął się Sędzia, poznał Gerwazego hasło.<br>
„Nic to — zawołał Hrabia — będzie tu nas więcéj,<br>
Poddaj się, Sędzio, to są moi sprzymierzeńcy”.
</p>

<p>
Wtem Asesor nadbiegał krzycząc: „Areszt kładę<br>
W imię Imperatorskiej Mości; oddaj szpadę,<br>
Panie Hrabio, bo wezwę wojskowej pomocy!<br>
A wiesz Pan, że kto zbrojnie śmie napadać w nocy,<br>
Zastrzeżono tysiącznym dwóchsetnym ukazem,<br>
Że jak zło...” Wtem go Hrabia w twarz uderzył płazem.<br>
Padł zgłuszony Asesor i skrył się w pokrzywy;<br>
Wszyscy myśleli, że był ranny lub nieżywy.
</p>

<p>
„Widzę — rzekł Sędzia — że się na rozbój zanosi”.<br>
Jęknęli wszyscy; wszystkich zagłuszył wrzask Zosi,<br>
Która krzyczała, Sędzię objąwszy rękami,<br>
Jako dziecko od Żydów kłute igiełkami.
</p>

<p>
Tymczasem Telimena wpadła między konie,<br>
Wyciągnęła ku Hrabi załamane dłonie:<br>
„Na twój honor! — krzyknęła przeraźliwym głosem,<br>
Z głową w tył wychyloną, z rozpuszczonym włosem —<br>
Przez wszystko, co jest świętem, na klęczkach błagamy!<br>
Hrabio, śmieszże odmówić? proszą ciebie damy;<br>
Okrutniku, nas pierwej musisz zamordować!”<br>
Padła zemdlona — Hrabia skoczył ją ratować,<br>
Zadziwiony i nieco zmieszany tą sceną.<br>
„Panno Zofijo — rzecze — Pani Telimeno!<br>
Nigdy się krwią bezbronnych ta szpada nie splami;<br>
Soplicowie, jesteście mojemi więźniami.<br>
Tak zrobiłem we Włoszech, kiedy pod opoką,<br>
Którą Sycylijanie zwą Birbante-rokką,<br>
Zdobyłem tabor zbójców; zbrojnych mordowałem,<br>
Rozbrojonych zabrałem i związać kazałem:<br>
Szli za końmi i tryumf mój zdobili świetny,<br>
Potem ich powieszono u podnoża Etny”.
</p>

<p>
Było to osobliwe szczęście dla Sopliców,<br>
Że Hrabia, mając lepsze konie od szlachciców<br>
I chcąc spotkać się pierwszy, zostawił ich w tyle<br>
I biegł przed resztą jazdy, przynajmniej o milę<br>
Ze swym dżokejstwem, które, posłuszne i karne,<br>
Stanowiło niejako wojsko regularne,<br>
Gdy inna szlachta była, zwyczajem powstania,<br>
Burzliwa i nieźmiernie skora do wieszania.
</p>

<p>
Hrabia miał czas ostygnąć z zapału i gniewu,<br>
Przemyślał, jak by skończyć bój bez krwi rozlewu;<br>
Więc rodzinę Sopliców w domu zamknąć każe<br>
Jako więźniów wojennych; u drzwi stawi straże.
</p>

<p>
Wtem „Hajże na Sopliców!” wpada szlachta hurmem,<br>
Obstępuje dwór wkoło i bierze go szturmem,<br>
Tym łacniej, że wódz wzięty i pierzchła załoga;<br>
Lecz zdobywcy chcą bić się, wyszukują wroga.<br>
Do domu nie wpuszczeni, biegą do folwarku,<br>
Do kuchni.
</p>

<p>
Gdy do kuchni weszli, widok garków,<br>
Ogień ledwie zagasły, potraw zapach świeży,<br>
Chrupanie psów, gryzących ostatki wieczerzy,<br>
Chwyta wszystkich za serca, myśl wszystkich odmienia,<br>
Studzi gniewy, zapala potrzebę jedzenia.<br>
Marszem i całodziennym znużeni sejmikiem,<br>
„Jeść! jeść!” — po trzykroć zgodnym wezwali okrzykiem,<br>
Odpowiedziano: „Pić! pić!” Między szlachty zgrają<br>
Stają dwa chory: ci pić, a ci jeść wołają;<br>
Odgłos leci echami; gdzie tylko dochodzi,<br>
Wzbudza oskomę w ustach, głód w żołądkach rodzi.<br>
I tak na dane z kuchni hasło, niespodzianie<br>
Rozeszła się armija na furażowanie.
</p>

<p>
Gerwazy, od pokojów Sędziego odparty,<br>
Ustąpić musiał przez wzgląd dla hrabiowskiej warty.<br>
Więc nie mogąc zemścić się na nieprzyjacielu,<br>
Myślił o drugim wielkim tej wyprawy celu.<br>
Jako człek doświadczony i biegły w prawnictwie,<br>
Chce Hrabiego osadzić na nowym dziedzictwie<br>
Legalnie i formalnie; więc za Woźnym biega,<br>
Aż go po długich śledztwach za piecem dostrzega.<br>
Wnet porywa za kołnierz, na dziedziniec wlecze<br>
I zmierzywszy mu w piersi Scyzoryk, tak rzecze:<br>
„Panie Woźny, pan Hrabia śmie Waćpana prosić,<br>
Abyś raczył przed szlachtą bracią wnet ogłosić<br>
Intromisyją Hrabi do zamku, do dworu<br>
Sopliców, do wsi, gruntów zasianych, ugoru,<br>
Słowem, cum gais, boris et graniciebus,<br>
Kmetonibus, scultetis et omnibus rebus<br>
Et quibusdam alijis. Jak tam wiesz, tak szczekaj,<br>
Nic nie opuszczaj!”
</p>

<p>
„Panie Kluczniku, zaczekaj! —<br>
Rzekł śmiało, ręce za pas włożywszy Protazy —<br>
Gotów jestem wypełniać wszelkie stron rozkazy,<br>
Ale ostrzegam, że akt nie będzie miał mocy,<br>
Wymuszony przez gwałty, ogłoszony w nocy”.<br>
„Co za gwałty? — rzekł Klucznik — tu nie ma napaści,<br>
Wszak proszę Pana grzecznie; jeśli ciemno Waści,<br>
To Scyzorykiem skrzesam ognia, że Waszeci<br>
Zaraz w ślepiach jak w siedmiu kościołach zaświeci”.
</p>

<p>
„Gerwazeńku — rzekł Woźny — po co się tak dąsać?<br>
Jestem woźny, nie moja rzecz sprawę roztrząsać;<br>
Wszak wiadomo, że strona woźnego zaprasza<br>
I dyktuje mu, co chce, a woźny ogłasza.<br>
Woźny jest posłem prawa, a posłów nie karzą,<br>
Nie wiem tedy, za co mnie trzymacie pod strażą;<br>
Wnet akt spiszę, niech mi kto latarkę przyniesie,<br>
A tymczasem ogłaszam: Bracia, uciszcie się!”
</p>

<p>
I by donośniej mówić, wstąpił na stos wielki<br>
Belek (pod płotem sadu suszyły się belki),<br>
Wlazł na nie i zarazem, jakby go wiatr zdmuchnął,<br>
Zniknął z oczu; słyszano, jak w kapustę buchnął;<br>
Widziano, po konopiach ciemnych jego biała<br>
Konfederatka niby gołąb przeleciała.<br>
Konewka strzelił w czapkę, ale chybił celu;<br>
Wtem zatrzeszczały tyki, już Protazy w chmielu —<br>
„Protestuję!” — zawołał; pewny był ucieczki,<br>
Bo za sobą miał łozę i bagniska rzeczki.
</p>

<p>
Po tej protestacyi, która się ozwała<br>
Jak na zdobytych wałach ostatni strzał działa,<br>
Ustał już wszelki opor w Soplicowskim dworze;<br>
Szlachta głodna plądruje, zabiera, co może.<br>
Kropiciel, stanowisko zająwszy w oborze,<br>
Jednego wołu i dwa cielce w łby zakropił,<br>
A Brzytewka im szablę w gardzielach utopił.<br>
Szydełko równie czynnie używał swej szpadki,<br>
Kabany i prosięta koląc pod łopatki.<br>
Już rzeź zagraża ptastwu. Czujne gęsi stado,<br>
Co niegdyś ocaliło Rzym przed Gallów zdradą,<br>
Darmo gęga o pomoc; zamiast Manlijusza<br>
Wpada w kotuch Konewka, jedne ptaki zdusza,<br>
A drugie żywcem wiąże do pasa kontusza.<br>
Próżno gęsi, szyjami wywijając, chrypią,<br>
Próżno gęsiory sycząc napastnika szczypią.<br>
On bieży; osypany iskrzącym się puchem,<br>
Unoszony jak kółmi gęsich skrzydeł ruchem,<br>
Zdaje się być chochlikiem, skrzydlatym złym duchem.
</p>

<p>
Ale rzeź najstraszniejsza, chociaż najmniej krzyku,<br>
Między kurami. Młody Sak wpadł do kurniku<br>
I z drabinek, stryczkami łowiąc, ciągnie z góry<br>
Kogutki i szurpate i czubate kury;<br>
Jedne po drugich dusi i składa do kupy,<br>
Ptastwo piękne, karmione perłowemi krupy.<br>
Niebaczny Saku, jakiż zapał cię unosi!<br>
Nigdy już odtąd gniewnej nie przebłagasz Zosi.
</p>

<p>
Gerwazy przypomina starodawne czasy.<br>
Każe sobie podawać od kontuszów pasy<br>
I nimi z Soplicowskiej piwnicy dobywa<br>
Beczki starej siwuchy, dębniaku i piwa.<br>
Jedne wnet odgwożdżono, a drugie ochoczo<br>
Szlachta, gęsta jak mrówie, porywają, toczą<br>
Do zamku; tam na nocleg cały tłum się zbiera,<br>
Tam założona główna Hrabiego kwatera.
</p>

<p>
Nakładają sto ognisk, warzą, skwarzą, pieką,<br>
Gną się stoły pod mięsem, trunek płynie rzeką;<br>
Chce szlachta noc tę przepić, przejeść i prześpiewać.<br>
Lecz powoli zaczęli drzemać i poziewać;<br>
Oko gaśnie za okiem, i cała gromada<br>
Kiwa głowami, każdy, gdzie siedział, tam pada:<br>
Ten z misą, ten nad kuflem, ten przy wołu ćwierci.<br>
Tak zwyciężców zwyciężył w końcu sen, brat śmierci.
</p>
{% endblock %}