
<h3>KSIĘGA SZÓSTA</h3>

<h4>ZAŚCIANEK</h4>

<p class="streszczenie">
Pierwsze ruchy wojenne zajazdu<br>
Wyprawa Protazego<br>
Robak z panem Sędzią radzą o rzeczy publicznej<br>
Dalszy ciąg wyprawy Protazego, bezskutecznej<br>
Ustęp o konopiach<br>
Zaścianek szlachecki Dobrzyn<br>
Opisanie domostwa i osoby Maćka Dobrzyńskiego
</p>

<p>
Nieznacznie z wilgotnego wykradał się mroku<br>
Świt bez rumieńca, wiodąc dzień bez światła w oku.<br>
Dawno wszedł dzień, a jeszcze ledwie jest widomy.<br>
Mgła wisiała nad ziemią, jak strzecha ze słomy<br>
Nad ubogą Litwina chatką; w stronie wschodu<br>
Widać z bielszego nieco na niebie obwodu,<br>
Że słońce wstało, tędy ma zstąpić na ziemię,<br>
Lecz idzie niewesoło i po drodze drzemie.
</p>

<p>
Za przykładem niebieskim wszystko się spóźniło<br>
Na ziemi; bydło poźno na paszę ruszyło<br>
I zdybało zające przy późnem śniadaniu;<br>
One zwykły do gajów wracać o świtaniu,<br>
Dziś, okryte tumanem, te mokrzycę chrupią,<br>
Te, jamki w roli kopiąc, parami się kupią<br>
I na wolnem powietrzu myślą użyć wczasu;<br>
Ale przed bydłem muszą powracać do lasu.
</p>

<p>
I w lasach cisza. Ptaszek zbudzony nie śpiewa,<br>
Otrząsnął pierze z rosy, tuli się do drzewa,<br>
Głowę wciska w ramiona, oczy znowu mruży<br>
I czeka słońca. Kędyś u brzegów kałuży<br>
Klekce bocian; na kopach siedzą wrony zmokłe,<br>
Rozdziawiwszy się ciągną gawędy rozwlokłe,<br>
Obrzydłe gospodarzom jako wróżby słoty.<br>
Gospodarze już dawno wyszli do roboty.
</p>

<p>
Już zaczęły żniwiarki swą piosnkę zwyczajną,<br>
Jak dzień słotny ponurą, tęskną, jednostajną,<br>
Tem smutniejszą, że dźwięk jej w mgłę bez echa wsiąka;<br>
Chrząsnęły sierpy w zbożu, ozwała się łąka,<br>
Rząd kosiarzy otawę siekących wciąż brząka,<br>
Pogwizdując piosenkę; z końcem każdej zwrotki<br>
Stają, ostrzą żelezca i w takt kują w młotki.<br>
Ludzi we mgle nie widać, tylko sierpy, kosy<br>
I pieśni brzmią jak muzyk niewidzialnych głosy.
</p>

<p>
W środku na snopie zboża ekonom usiadłszy,<br>
Nudzi się, kręci głową, roboty nie patrzy,<br>
Pogląda na gościniec, na drogi rozstajne,<br>
Kędy działy się jakieś rzeczy nadzwyczajne.
</p>

<p>
Na gościńcu i drogach od samego ranka<br>
Panuje ruch niezwykły; stąd chłopska furmanka<br>
Skrzypi, lecąc jak poczta, stąd szlachecka bryka<br>
Czwałem tarkocze, drugą i trzecią spotyka;<br>
Z lewej drogi posłaniec jak kuryjer goni,<br>
Z prawej przebiegło w zawód kilkanaście koni,<br>
Wszyscy spieszą, ku różnym kierują się stronom.<br>
Co to ma znaczyć? Powstał ze snopa ekonom,<br>
Chciał przypatrzyć się, spytać; długo stał nad drogą,<br>
Daremnie wołał, nie mógł zatrzymać nikogo<br>
Ni poznać we mgle. Jezdni migają jak duchy,<br>
Tylko słychać raz po raz tętent kopyt głuchy<br>
I, co dziwniejsza jeszcze, szczękanie pałaszy:<br>
Bardzo to ekonoma i cieszy, i straszy.<br>
Bo choć na Litwie było naonczas spokojnie,<br>
Dawno już wieści głuche biegały o wojnie,<br>
O Francuzach, Dąbrowskim, o Napoleonie.<br>
Miałyżby wojnę wróżyć ci jezdzcy? te bronie?<br>
Ekonom pobiegł wszystko Sędziemu powiedzieć,<br>
Spodziewając się i sam czegoś się dowiedzieć.
</p>

<p>
W Soplicowie domowi i goście, po kłótni<br>
Wczorajszej wstali z siebie nieradzi i smutni.<br>
Próżno Wojszczanka damy na kabałę sprasza,<br>
Mężczyznom próżno karty dają do mariasza:<br>
Nie chcą bawić się ni grać, siedzą cicho w kątkach,<br>
Mężczyźni palą lulki, kobiety przy prątkach;<br>
Nawet śpią muchy.
</p>

<p>
Wojski, rzuciwszy łopatkę,<br>
Znudzony ciszą, idzie pomiędzy czeladkę.<br>
Woli w kuchennej słuchać ochmistrzyni krzyków,<br>
Groźb i razów kucharza, hałasu kuchcików;<br>
Aż go powoli wprawił w przyjemne marzenie<br>
Ruch jednostajny rożnów kręcących pieczenie.
</p>

<p>
Sędzia od rana pisał, zamknąwszy się w izbie,<br>
Woźny od rana czekał pod oknem na przyzbie;<br>
Sędzia, skończywszy pozew, Protazego wzywa,<br>
Skargę przeciw Hrabiemu głośno odczytywa:<br>
O skrzywdzenie honoru, zelżywe wyrazy,<br>
Zaś przeciw Gerwazemu o gwałty i razy;<br>
Obudwu o przechwałki, o koszta z powodu<br>
Procesu — ciągnie w rejestr taktowy do grodu.<br>
Pozew dziś trzeba wręczyć ustnie, oczywisto,<br>
Nim zajdzie słońce. Woźny z miną uroczystą<br>
Wyciągnął słuch i rękę, skoro pozew zoczył;<br>
Stał poważnie, a rad by z radości podskoczył.<br>
Na samą myśl procesu czuł, że się odmłodził:<br>
Wspomniał na dawne lata, gdy z pozwami chodził<br>
Po guzy, ale razem po zapłaty hojne.<br>
Tak żołnierz, który strawił życie tocząc wojnę,<br>
A na starość w szpitalach spoczywa kaleki,<br>
Skoro usłyszy trąbę lub bęben daleki,<br>
Chwyta się z łoża, krzyczy przez sen: „Bij Moskala!”<br>
I na drewnianej nodze skacze ze szpitala<br>
Tak prędko, że go ledwie może złowić młodzież.
</p>

<p>
Protazy śpieszył włożyć swą woźnieńską odzież.<br>
Przecież żupana ani kontusza nie kładzie,<br>
One służą ku wielkiej sądowej paradzie;<br>
Na podróż ma strój inny: szerokie rajtuzy<br>
I kurtę, której poły, podpięte na guzy,<br>
Można zakasać albo spuścić na kolana;<br>
Czapka z uszami, sznurkiem u wierzchu związana,<br>
Wznosi się na pogodę, spuszcza się przed słotą.<br>
Tak ubrany, wziął pałkę i ruszył piechotą.<br>
Bo woźni przed procesem, jak szpiegi przed bojem,<br>
Muszą kryć się pod różną postacią i strojem.
</p>

<p>
Dobrze zrobił Protazy, że w drogę pospieszył,<br>
Bo niedługo by swoim pozwem się nacieszył.<br>
W Soplicowie zmieniano kampaniji plany.<br>
Do Sędziego wpadł nagle Robak zadumany<br>
I rzekł: „Sędzio, to bieda nam z tą panią ciotką,<br>
Z tą panią Telimeną, kokietką i trzpiotką!<br>
Kiedy Zosia została dzieckiem w biednym stanie,<br>
Jacek ją Telimenie dał na wychowanie,<br>
Słysząc, że jest osoba dobra, świat znająca,<br>
A postrzegam, że ona coś tu nam zamąca,<br>
Intryguje i pono Tadeuszka wabi;<br>
Śledzę ją; albo może bierze się do Hrabi,<br>
Może do obu razem. Obmyślmy więc środki,<br>
Jak się jej pozbyć, bo stąd mogą urość plotki,<br>
Zły przykład i pomiędzy młokosami zwady,<br>
Które mogą pomieszać twe prawne układy”.<br>
„Układy? — krzyknął Sędzia z niezwykłym zapałem —<br>
Z układów kwita, już je skończyłem, zerwałem”.<br>
„A to co? — przerwał Robak. — Gdzie rozum? gdzie głowa?<br>
Co tu mi Wasze bajasz? jaka burda nowa?”<br>
„Nie z mej winy — rzekł Sędzia. — Proces to wyjaśni:<br>
Hrabia, pyszałek, głupiec, był przyczyną waśni,<br>
I Gerwazy łotr; lecz to do sądu należy.<br>
Szkoda, żeś nie był, Księże, w zamku na wieczerzy,<br>
Poświadczyłbyś, jak Hrabia srodze mnie obraził”.<br>
„Po coś Waść — krzyknął Robak — do tych ruin łaził?<br>
Wiesz, jak zamku nie cierpię; odtąd moja noga<br>
Tam nie postanie. Znowu kłótnia! kara Boga!<br>
Jakże tam było? powiedz; trzeba tę rzecz zatrzeć.<br>
Już mię znudziło wreszcie na tyle głupstw patrzeć.<br>
Ważniejsze ja mam sprawy niż godzić pieniaczy,<br>
Ale jeszcze raz zgodzę”.<br>
„Zgodzić? Cóż to znaczy!<br>
A idźże mi Waść wreszcie z tą zgodą do licha! —<br>
Przerwał Sędzia, tupnąwszy nogą. — Patrzcie mnicha!<br>
Że go przyjmuję grzecznie, chce mnie za nos wodzić.<br>
Wiedz Wasze, że Soplice nie zwykli się godzić;<br>
Gdy pozwą, muszą wygrać: nieraz w ich imieniu<br>
Trwał proces, aż wygrali w szóstym pokoleniu.<br>
Dosyć zrobiłem głupstwa, z porady Waszeci,<br>
Zwołując podkomorskie sądy po raz trzeci.<br>
Od dzisiaj nie ma zgody; nie ma, nie ma, nie ma!<br>
(I krzycząc chodził, tupał nogami obiema).<br>
Prócz tego za wczorajszy niegrzeczny uczynek<br>
Musi mnie deprekować, albo pojedynek!”
</p>

<p>
„Ale, Sędzio, cóż będzie, jak się Jacek dowie?<br>
Wszak on umrze z rozpaczy! Czyliż Soplicowie<br>
Nie nabroili jeszcze w tym zamku dość złego!<br>
Bracie! wspominać nie chcę wypadku strasznego.<br>
Wiesz także, że część gruntów od zamku dziedzica<br>
Zabrała i Soplicom dała Targowica.<br>
Jacek za grzech żałując, musiał był ślubować<br>
Pod absolucją dobra te restytuować.<br>
Wziął więc Zosię, Horeszków dziedziczkę ubogą,<br>
Hodować, wychowanie jej opłacał drogo.<br>
Chciał ją Tadeuszkowi swojemu wyswatać<br>
I tak dwa poróżnione domy znowu zbratać,<br>
I dziedziczce bez wstydu ustąpić grabieży”.<br>
„Lecz cóż to? — krzyknął Sędzia — co do mnie należy?<br>
Ja się nie znałem, nawet nie widziałem z Jackiem;<br>
Ledwiem słyszał o jego życiu hajdamackiem,<br>
Siedząc wtenczas retorem w jezuickiej szkole,<br>
Potem u wojewody służąc za pacholę.<br>
Dano mi dobra, wziąłem; kazał przyjąć Zosię,<br>
Przyjąłem, hodowałem, myślę o jej losie.<br>
Dość mnie nudzi ta cała historyja babia!<br>
A potem, czegoż jeszcze wlazł mi tu ten Hrabia?<br>
Z jakim prawem do zamku? Wszak wiesz, przyjacielu,<br>
On Horeszkom dziesiąta woda na kisielu!<br>
I ma mnie lżyć? a ja go zapraszać do zgody!”
</p>

<p>
„Bracie! — rzekł ksiądz — ważne są do tego powody.<br>
Pamiętasz, że Jacek chciał do wojska słać syna,<br>
Potem w Litwie zostawił: cóż w tym za przyczyna?<br>
Oto w domu Ojczyznie potrzebniejszy będzie.<br>
Słyszałeś pewnie, o czem już gadają wszędzie,<br>
O czem ja wiadomostki przynosiłem nieraz:<br>
Teraz czas już powiedzieć wszystko, czas już teraz!<br>
Ważne rzeczy, mój bracie! Wojna tuż nad nami!<br>
Wojna o Polskę! bracie! Będziem Polakami!<br>
Wojna niechybna! Kiedy z poselstwem tajemnem<br>
Tu biegłem, wojsk forpoczty już stały nad Niemnem;<br>
Napoleon już zbiera armiję ogromną,<br>
Jakiej człowiek nie widział i dzieje nie pomną;<br>
Obok Francuzów ciągnie polskie wojsko całe,<br>
Nasz Józef, nasz Dąbrowski, nasze orły białe!<br>
Już są w drodze, na pierwszy znak Napoleona<br>
Przejdą Niemen i — bracie! Ojczyzna wskrzeszona!”
</p>

<p>
Sędzia, słuchając, z wolna okulary składał<br>
I wpatrując się mocno w Księdza, nic nie gadał,<br>
Westchnął głęboko, w oczach łzy się zakręciły...<br>
Wreszcie porwał za szyję Księdza z całej siły:<br>
„Mój Robaku! — wołając — czy to tylko prawda?<br>
Mój Robaku! — powtarzał — czy to tylko prawda?<br>
Ileż razy zwodzono! Pamiętasz? gadali:<br>
Napoleon już idzie! i my już czekali!<br>
Gadano: już w Koronie, już Prusaka pobił,<br>
Wkracza do nas! A on — co? Pokój w Tylży zrobił!<br>
Czy tylko prawda? Czy ty nie zwodzisz sam siebie?”<br>
„Prawda — zawołał Robak — jak Pan Bóg na niebie!”<br>
„Błogosławioneż niechaj będą usta, które<br>
To zwiastują! — rzekł Sędzia wznosząc ręce w górę. —<br>
Nie pożałujesz twego poselstwa, Robaku,<br>
Nie pożałuje klasztor; dwieście owiec z braku<br>
Daję na klasztor. Księże, tyś się wczora palił<br>
Do mojego kasztanka i gniadosza chwalił,<br>
Dziś zaraz w twym kwestarskim wozie pójdą oba;<br>
Dziś proś mnie, o co zechcesz, co ci się podoba,<br>
Nie odmówię! Lecz o tym interesie całym<br>
Z Hrabią, daj pokój; skrzywdził mnie, już zapozwałem,<br>
Czyż wypada...”<br>
Załamał ręce Ksiądz zdziwiony.<br>
Wlepiwszy oczy w Sędzię, ruszywszy ramiony,<br>
Rzekł: „To gdy Napoleon wolność Litwie niesie,<br>
Gdy świat drży cały, to ty myślisz o procesie?<br>
I jeszczeż po tem wszystkim, com tobie powiedział,<br>
Będziesz spokojnie, ręce założywszy, siedział,<br>
Gdy działać trzeba!”
</p>

<p>
— „Działać? Cóż?” — Sędzia zapytał.<br>
„Jeszcześ — rzekł Robak — z oczu moich nie wyczytał?<br>
Jeszcze serce nic tobie nie gada? Ach, bracie!<br>
Jeśli Soplicowskiej krwi kroplę w żyłach macie,<br>
Uważ tylko: Francuzi uderzają z przodu?...<br>
A gdyby z tyłu zrobić powstanie narodu?<br>
Co myślisz? Niech no Pogoń zarży, niech na Żmudzi<br>
Niedźwiedź ryknie! Ach, gdyby jakie tysiąc ludzi,<br>
Gdyby choć pięćset z tyłu na Moskwę natarło,<br>
Powstanie jako pożar wkoło rozpostarło,<br>
Gdybyśmy my, nabrawszy Moskwie harmat, znaków,<br>
Zwycięzcy szli powitać wybawców rodaków?<br>
Ciągniemy! Napoleon widząc nasze lance<br>
Pyta: «Co to za wojsko?» My krzyczym: «Powstańce,<br>
Najjaśniejszy Cesarzu! Litwa ochotnicy!»<br>
Pyta: «Pod czyją wodzą?» — «Sędziego Soplicy!»<br>
Ach, któż by potem pisnąć śmiał o Targowicy?<br>
Bracie, póki Ponarom stać, Niemnowi płynąć,<br>
Póty w Litwie Sopliców imieniowi słynąć;<br>
Wnuków, prawnuków będzie Jagiełłów stolica<br>
Wskazywać palcem, mówiąc: oto jest Soplica,<br>
Z tych Sopliców, co pierwsi zrobili powstanie!”
</p>

<p>
A na to Sędzia: „Mniejsza o ludzkie gadanie;<br>
Nigdy nie dbałem bardzo o pochwały świata,<br>
Bóg świadkiem, żem nie winien grzechów mego brata;<br>
W politykę jam nigdy bardzo się nie wdawał,<br>
Urzędując i orząc mojej ziemi kawał;<br>
Lecz jestem szlachcic, rad bym plamę domu zmazać,<br>
Jestem Polak, dla kraju rad bym coś dokazać,<br>
Choć duszę oddać. W szable nie byłem zbyt tęgi,<br>
Wszakże bierali ludzie i ode mnie cięgi;<br>
Wie świat, że w czasie polskich ostatnich sejmików<br>
Wyzwałem i zraniłem dwoch braci Buzwików,<br>
Którzy... Ale to mniejsza. Jakże Wasze myśli?<br>
Czy potrzeba, żebyśmy zaraz w pole wyszli?<br>
Strzelców zebrać — rzecz łatwa; prochu mam dostatek,<br>
W plebaniji u księdza jest kilka armatek;<br>
Przypominam, iż Jankiel mówił, iż u siebie<br>
Ma groty do lanc, że je mogę wziąć w potrzebie;<br>
Te groty przywiózł w pakach gotowych z Królewca<br>
Pod sekretem; weźmiem je, zaraz zrobim drzewca,<br>
Szabel nam nie zabraknie, szlachta na koń wsiędzie,<br>
Ja z synowcem na czele i? — jakoś to będzie !”
</p>

<p>
„O polska krwi!” — zawołał Bernardyn wzruszony,<br>
Z otwartemi skoczywszy na Sędzię ramiony. —<br>
„Prawe dziecię Sopliców! Tobie Bóg przeznacza<br>
Oczyścić grzechy brata twojego, tułacza;<br>
Zawszem ciebie szanował, ale od tej chwili<br>
Kocham cię, jak gdybyśmy bracią sobie byli!<br>
Przygotujemy wszystko, lecz wyjść nie czas jeszcze;<br>
Ja sam wyznaczę miejsce i czas wam obwieszczę.<br>
Wiem, że car wysłał gońców do Napoleona<br>
Prosić o pokój; wojna nie jest ogłoszona;<br>
Lecz książę Józef słyszał od pana Biniona,<br>
Francuza; co należy do cesarskiej rady,<br>
Że się na niczem skończą wszystkie te układy,<br>
Że będzie wojna. Książę wysłał mnie na zwiady<br>
Z rozkazem, żeby byli Litwini gotowi<br>
Dowieść przychodzącemu Napoleonowi,<br>
Że chcą złączyć się znowu z siostrą swą, Koroną,<br>
I żądają, ażeby Polskę przywrócono.<br>
Tymczasem bracie, z Hrabią trzeba przyjść do zgody;<br>
Jest to dziwak, fantastyk trochę, ale młody,<br>
Poczciwy, dobry Polak; potrzebny nam taki;<br>
W rewolucyjach bardzo potrzebne dziwaki,<br>
Wiem z doświadczenia; nawet głupi się przydadzą,<br>
Byle tylko poczciwi i pod mądrych władzą.<br>
Hrabia pan, ma u szlachty wielkie zachowanie;<br>
Cały powiat ruszy się, jeśli on powstanie;<br>
Znając jego majątek, każdy szlachcic powie:<br>
Musi to być rzecz pewna, gdy z nią są panowie.<br>
Biegę do niego zaraz”.
</p>

<p>
„Niech się pierwszy zgłosi —<br>
Rzekł Sędzia — niech przyjedzie tu, mnie niech przeprosi;<br>
Wszak jestem starszy wiekiem, jestem na urzędzie!<br>
Co się tycze procesu, sąd arbitrów będzie...”<br>
Bernardyn trzasnął drzwiami. „No, szczęśliwa droga!” —<br>
Rzekł Sędzia.
</p>

<p>
Ksiądz wpadł w powóz stojący u proga,<br>
Tnie biczem konie, łechce lejcami po bokach;<br>
Furknęła kałamaszka, ginie w mgły obłokach,<br>
Tylko kiedy niekiedy kaptur mnicha bury<br>
Wznosi się nad tumany jako sęp nad chmury.
</p>

<p>
Woźny już dawniej wyszedł ku domowi Hrabi.<br>
Jak lis bywalec, gdy go woń słoniny wabi,<br>
Bieży ku niej, a strzelców zna fortele skryte,<br>
Bieży, staje, przysiada coraz, wznosi kitę<br>
I wiatr nią jak wachlarzem ku swym nozdrzom tuli,<br>
Pyta wiatru, czy strzelcy jadła nie zatruli:<br>
Protazy zeszedł z drogi i wzdłuż sianożęci<br>
Krąży około domu: pałkę w ręku kręci,<br>
Udaje, że obaczył kędyś bydło w szkodzie;<br>
Tak zręcznie lawirując stanął przy ogrodzie;<br>
Schylił się, bieży, rzekłbyś, iż derkacza tropi,<br>
Aż nagle skoczył przez płot i wpadł do konopi.
</p>

<p>
W tej zielonej, pachnącej i gęstej krzewinie,<br>
Koło domu, jest pewny przytułek zwierzynie<br>
I ludziom. Nieraz zając zdybany w kapuście<br>
Skacze skryć się w konopiach bezpieczniej niż w chruście,<br>
Bo go dla gęstwi ziela ani chart nie zgoni,<br>
Ani ogar wywietrzy dla zbyt tęgiej woni.<br>
W konopiach człowiek dworski, uchodząc kańczuka<br>
Lub pięści, siedzi cicho, aż się pan wyfuka.<br>
I nawet często zbiegli od rekruta chłopi,<br>
Gdy ich rząd śledzi w lasach, siedzą śród konopi.<br>
I stąd w czasie bitew, zajazdów, tradowań<br>
Obie strony nie szczędzą wielkich usiłowań,<br>
Ażeby stanowisko zająć konopiane,<br>
Które z przodu ciągnie się aż pod dworską ścianę,<br>
A z tyłu, pospolicie stykając się z chmielem,<br>
Kryje atak i odwrót przed nieprzyjacielem.
</p>

<p>
Protazy, choć człek śmiały, uczuł nieco strachu,<br>
Bo przypomniał z samego rośliny zapachu<br>
Różne swoje dawniejsze woźnieńskie przypadki,<br>
Jedne po drugich, biorąc konopie na świadki:<br>
Jako raz zapozwany szlachcic z Telsz, Dzindolet,<br>
Rozkazał mu, oparłszy o piersi pistolet,<br>
Wleźć pod stół i ów pozew psim głosem odszczekać,<br>
Że Woźny musiał co tchu w konopie uciekać.<br>
Jak później Wołodkowicz, pan dumny, zuchwały,<br>
Co rozpędzał sejmiki, gwałcił trybunały,<br>
Przyjąwszy urzędowy pozew, zdarł na sztuki<br>
I postawiwszy przy drzwiach z kijami hajduki,<br>
Sam nad Woźnego głową trzymał goły rapier,<br>
Krzycząc: „Albo cię zetnę, albo zjedz twój papier!”<br>
Woźny niby jeść zaczął, jak człowiek roztropny,<br>
Aż skradłszy się do okna, wpadł w ogród konopny.
</p>

<p>
Wprawdzie już wtenczas w Litwie nie było zwyczajem<br>
Opędzać się od pozwów szablą lub nahajem<br>
I ledwie woźny czasem usłyszał łajanie,<br>
Ale Protazy o tej obyczajów zmianie<br>
Wiedzieć nie mógł, bo dawno już pozwów nie naszał.<br>
Choć zawsze gotów, choć się Sędziemu sam wpraszał,<br>
Sędzia dotąd, przez winny wzgląd na lata stare,<br>
Odmawiał jego prośbom; dziś przyjął ofiarę<br>
Dla naglącej potrzeby.<br>
Woźny patrzy, czuwa —<br>
Cicho wszędzie — w konopie z wolna ręce wsuwa<br>
I rozchylając gęstwę badylów, w jarzynie<br>
Jako rybak pod wodą nurkujący płynie;<br>
Wzniósł głowę — cicho wszędzie — do okien się skrada —<br>
Cicho wszędzie — przez okna głąb pałacu bada —<br>
Pusto wszędzie. — Na ganek wchodzi nie bez strachu,<br>
Odmyka klamkę — pusto jak w zaklętym gmachu;<br>
Dobywa pozew, czyta głośno oświadczenie.<br>
A wtem usłyszał tarkot, uczuł serca drżenie,<br>
Chciał uciec, gdy ode drzwi zaszła mu osoba —<br>
Szczęściem znajoma! Robak! Zdziwili się oba.
</p>

<p>
Widno, że Hrabia kędyś ruszył z całym dworem<br>
I bardzo spieszył, bo drzwi zostawił otworem.<br>
Widać, że się uzbrajał; leżały dwórurki<br>
I sztucce na podłodze, dalej sztenfle, kurki<br>
I narzędzia ślusarskie, któremi rynsztunki<br>
Poprawiano; proch, papier: robiono ładunki.<br>
Czy Hrabia z całym dworem wyjechał na łowy?<br>
Ale po coż broń ręczna? Tu szabla bez głowy<br>
Zardzewiała, tam leży szpada bez temlaku:<br>
Zapewne wybierano oręż z tego braku<br>
I poruszono nawet stare broni składy.<br>
Robak obejrzał pilnie rusznice i szpady,<br>
A potem do folwarku wybrał się na zwiady,<br>
Szukając sług, żeby się rozpytać o Hrabię;<br>
W pustym folwarku ledwie wynalazł dwie babie,<br>
Od których słyszy, że pan i dworska drużyna<br>
Ruszyli tłumnie, zbrojnie — drogą do Dobrzyna.
</p>

<p>
Słynie szeroko w Litwie Dobrzyński zaścianek<br>
Męstwem swoich szlachciców, pięknością szlachcianek.<br>
Niegdyś możny i ludny; bo gdy król Jan Trzeci<br>
Obwołał pospolite ruszenie przez wici,<br>
Chorąży województwa z samego Dobrzyna<br>
Przywiódł mu sześćset zbrojnej szlachty. Dziś rodzina<br>
Zmniejszona, zubożała; dawniej w pańskich dworach<br>
Lub wojsku, na zajazdach, sejmikowych zborach,<br>
Zwykli byli Dobrzyńscy żyć o łatwym chlebie.<br>
Teraz zmuszeni sami pracować na siebie<br>
Jako zaciężne chłopstwo! Tylko że siermięgi<br>
Nie noszą, lecz kapoty białe w czarne pręgi,<br>
A w niedzielę kontusze. Strój także szlachcianek<br>
Najuboższych różni się od chłopskich katanek:<br>
Zwykle chodzą w drylichach albo perkaliczkach,<br>
Bydło pasą nie w łapciach z kory, lecz w trzewiczkach,<br>
I żną zboże, a nawet przędą — w rękawiczkach.
</p>

<p>
Różnili się Dobrzyńscy między Litwą bracią<br>
Językiem swoim tudzież wzrostem i postacią.<br>
Czysta krew lacka, wszyscy mieli czarne włosy,<br>
Wysokie czoła, czarne oczy, orle nosy;<br>
Z Dobrzyńskiej Ziemi ród swój starożytny wiedli.<br>
A choć od lat czterystu na Litwie osiedli,<br>
Zachowali mazurską mowę i zwyczaje.<br>
Jeźli który z nich dziecku imię na chrzcie daje,<br>
Zawsze zwykł za patrona brać Koronijasza:<br>
Świętego Bartłomieja albo Matyjasza.<br>
Tak syn Macieja zawzdy zwał się Bartłomiejem,<br>
A znowu Bartłomieja syn zwał się Maciejem;<br>
Kobiety wszystkie chrzczono Kachny lub Maryny.
</p>

<p>
By rozeznać się wpośród takiej mieszaniny,<br>
Brali różne przydomki, od jakiej zalety<br>
Lub wady, tak mężczyźni, jako i kobiety.<br>
Mężczyznom czasem kilka dawano przydomków<br>
Na znak pogardy albo szacunku spółziomków;<br>
Czasem jedenże szlachcic inaczej w Dobrzynie,<br>
A pod innym nazwiskiem u sąsiadów słynie.<br>
Dobrzyńskich naśladując, inna szlachta bliska<br>
Brała również przydomki, zwane <strong>imioniska</strong>.<br>
Teraz ich każda prawie używa rodzina,<br>
A rzadki wie, iż mają początek z Dobrzyna;<br>
I były tam potrzebne, kiedy w reszcie kraju<br>
Głupim naśladownictwem weszły do zwyczaju.
</p>

<p>
Więc Matyjasz Dobrzyński, który stał na czele<br>
Całej rodziny, zwan był <strong>Kurkiem na kościele</strong>.<br>
Potem z siedemset dziewięćdziesiąt czwartym rokiem<br>
Odmieniwszy przydomek, ochrzcił się <strong>Zabokiem</strong>;<br>
Toż <strong>Królikiem</strong> Dobrzyńscy mianują go sami,<br>
A Litwini nazwali <strong>Maćkiem nad Maćkami</strong>.
</p>

<p>
Jak on nad Dobrzyńskimi, dom jego nad siołem<br>
Panował, stojąc między karczmą i kościołem.<br>
Widać rzadko zwiedzany, mieszka w nim hołota,<br>
Bo brama sterczy bez wrot, ogrody bez płota,<br>
Nie zasiane, na grzędach już porosły brzozki;<br>
Przecież ten folwark zdał się być stolicą wioski,<br>
Iż kształtniejszy od innych chat, bardziej rozległy,<br>
I prawą stronę, gdzie jest świetlica, miał z cegły.<br>
Obok lamus, spichrz, gumno, obora i stajnie,<br>
Wszystko w kupie, jak bywa u szlachty zwyczajnie.
</p>

<p>
Wszystko nadzwyczaj stare, zgniłe; domu dachy<br>
Świeciły się, jak gdyby od zielonej blachy,<br>
Od mchu i trawy, która buja jak na łące.<br>
Po strzechach gumien — niby ogrody wiszące<br>
Różnych roślin: pokrzywa i krokos czerwony,<br>
Żółta dziewanna, szczyru barwiste ogony,<br>
Gniazda ptastwa różnego, w strychach gołębniki,<br>
W oknach gniazda jaskółcze, u progu króliki<br>
Białe skaczą i ryją w niedeptanej darni.<br>
Słowem, dwór na kształt klatki albo królikarni.
</p>

<p>
A dawniej był obronny! Pełno wszędzie śladów,<br>
Że wielkich i że częstych doznawał napadów.<br>
Pod bramą dotąd w trawie, jak dziecięca głowa<br>
Wielka, leżała kula żelazna działowa<br>
Od czasów szwedzkich; niegdyś skrzydło wrót otwarte<br>
Bywało o tę kulę jak o głaz oparte.<br>
Na dziedzińcu spomiędzy piołunu i chwastu<br>
Wznoszą się stare szczęty krzyżów kilkunastu<br>
Na ziemi nieświęconej; znak, że tu chowano<br>
Poległych śmiercią nagłą i niespodziewaną.<br>
Kto by uważał z bliska lamus, spichrz i chatę,<br>
Ujrzy ściany od ziemi do szczytu pstrokate<br>
Niby rojem owadów czarnych; w każdej plamie<br>
Siedzi we środku kula jak trzmiel w ziemnej jamie.
</p>

<p>
U drzwi domostwa wszystkie klamki, ćwieki, haki,<br>
Albo ucięte, albo noszą szabel znaki:<br>
Pewnie tu probowano hartu zygmuntówek,<br>
Któremi można śmiało ćwieki obciąć z główek<br>
Lub hak przerżnąć, w brzeszczocie nie zrobiwszy szczerby.<br>
Nade drzwiami Dobrzyńskich widne były herby;<br>
Lecz armaturę — serów zasłoniły pułki<br>
I zasklepiły gęsto gniazdami jaskółki.
</p>

<p>
Wewnątrz samego domu, w stajni i wozowni,<br>
Pełno znajdziesz rynsztunków, jak w starej zbrojowni.<br>
Pod dachem wiszą cztery ogromne szyszaki,<br>
Ozdoby czół marsowych: dziś Wenery ptaki,<br>
Gołębie, w nich gruchając karmią swe pisklęta.<br>
W stajni kolczuga wielka nad żłobem rozpięta<br>
I pierścieniasty pancerz służą za drabinę,<br>
W którą chłopiec zarzuca źrebcom dzięcielinę.<br>
W kuchni kilka rapierów kucharka bezbożna<br>
Odhartowała, kładąc je w piec zamiast rożna;<br>
Buńczukiem, łupem z Wiednia, otrzepywa żarna:<br>
Słowem, wygnała Marsa Ceres gospodarna<br>
I panuje z Pomoną, Florą i Wertumnem<br>
Nad Dobrzyńskiego domem, stodołą i gumnem.
</p>

<p>
Ale dziś muszą znowu ustąpić boginie:<br>
Mars powraca.
</p>

<p>
O świcie zjawił się w Dobrzynie<br>
Konny posłaniec; biega od chaty do chaty,<br>
Budzi jak na pańszczyznę; wstają szlachta braty,<br>
Napełniają się ciżbą zaścianku ulice,<br>
Słychać krzyk w karczmie, widać w plebaniji świéce;<br>
Biegą; jeden drugiego pyta, co to znaczy,<br>
Starzy składają radę, młódź konie kulbaczy,<br>
Kobiety zatrzymują, chłopcy się szamocą,<br>
Rwą się biec, bić się, ale nie wiedzą, z kim, o co?<br>
Muszą chcąc nie chcąc zostać. W mieszkaniu plebana<br>
Trwa rada długa, tłumna, strasznie zamieszana,<br>
Aż nie mogąc zdań zgodzić, na koniec stanowi<br>
Przełożyć całą sprawę ojcu Maciejowi.
</p>

<p>
Siedemdziesiąt dwa lat liczył Maciej, starzec dziarski,<br>
Niskiego wzrostu, dawny konfederat barski.<br>
Pamiętają i swoi, i nieprzyjaciele<br>
Jego damaskowaną krzywą karabelę,<br>
Którą piki i sztyki rzezał na kształt sieczki<br>
I której żartem skromne dał imię <strong>Rózeczki</strong>.<br>
Z konfederata stał się stronnikiem królewskim<br>
I trzymał z Tyzenhauzem, podskarbim litewskim;<br>
Lecz gdy król w Targowicy przyjął uczestnictwo,<br>
Maciej opuścił znowu królewskie stronnictwo,<br>
I stąd to, że przechodził partyi tak wiele,<br>
Nazywany był dawniej <strong>Kurkiem na kościele</strong>,<br>
Że jak kurek za wiatrem chorągiewkę zwracał.<br>
Przyczynę zmian tak częstych na próżno byś macał:<br>
Może Maciej zbyt wojnę lubił; zwyciężony<br>
W jednej stronie, znów bitwy szukał z drugiej strony?<br>
Może, bystry polityk, duch czasu zbadywał<br>
I tam szedł, gdzie Ojczyzny dobro upatrywał?<br>
Kto wie! To pewna, że go nigdy nie uwiodły<br>
Ani chęć osobistej chwały, ni zysk podły,<br>
I że nigdy z moskiewską partyją nie trzymał;<br>
Na sam widok Moskala pienił się i zżymał.<br>
By nie spotkać Moskala, po kraju zaborze<br>
Siedział w domu, jak niedźwiedź, gdy ssie łapę w borze.
</p>

<p>
Ostatni raz wojował, poszedłszy z Ogińskim<br>
Do Wilna, gdzie służyli oba pod Jasińskim.<br>
I tam z Rózeczką cudów dokazał odwagi.<br>
Wiadomo, że sam jeden skoczył z wałów Pragi<br>
Bronić pana Pocieja, który, odbieżany<br>
Na placu boju, dostał dwadzieścia trzy rany.<br>
Myślano długo w Litwie, że obu zabito;<br>
Wrócili oba, każdy pokłuty jak sito.<br>
Pan Pociej, zacny człowiek, chciał zaraz po wojnie<br>
Obrońcę Dobrzyńskiego wynagrodzić hojnie,<br>
Dawał mu folwark pięciu dymów w dożywocie<br>
I wyznaczył mu rocznie tysiąc złotych w złocie.<br>
Lecz Dobrzyński odpisał: „Niech Pociej Macieja,<br>
A nie Maciej Pocieja ma za dobrodzieja”.<br>
Odmówił więc folwarku i nie przyjął płacy;<br>
Sam wróciwszy do domu, żył z własnej rąk pracy,<br>
Sprawując ule dla pszczół, lekarstwa dla bydła,<br>
Szląc na targ kuropatwy, które łowił w sidła,<br>
I polując na zwierza.
</p>

<p>
Było dość w Dobrzynie<br>
Starych ludzi roztropnych, którzy po łacinie<br>
Umieli i w palestrze ćwiczyli się z młodu;<br>
Było dość majętniejszych; a z całego rodu<br>
Maciek, prostak ubogi, był najwięcej czczony,<br>
Nie tylko jako rębacz Rózeczką wsławiony,<br>
Lecz jako człek mądrego i pewnego zdania,<br>
Znający dzieje kraju, rodziny podania,<br>
Zarówno świadom prawa, jak i gospodarstwa.<br>
Wiedział także sekreta strzelców i lekarstwa,<br>
Przyznawano mu nawet (czemu pleban przeczy)<br>
Wiadomość nadzwyczajnych i nadludzkich rzeczy.<br>
To pewna, że powietrza zmiany zna dokładnie<br>
I częściej niż kalendarz gospodarski zgadnie.<br>
Nie dziw tedy, że czy to siejbę rozpoczynać,<br>
Czy wiciny wyprawiać, czy zboże zażynać,<br>
Czy procesować, czyli zawierać układy,<br>
Nie działo się w Dobrzynie nic bez Maćka rady.
</p>

<p>
Wpływu takiego starzec bynajmniej nie szukał,<br>
Owszem, chciał się go pozbyć, klijentów swych fukał<br>
I najczęściej wypychał milczkiem za drzwi domu,<br>
Rady rzadko udzielał i nie lada komu,<br>
Ledwie w niezmiernie ważnych sporach lub umowach<br>
Pytany wyrzekł zdanie, i w niewielu słowach.<br>
Myślano, że dzisiejszej podejmie się sprawy<br>
I stanie swą osobą na czele wyprawy;<br>
Bo bijatykę lubił niezmiernie za młodu<br>
I był nieprzyjacielem moskiewskiego rodu.
</p>

<p>
Właśnie staruszek chodził po samotnym dworze,<br>
Nucąc piosenkę: „Kiedy ranne wstają zorze”,<br>
Rad, że się wypogadza; mgła nie szła do góry,<br>
Jak się dziać zwykło, kiedy zbierają się chmury,<br>
Ale coraz spadała; wiatr rozwinął dłonie<br>
I mgłę muskał, wygładzał, rozściełał na błonie;<br>
Tymczasem słonko z góry tysiącem promieni<br>
Tło przetyka, posrebrza, wyzłaca, rumieni.<br>
Jak para mistrzów w Słucku lity pas wyrabia:<br>
Dziewica, siedząc w dole, krośny ujedwabia<br>
I tło ręką wygładza, tymczasem tkacz z góry<br>
Zrzuca jej nitki srebra, złota i purpury,<br>
Tworząc barwy i kwiaty — tak dziś ziemię całą<br>
Wiatr tumanami osnuł, a słońce dzierżgało.
</p>

<p>
Maciej ogrzał się słońcem, zakończył pacierze<br>
I już się do swojego gospodarstwa bierze.<br>
Wyniósł traw, liścia; usiadł przed domem i świsnął:<br>
Na ten świst rój królików spod ziemi wytrysnął.<br>
Jako narcyzy nagle wykwitłe nad trawę,<br>
Bielą się długie słuchy; pod nimi jaskrawe<br>
Przeświecają się oczki jak krwawe rubiny<br>
Gęsto wszyte w aksamit zielonej darniny.<br>
Już króliki na łapkach stoją, każdy słucha,<br>
Patrzy, na koniec cała trzódka białopucha<br>
Bieży do starca, liśćmi kapusty znęcona,<br>
Do nóg mu, na kolana skacze, na ramiona;<br>
On, sam biały jak królik, lubi ich gromadzić<br>
Wkoło siebie i ręką ciepły ich puch gładzić,<br>
A drugą ręką z czapki proso w trawę miota<br>
Dla wróblów; spada z dachów krzykliwa hołota.
</p>

<p>
Gdy się staruszek bawił widokiem biesiady,<br>
Nagle króliki znikły w ziemi, a gromady<br>
Wróblów na dach uciekły przed gośćmi nowymi,<br>
Którzy szli do folwarku krokami prędkiémi.<br>
Byli to z plebaniji przez szlachty gromadę<br>
Posłowie wyprawieni do Maćka po radę.<br>
Z dala witając starca niskiemi ukłony,<br>
Rzekli: „Niech będzie Jezus Chrystus pochwalony”.<br>
„Na wieki wieków, amen” — starzec odpowiedział,<br>
A gdy się o ważności poselstwa dowiedział,<br>
Prosi do chaty; weszli, zasiadają ławę,<br>
Pierwszy z posłów stał w środku i jął zdawać sprawę.
</p>

<p>
Tymczasem szlachty coraz gęściej przybywało.<br>
Dobrzyńscy prawie wszyscy; sąsiadów niemało<br>
Z okolicznych zaścianków, zbrojni i bezbronni,<br>
W kałamaszkach i bryczkach, i piesi, i konni,<br>
Stawią wozy, podjezdki do brzezinek wiążą,<br>
Ciekawi skutku narad koło domu krążą:<br>
Już izbę napełnili, kupią się do sieni;<br>
Inni słuchają, w okna głowami wciśnieni.
</p>