

<h3>KSIĘGA TRZECIA</h3>

<h4>UMIZGI</h4>

<p class="streszczenie">
Wyprawa Hrabi na sad<br>
Tajemnicza nimfa gęsi pasie<br>
Podobieństwo grzybobrania do przechadzki cieniów elizejskich<br>
Gatunki grzybów<br>
Telimena w Świątyni dumania<br>
Narady tyczące się postanowienia Tadeusza<br>
Hrabia pejzażysta<br>
Tadeusza uwagi malarskie nad drzewami i obłokami<br>
Hrabiego myśli o sztuce<br>
Dzwon<br>
Bilecik<br>
Niedźwiedź, Mospanie!
</p>

<p>
Hrabia wracał do siebie, lecz konia wstrzymywał,<br>
Głową coraz w tył kręcił, w ogród się wpatrywał;<br>
I raz mu się zdawało, że znowu z okienka<br>
Błysnęła tajemnicza bieluchna sukienka<br>
I coś lekkiego znowu upadło z wysoka,<br>
I przeleciawszy cały ogród w mgnieniu oka,<br>
Pomiędzy zielonymi świeciło ogórki:<br>
Jako promień słoneczny, wykradłszy się z chmurki,<br>
Kiedy śród roli padnie na krzemienia skibę<br>
Lub śród zielonej łąki w drobną wody szybę.
</p>

<p>
Hrabia zsiadł z konia, sługi odprawił do domu,<br>
A sam ku ogrodowi ruszył po kryjomu;<br>
Dobiegł wkrótce parkanu, znalazł w nim otwory<br>
I wcisnął się po cichu jak wilk do obory;<br>
Nieszczęściem, trącił krzaki suchego agrestu.<br>
Ogrodniczka, jak gdyby zlękła się szelestu,<br>
Oglądała się wkoło, lecz nic nie spostrzegła;<br>
Przecież ku drugiej stronie ogrodu pobiegła.<br>
A Hrabia bokiem, między wielkie końskie szczawie,<br>
Między liście łopuchu, na rękach, po trawie,<br>
Skacząc jak żaba, cicho, przyczołgał się blisko,<br>
Wytknął głowę — i ujrzał cudne widowisko.
</p>

<p>
W tej części sadu rosły tu i ówdzie wiśnie,<br>
Śród nich zboże, w gatunkach zmieszanych umyślnie:<br>
Pszenica, kukuruza, bob, jęczmień wąsaty,<br>
Proso, groszek, a nawet krzewiny i kwiaty.<br>
Domowemu to ptastwu taki ochmistrzyni<br>
Wymyśliła ogródek: sławna gospodyni.<br>
Zwała się Kokosznicka, z domu Jendykowi-<br>
czówna; jej wynalazek epokę stanowi<br>
W domowym gospodarstwie; dziś powszechnie znany,<br>
Lecz w owych czasach jeszcze za nowość podany,<br>
Przyjęty pod sekretem od niewielu osób,<br>
Nim go wydał kalendarz, pod tytułem: Sposób<br>
Na jastrzębie i kanie, albo nowy środek<br>
Wychowywania drobiu — był to ów ogrodek.
</p>

<p>
Jakoż zaledwie kogut, co odprawia warty,<br>
Stanie i nieruchomie dzierżąc dziob zadarty,<br>
I głowę grzebieniastą pochyliwszy bokiem,<br>
Aby tym łacniej w niebo mógł celować okiem,<br>
Dostrzeże wiszącego jastrzębia śród chmury,<br>
Krzyknie — zaraz w ten ogród chowają się kury,<br>
Nawet gęsi i pawie, i w nagłym przestrachu<br>
Gołębie, gdy nie mogą schronić się na dachu.
</p>

<p>
Teraz w niebie żadnego nie widziano wroga,<br>
Tylko skwarzyła słońca letniego pożoga,<br>
Od niej ptaki w zbożowym ukryły się lasku;<br>
Tamte leżą w murawie, te kąpią się w piasku.
</p>

<p>
Śród ptaszych głów sterczały główki ludzkie małe,<br>
Odkryte; włosy na nich krótkie, jak len białe;<br>
Szyje nagie do ramion; a pomiędzy niemi<br>
Dziewczyna głową wyższa, z włosami dłuższemi;<br>
Tuż za dziećmi paw siedział i piór swych obręcze<br>
Szeroko rozprzestrzenił w różnofarbną tęczę,<br>
Na której główki białe, jak na tle obrazku,<br>
Rzucone w ciemny błękit, nabierały blasku,<br>
Obrysowane wkoło kręgiem pawich oczu<br>
Jak wiankiem gwiazd, świeciły w zbożu jak w przezroczu,<br>
Pomiędzy kukuruzy złocistymi laski<br>
I angielską trawicą posrebrzaną w paski,<br>
I szczyrem koralowym, i zielonym ślazem,<br>
Których kształty i barwy mieszały się razem<br>
Niby krata ze srebra i złota pleciona,<br>
A powiewna od wiatru jak lekka zasłona.
</p>

<p>
Nad gęstwą różnofarbnych kłosów i badylów<br>
Wisiała jak baldakim jasna mgła motylów<br>
Zwanych babkami, których poczwórne skrzydełka,<br>
Lekkie jak pajęczyna, przejrzyste jak szkiełka,<br>
Gdy w powietrzu zawisną, zaledwo widome,<br>
I chociaż brzęczą, myślisz, że są nieruchome.
</p>

<p>
Dziewczyna powiewała podniesioną w ręku<br>
Szarą kitką, podobną do piór strusich pęku;<br>
Nią zdała się oganiać główki niemowlęce<br>
Od złotego motylów deszczu. W drugiej ręce<br>
Coś u niej rogatego, złocistego świeci,<br>
Zdaje się, że naczynie do karmienia dzieci,<br>
Bo je zbliżała dzieciom do ust po kolei,<br>
Miało zaś kształt złotego rogu Amaltei.
</p>

<p>
Tak zatrudniona, przecież obracała głowę<br>
Na pamiętne szelestem krzaki agrestowe,<br>
Nie wiedząc, że napastnik już z przeciwnej strony<br>
Zbliżył się, czołgając się jak wąż przez zagony;<br>
Aż wyskoczył z łopucha. Spójrzała — stał blisko,<br>
O cztery grzędy od niej, i kłaniał się nisko.<br>
Już głowę odwróciła i wzniosła ramiona,<br>
I zrywała się lecieć jak kraska spłoszona,<br>
I już lekkie jej stopy wionęły nad liściem,<br>
Kiedy dzieci, przelękłe podróżnego wniściem<br>
I ucieczką dziewczyny, wrzasnęły okropnie;<br>
Posłyszała, uczuła, że jest nieroztropnie<br>
Dziatwę małą, przelękłą i samą porzucić:<br>
Wracała wstrzymując się, lecz musiała wrócić,<br>
Jak niechętny duch, wróżka przyzwany zaklęciem;<br>
Przybiegła z najkrzykliwszym bawić się dziecięciem,<br>
Siadła przy niem na ziemi, wzięła je na łono,<br>
Drugie głaskała ręką i mową pieszczoną;<br>
Aż się uspokoiły, objąwszy w rączęta<br>
Jej kolana i tuląc główki jak pisklęta<br>
Pod skrzydło matki. Ona rzekła: „Czy to pięknie<br>
Tak krzyczeć? czy to grzecznie? Ten pan was się zlęknie.<br>
Ten pan nie przyszedł straszyć; to nie dziad szkaradny.<br>
To gość, dobry pan, patrzcie tylko, jaki ładny”.
</p>

<p>
Sama spójrzała: Hrabia uśmiechnął się mile<br>
I widocznie był wdzięczen jej za pochwał tyle;<br>
Postrzegła się, umilkła, oczy opuściła<br>
I jako róży pączek cała się spłoniła.
</p>

<p>
W istocie był to piękny pan: słusznej urody,<br>
Twarz miał pociągłą, blade, lecz świeże jagody,<br>
Oczy modre, łagodne, włos długi, białawy;<br>
Na włosach listki ziela i kosmyki trawy,<br>
Które Hrabia oberwał pełznąc przez zagony,<br>
Zieleniły się jako wieniec rozpleciony.
</p>

<p>
„O ty! — rzekł — jakimkolwiek uczczę cię imieniem,<br>
Bóstwem jesteś czy nimfą, duchem czy widzeniem!<br>
Mów! własna-li cię wola na ziemię sprowadza,<br>
Obca-li więzi ciebie na padole władza?<br>
Ach, domyślam się — pewnie wzgardzony miłośnik,<br>
Jaki pan możny albo opiekun zazdrośnik<br>
W tym cię parku zamkowym jak zaklętą strzeże!<br>
Godna, by o cię bronią walczyli rycerze,<br>
Byś została romansów heroiną smutnych!<br>
Odkryj mi, Piękna, tajnie twych losów okrutnych!<br>
Znajdziesz wybawiciela — odtąd twem skinieniem,<br>
Jak rządzisz sercem mojem, tak rządź mym ramieniem”.<br>
Wyciągnął ramię.<br>
Ona z rumieńcem dziewiczym,<br>
Ale z rozweselonym słuchała obliczem.<br>
Jak dziecię lubi widzieć obrazki jaskrawe<br>
I w liczmanach błyszczących znajduje zabawę,<br>
Nim rozezna ich wartość, tak się słuch jej pieści<br>
Z dźwięcznemi słowy, których nie pojęła treści.<br>
Na koniec zapytała: „Skąd tu Pan przychodzi?<br>
I czego tu po grzędach szuka Pan Dobrodziéj?”
</p>

<p>
Hrabia oczy roztworzył, zmieszany, zdziwiony,<br>
Milczał, wreszcie, zniżając swej rozmowy tony:<br>
„Przepraszam — rzekł — Panienko! Widzę, żem pomieszał<br>
Zabawy! Ach, przepraszam, jam właśnie pośpieszał<br>
Na śniadanie; już późno, chciałem na czas zdążyć;<br>
Panienka wie, że drogą trzeba wkoło krążyć,<br>
Przez ogród, zdaje mi się, jest do dworu prościéj”.
</p>

<p>
Dziewczyna rzekła: „Tędy droga Jegomości;<br>
Tylko grząd psuć nie trzeba; tam między murawą<br>
Ścieżka”. — „W lewo — zapytał Hrabia — czy na prawo?”<br>
Ogrodniczka, podniosłszy błękitne oczęta,<br>
Zdawała się go badać, ciekawością zdjęta:<br>
Bo dom o tysiąc kroków widny jak na dłoni,<br>
A Hrabia drogi pyta? Ale Hrabia do niéj<br>
Chciał koniecznie coś mówić i szukał powodu<br>
Rozmowy.<br>
„Panna mieszka tu? blisko ogrodu?<br>
Czy na wsi? Jak to było, żem Panny we dworze<br>
Nie widział? Czy niedawno tu? przyjezdna może?”<br>
Dziewczę wstrząsnęło głową. — „Przepraszam, Panienko,<br>
Czy nie tam pokoj Panny, gdzie owe okienko?”
</p>

<p>
Myślił zaś w duchu: Jeśli nie jest heroiną<br>
Romansów, jest młodziuchną, prześliczną dziewczyną.<br>
Zbyt często wielka dusza, myśl wielka ukryta<br>
W samotności, jak róża śród lasów rozkwita;<br>
Dosyć ją wynieść na świat, postawić przed słońcem,<br>
Aby widzów zdziwiła jasnych barw tysiącem!
</p>

<p>
Ogrodniczka tymczasem powstała w milczeniu,<br>
Podniosła jedno dziecię źwisłe na ramieniu,<br>
Drugie wzięła za rękę, a kilkoro przodem<br>
Zaganiając jak gąski, szła dalej ogrodem.
</p>

<p>
Odwróciwszy się rzekła: „Czy też Pan nie może<br>
Rozbiegłe moje ptastwo wpędzić nazad w zboże?”<br>
„Ja ptastwo pędzać?” — krzyknął Hrabia z zadziwieniem.<br>
Ona tymczasem znikła, zakryta drzew cieniem.<br>
Chwilę jeszcze z szpaleru przez majowe zwoje<br>
Przeświecało coś na wskróś, jakby oczu dwoje.
</p>

<p>
Samotny Hrabia długo jeszcze stał w ogrodzie;<br>
Dusza jego, jak ziemia po słońca zachodzie,<br>
Ostygała powoli, barwy brała ciemne;<br>
Zaczął marzyć, lecz sny miał bardzo nieprzyjemne.<br>
Zbudził się, sam nie wiedząc, na kogo się gniewał;<br>
Niestety, mało znalazł! nadto się spodziewał!<br>
Bo gdy zagonem pełznął ku owej pasterce,<br>
Paliło mu się w głowie, skakało w nim serce;<br>
Tyle wdzięków w tajemnej nimfie upatrywał,<br>
W tyle ją cudów ubrał, tyle odgadywał!<br>
Wszystko znalazł inaczej. Prawda, że twarz ładną,<br>
Kibić miała wysmukłą, ale jak nieskładną!<br>
A owa pulchność liców i rumieńca żywość,<br>
Malująca zbyteczną, prostacką szczęśliwość!<br>
Znak, że myśl jeszcze drzemie, że serce nieczynne.<br>
I owe odpowiedzi, tak wiejskie, tak gminne!<br>
„Po cóż się łudzić? — krzyknął — zgaduję po czasie!<br>
Moja nimfa tajemna pono gęsi pasie!”
</p>

<p>
Z nimfy zniknieniem całe czarowne przezrocze<br>
Zmieniło się: te wstęgi, te kraty urocze,<br>
Złote, srebrne, niestety! więc to była słoma?
</p>

<p>
Hrabia z załamanemi poglądał rękoma<br>
Na snopek uwiązanej trawami mietlicy,<br>
Którą brał za pęk strusich piór w ręku dziewicy.<br>
Nie zapomniał naczynia: złocista konewka,<br>
Ów różek Amaltei, była to marchewka!<br>
Widział ją w ustach dziecka pożeraną chciwie:<br>
Więc było po uroku! po czarach! po dziwie!
</p>

<p>
Tak chłopiec, kiedy ujrzy cykoryi kwiaty,<br>
Wabiące dłoń miękkiemi, lekkiemi bławaty,<br>
Chce je pieścić, zbliża się, dmuchnie, i z podmuchem<br>
Cały kwiat na powietrzu rozleci się puchem,<br>
A w ręku widzi tylko badacz zbyt ciekawy<br>
Nagą łodygę szarozielonawej trawy.
</p>

<p>
Hrabia wcisnął na oczy kapelusz i wracał<br>
Tamtędy, kędy przyszedł, ale drogę skracał,<br>
Stąpając po jarzynach, kwiatach i agreście,<br>
Aż przeskoczywszy parkan, odetchnął nareście!<br>
Przypomniał, że dziewczynie mówił o śniadaniu;<br>
Może już wszyscy wiedzą o jego spotkaniu;<br>
W ogrodzie, blisko domu? może szukać wyślą?<br>
Postrzegli, że uciekał? Kto wie, co pomyślą?<br>
Więc wypadało wrócić.<br>
Chyląc się u płotów,<br>
Około miedz i zielska, po tysiącach zwrotów<br>
Rad był przecież, że wyszedł w końcu na gościniec,<br>
Który prosto prowadził na dworski dziedziniec.<br>
Szedł przy płocie, a głowę odwracał od sadu,<br>
Jak złodziej od śpichlerza, aby nie dać śladu,<br>
Że go myśli nawiedzić albo już nawiedził.<br>
Tak Hrabia był ostróżny, choć go nikt nie śledził;<br>
Patrzył w stronę przeciwną ogrodu, na prawo.
</p>

<p>
Był gaj z rzadka zarosły, wysłany murawą;<br>
Po jej kobiercach, na wskroś białych pniów brzozowych,<br>
Pod namiotem obwisłych gałęzi majowych,<br>
Snuło się mnóstwo kształtów, których dziwne ruchy,<br>
Niby tańce, i dziwny ubior: istne duchy<br>
Błądzące po księżycu. Tamci w czarnych, ciasnych,<br>
Ci w długich, rozpuszczonych szatach, jak śnieg jasnych;<br>
Tamten pod kapeluszem jak obręcz szerokim,<br>
Ten z gołą głową; inni, jak gdyby obłokiem<br>
Obwiani, idąc, na wiatr puszczają zasłony,<br>
Ciągnące się za głową jak komet ogony.<br>
Każdy w innej postawie: ten przyrósł do ziemi,<br>
Tylko oczyma kręci na dół spuszczonemi;<br>
Ów patrząc wprost przed siebie, niby senny kroczy<br>
Jak po linie, ni w prawo, ni w lewo nie zboczy;<br>
Wszyscy zaś ciągle w różne schylają się strony<br>
Aż do ziemi, jak gdyby wybijać pokłony.<br>
Jeżeli się przybliżą albo się spotkają,<br>
Ani mówią do siebie, ani się witają,<br>
Głęboko zadumani, w sobie pogrążeni.<br>
Hrabia widział w nich obraz elizejskich cieni,<br>
Które chociaż boleściom, troskom niedostępne,<br>
Błąkają się spokojne, ciche, lecz posępne.
</p>

<p>
Któż by zgadnął, że owi, tak mało ruchomi,<br>
Owi milczący ludzie — są nasi znajomi?<br>
Sędziowscy towarzysze! z hucznego śniadania<br>
Wyszli na uroczysty obrzęd grzybobrania.<br>
Jako ludzie rozsądni, umieją miarkować<br>
Mowy i ruchy swoje, aby je stosować<br>
W każdej okoliczności do miejsca i czasu.<br>
Dlatego, nim ruszyli za Sędzią do lasu,<br>
Wzięli postawy tudzież ubiory odmienne:<br>
Służące do przechadzki opończe płócienne,<br>
Którymi osłaniają po wierzchu kontusze,<br>
A na głowy słomiane wdziali kapelusze,<br>
Stąd biali wyglądają jak czyscowe dusze.<br>
Młodzież także przebrana, oprocz Telimeny<br>
I kilku po francusku chodzących.
</p>

<p>
Tej sceny<br>
Hrabia nie pojął, nie znał wiejskiego zwyczaju,<br>
Więc zdziwiony nieźmiernie biegł pędem do gaju.
</p>

<p>
Grzybów było w bród: chłopcy biorą krasnolice,<br>
Tyle w pieśniach litewskich sławione <strong>lisice</strong>,<br>
Co są godłem panieństwa, bo czerw ich nie zjada,<br>
I dziwna; żaden owad na nich nie usiada.<br>
Panienki za wysmukłym gonią <strong>borowikiem</strong>,<br>
Którego pieśń nazywa grzybów półkownikiem.<br>
Wszyscy dybią na <strong>rydza</strong>; ten wzrostem skromniejszy<br>
I mniej sławny w piosenkach, za to najsmaczniejszy,<br>
Czy świeży, czy solony, czy jesiennej pory,<br>
Czy zimą. Ale Wojski zbierał <strong>muchomory</strong>.
</p>

<p>
Inne pospólstwo grzybów pogardzone w braku<br>
Dla szkodliwości albo niedobrego smaku,<br>
Lecz nie są bez użytku: one zwierza pasą<br>
I gniazdem są owadów, i gajów okrasą.<br>
Na zielonym obrusie łąk jako szeregi<br>
Naczyń stołowych sterczą: tu z krągłymi brzegi<br>
<strong>Surojadk</strong> i srebrzyste, żółte i czerwone,<br>
Niby czareczki rożnem winem napełnione;<br>
<strong>Koźlak</strong>, jak przewrocone kubka dno wypukłe,<br>
<strong>Lejki</strong>, jako szampańskie kieliszki wysmukłe,<br>
<strong>Bielaki</strong> krągłe, białe, szerokie i płaskie,<br>
Jakby mlekiem nalane filiżanki saskie,<br>
I kulista, czarniawym pyłkiem napełniona<br>
<strong>Purchawka</strong>, jak pieprzniczka — zaś innych imiona<br>
Znane tylko w zajęczym lub wilczym języku,<br>
Od ludzi nie ochrzczone; a jest ich bez liku.<br>
Ni wilczych, ni zajęczych nikt dotknąć nie raczy,<br>
A kto schyla się ku nim, gdy błąd swój obaczy,<br>
Zagniewany, grzyb złamie albo nogą kopnie;<br>
Tak szpecąc trawę, czyni bardzo nieroztropnie.
</p>

<p>
Telimena ni wilczych, ni ludzkich nie zbiera.<br>
Roztargniona, znudzona, dokoła spoziera<br>
Z głową w górę zadartą. Więc pan Rejent w gniewie<br>
Mówił o niej, że grzybów szukała na drzewie;<br>
Asesor ją złośliwiej równał do samicy,<br>
Która miejsca na gniazdo szuka w okolicy.
</p>

<p>
Jakoż zdała się szukać samotności, ciszy,<br>
Oddalała się z wolna od swych towarzyszy<br>
I szła lasem na wzgórek pochyło wyniosły,<br>
Ocieniony, bo drzewa gęściej na nim rosły.<br>
W środku szarzał się kamień; strumień spod kamienia<br>
Szumiał, tryskał i zaraz, jakby szukał cienia,<br>
Chował się między gęste i wysokie zioła,<br>
Które wodą pojone bujały dokoła;<br>
Tam ów bystry swawolnik, spowijany w trawy<br>
I liściem podesłany, bez ruchu, bez wrzawy,<br>
Niewidzialny i ledwie dosłyszany szepce,<br>
Jako dziecię krzykliwe złożone w kolebce,<br>
Gdy matka nad nim zwiąże firanki majowe<br>
I liścia makowego nasypie pod głowę.<br>
Miejsce piękne i ciche; tu się często schrania<br>
Telimena, zowiąc je <strong>Świątynią dumania</strong>.
</p>

<p>
Stanąwszy nad strumieniem, rzuciła na trawnik<br>
Z ramion swój szal powiewny, czerwony jak krwawnik,<br>
I podobna pływaczce, która do kąpieli<br>
Zimnej schyla się, nim się zanurzyć ośmieli,<br>
Klęknęła i powoli chyliła się bokiem;<br>
Wreszcie, jakby porwana koralu potokiem,<br>
Upadła nań i cała wzdłuż się rozpostarła,<br>
Łokcie na trawie, skronie na dłoniach oparła,<br>
Z głową w dół skłonioną; na dole, u głowy,<br>
Błysnął francuskiej książki papier welinowy;<br>
Nad alabastrowymi stronicami księgi<br>
Wiły się czarne pukle i różowe wstęgi.
</p>

<p>
W szmaragdzie bujnych traw, na krwawnikowym szalu,<br>
W sukni długiej, jak gdyby w powłoce koralu,<br>
Od której odbijał się włos z jednego końca,<br>
Z drugiego czarny trzewik, po bokach błyszcząca<br>
Śnieżną pończoszką, chustką, białością rąk, lica,<br>
Wydawała się z dala jak pstra gąsienica,<br>
Gdy wpełźnie na zielony liść klonu.
</p>

<p>
Niestety!<br>
Wszystkie tego obrazu wdzięki i zalety<br>
Darmo czekały znawców; nikt nie zważał na nie,<br>
Tak mocno zajmowało wszystkich grzybobranie.<br>
Tadeusz przecież zważał i w bok strzelał okiem,<br>
I nie śmiejąc iść prosto, przysuwał się bokiem.<br>
Jak strzelec, gdy w ruchomej gałęzistej szopie<br>
Usiadłszy na dwóch kołach podjeżdża na dropie,<br>
Albo na siewki idąc, przy koniu się kryje,<br>
Strzelbę złoży na siodle lub pod końską szyję,<br>
Niby to bronę włóczy, niby jedzie miedzą,<br>
A coraz się przybliża, kędy ptaki siedzą:<br>
Tak skradał się Tadeusz.<br>
Sędzia czaty zmieszał<br>
I przeciąwszy mu drogę, do źródła pośpieszał.<br>
Z wiatrem igrały białe poły szarafana<br>
I wielka chustka w pasie końcem uwiązana;<br>
Słomiany, podwiązany kapelusz od ruchu<br>
Nagłego chwiał się z wiatrem jako liść łopuchu,<br>
Spadając to na barki, to znowu na oczy;<br>
W ręku ogromna laska: tak pan Sędzia kroczy.<br>
Schyliwszy się i ręce obmywszy w strumieniu,<br>
Usiadł przed Telimeną na wielkim kamieniu<br>
I wsparłszy się oburącz na gałkę słoniową<br>
Trzciny ogromnej, z taką ozwał się przemową:
</p>

<p>
„Widzi Aśćka, od czasu jak tu u nas gości<br>
Tadeuszek, niemało mam niespokojności;<br>
Jestem bezdzietny, stary; ten dobry chłopczyna<br>
Wszak to moja na świecie pociecha jedyna,<br>
Przyszły dziedzic fortunki mojej. Z łaski nieba<br>
Zostawię mu kęs niezły szlacheckiego chleba;<br>
Już mu też czas obmyśleć los, postanowienie;<br>
Ale zważaj no Aśćka moje utrapienie!<br>
Wiesz, że pan Jacek, brat mój, Tadeusza ociec,<br>
Dziwny człowiek, zamiarów jego trudno dociec:<br>
Nie chce wracać do kraju, Bóg wie gdzie się kryje,<br>
Nawet nie chce synowi oznajmić, że żyje,<br>
A ciągle nim zarządza. Naprzód w legijony<br>
Chciał go posyłać; byłem okropnie zmartwiony.<br>
Potem zgodził się przecie, by w domu pozostał<br>
I żeby się ożenił. Jużbyć żony dostał;<br>
Partyję upatrzyłem; nikt z obywateli<br>
Nie wyrówna z imienia ani z parenteli<br>
Podkomorzemu; jego starsza córka Anna<br>
Jest na wydaniu, piękna i posażna panna.<br>
Chciałem zagaić”.<br>
Na to Telimena zbladła,<br>
Złożyła książkę, wstała nieco i usiadła.
</p>

<p>
„Jak mamę kocham — rzekła — czy to, Panie Bracie,<br>
Jest w tym sens jaki? Czy wy Boga w sercu macie?<br>
To myślisz Tadeusza zostać dobrodziejem,<br>
Jeśli młodego chłopca zrobisz grykosiejem!<br>
Świat mu zawiążesz! Wierz mi, kląć was kiedyś będzie!<br>
Zakopać taki talent w lasach i na grzędzie!<br>
Wierz mi, ile poznałam, pojętne to dziecię,<br>
Warto, żeby na wielkim przetarło się świecie;<br>
Dobrze Brat zrobi, gdy go do stolicy wyśle;<br>
Na przykład do Warszawy? lub wie Brat, co myślę,<br>
Żeby do Peterburka? Ja pewnie tej zimy<br>
Pojadę tam dla sprawy; razem ułożymy,<br>
Co zrobić z Tadeuszem; znam tam wiele osób,<br>
Mam wpływy: to najlepszy kreacyi sposób.<br>
Za mą pomocą znajdzie wstęp w najpierwsze domy,<br>
A kiedy będzie ważnym osobom znajomy,<br>
Dostanie urząd, order; wtenczas niech porzuci<br>
Służbę, jeżeli zechce, niech do domu wróci,<br>
Mając już i znaczenie, i znajomość świata.<br>
I cóż Brat myśli o tem?”<br>
„Jużci, w młode lata —<br>
Rzekł Sędzia — nieźle chłopcu trochę się przewietrzyć,<br>
Obejrzeć się na świecie, między ludźmi przetrzeć.<br>
Ja za młodu niemało świata objechałem:<br>
Byłem w Piotrkowie, w Dubnie, to za trybunałem<br>
Jadąc jako palestrant, to własne swe sprawy<br>
Forytując, jeździłem nawet do Warszawy.<br>
Człek niemało skorzystał! Chciałbym i synowca<br>
Wysłać pomiędzy ludzie, prosto jak wędrowca,<br>
Jak czeladnika, który terminuje lata,<br>
Ażeby nabył trochę znajomości świata.<br>
Nie dla rang ni orderów! Proszę uniżenie,<br>
Ranga moskiewska, order, cóż to za znaczenie?<br>
Któryż to z dawnych panów, ba, nawet dzisiejszych,<br>
Między szlachtą w powiecie nieco zamożniejszych,<br>
Dba o podobne fraszki? Przecież są w estymie<br>
U ludzi, bo szanujem w nich ród, dobre imię<br>
Albo urząd, lecz ziemski, przyznany wyborem<br>
Obywatelskim, nie zaś czyimś tam faworem”.
</p>

<p>
Telimena przerwała: „Jeśli Brat tak myśli,<br>
Tem lepiej, więc go jako wojażera wyślij”.<br>
„Widzi Siostra — rzekł Sędzia, skrobiąc smutnie głowę —<br>
Chciałbym bardzo, cóż, kiedy mam trudności nowe!<br>
Pan Jacek nie wypuszcza z opieki swej syna<br>
I przysłał mi tu właśnie na kark bernardyna<br>
Robaka, który przybył z tamtej strony Wisły;<br>
Przyjaciel brata, wszystkie wie jego zamysły;<br>
A więc o Tadeusza już wyrzekli losie<br>
I chcą, by się ożenił, aby pojął Zosię,<br>
Wychowankę Wać Pani; oboje dostaną,<br>
Oprocz fortunki mojej, z łaski Jacka wiano<br>
W kapitałach; wiesz Aśćka, że ma kapitały,<br>
I z łaski jego mam też fundusz prawie cały,<br>
Ma więc prawo rozrządzać. — Aśćka pomyśl o tem,<br>
Żeby się to zrobiło z najmniejszym kłopotem.<br>
Trzeba ich z sobą poznać. Prawda, bardzo młodzi,<br>
Szczególnie Zosia mała, lecz to nic nie szkodzi;<br>
Czas by już Zośkę wreszcie wydobyć z zamknięcia,<br>
Bo wszakci to już pono wyrasta z dziecięcia”.
</p>

<p>
Telimena, zdziwiona i prawie wylękła,<br>
Podnosiła się coraz, na szalu uklękła;<br>
Zrazu słuchała pilnie, potem dłoni ruchem<br>
Przeczyła, ręką żwawo wstrząsając nad uchem,<br>
Odpędzając jak owad nieprzyjemne słowa<br>
Na powrót w usta mówcy.<br>
„A! a! to rzecz nowa!<br>
Czy to Tadeuszowi szkodzi, czy nie szkodzi —<br>
Rzekła z gniewem — sądź o tem sam Wać Pan Dobrodziéj!<br>
Mnie nic do Tadeusza; sami o nim radźcie,<br>
Zróbcie go ekonomem lub w karczmie posadźcie,<br>
Niech szynkuje lub z lasu niech źwierzynę znosi;<br>
Z nim sobie, co zechcecie, zróbcie; lecz do Zosi?<br>
Co Wać Państwu do Zosi? Ja jej ręką rządzę,<br>
Ja sama! Że pan Jacek dawał był pieniądze<br>
Na wychowanie Zosi i że jej wyznaczył<br>
Małą pensyjkę roczną, więcej przyrzec raczył,<br>
Toć jej jeszcze nie kupił. Zresztą Państwo wiecie,<br>
I dotąd jeszcze o tem wiadomo na świecie,<br>
Że hojność Państwa dla nas nie jest bez powodu...<br>
Winni coś Soplicowie dla Horeszków rodu”.
</p>

<p>
(Tej części mowy Sędzia słuchał z niepojętem<br>
Pomieszaniem, żałością i widocznym wstrętem;<br>
Jakby lękał się reszty mowy, głowę skłonił<br>
I ręką potakując, mocno się zapłonił).
</p>

<p>
Telimena kończyła: „Byłam jej piastunką,<br>
Jestem krewną, jedyną Zosi opiekunką.<br>
Nikt oprócz mnie nie będzie myślił o jej szczęściu”.<br>
„A jeśli ona szczęście znajdzie w tym zamęściu? —<br>
Rzekł Sędzia wzrok podnosząc. — Jeśli Tadeuszka<br>
Podoba?” — „Czy podoba? To na wierzbie gruszka;<br>
Podoba, nie podoba, a to mi rzecz ważna!<br>
Zosia nie będzie, prawda, partyja posażna;<br>
Ale też nie jest z lada wsi, lada szlachcianka,<br>
Idzie z Jaśnie Wielmożnych, jest Wojewodzianka,<br>
Rodzi się z Horeszkówny; małżonka dostanie!<br>
Staraliśmy się tyle o jej wychowanie!<br>
Chybaby tu zdziczała”.<br>
Sędzia pilnie słuchał,<br>
Patrząc w oczy; zdało się, że się udobruchał,<br>
Bo rzekł dosyć wesoło: „No, to i cóż robić!<br>
Bóg widzi, szczerze chciałem interesu dobić;<br>
Tylko bez gniewu; jeśli Aśćka się nie zgodzi,<br>
Aśćka ma prawo; smutno — gniewać się nie godzi;<br>
Radziłem, bo brat kazał; nikt tu nie przymusza;<br>
Gdy Aśćka rekuzuje pana Tadeusza,<br>
Odpisuję Jackowi, że nie z mojej winy<br>
Nie dojdą Tadeusza z Zosią zaręczyny.<br>
Teraz sam będę radzić; pono z Podkomorzym<br>
Zagaimy swatostwo i resztę ułożym”.
</p>

<p>
Przez ten czas Telimena ostygła z zapału:<br>
„Ja nic nie rekuzuję, Braciszku, pomału!<br>
Sam mówiłeś, że jeszcze za wcześnie, zbyt młodzi-<br>
Rozpatrzmy się, czekajmy, nic to nie zaszkodzi,<br>
Poznajmy z sobą państwa młodych; będziem zważać;<br>
Nie można szczęścia drugich tak na traf narażać.<br>
Ostrzegam tylko wcześnie: niech Brat Tadeusza<br>
Nie namawia, kochać się w Zosi nie przymusza,<br>
Bo serce nie jest sługa, nie zna, co to pany,<br>
I nie da się przemocą okuwać w kajdany”.
</p>

<p>
Zaczem Sędzia, powstawszy, odszedł zamyślony;<br>
Pan Tadeusz z przeciwnej przybliżył się strony.<br>
Udając, że szukanie grzybów tam go zwabia;<br>
W tymże kierunku z wolna posuwa się Hrabia.
</p>

<p>
Hrabia podczas Sędziego sporów z Telimeną<br>
Stał za drzewami, mocno zdziwiony tą sceną;<br>
Dobył z kieszeni papier i ołówek, sprzęty,<br>
Które zawsze miał z sobą, i na pień wygięty<br>
Rozpiąwszy kartkę, widać, że obraz malował,<br>
Mówiąc sam z sobą: „Jakbyś umyślnie grupował:<br>
Ten na głazie, ta w trawie, grupa malownicza!<br>
Głowy charakterowe! Z kontrastem oblicza”.
</p>

<p>
Podchodził, wstrzymywał się, lornetkę przecierał,<br>
Oczy chustką obwiewał i coraz spozierał:<br>
„Miałożby to cudowne, śliczne widowisko<br>
Zginąć albo zmienić się, gdy podejdę blisko?<br>
Ten aksamit traw będzież to mak i botwinie?<br>
W nimfie tej czyż obaczę jaką ochmistrzynię?”
</p>

<p>
Choć Hrabia Telimenę już dawniej widywał<br>
W domu Sędziego, w którym dosyć często bywał,<br>
Lecz mało ją uważał; zadziwił się zrazu,<br>
Rozeznając w niej model swojego obrazu.<br>
Miejsca piękność, postawy wdzięk i gust ubrania<br>
Zmieniły ją, zaledwie była do poznania.<br>
W oczach świeciły jeszcze niezagasłe gniewy;<br>
Twarz ożywiona wiatru świeżemi powiewy,<br>
Sporem z Sędzią i nagłym przybyciem młodzieńców,<br>
Nabrała mocnych, żywszych niż zwykle rumieńców.
</p>

<p>
„Pani — rzekł Hrabia — racz mej śmiałości darować,<br>
Przychodzę i przepraszać, i razem dziękować.<br>
Przepraszać, że jej kroków śledziłem ukradkiem,<br>
I dziękować, że byłem jej dumania świadkiem;<br>
Tyle ją obraziłem! Winienem jej tyle!<br>
Przerwałem chwilę dumań: winienem ci chwile<br>
Natchnienia! chwile błogie! potępiaj człowieka,<br>
Ale sztukmistrz twojego przebaczenia czeka!<br>
Na wielem się odważył, na więcej odważę!<br>
Sądź!” — tu ukląkł i podał swoje peizaże.
</p>

<p>
Telimena sądziła malowania proby<br>
Tonem grzecznej, lecz sztukę znającej osoby;<br>
Skąpa w pochwały, lecz nie szczędziła zachętu:<br>
„Brawo — rzekła — winszuję, niemało talentu.<br>
Tylko Pan nie zaniedbuj; szczególniej potrzeba<br>
Szukać pięknej natury! O, szczęśliwe nieba<br>
Krajów włoskich! różowe Cezarów ogrody!<br>
Wy, klasyczne Tyburu spadające wody<br>
I straszne Pauzylipu skaliste wydroże!<br>
To, Hrabio, kraj malarzów! U nas, żal się Boże!<br>
Dziecko muz, w Soplicowie oddane na mamki,<br>
Umrze pewnie. Mój Hrabio, oprawię to w ramki<br>
Albo w album umieszczę do rysunków zbiorku,<br>
Które zewsząd skupiałam: mam ich dosyć w biorku”.
</p>

<p>
Zaczęli więc rozmowę o niebios błękitach,<br>
Morskich szumach i wiatrach wonnych, i skał szczytach,<br>
Mieszając tu i ówdzie, podróżnych zwyczajem,<br>
Śmiech i urąganie się nad ojczystym krajem.
</p>

<p>
A przecież wokoło nich ciągnęły się lasy<br>
Litewskie! tak poważne i tak pełne krasy! —<br>
Czeremchy oplatane dzikich chmielów wieńcem,<br>
Jarzębiny ze świeżym pasterskim rumieńcem,<br>
Leszczyna jak menada z zielonemi berły,<br>
Ubranemi, jak w grona, w orzechowe perły;<br>
A niżej dziatwa lesna: głóg w objęciu kalin,<br>
Ożyna czarne usta tuląca do malin.<br>
Drzewa i krzewy liśćmi wzięły się za ręce<br>
Jak do tańca stające panny i młodzieńce<br>
Wkoło pary małżonków. Stoi pośród grona<br>
Para, nad całą leśną gromadą wzniesiona<br>
Wysmukłością kibici i barwy powabem:<br>
Brzoza biała, kochanka, z małżonkiem swym grabem.<br>
A dalej, jakby starce na dzieci i wnuki,<br>
Patrzą siedząc w milczeniu: tu sędziwe buki,<br>
Tam matrony topole i mchami brodaty<br>
Dąb, włożywszy pięć wieków na swój kark garbaty,<br>
Wspiera się, jak na grobów połamanych słupach,<br>
Na dębów, przodków swoich, skamieniałych trupach.
</p>

<p>
Pan Tadeusz kręcił się nudząc niepomału<br>
Długą rozmową, w której nie mógł brać udziału;<br>
Aż gdy zaczęto sławić cudzoziemskie gaje<br>
I wyliczać z kolei wszystkich drzew rodzaje:<br>
Pomarańcze, cyprysy, oliwki, migdały,<br>
Kaktusy, aloesy, mahonie, sandały,<br>
Cytryny, bluszcz, orzechy włoskie, nawet figi,<br>
Wysławiając ich kształty, kwiaty i łodygi —<br>
Tadeusz nie przestawał dąsać się i zżymać,<br>
Na koniec nie mógł dłużej od gniewu wytrzymać.
</p>

<p>
Był on prostak, lecz umiał czuć wdzięk przyrodzenia<br>
I patrząc w las ojczysty rzekł, pełen natchnienia:<br>
„Widziałem w botanicznym wileńskim ogrodzie<br>
Owe sławione drzewa rosnące na wschodzie<br>
I na południu, w owej pięknej włoskiej ziemi;<br>
Któreż równać się może z drzewami naszemi?<br>
Czy aloes z długiemi jak konduktor pałki?<br>
Czy cytryna, karlica z złocistemi gałki,<br>
Z liściem lakierowanym, krótka i pękata<br>
Jako kobieta mała, brzydka, lecz bogata?<br>
Czy zachwalony cyprys, długi, cienki, chudy,<br>
Co zdaje się być drzewem nie smutku, lecz nudy?<br>
Mówią, że bardzo smutnie wygląda na grobie:<br>
Jest to jak lokaj Niemiec we dworskiej żałobie,<br>
Nie śmiejący rąk podnieść ani głowy skrzywić,<br>
Aby się etykiecie niczem nie sprzeciwić.
</p>

<p>
Czyż nie piękniejsza nasza poczciwa brzezina,<br>
Która jako wieśniaczka, kiedy płacze syna,<br>
Lub wdowa męża, ręce załamie, roztoczy<br>
Po ramionach do ziemi strumienie warkoczy!<br>
Niema z żalu, postawą jak wymownie szlocha!<br>
Czemuż Pan Hrabia, jeśli w malarstwie się kocha,<br>
Nie maluje drzew naszych, pośród których siedzi?<br>
Prawdziwie, będą z Pana żartować sąsiedzi,<br>
Że mieszkając na żyznej litewskiej równinie,<br>
Malujesz tylko jakieś skały i pustynie”.
</p>

<p>
„Przyjacielu! — rzekł Hrabia — piękne przyrodzenie<br>
Jest formą, tłem, materią, a duszą natchnienie,<br>
Które na wyobraźni unosi się skrzydłach,<br>
Poleruje się gustem, wspiera na prawidłach.<br>
Nie dość jest przyrodzenia, nie dosyć zapału,<br>
Sztukmistrz musi ulecieć w sfery ideału!<br>
Nie wszystko, co jest piękne, wymalować da się!<br>
Dowiesz się o tem wszystkim z książek w swoim czasie.<br>
Co się tycze malarstwa: do obrazu trzeba<br>
Punktów widzenia, grupy, ansemblu i nieba,<br>
Nieba włoskiego! Stąd też w kunszcie peizażów<br>
Włochy były, są, będą, ojczyzną malarzów.<br>
Stąd też, oprócz Brejgela, lecz nie Van der Helle,<br>
Ale peizażysty (bo są dwaj Brejgele),<br>
I oprócz Ruisdala, na całej północy<br>
Gdzież był peizażysta który pierwszej mocy?<br>
Niebios, niebios potrzeba!”<br>
„Nasz malarz Orłowski —<br>
Przerwała Telimena — miał gust Soplicowski.<br>
(Trzeba wiedzieć, że to jest Sopliców choroba,<br>
Że im oprócz Ojczyzny nic się nie podoba).<br>
Orłowski, który życie strawił w Peterburku,<br>
Sławny malarz (mam jego kilka szkiców w biórku),<br>
Mieszkał tuż przy Cesarzu, na dworze, jak w raju,<br>
A nie uwierzy Hrabia, jak tęsknił po kraju!<br>
Lubił ciągle wspominać swej młodości czasy,<br>
Wysławiał wszystko w Polszcze: ziemię, niebo, lasy...”
</p>

<p>
„I miał rozum! — zawołał Tadeusz z zapałem. —<br>
Te Państwa niebo włoskie, jak o niem słyszałem,<br>
Błękitne, czyste, wszak to jak zamarzła woda!<br>
Czyż nie piękniejsze stokroć wiatr i niepogoda?<br>
U nas dość głowę podnieść: ileż to widoków!<br>
Ileż scen i obrazów z samej gry obłoków!<br>
Bo każda chmura inna: na przykład jesienna<br>
Pełźnie jak żółw leniwa, ulewą brzemienna<br>
I z nieba aż do ziemi spuszcza długie smugi<br>
Jak rozwite warkocze, to są deszczu strugi;<br>
Chmura z gradem jak balon szybko z wiatrem leci,<br>
Krągła, ciemnobłękitna, w środku żółto świeci,<br>
Szum wielki słychać wkoło. Nawet te codzienne,<br>
Patrzcie Państwo, te białe chmurki, jak odmienne!<br>
Zrazu jak stada dzikich gęsi lub łabędzi,<br>
A z tyłu wiatr jak sokoł do kupy je pędzi;<br>
Ściskają się, grubieją, rosną, nowe dziwy!<br>
Dostają krzywych karków, rozpuszczają grzywy,<br>
Wysuwają nóg rzędy i po niebios sklepie<br>
Przelatują jak tabun rumaków po stepie:<br>
Wszystkie białe jak srebro, zmieszały się — nagle<br>
Z ich karków rosną maszty, z grzyw szerokie żagle,<br>
Tabun zmienia się w okręt i wspaniale płynie<br>
Cicho, z wolna, po niebios błękitnej równinie!”
</p>

<p>
Hrabia i Telimena poglądali w górę;<br>
Tadeusz jedną ręką pokazał im chmurę,<br>
A drugą ścisnął z lekka rączkę Telimeny.<br>
Kilka już upłynęło minut cichej sceny;<br>
Hrabia rozłożył papier na swym kapeluszu<br>
I wydobył ołówek. Wtem przykry dla uszu<br>
Odezwał się dzwon dworski i zaraz śród lasu<br>
Cichego pełno było krzyku i hałasu.
</p>

<p>
Hrabia kiwnąwszy głową rzekł poważnym tonem:<br>
„Tak to na świecie wszystko los zwykł kończyć dzwonem.<br>
Rachunki myśli wielkiej, plany wyobraźni,<br>
Zabawki niewinności, uciechy przyjaźni,<br>
Wylania się serc czułych! — gdy śpiż z dala ryknie,<br>
Wszystko miesza się, zrywa, mąci się i niknie!”<br>
Tu obróciwszy czuły wzrok ku Telimenie:<br>
„Cóż zostaje?” — a ona mu rzekła: „Wspomnienie!”<br>
I chcąc Hrabiego nieco ułagodzić smutek,<br>
Podała mu urwany kwiatek niezabudek.<br>
Hrabia go ucałował i na pierś przyśpilał;<br>
Tadeusz z drugiej strony krzak ziela rozchylał,<br>
Widząc, że się ku niemu tem zielem przewija<br>
Coś białego: była to rączka jak lilija;<br>
Pochwycił ją, całował i usty po cichu<br>
Utonął w niej jak pszczoła w liliji kielichu;<br>
Uczuł na ustach zimno; znalazł klucz i biały<br>
Papier w trąbkę zwiniony, był to listek mały;<br>
Porwał, schował w kieszenie, nie wie, co klucz znaczy,<br>
Lecz mu to owa biała kartka wytłumaczy.
</p>

<p>
Dzwon wciąż dzwonił, i echem z głębi cichych lasów<br>
Odezwało się tysiąc krzyków i hałasów;<br>
Odgłos to był szukania i nawoływania,<br>
Hasło zakończonego na dziś grzybobrania.<br>
Odgłos nie smutny wcale ani pogrzebowy,<br>
Jak się Hrabiemu zdało, owszem, obiadowy.<br>
Dzwon ten, w każde południe krzyczący z poddasza,<br>
Gości i czeladź domu na obiad zaprasza:<br>
Tak było w dawnych licznych dworach we zwyczaju<br>
I zostało się w domu Sędziego.<br>
Więc z gaju<br>
Wychodziła gromada niosąca krobeczki,<br>
Koszyki, uwiązane końcami chusteczki,<br>
Pełne grzybów; a panny w jednym ręku niosły,<br>
Jako wachlarz zwiniony, <strong>borowik</strong> rozrosły,<br>
W drugim związane razem, jakby polne kwiatki,<br>
<strong>Opieńki</strong> i rozlicznej barwy <strong>surojadki</strong>:<br>
Wojski miał <strong>muchomora</strong>. Z próżnemi przychodzi<br>
Rękami Telimena, z nią panicze młodzi.
</p>

<p>
Goście weszli w porządku i stanęli kołem.<br>
Podkomorzy najwyższe brał miejsce za stołem;<br>
Z wieku mu i z urzędu ten zaszczyt należy.<br>
Idąc kłaniał się starcom, damom i młodzieży;<br>
Obok stał Kwestarz; Sędzia tuż przy Bernardynie.<br>
Bernardyn zmówił krótki pacierz po łacinie,<br>
Podano w kolej wódkę, zaczem wszyscy siedli<br>
I chołodziec litewski milczkiem żwawo jedli.
</p>

<p>
Obiadowano ciszej, niż się zwykle zdarza;<br>
Nikt nie gadał pomimo wezwań gospodarza.<br>
Strony biorące udział w wielkiej o psów zwadzie<br>
Myśliły o jutrzejszej walce i zakładzie;<br>
Myśl wielka zwykle usta do milczenia zmusza.<br>
Telimena, mówiąca wciąż do Tadeusza,<br>
Musiała ku Hrabiemu nieraz się odwrócić,<br>
Nawet na Asesora nieraz okiem rzucić:<br>
Tak ptasznik patrzy w sidło, kędy szczygły zwabia,<br>
I razem w pastkę wróbla. Tadeusz i Hrabia,<br>
Obadwa radzi z siebie, obadwa szczęśliwi,<br>
Oba pełni nadziei, więc nie gadatliwi.<br>
Hrabia na kwiatek dumne opuszczał wejrzenie,<br>
A Tadeusz ukradkiem spozierał w kieszenie,<br>
Czy ów kluczyk nie uciekł; ręką nawet chwytał<br>
I kręcił kartkę, której dotąd nie przeczytał.<br>
Sędzia Podkomorzemu węgrzyna, szampana<br>
Dolewał, służył pilnie, ściskał za kolana,<br>
Ale do rozmawiania z nim nie miał ochoty<br>
I widać, że czuł jakieś tajemne kłopoty.
</p>

<p>
Przemijały w milczeniu talerze i dania;<br>
Przerwał nareszcie nudny tok obiadowania<br>
Gość niespodziany, szybko wpadając — gajowy;<br>
Nie zważał nawet, że czas właśnie obiadowy,<br>
Podbiegł do Pana; widać z postawy i z miny,<br>
Że ważnej i niezwykłej jest posłem nowiny.<br>
Ku niemu oczy całe zwróciło zebranie;<br>
On, odetchnąwszy nieco, rzekł: „Niedźwiedź, Mospanie!”
</p>

<p>
Resztę wszyscy odgadli: że zwierz z <strong>matecznika</strong><br>
Wyszedł, że w Zaniemeńską Puszczę się przemyka,<br>
Że go trzeba wnet ścigać, wszyscy wraz uznali,<br>
Choć ani się radzili, ani namyślali.<br>
Spólną myśl widać było z uciętych wyrazów,<br>
Z gestów żywych, z wydanych rozlicznych rozkazów,<br>
Które, wychodząc tłumnie, razem z ust tak wielu,<br>
Dążyły przecież wszystkie do jednego celu.
</p>

<p>
„Na wieś! — zawołał Sędzia — hej! konno, setnika!<br>
Jutro na brzask obława, lecz na ochotnika;<br>
Kto wystąpi z oszczepem, temu z robocizny<br>
Wytrącić dwa szarwarki i pięć dni pańszczyzny”.
</p>

<p>
„W skok — krzyknął Podkomorzy — okulbaczyć siwą,<br>
Dobiec w cwał do mojego dworu; wziąć co żywo<br>
Dwie pjawki, które w całej okolicy słyną:<br>
Pies zowie się Sprawnikiem, a suka Strapczyną;<br>
Zakneblować im pyski, zawiązać je w miechu<br>
I przystawić je tutaj konno dla pośpiechu”.<br>
„Wańka!” — krzyknął na chłopca Asesor po rusku —<br>
Tasak mój Sanguszowski pociągnąć na brusku,<br>
Wiesz, tasak, co od Księcia miałem w podarunku;<br>
Pas opatrzyć, czy kula jest w każdym ładunku”.<br>
„Strzelby — krzyknęli wszyscy — mieć na pogotowiu!”<br>
Asesor wołał ciągle: „Ołowiu, ołowiu!<br>
Formę do kul mam w torbie”. „Do księdza plebana<br>
Dać znać — dodał pan Sędzia — żeby jutro z rana<br>
Mszę miał w kaplicy lesnej; króciochna oferta<br>
Za myśliwych, msza zwykła świętego Huberta”.
</p>

<p>
Po wydanych rozkazach nastało milczenie;<br>
Każdy dumał i rzucał dokoła wejrzenie,<br>
Jak gdyby kogoś szukał; z wolna wszystkich oczy<br>
Sędziwa twarz Wojskiego ciągnie i jednoczy:<br>
Znak to był, że szukają na przyszłą wyprawę<br>
Wodza i że Wojskiemu oddają buławę.<br>
Wojski powstał, zrozumiał towarzyszów wolę<br>
I uderzywszy ręką poważnie po stole,<br>
Pociągnął złocistego z zanadrza łańcuszka,<br>
Na którym wisiał gruby zegarek jak gruszka:<br>
„Jutro — rzekł — pół do piątej przy lesnej kaplicy<br>
Stawią się bracia strzelcy, wiara obławnicy”.
</p>

<p>
Rzekł i ruszył od stołu, za nim szedł gajowy;<br>
Oni obmyślić mają i urządzić łowy.
</p>

<p>
Tak wodze gdy na jutro bitwę zapowiedzą,<br>
Żołnierze po obozie broń czyszczą i jedzą<br>
Lub na płaszczach i siodłach śpią próżni kłopotu,<br>
A wodze wśród cichego dumają namiotu.
</p>

<p>
Przerwał się obiad, dzień zszedł na kowaniu koni,<br>
Karmieniu psów, zbieraniu i czyszczeniu broni;<br>
U wieczerzy zaledwie kto przysiadł do stoła;<br>
Nawet strona Kusego z partyją Sokoła<br>
Przestała dawnym wielkim zatrudniać się sporem:<br>
Pobrawszy się pod ręce Rejent z Asesorem<br>
Wyszukują ołowiu. Reszta, spracowana,<br>
Szła spać wcześnie, ażeby przebudzić się z rana.
</p>