
<h3>KSIĘGA DZIESIĄTA</h3>

<h4>EMIGRACJA. JACEK</h4>

<p class="streszczenie">
Narada tycząca się zabezpieczenia losu zwycięzców<br>
Układy z Rykowem<br>
Pożegnanie<br>
Ważne odkrycie<br>
Nadzieja
</p>

<p>
Owe obłoki ranne, zrazu rozpierzchnione<br>
Jak czarne ptaki, lecąc w wyższą nieba stronę,<br>
Coraz się zgromadzały; ledwie słońce zbiegło<br>
Z południa, już ich stado pół niebios obległo<br>
Ogromną chmurą; wiatr ją pędził coraz chyżej,<br>
Chmura coraz gęstniała, zwieszała się niżej,<br>
Aż jedną stroną na wpół od niebios oddarta,<br>
Ku ziemi wychylona i wszerz rozpostarta,<br>
Jak wielki żagiel, biorąc wszystkie wiatry w siebie,<br>
Od południa na zachód leciała po niebie.
</p>

<p>
I była chwila ciszy; i powietrze stało<br>
Głuche, milczące, jakby z trwogi oniemiało.<br>
I łany zbóż, co wprzódy, kładąc się na ziemi<br>
I znowu w górę trzęsąc kłosami złotemi,<br>
Wrzały jak fale, teraz stoją nieruchome<br>
I poglądają w niebo najeżywszy słomę.<br>
I zielone przy drogach wierzby i topole,<br>
Co pierwej, jako płaczki przy grobowym dole,<br>
Biły czołem, długiemi kręciły ramiony,<br>
Rozpuszczając na wiatry warkocz posrebrzony —<br>
Teraz jak martwe, z niemej wyrazem żałoby,<br>
Stoją na kształt posągów sypilskiej Nioby.<br>
Jedna osina drżąca wstrząsa liście siwe.
</p>

<p>
Bydło, zwykle do domu powracać leniwe,<br>
Teraz zbiega się tłumnie, pasterzy nie czeka<br>
I opuszczając strawę, do domu ucieka.<br>
Buhaj racicą ziemię kopie, orze rogiem<br>
I całą trzodę straszy ryczeniem złowrogiem;<br>
Krowa coraz ku niebu wznosi wielkie oko,<br>
Usta z dziwu otwiera i wzdycha głęboko;<br>
A wieprz marudzi w tyle, dąsa się i zgrzyta,<br>
I snopy zboża kradnie, i na zapas chwyta.
</p>

<p>
Ptastwo skryło się w lasy, pod strzechy, w głąb trawy;<br>
Tylko wrony, stadami obstąpiwszy stawy,<br>
Przechadzają się sobie poważnemi kroki,<br>
Czarne oczy kierują na czarne obłoki;<br>
Wytknąwszy język z suchej, szerokiej gardzieli<br>
I skrzydła roztaczając, czekają kąpieli;<br>
Lecz i te, przewidując nazbyt mocną burzę,<br>
Już w las ciągną, podobne wznoszącej się chmurze.<br>
Ostatnia z ptaków, lotem nieścigłym zuchwała<br>
Jaskółka, czarny obłok przeszywa jak strzała,<br>
Wreszcie spada jak kula.
</p>

<p>
Właśnie w owej chwili<br>
Szlachta z Moskwą okropną walkę zakończyli<br>
I chronią się gromadnie w domy i stodoły,<br>
Opuszczają plac boju, gdzie wkrótce żywioły<br>
Stoczą walkę.
</p>

<p>
<br>
Na zachód,  jeszcze ozłocona ziemia słońcem ozłocona<br>
świeciła się ponuro, żółtawo-czerwona;<br>
Już chmura, roztaczając cienie na kształt sieci,<br>
Wyławia resztki światła, a za słońcem leci,<br>
Jak gdyby je pochwycić chciała przed zachodem.<br>
Kilka wichrów raz po raz prześwisnęło spodem,<br>
Jeden za drugim lecą, miecąc krople dżdżyste,<br>
Wielkie, jasne, okrągłe, jak grady ziarniste.
</p>

<p>
Nagle wichry zwarły się, porwały się wpoły,<br>
Borykają się, kręcą, świszczącemi koły<br>
Krążą po stawach, mącą do dna wody w stawach;<br>
Wpadli na łąki, świszczą po łozach i trawach,<br>
Pryskają łóz gałęzie, lecą traw przekosy<br>
Na wiatr, jako garściami wyrywane włosy,<br>
Zmieszane z kędziorami snopów; wiatry wyją,<br>
Upadają na rolę, tarzają się, ryją,<br>
Rwą skiby, robią otwor wichrowi trzeciemu,<br>
Który wydarł się z roli jak słup czarnoziemu,<br>
Wznosi się, jak ruchoma piramida toczy,<br>
Łbem grunt wierci, z nóg piasek sypie gwiazdom w oczy,<br>
Co krok wszerz wydyma się, roztwiera ku górze<br>
I ogromną swą trąbą otrębuje burzę.<br>
Aż z całym tym chaosem wody i kurzawy,<br>
Słomy, liścia, gałęzi, wydartej murawy,<br>
Wichry w las uderzyły i po głębiach puszczy<br>
Ryknęły jak niedźwiedzie.
</p>

<p>
A już deszcz wciąż pluszczy,<br>
Jak z sita, w gęstych kroplach; wtem rykły pioruny,<br>
Krople zlały się razem; to jak proste stróny<br>
Długim warkoczem wiążą niebiosa do ziemi,<br>
To jak z wiader buchają warstami całemi.<br>
Już zakryły się całkiem niebiosa i ziemia,<br>
Noc je z burzą od nocy czarniejszą zaciemia.<br>
Czasem widnokrąg pęka od końca do końca,<br>
I anioł burzy na kształt niezmiernego słońca<br>
Rozświeci twarz, i znowu, okryty całunem,<br>
Uciekł w niebo i drzwi chmur zatrzasnął piorunem.<br>
Znowu wzmaga się burza, ulewa nawalna<br>
I ciemność gruba, gęsta, prawie dotykalna.<br>
Znowu deszcz ciszej szumi, grom na chwilę uśnie;<br>
Znowu wzbudzi się, ryknie i znów wodą chluśnie.<br>
Aż się uspokoiło wszystko; tylko drzewa<br>
Szumią około domu i szemrze ulewa.
</p>

<p>
W takim dniu pożądany był czas najburzliwszy;<br>
Bo nawalnica, boju plac mrokiem okrywszy,<br>
Zalała drogi, mosty zerwała na rzece,<br>
Z folwarku niedostępną zrobiła fortecę.<br>
O tem więc, co się działo w obozie Soplicy,<br>
Dziś nie mogła rozejść się wieść po okolicy,<br>
A właśnie zawisł szlachty los od tajemnicy.
</p>

<p>
W izbie Sędziego ważne toczą się narady;<br>
Bernardyn leżał w łóżku, zmordowany, blady<br>
I skrwawiony, lecz całkiem zdrowy na umyśle,<br>
Daje rozkazy, Sędzia wypełnia je ściśle.<br>
Prosi Podkomorzego, przyzywa Klucznika,<br>
Każe przywieść Rykowa, potem drzwi zamyka.<br>
Godzinę całą trwały tajemne rozmowy,<br>
Aż je przerwał kapitan Ryków temi słowy,<br>
Rzucając na stół kiesę ciężką dukatami:<br>
„Państwo Lachy, już jest ta gadka między wami,<br>
Że każdy Moskal złodziej; powiedzcież, kto spyta,<br>
Że znaliście Moskala, który zwan Nikita<br>
Nikitycz Ryków, rotny kapitan, miał osim<br>
Medalów i trzy krzyże — to pamiętać prosim:<br>
Ten medal za Oczaków, ten za Izmaiłów,<br>
Ten za bitwę pod Nowi, ten za Prejsiż-Iłów,<br>
Tamten za Korsakowa sławną rejteradę<br>
Spod Zurich; a miał także i za męstwo szpadę,<br>
Także od Feldmarszałka trzy zadowolnienia,<br>
Dwie pochwały cesarskie i cztery wspomnienia,<br>
Wszystko na piśmie”.
</p>

<p>
„Ale, ale, Kapitanie —<br>
Przerwał Robak — i cóż się tedy z nami stanie,<br>
Jeśli nie chcesz zgodzić się? Wszakże dałeś słowo<br>
Załatwić tę rzecz”.
</p>

<p>
„Prawda, słowo dam na nowo —<br>
Rzecze Ryków — ot, słowo! Co po waszej zgubie?<br>
Ja człek poczciwy, ja was, Państwo Lachy, lubię,<br>
Że wy ludzie weseli, dobrzy do wypitki,<br>
I także ludzie śmiali, dobrzy do wybitki.<br>
U nas ruskie przysłowie: Kto na wozie jedzie,<br>
Bywa często pod wozem; kto dzisiaj na przedzie,<br>
Jutro w tyle; dziś bijesz, jutro ciebie biją;<br>
Czy o to gniew? Tak u nas po żołniersku żyją.<br>
Skąd by się człowiekowi tyle złości wzięło<br>
Gniewać się o przegranę! Oczakowskie dzieło<br>
Było krwawe, pod Zurich zbili nam piechotę,<br>
Pod Austerlicem całą utraciłem rotę;<br>
A pierwej wasz Kościuszko pod Racławicami —<br>
Byłem sierżantem — wysiekł mój pluton kosami.<br>
I cóż stąd? To ja znowu u Maciejowiców<br>
Zabiłem własnym sztykiem dwóch dzielnych szlachciców:<br>
Jeden był Mokronowski, szedł z kosą przed frontem<br>
I kanonijerowi uciął rękę z lontem.<br>
Oj! wy Lachy! Ojczyzna! ja to wszystko czuję,<br>
Ja Ryków; car tak każe, a ja was żałuję;<br>
Co nam do Lachów? Niechaj Moskwa dla Moskala,<br>
Polska dla Lacha; ale cóż? Car nie pozwala!”
</p>

<p>
Sędzia mu na to rzecze: „Panie Kapitanie,<br>
Żeś człek poczciwy, wiedzą to wszyscy ziemianie,<br>
U których na kwaterach stałeś od lat wielu;<br>
Za ten dar nie gniewaj się, dobry przyjacielu,<br>
Nie chcieliśmy cię skrzywdzić; te oto dukaty<br>
Śmieliśmy złożyć, wiedząc, żeś człek niebogaty”.
</p>

<p>
„Ach, jegry! — wołał Ryków — cała rota skłuta!<br>
Moja rota! A wszystko z winy tego Płuta!<br>
On komendant, on za to przed carem odpowie.<br>
A wy te grosze sobie zabierzcie, Panowie.<br>
U mnie jest kapitański mój żołd lada jaki,<br>
A dosyć mnie na ponczyk i lulkę tabaki.<br>
A was lubię, że z wami sobie zjem, popiję,<br>
Pohulam, pogawędzę, i tak sobie żyję;<br>
Otóż ja was obronię i, jak będzie śledztwo,<br>
Słowo uczciwe, że dam za wami świadectwo.<br>
Powiemy, że my przyszli tu z wizytą, pili<br>
Sobie, tańczyli, trochę sobie podchmielili,<br>
A Płut przypadkiem ognia zakomenderował,<br>
Bitwa! i batalijon tak jakoś zmarnował.<br>
Wy, Pany, tylko śledztwo pomazujcie złotem,<br>
Będzie kręcić się. Ale teraz powiem o tem,<br>
Co już mówiłem temu szlachcicu, co długi<br>
Ma rapier, że Płut pierwszy komendant, ja drugi:<br>
Płut został żywy, może on wam zagiąć kruczka<br>
Takiego, że zginiecie, bo to chytra sztuczka;<br>
Trzeba mu gębę zatkać bankowym papierem.<br>
No i cóż, Panie szlachcic, ty z długim rapierem,<br>
Czy już byłeś u Płuta, czyś się z nim naradził?”
</p>

<p>
Gerwazy obejrzał się, łysinę pogładził,<br>
Kiwnął niedbale ręką, jak gdyby znać dawał,<br>
Że już wszystko załatwił. — Lecz Ryków nastawał:<br>
„Cóż, czy Płut będzie milczeć, czy słowem zaręczył?”
</p>

<p>
Klucznik zły, że go Ryków pytaniami dręczył,<br>
Poważnie palec wielki ku ziemi naginał,<br>
A potem machnął ręką, jak gdyby przecinał<br>
Dalszą rozmowę, i rzekł: „Klnę się Scyzorykiem,<br>
Że Płut nie wyda! gadać już nie będzie z nikim!”<br>
Potem dłonie opuścił i palcami chrząsnął,<br>
Jak gdyby tajemnicę całą z rąk wytrząsnął.
</p>

<p>
Ten ciemny gest pojęli słuchacze i stali,<br>
Patrząc z dziwem na siebie, wzajem się badali.<br>
I posępne milczenie trwało minut kilka,<br>
Aż Ryków rzekł: „Nosił wilk, ponieśli i wilka!”<br>
„Requiescat in pace” — dodał Podkomorzy.<br>
„Jużci — zakończył Sędzia — był w tem palec Boży!<br>
Lecz ja tej krwi nie winien, jam o tym nie wiedział”.
</p>

<p>
Ksiądz porwał się z poduszek i posępny siedział.<br>
Na koniec rzekł, spójrzawszy bystro na Klucznika:<br>
„Wielki grzech bezbronnego zabić niewolnika!<br>
Chrystus zabrania mścić się nawet i nad wrogiem!<br>
Oj, Kluczniku! odpowiesz ty ciężko przed Bogiem.<br>
Jedna jest restrykcyja: jeśli popełniono<br>
Nie z zemsty głupiej, ale pro publico bono”.<br>
Klucznik głową i ręką kiwał wyciągnioną<br>
I mrugając powtarzał: Pro publico bono!
</p>

<p>
Więcej nie było mowy o Płucie majorze;<br>
Nazajutrz daremnie go szukano we dworze,<br>
Daremnie wyznaczono za trupa nagrodę,<br>
Major zginął bez śladu, jak gdyby wpadł w wodę.<br>
Co się z nim stało, różnie powiadano o tem,<br>
Lecz nikt pewnie nie wiedział ni wtenczas, ni potem.<br>
Daremnie pytaniami Klucznika dręczono;<br>
Nic nie wyrzekł prócz tych słów: Pro publico bono.<br>
Wojski był w tajemnicy, lecz słowem ujęty<br>
Honorowym, staruszek milczał jak zaklęty.
</p>

<p>
Po zawarciu układów wyszedł z izby Ryków,<br>
A Robak kazał wezwać szlachtę wojowników,<br>
Do których Podkomorzy z powagą tak mówi:<br>
„Bracia! Bóg dziś naszemu szczęścił orężowi,<br>
Ale muszę Waćpaństwu wyznać bez ogródki,<br>
Że z tych niewczesnych bojów złe wynikną skutki;<br>
Zbłądziliśmy i nikt tu z nas nie jest bez winy:<br>
Ksiądz Robak, że zbyt czynnie rozszerzał nowiny,<br>
Klucznik i szlachta, że je pojęła opacznie.<br>
Wojna z Rosyją jeszcze nieprędko się zacznie,<br>
Tymczasem, kto miał udział najczynniejszy w bitwie,<br>
Ten nie może bezpieczny zostać się na Litwie;<br>
Musicie więc do Księstwa uciekać, Panowie,<br>
A mianowicie Maciej, co się Chrzciciel zowie,<br>
Tadeusz, Konew, Brzytew — niech unoszą głowy<br>
Za Niemen, gdzie ich czeka zastęp narodowy;<br>
My na was nieobecnych całą winę zwalim<br>
I na Płuta; tak resztę rodzeństwa ocalim.<br>
Żegnam was nie na długo; są pewne nadzieje,<br>
Że nam z wiosną swobody zorza zajaśnieje<br>
I Litwa, co was teraz żegna jak tułaczy,<br>
Wkrótce jako zwycięskich swych zbawców zobaczy.<br>
Sędzia wszystko, co trzeba, zgotuje na drogę<br>
I ja pieniędzmi, ile zdołam, dopomogę”.
</p>

<p>
Czuła szlachta, że mądrze Podkomorzy radził;<br>
Wiadomo, że kto z ruskim carem raz się zwadził,<br>
Ten już z nim na tej ziemi nie zgodzi się szczérze<br>
I musi albo bić się, albo gnić w Sybirze.<br>
Więc nic nie mówiąc, smutnie po sobie spójrzeli,<br>
Westchnęli; na znak zgody głowami skinęli.
</p>

<p>
Polak, chociaż stąd między narodami słynny,<br>
Że bardziej niźli życie kocha kraj rodzinny,<br>
Gotów zawżdy rzucić go, puścić się w kraj świata,<br>
W nędzy i poniewierce przeżyć długie lata,<br>
Walcząc z ludźmi i z losem, póki mu śród burzy<br>
Przyświeca ta nadzieja, że Ojczyźnie służy.
</p>

<p>
Oświadczyli, że zaraz wyjeżdżać gotowi.<br>
Tylko się to nie zdało panu Buchmanowi:<br>
Buchman, człowiek rozsądny, w bitwę się nie wmieszał,<br>
Ale słysząc, że radzą, głosować pośpieszał.<br>
Znajdował projekt dobrym, lecz chciał przeinaczyć,<br>
Dokładniej go rozwinąć, jaśniej wytłumaczyć,<br>
A naprzód komisyją legalnie wyznaczyć,<br>
Która by rozważyła emigracji cele,<br>
Środki, sposoby tudzież innych względów wiele;<br>
Nieszczęściem, krótkość czasu była na zawadzie,<br>
Że się nie stało zadość Buchmanowej radzie.<br>
Szlachta żegna się śpiesznie i już w drogę rusza.
</p>

<p>
Ale Sędzia zatrzymał w izbie Tadeusza<br>
I rzekł do Księdza: „Czas już, żebym ci powiedział<br>
To, o czem-em z pewnością wczoraj się dowiedział,<br>
Że nasz Tadeusz szczerze zakochany w Zosi;<br>
Niechajże przed odjazdem o rękę jej prosi;<br>
Mówiłem z Telimeną; już nam nie przeszkadza.<br>
Zosia także się z wolą opiekunów zgadza.<br>
Jeśli dziś ślubem pary nie możem uwieńczyć,<br>
Toćby ich, Panie Bracie, przynajmniej zaręczyć<br>
Przed odjazdem; bo serce młode i podróżne,<br>
Wiesz dobrze, jako miewa tentacyje różne;<br>
A wszakże kiedy okiem rzuci na pierścionek<br>
I przypomni młodzieniec, że już jest małżonek,<br>
Zaraz w nim obcych pokus ostyga gorączka.<br>
Wierzaj mi, wielką siłę ma ślubna obrączka.
</p>

<p>
Ja sam przed lat trzydziestu wielki afekt miałem<br>
Ku pannie Marcie, której serce pozyskałem;<br>
Byliśmy zaręczeni; Bóg nie błogosławił<br>
Związkowi temu i mnie sierotą zostawił,<br>
Wziąwszy do chwały swojej nadobną Wojszczankę,<br>
Przyjaciela mojego córę, Hreczeszankę.<br>
Pozostała mi tylko pamiątka jej cnoty,<br>
Jej wdzięków i ten oto ślubny pierścień złoty.<br>
Ilekroć nań spójrzałem, zawsze ma nieboga<br>
Stawała przed oczyma; i tak z łaski Boga<br>
Dotąd mej narzeczonej dochowałem wiary,<br>
I nie bywszy małżonkiem, jestem wdowiec stary,<br>
Chociaż Wojski ma drugą córę, dość nadobną<br>
I do mojej kochanej Marty dość podobną!”
</p>

<p>
To mówiąc, na pierścionek z czułością spozierał<br>
I odwróconą ręką łzy z oczu ocierał.<br>
„Bracie — kończył — co myślisz? Zrobim zaręczyny?<br>
On kocha, a mam słowo ciotki i dziewczyny”.
</p>

<p>
Lecz Tadeusz podbiega i z żywością mówi:<br>
„Czymże zdołam odwdzięczyć dobremu Stryjowi,<br>
Który tak o me szczęście ustawnie się trudzi!<br>
Ach, dobry Stryju! Byłbym najszczęśliwszy z ludzi,<br>
Gdyby mi Zosia była dzisiaj zaręczona,<br>
Gdybym wiedział, że to jest moja przyszła żona.<br>
Przecież powiem otwarcie: dziś te zaręczyny<br>
Do skutku przyjść nie mogą; są różne przyczyny...<br>
Nie pytaj więcej. Jeśli Zosia czekać raczy,<br>
Może mnie wkrótce lepszym, godniejszym obaczy,<br>
Może stałością na jej wzajemność zarobię,<br>
Może troszeczką sławy me imię ozdobię,<br>
Może wkrótce w ojczyste wrócim okolice;<br>
Wtenczas, Stryju, wspomnę ci twoje obietnice,<br>
Wtenczas na klęczkach drogą powitam Zosienkę<br>
I jeśli będzie wolna, poproszę o rękę;<br>
Teraz porzucam Litwę może na czas długi,<br>
Może Zosi tymczasem podobać się drugi;<br>
Więzić jej woli nie chcę; prosić o wzajemność,<br>
Na którąm nie zasłużył, byłaby nikczemność”.
</p>

<p>
Gdy te słowa z uczuciem mówił chłopiec młody,<br>
Zaświeciły mu, jako dwie wielkie jagody<br>
Pereł, dwie łzy na wielkich błękitnych źrenicach<br>
I stoczyły się szybko po rumianych licach.
</p>

<p>
Ale Zosia ciekawa z głębiny alkowy<br>
Śledziła przez szczelinę tajemne rozmowy;<br>
Słyszała, jak Tadeusz po prostu i śmiało<br>
Opowiedział swą miłość, serce w niej zadrżało,<br>
I widziała tych wielkich dwoje łez w źrenicach.<br>
Choć dojść nie mogła wątku w jego tajemnicach:<br>
Dlaczego ją pokochał? dlaczego porzuca?<br>
Gdzie odjeżdża? przecież ją ten odjazd zasmuca.<br>
Pierwszy raz posłyszała w życiu z ust młodziana<br>
Dziwną i wielką nowość, że była kochana.<br>
Biegła więc, gdzie stał mały domowy ołtarzyk,<br>
Wyjęła zeń obrazek i relikwijarzyk:<br>
Na obrazku tym była święta Genowefa,<br>
A w relikwiji suknia świętego Józefa<br>
Oblubieńca, patrona zaręczonej młodzi;<br>
I z temi świętościami do pokoju wchodzi.
</p>

<p>
„Pan odjeżdżasz tak prędko? Ja Panu na drogę<br>
Dam podarunek mały i także przestrogę:<br>
Niechaj Pan zawsze z sobą relikwije nosi<br>
I ten obrazek, a niech pamięta o Zosi.<br>
Niech Pana Pan Bóg w zdrowiu i szczęściu prowadzi<br>
I niech prędko szczęśliwie do nas odprowadzi”.
</p>

<p>
Umilkła i spuściła głowę; oczki modre<br>
Ledwie stuliła, z rzęsów pobiegły łzy szczodre,<br>
A Zosia z zamkniętymi stojąc powiekami,<br>
Milczała, sypiąc łzami jako brylantami.
</p>

<p>
Tadeusz, biorąc dary i całując rękę,<br>
Rzekł: „Pani! Już ja muszę pożegnać Panienkę;<br>
Bądź zdrowa, wspomnij o mnie i racz czasem zmówić<br>
Pacierz za mnie! Zofijo!...” Więcej nie mógł mówić.
</p>

<p>
Lecz Hrabia, z Telimeną wszedłszy niespodzianie,<br>
Uważał młodej pary czułe pożegnanie,<br>
Wzruszył się i rzuciwszy wzrok ku Telimenie:<br>
„Ileż — rzekł — jest piękności choć w tak prostej scenie!<br>
Kiedy dusza pasterki z wojownika duszą,<br>
Jak łódź z okrętem w burzy, rozłączyć się muszą!<br>
Zaiste! nic tak uczuć w sercu nie rozpala,<br>
Jako kiedy się serce od serca oddala.<br>
Czas jest to wiatr: on tylko małą świecę zdmuchnie,<br>
Wielki pożar od wiatru tem mocniej wybuchnie.<br>
I moje serce zdolne mocniej kochać z dala.<br>
Panie Soplico! Miałem ciebie za rywala;<br>
Ten błąd był jedną z przyczyn naszej smutnej zwady,<br>
Która mię przymusiła dostać na was szpady.<br>
Postrzegam błąd mój, boś ty wzdychał ku pasterce,<br>
Ja zaś tej pięknej Nimfie oddałem me serce.<br>
Niech we krwi wrogów nasze utoną urazy,<br>
Nie będziem się zbójczemi rozpierać żelazy.<br>
Niech się inaczej spór nasz zalotny rozstrzygnie:<br>
Walczmy, kto kogo czuciem miłości wyścignie!<br>
Zostawim oba drogie serc naszych przedmioty,<br>
Pośpieszymy obadwa na miecze, na groty;<br>
Walczmy z sobą stałością, żalem i cierpieniem,<br>
A wrogów naszych mężnym ścigajmy ramieniem”.<br>
Rzekł i na Telimenę spójrzał, ale ona<br>
Nic nie odpowiadała, strasznie zadziwiona.
</p>

<p>
„Mój Hrabio — przerwał Sędzia —<br>
po co chcesz koniecznie<br>
Wyjeżdżać? Wierz mi, w twoich dobrach siedź bezpiecznie.<br>
Szlachtę biedną rząd mógłby odrzeć i przechłostać,<br>
Ale ty, Hrabio, pewien jesteś cały zostać;<br>
Wiesz, w jakim rządzie żyjesz, jesteś dość bogaty,<br>
Wykupisz się od więzień połową intraty”.
</p>

<p>
„To niezgodna — rzekł Hrabia — z moim charakterem;<br>
Nie mogę być kochankiem, będę bohaterem;<br>
W miłości troskach — sławy zwę pocieszycielki;<br>
Gdy jestem nędzarz sercem, będę ręką wielki”.
</p>

<p>
Telimena pytała: „Któż Panu przeszkadza<br>
Kochać i być szczęśliwym!” —<br>
„Mych przeznaczeń władza —<br>
Rzekł Hrabia — ciemność przeczuć, które ruchem tajnym<br>
Rwą się ku stronom obcym, dziełom nadzwyczajnym.<br>
Wyznaję, że dziś chciałem na cześć Telimenie<br>
U ołtarzów Hymena zapalić płomienie,<br>
Ale mi dał zbyt piękny przykład ten młodzieniec,<br>
Sam dobrowolnie ślubny swój zrywając wieniec<br>
I biegąc serca swego doświadczać w przeszkodach<br>
Zmiennych losów i w krwawych wojennych przygodach.<br>
Dziś otwiera się nowa i dla mnie epoka!<br>
Brzmiała odgłosem broni mej Birbante-rokka,<br>
Oby ten odgłos równie w Polszcze się rozszerzył!”<br>
Skończył i dumnie szpady rękojeść uderzył.
</p>

<p>
„Jużci — rzekł Robak — trudno ganić tę ochotę;<br>
Jedź, weź pieniądze, możesz usztyftować rotę,<br>
Jak Włodzimierz Potocki, co Francuzów zdziwił<br>
Dając na skarb milijon; jak książę Radziwiłł<br>
Dominik, co zastawił dobra swe i sprzęty<br>
I dwa uzbroił nowe konne regimenty.<br>
Jedź, jedź, a weź pieniądze; rąk tam dosyć mamy,<br>
Ale grosza brak w Księstwie; jedź Wasze, żegnamy”.
</p>

<p>
Telimena, smutnemi rzuciwszy oczyma:<br>
„Niestety — rzekła — widzę, że cię nic nie wstrzyma!<br>
Rycerzu mój, w wojenne kiedy wstąpisz szranki,<br>
Obróć czułe spójrzenie na kolor kochanki!<br>
(Tu wstążkę oderwawszy od sukni, zrobiła<br>
Kokardę i na piersiach Hrabi przyszpiliła).<br>
Niech cię ten kolor wiedzie na działa ogniste,<br>
Na kopije błyszczące i deszcze siarczyste,<br>
A kiedy się rozsławisz walecznemi czyny<br>
I gdy nieśmiertelnemi przesłonisz wawrzyny<br>
Skrwawiony szyszak i hełm twój zwycięstwem hardy,<br>
I wtenczas jeszcze oko zwróć do tej kokardy.<br>
Wspomnij, czyja ten kolor przyszpiliła ręka!”<br>
Tu mu podała rękę.<br>
Pan Hrabia przyklęka,<br>
Całuje; Telimena zbliżyła do oka<br>
Chustkę, a drugiem okiem pogląda z wysoka<br>
Na Hrabię, który żegnał ją mocno wzruszony.<br>
Ona wzdychała, ale ruszyła ramiony.
</p>

<p>
Lecz Sędzia rzekł:<br>
„Mój Hrabio, śpiesz się, bo już późno”.<br>
A ksiądz Robak: „Dość tego! — wołał z miną groźną. —<br>
Spiesz się, Wasze!” — Tak rozkaz Sędziego i Księdza<br>
Rozdziela czułą parę i z izby wypędza.
</p>

<p>
Tymczasem pan Tadeusz stryja obejmował<br>
Ze łzami i Robaka w rękę pocałował;<br>
Robak, ku piersiom chłopca przycisnąwszy skronie<br>
I na głowie mu na krzyż położywszy dłonie,<br>
Spójrzał ku niebu i rzekł: „Synu! z Panem Bogiem!”<br>
I zapłakał... A już był Tadeusz za progiem.
</p>

<p>
„Jak to? — zapytał Sędzia — nic mu brat nie powie<br>
I teraz? Biedny chłopiec, jeszcze się nie dowie<br>
O niczem! przed odjazdem?” —<br>
„Nie — rzekł Ksiądz — o niczem<br>
(Płacząc długo z zakrytem rękami obliczem).<br>
I po cóż by miał wiedzieć biedny, że ma ojca,<br>
Który się skrył przed światem jak łotr, jak zabojca?<br>
Bóg widzi, jak pragnąłbym, ale z tej pociechy<br>
Zrobię Bogu ofiarę za me dawne grzechy”.
</p>

<p>
„Więc — rzecze Sędzia — teraz czas myśleć o sobie;<br>
Uważ, że człowiek w twoim wieku i chorobie<br>
Nie zdołałby z innymi razem emigrować;<br>
Mówiłeś, że wiesz domek, gdzie się masz przechować;<br>
Powiedz, gdzie? Spieszmy, czeka zaprzężona bryka.<br>
Czy nie najlepiej w puszczę, do chaty leśnika?”
</p>

<p>
Robak, kiwając głową, rzekł: „Do jutra rana<br>
Mam czas; teraz, mój bracie, poślij do plebana,<br>
Aby tu jak najrychlej przybył z wijatykiem.<br>
Oddal stąd wszystkich, zostań tyko sam z Klucznikiem.<br>
Zamknij drzwi”.<br>
Sędzia spełnił Robaka rozkazy<br>
I usiada na łóżku przy nim; a Gerwazy<br>
Stoi, łokieć przytwierdza na główni rapiera,<br>
A czoło pochylone na dłoniach opiera.
</p>

<p>
Robak, nim zaczął mówić, w Klucznika oblicze<br>
Wzrok utkwił i milczenie chował tajemnicze.<br>
A jako chirurg naprzód miękką rękę składa<br>
Na ciele chorującem, nim ostrzem raz zada,<br>
Tak Robak wyraz bystrych oczu swych złagodził,<br>
Długo niemi po oczach Gerwazego wodził,<br>
Na koniec, jakby ślepym chciał uderzyć ciosem,<br>
Zasłonił oczy ręką i rzekł mocnym głosem:
</p>

<p>
„Jam jest Jacek Soplica...”
</p>

<p>
Klucznik na to słowo<br>
Pobladnął, pochylił się, i ciała połową<br>
Wygięty naprzód, stanął, zwisł na jednej nodze,<br>
Jak głaz lecący z góry, zatrzymany w drodze.<br>
Oczy roztwierał, usta szeroko rozszerzał,<br>
Grożąc białemi zęby, a wąsy najeżał;<br>
Rapier z rąk upuszczony przy ziemi zatrzymał<br>
Kolanami i głownię prawą ręką imał,<br>
Cisnąc ją; rapier, z tyłu za nim wyciągniony,<br>
Długim, czarnym swym końcem chwiał się w różne strony.<br>
I Klucznik był podobny rysiowi rannemu,<br>
Który z drzewa ma skoczyć w oczy myśliwemu,<br>
Wydyma się kłębuszkiem, mruczy, krwawe ślepie<br>
Wyiskrza, wąsy rusza i ogonem trzepie.
</p>

<p>
„Panie Rębajło — rzekł Ksiądz — już mię nie zatrwożą<br>
Gniewy ludzkie, bo jestem już pod ręką Bożą;<br>
Zaklinam cię na imię Tego, co świat zbawił<br>
I na krzyżu zabójcom swoim błogosławił,<br>
I przyjął prośbę łotra, byś się udobruchał<br>
I to, co mam powiedzieć, cierpliwie wysłuchał;<br>
Sam przyznałem się; muszę dla ulgi sumnienia<br>
Pozyskać, a przynajmniej prosić przebaczenia.<br>
Posłuchaj mej spowiedzi; potem zrobisz sobie<br>
Ze mną, co zechcesz”. I tu złożył ręce obie<br>
Jak do pacierza; Klucznik cofnął się zdumiony,<br>
Uderzał ręką w czoło i ruszał ramiony.
</p>

<p>
A Ksiądz zaczął swą dawną z Horeszką zażyłość<br>
Opowiadać i swoją z jego córką miłość,<br>
I swe z tego powodu z Stolnikiem zatargi.<br>
Lecz mówił nieporządnie, często mięszał skargi<br>
I żale we swą spowiedź, często rzecz przecinał,<br>
Jak gdyby już ją kończył, i znowu zaczynał.
</p>

<p>
Klucznik, dzieje Horeszków znający dokładnie,<br>
Całą tę powieść, chociaż splątaną bezładnie,<br>
Porządkował w pamięci i dopełniać umiał;<br>
Lecz Sędzia wielu rzeczy zgoła nie rozumiał.<br>
Oba pilnie słuchali, pochyliwszy głowy,<br>
A Jacek mówił coraz wolniejszemi słowy<br>
I często zarywał się.
</p>

<p class="gwiazdki">***</p>

<p>
„Wszak sam wiesz, Gerwazeńku, jak Stolnik zapraszał<br>
Często mnie na biesiady; zdrowie moje wnaszał,<br>
Krzyczał nieraz, do góry podniósłszy szklenicę,<br>
Że nie miał przyjaciela nad Jacka Soplicę;<br>
Jak on mnie ściskał! Wszyscy, którzy to widzieli,<br>
Myślili, że on ze mną duszą się podzieli.<br>
On przyjaciel? on wiedział, co się wtenczas działo<br>
W duszy mojej!
</p>

<p class="gwiazdki">***</p>

<p>
Tymczasem już szeptała o tem okolica,<br>
Jaki taki gadał mi: «Ej, panie Soplica!<br>
Daremnie konkurujesz; dygnitarskie progi<br>
Za wysokie na Jacka podczaszyca nogi».<br>
Ja śmiałem się, udając, że drwiłem z magnatów<br>
I z córek ich, i nie dbam o arystokratów;<br>
Że jeśli bywam u nich, z przyjaźni to robię,<br>
A za żonę nie pojmę, tylko równą sobie.<br>
Przecie bodły mi duszę do żywca te żarty;<br>
Byłem młody, odważny, świat był mnie otwarty<br>
W kraju, gdzie, jako wiecie, szlachcic urodzony<br>
Jest zarówno z panami kandydat korony!<br>
Wszakże Tęczyński niegdyś z królewskiego domu<br>
Żądał córy, a król mu oddał ją bez sromu.<br>
Sopliców czyż nie równe Tęczyńskim zaszczyty<br>
Krwią, herbem, wierną służbą Rzeczypospolitéj!
</p>

<p class="gwiazdki">***</p>

<p>
Jak łatwo może człowiek popsuć szczęście drugim<br>
W jednej chwili, a życiem nie naprawi długiém!<br>
Jedno słowo Stolnika, jakżebyśmy byli<br>
Szczęśliwi! Kto wie, może dotąd byśmy żyli,<br>
Może i on przy swojem kochanem dziecięciu,<br>
Przy swojej pięknej Ewie, przy swym wdzięcznym zięciu<br>
Zestarzałby spokojny! może wnuki swoje<br>
Kołysałby! Teraz co? nas zgubił oboje,<br>
I sam... i to zabójstwo... i wszystkie następstwa<br>
Tej zbrodni, wszystkie moje biedy i przestępstwa!...<br>
Ja skarżyć nie mam prawa, ja jego morderca,<br>
Ja skarżyć nie mam prawa, przebaczam mu z serca,<br>
Ale i on...
</p>

<p>
Żeby już raz otwarcie był mnie zrekuzował,<br>
Bo znał nasze uczucia; gdyby nie przyjmował<br>
Mych odwiedzin; to kto wie? może bym odjechał,<br>
Pogniewał się, połajał, w końcu go zaniechał.<br>
Ale on, chytrze dumny, wpadł na koncept nowy:<br>
Udawał, że mu nawet nie przyszło do głowy,<br>
Żeby ja mógł się starać o związek takowy.<br>
A byłem mu potrzebnym, miałem zachowanie<br>
U szlachty i lubili mnie wszyscy ziemianie.<br>
Więc on niby miłości mojej nie dostrzegał,<br>
Przyjmował mnie jak dawniej, a nawet nalegał,<br>
Abym częściej przyjeżdżał; a ilekroć sami<br>
Byliśmy, widząc oczy me przyćmione łzami<br>
I pierś zbyt pełną i już wybuchnąć gotową,<br>
Chytry starzec, wnet wrzucił obojętne słowo<br>
O procesach, sejmikach, łowach...
</p>

<p class="gwiazdki">***</p>

<p>
Ach, nieraz przy kieliszkach, gdy się tak rozrzewniał,<br>
Gdy mię tak ściskał i o przyjaźni zapewniał,<br>
Potrzebując mej szabli lub kreski na sejmie,<br>
Gdy musiałem nawzajem ściskać go uprzejmie,<br>
To tak we mnie złość wrzała, że ja obracałem<br>
Ślinę w gębie, a dłonią rękojeść ściskałem,<br>
Chcąc plunąć na tę przyjaźń i wnet szabli dostać;<br>
Ale Ewa, zważając mój wzrok i mą postać,<br>
Zgadywała, nie wiem jak, co się we mnie działo,<br>
Patrzyła błagająca, lice jej bledniało;<br>
A był to taki piękny gołąbek, łagodny,<br>
I wzrok miała uprzejmy taki! tak pogodny!<br>
Taki anielski, że już nie wiem, już nie miałem<br>
Odwagi zagniewać ją, zatrwożyć — milczałem.<br>
I ja, zawadyjaka sławny w Litwie całéj,<br>
Co przede mną największe pany nieraz drżały,<br>
Com nie żył dnia bez bitki, co nie Stolnikowi,<br>
Alebym się pokrzywdzić nie dał i królowi,<br>
Co we wściekłość najmniejsza wprawiała mię sprzeczka,<br>
Ja wtenczas, zły i pjany, milczał jak owieczka!<br>
Jak gdybym Sanctissimum ujrzał!
</p>

<p class="gwiazdki">***</p>

<p>
Ileż to razy chciałem serce me otworzyć<br>
I już się nawet przed nim do prośb upokorzyć,<br>
Lecz spójrzawszy mu w oczy, spotkawszy wejrzenia<br>
Zimne jak lód, wstyd mi było mojego wzruszenia;<br>
Spieszyłem znowu jak najzimniej dyskurować<br>
O sprawach, o sejmikach, a nawet żartować.<br>
Wszystko to, prawda, z pychy, żeby nie ubliżyć<br>
Imieniowi Sopliców, żeby się nie zniżyć<br>
Przed panem prośbą próżną, nie dostać odmowy,<br>
Bo jakież by to były między szlachtą mowy,<br>
Gdyby wiedziano, że ja, Jacek...
</p>

<p>
Soplicy Horeszkowie odmówili dziewkę!<br>
Że mnie, Jackowi, czarną podano polewkę!
</p>

<p class="gwiazdki">***</p>

<p>
„W końcu, sam już nie wiedząc, jak sobie poradzić,<br>
Umyśliłem ze szlachty mały pułk zgromadzić<br>
I opuścić na zawsze powiat i Ojczyznę,<br>
Wynieść się gdzie na Moskwę lub na Tatarszczyznę<br>
I zacząć wojnę. Jadę pożegnać Stolnika,<br>
W nadziei, że gdy ujrzy wiernego stronnika,<br>
Dawnego przyjaciela, prawie domownika,<br>
Z którym pił i wojował przez tak długie lata,<br>
Teraz żegnającego i kędyś w kraj świata<br>
Jadącego — że może starzec się poruszy<br>
I pokaże mi przecież trochę ludzkiej duszy,<br>
Jak ślimak rogów!
</p>

<p>
Ach! kto choć na dnie serca ma dla przyjaciela<br>
Choćby iskierkę czucia, gdy się z nim rozdziela,<br>
Dobędzie się iskierka ta przy pożegnaniu,<br>
Jako ostatni płomyk życia przy skonaniu!<br>
Raz ostatni dotknąwszy przyjaciela skroni,<br>
Częstokroć najzimniejsze oko łzę uroni!
</p>

<p class="gwiazdki">***</p>

<p>
„Biedna, słysząc o moim odjeździe, pobladła,<br>
Bez przytomności, ledwie że trupem nie padła,<br>
Nie mogła nic przemówić, aż się jej rzuciły<br>
Strumieniem łzy — poznałem, jak jej byłem miły!
</p>

<p class="gwiazdki">***</p>

<p>
Pomnę, pierwszy raz w życiu jam się łzami zalał<br>
Z radości i z rozpaczy, zapomniał się, szalał.<br>
Już chciałem znowu upaść ojcu jej pod nogi,<br>
Wić się jak wąż u kolan, wołać: «Ojcze drogi,<br>
Weź za syna lub zabij!» Wtem Stolnik posępny,<br>
Zimny jako słup soli, grzeczny, obojętny,<br>
Wszczął dyskurs, o czem? o czem? O córki weselu!<br>
W tej chwili! O Gerwazy! uważ, przyjacielu,<br>
Masz ludzkie serce! ...
</p>

<p>
Stolnik rzekł: «Panie Soplica,<br>
Właśnie przyjechał do mnie swat Kasztelanica;<br>
Ty jesteś mój przyjaciel, cóż ty mówisz na to?<br>
Wiesz Wasze, że mam córkę piękną i bogatą,<br>
A kasztelan witebski! wszakże to w senacie<br>
Niskie, drążkowe krzesło. Cóż mi radzisz, bracie?»<br>
Nie pamiętam już zgoła, co mu na to rzekłem,<br>
Podobno nic — na konia wsiadłem i uciekłem!”
</p>

<p class="gwiazdki">***</p>

<p>
„Jacku! — zawołał Klucznik. — Mądre ty przyczyny<br>
Wynajdujesz; cóż? one nie zmniejszą twej winy!<br>
Bo wszakże zdarzało się już nieraz na świecie,<br>
Że kto pokochał pańskie lub królewskie dziecię,<br>
Starał się gwałtem zdobyć, przemyślał wykradać,<br>
Mścił się otwarcie — ale tak chytrze śmierć zadać!<br>
Panu polskiemu! w Polszcze, i w zmowie z Moskalem!”
</p>

<p>
„Nie byłem w zmowie! —<br>
Jacek odpowiedział z żalem. —<br>
Gwałtem porwać? wszak mógłbym, zza krat i zza klamek<br>
Wydarłbym ją, rozbiłbym w puch ten jego zamek!<br>
Miałem za sobą Dobrzyn i cztery zaścianki.<br>
Ach, gdyby ona była jak nasze szlachcianki,<br>
Silna i zdrowa! gdyby ucieczki, pogoni<br>
Nie zlękła się i mogła słuchać szczęku broni!<br>
Lecz ona biedna! tak ją rodzice pieścili,<br>
Słaba, lękliwa! był to robaczek motyli,<br>
Wiosenna gąsieniczka! I tak ją zagrabić,<br>
Dotknąć ją zbrojną ręką — byłoby ją zabić.<br>
Nie mogłem! Nie.
</p>

<p>
Mścić się otwarcie, szturmem zamek zwalić w gruzy,<br>
Wstyd, boby powiedziano, żem mścił się rekuzy!<br>
Kluczniku, twoje serce poczciwe nie umie<br>
Uczuć, ile jest piekła w obrażonej dumie.
</p>

<p>
Szatan dumy zaczął mi lepsze plany raić:<br>
Zemścić się krwawo, ale powód zemsty taić,<br>
Nie bywać w zamku, miłość z serca wykorzenić,<br>
Puścić w niepamięć Ewę, z inną się ożenić,<br>
A potem, potem jaką wynaleźć zaczepkę,<br>
Pomścić się.
</p>

<p>
I zdało mi się zrazu, żem już serce zmienił,<br>
I rad byłem z wymysłu, i — jam się ożenił<br>
Z pierwszą, którąm napotkał dziewczyną ubogą!<br>
Źlem zrobił — jakże byłem ukarany srogo!<br>
Nie kochałem jej. Biedna matka Tadeusza,<br>
Najprzywiązańsza do mnie, najpoczciwsza dusza —<br>
Ale ja dawną miłość i złość w sercu dusił,<br>
Byłem jakby szalony, darmom siebie musił<br>
Zająć się gospodarstwem albo interesem;<br>
Wszystko na próżno! Zemsty opętany biesem,<br>
Zły, opryskliwy, znaleźć nie mogłem pociechy<br>
W niczem na świecie —<br>
i tak z grzechów w nowe grzechy...
</p>

<p>
Zacząłem pić.
</p>

<p>
I tak niedługo żona ma z żalu umarła<br>
Zostawiwszy to dziecię, a mnie rozpacz żarła!
</p>

<p class="gwiazdki">***</p>

<p>
Jakże mocno musiałem kochać tę niebogę,<br>
Tyle lat! gdziem ja nie był! a dotąd nie mogę<br>
Jej zapomnieć i zawżdy jej postać kochana<br>
Stoi mi przed oczyma jakby malowana!<br>
Piłem, nie mogłem zapić pamięci na chwilę<br>
Ani pozbyć się, chociaż przebiegłem ziem tyle!<br>
Teraz oto w habicie jestem Bożym sługą,<br>
Na łożu, we krwi... O niej mówiłem tak długo! —<br>
W tej chwili, o tych rzeczach mówić? Bóg wybaczy!<br>
Musicie wiedzieć, w jakim żalu i rozpaczy<br>
Popełniłem...
</p>

<p>
<br>
Było to właśnie wkrótce po jej zaręczynach;<br>
Wszędzie gadano tylko o jej zaręczynach:<br>
Powiadano, że Ewa, gdy brała obrączkę<br>
Z rąk Wojewody, mdlała, że wpadła w gorączkę,<br>
Że ma początki suchot, że ustawnie szlocha;<br>
Zgadywano, że kogoś potajemnie kocha...<br>
Ale Stolnik, jak zawsze, spokojny, wesoły,<br>
Dawał na zamku bale, zbierał przyjacioły,<br>
Mnie już nie prosił — na cóż byłem mu potrzebny?<br>
Mój bezład w domu, bieda, mój nałóg haniebny<br>
Podały mnie na wzgardę i na śmiech przed światem!<br>
Mnie, com niegdyś, rzec mogę, trząsł całym powiatem!<br>
Mnie, którego Radziwiłł nazywał: kochanku!<br>
Mnie, com kiedy wyjeżdżał z mojego zaścianku,<br>
To liczniejszy dwór miałem niżeli książęcy!<br>
Kiedym szablę dostawał, to kilka tysięcy<br>
Szabel błyszczało wkoło, strasząc zamki pańskie!<br>
A potem ze mnie dzieci śmiały się włościańskie!<br>
Tak zrobiłem się nagle w oczach ludzkich lichy!<br>
Jacek Soplica! — Kto zna, co jest czucie pychy...”
</p>

<p>
Tu Bernardyn osłabiał i upadł na łoże,<br>
A Klucznik rzekł wzruszony: „Wielkie sądy Boże!<br>
Prawda! prawda! więc to ty? i tyżeś to, Jacku<br>
Soplico? pod kapturem? żyłeś po żebracku!<br>
Ty, którego pamiętam, gdy zdrowy, rumiany,<br>
Piękny szlachcic, gdy tobie pochlebiały pany,<br>
Gdy za tobą kobiety szalały! Wąsalu!<br>
Nie tak to dawno. takeś zestarzał się z żalu!<br>
Jakżem ciebie nie poznał po owym wystrzale,<br>
Kiedyś tak do niedźwiedzia trafił doskonale?<br>
Bo nad ciebie nie miała strzelca Litwa nasza,<br>
Byłeś także po Maćku pierwszy do pałasza!<br>
Prawda! o tobie niegdyś śpiewały szlachcianki:<br>
«Oto Jacek wąs kręci, trzęsą się zaścianki,<br>
A komu na swym wąsie węzełek zawiąże,<br>
Ten zadrży, choćby to był sam Radziwiłł książę».<br>
Zawiązałeś ty węzeł i mojemu panu!<br>
Nieszczęśniku! i tyżeś? do takiego stanu?<br>
Jacek Wąsal kwestarzem! wielkie sądy boże!<br>
I teraz! ha! bezkarnie ujść tobie nie może,<br>
Przysiągłem: kto Horeszków krwi kroplę wysączył...”
</p>

<p>
Tymczasem Ksiądz na łożu usiadł i tak kończył:<br>
„Jeździłem koło zamku; ile biesów w głowie<br>
I w sercu miałem, kto ich imiona wypowie!<br>
Stolnik! zabija dziecię własne, mnie już zabił,<br>
Zniszczył — Jadę pod bramę, szatan mię tam wabił.<br>
Patrz, jak on hula! co dzień w zamku pijatyka,<br>
Ile świec w oknach, jaka brzmi w salach muzyka!<br>
I ten zamek na łysą głowę mu nie runie...<br>
Pomyśl o zemście, to wnet szatan broń podsunie.<br>
Ledwiem pomyślił, szatan nasyła Moskali.<br>
Stałem patrząc; wiesz, jak wasz zamek szturmowali.
</p>

<p class="gwiazdki">***</p>

<p>
Bo fałsz, żebym był w jakiej z Moskalami zmowie.
</p>

<p class="gwiazdki">***</p>

<p>
„Patrzyłem; różne myśli snuły się po głowie,<br>
Zrazu z uśmiechem głupim, jak na pożar dziecko,<br>
Patrzyłem, potem radość uczułem zbojecką,<br>
Czekając, rychło zacznie palić się i walić;<br>
Czasem myśl przychodziła: skoczyć, ją ocalić,<br>
Nawet Stolnika...
</p>

<p class="gwiazdki">***</p>

<p>
Broniliście się, ty wiesz, dzielnie i przytomnie.<br>
Zdziwiłem się; Moskale padali wkoło mnie,<br>
Bydlęta, źle strzelają! — Na widok ich klęski<br>
Złość mię znowu porwała. — Ten Stolnik zwycięski!<br>
I tak-że mu na świecie wszystko się powodzi?<br>
I z tej strasznej napaści z tryumfem wychodzi?<br>
Odjeżdżałem ze wstydem — właśnie był poranek,<br>
Wtem ujrzałem, poznałem: wystąpił na ganek<br>
I brylantową szpinką ku słońcu migotał,<br>
I wąs pokręcał dumnie i wzrok dumny miotał,<br>
I zdało mi się, że mnie szczególniej urągał,<br>
Że mnie poznał i ku mnie rękę <strong>tak</strong> wyciągał,<br>
Szydząc i grożąc. — Chwytam karabin Moskala;<br>
Ledwiem przyłożył, prawie nie mierzył — wypala!<br>
Wiesz!...
</p>

<p class="gwiazdki">***</p>

<p>
Przeklęta broń ognista! Kto mieczem zabija,<br>
Musi składać się, natrzeć, odbija, wywija,<br>
Może rozbroić wroga, miecz w pół drogi wstrzymać;<br>
Ale ta broń ognista, dosyć zamek imać,<br>
Chwila, jedna iskierka...
</p>

<p class="gwiazdki">***</p>

<p>
Czyż uciekałem, kiedyś mierzył do mnie z góry?<br>
Utkwiłem oczy we dwie twojej broni rury,<br>
Rozpacz jakaś! żal dziwny do ziemi mnie przybił!<br>
Czemuż, ach, mój Gerwazy, czemuś wtenczas chybił?<br>
Łaskę byś zrobił! Widać, za pokutę grzechu<br>
Trzeba było...”
</p>

<p>
Tu znowu brakło mu oddechu.
</p>

<p>
„Bóg widzi — rzecze Klucznik —<br>
szczerze trafić chciałem!<br>
Ileż ty krwi wylałeś twoim jednym strzałem,<br>
Ileż klęsk spadło na nas i na twą rodzinę,<br>
A wszystko to przez Waszą, Panie Jacku, winę!<br>
A wszakże gdy dziś jegry Hrabię na cel wzięli,<br>
Ostatniego z Horeszków, chociaż po kądzieli,<br>
Tyś go zasłonił, i gdy Moskal do mnie palił,<br>
Tyś mię rzucił o ziemię, tak nas dwóch ocalił.<br>
Jeśli prawda, że jesteś księdzem zakonnikiem,<br>
Jużci sukienka broni cię przed Scyzorykiem.<br>
Bądź zdrów, więcej na Waszym nie postanę progu,<br>
Z nami kwita — zostawmy resztę Panu Bogu”.
</p>

<p>
Jacek rękę wyciągnął — cofnął się Gerwazy:<br>
„Nie mogę — rzekł — bez mego szlachectwa obrazy<br>
Dotykać rękę, takiem morderstwem skrwawioną<br>
Z prywatnej zemsty, nie zaś pro publico bono”.
</p>

<p>
Ale Jacek, z poduszek na łoże upadłszy,<br>
Zwrócił się ku Sędziemu, a był coraz bladszy<br>
I niespokojnie pytał o księdza plebana,<br>
I wołał na Klucznika: „Zaklinam Waćpana,<br>
Abyś został; wnet skończę, ledwie mam dość mocy<br>
Zakończyć... Panie Klucznik!... ja umrę tej nocy!”
</p>

<p>
„Co, bracie? — krzyknął Sędzia — widziałem, wszak rana<br>
Niewielka, co ty mówisz? po księdza plebana?<br>
Może źle opatrzono — zaraz po doktora,<br>
W apteczce jest...”<br>
Ksiądz przerwał: „Bracie, już nie pora.<br>
Miałem tam strzał dawniejszy, dostałem pod Jena,<br>
Źle zgojony, a teraz draśniono — gangrena<br>
Już tu — znam się na ranach, patrz, jaka krew czarna<br>
Jak sadza; co tu doktor? Ale to rzecz marna;<br>
Raz umieramy, jutro czy dziś oddać duszę... —<br>
Panie Klucznik, przebaczysz mnie, ja skończyć muszę!
</p>

<p class="gwiazdki">***</p>

<p>
Jest w tem zasługa: nie chcieć zostać winowajcą<br>
Narodowym, choć naród okrzyczy cię zdrajcą!<br>
Zwłaszcza w kim taka, jaka była we mnie duma!
</p>

<p class="gwiazdki">***</p>

<p>
Imię zdrajcy przylgnęło do mnie jako dżuma.<br>
Odwracali ode mnie twarz obywatele,<br>
Uciekali ode mnie dawni przyjaciele;<br>
Kto był lękliwy, z dala witał się i stronił;<br>
Nawet lada chłop, lada Żyd, choć się pokłonił,<br>
To mię z boku szyderskim przebijał uśmiechem;<br>
Wyraz «zdrajca» brzmiał w uszach, odbijał się echem<br>
W domie, w polu; ten wyraz od rana do zmroku<br>
Wił się przede mną, jako plama w chorym oku.<br>
Przecież nie byłem zdrajcą kraju!...
</p>

<p>
Moskwa mnie uważała gwałtem za stronnika,<br>
Dano Soplicom znaczną część dóbr nieboszczyka,<br>
Targowiczanie potem chcieli mnie zaszczycić<br>
Urzędem. Gdybym wtenczas chciał się przemoskwicić!<br>
Szatan radził — już byłem możny i bogaty;<br>
Gdybym został Moskalem? Najpierwsze magnaty<br>
Szukałyby mych względów; nawet szlachta braty,<br>
Nawet gmin, który swoim tak łacnie uwłacza,<br>
Tym, którzy Moskwie służą, szczęśliwszym — przebacza!<br>
Wiedziałem to, a przecież — nie mogłem.
</p>

<p class="gwiazdki">***</p>

<p>
Uciekłem z kraju!<br>
Gdziem nie był! com nie cierpiał!
</p>

<p>
Aż Bóg raczył lekarstwo jedyne objawić.<br>
Poprawić się potrzeba było i naprawić,<br>
Ile możności to...
</p>

<p class="gwiazdki">***</p>

<p>
„Córka Stolnika, ze swym mężem Wojewodą<br>
Gdzieś w Sybir wywieziona, tam umarła młodo;<br>
Zostawiła tę w kraju córkę, małą Zosię,<br>
Kazałem ją hodować.
</p>

<p class="gwiazdki">***</p>

<p>
„Bardziej niźli z miłości, może z głupiej pychy<br>
Zabiłem; więc pokora... wszedłem między mnichy,
</p>

<p>
Ja, niegdyś dumny z rodu, ja, com był junakiem,<br>
Spuściłem głowę, kwestarz, zwałem się Robakiem,<br>
Że jako robak w prochu...
</p>

<p>
„Zły przykład dla Ojczyzny, zachętę do zdrady,<br>
Trzeba było okupić dobremi przykłady,<br>
Krwią, poświęceniem się...
</p>

<p>
Biłem się za kraj; gdzie? jak? zmilczę; nie dla chwały<br>
Ziemskiej biegłem tylekroć na miecze, na strzały.<br>
Milej sobie wspominam nie dzieła waleczne<br>
I głośne, ale czyny ciche, użyteczne,<br>
I cierpienia, których nikt...
</p>

<p>
Udało mi się nieraz do kraju przedzierać,<br>
Rozkazy wodzów nosić, wiadomości źbierać,<br>
Układać zmowy... Znają i Galicyjanie<br>
Ten kaptur mnisi — znają i Wielkopolanie!<br>
Pracowałem przy taczkach rok w pruskiej fortecy,<br>
Trzy razy Moskwa kijmi zraniła me plecy,<br>
Raz już wiedli na Sybir; potem Austryjacy<br>
W Szpilbergu zakopali mnie w lochach do pracy,<br>
W carcer durum — a Pan Bóg wybawił mię cudem<br>
I pozwolił umierać między swoim ludem,<br>
Z Sakramentami.
</p>

<p>
Może i teraz, kto wie? możem znowu zgrzeszył!<br>
Możem nad rozkaz wodzów powstanie przyśpieszył!<br>
Ta myśl, że dóm Sopliców pierwszy się uzbroi,<br>
Że pierwszą Pogoń w Litwie zatkną krewni moi!...<br>
Ta myśl... zdaje się czysta...
</p>

<p>
Chciałeś zemsty? masz! boś ty był narzędziem kary<br>
Bożej! twoim Bóg mieczem rozciął me zamiary.<br>
Tyś wątek spisku, tyle lat snowany, splątał!<br>
Cel wielki, który całe życie me zaprzątał,<br>
Ostatnie moje ziemskie uczucie na świecie,<br>
Którem tulił, hodował, jak najmilsze dziecię,<br>
Tyś zabił w oczach ojca, a jam ci przebaczył!<br>
Ty!...”
</p>

<p>
„Oby tylko równie Bóg przebaczyć raczył! —<br>
Przerwał Klucznik. — Jeżeli masz przyjąć wijatyk,<br>
Księże Jacku, toć ja nie luter, nie syzmatyk!<br>
Kto umierającego smuci, wiem, że grzeszy.<br>
Powiem tobie coś, pewnie to ciebie pocieszy:<br>
Kiedy nieboszczyk pan mój upadał zraniony,<br>
A ja, klęcząc nad jego piersią pochylony<br>
I miecz maczając w ranę, zemstę zaprzysiągnął,<br>
Pan głowę wstrząsnął, rękę ku bramie wyciągnął<br>
W stronę, gdzie stałeś, i krzyż w powietrzu naznaczył;<br>
Mówić nie mógł, lecz dał znak, że zbójcy przebaczył.<br>
Ja też pojąłem, ale tak się z gniewu wściekłem,<br>
Że o tym krzyżu nigdy i słowa nie rzekłem”.
</p>

<p>
Tu rozmowę przerwały chorego cierpienia<br>
I nastąpiła długa godzina milczenia.<br>
Oczekują plebana.
</p>

<p>
Podkowy zagrzmiały,<br>
Zastukał do komnaty arendarz zdyszały:<br>
List ma ważny, samemu Jackowi pokaże.<br>
Jacek bratu oddaje, głośno czytać każe.<br>
List od Fiszera, który był natenczas szefem<br>
Sztabu armiji polskiej pod księciem Józefem.<br>
Donosi, że w cesarskim tajnym gabinecie<br>
Stanęła wojna; Cesarz już po całym świecie<br>
Ogłasza ją; sejm walny w Warszawie zwołany,<br>
I skonfederowane Mazowieckie Stany<br>
Wyrzeką uroczyście przyłączenie Litwy.
</p>

<p>
Jacek, słuchając, cicho odmówił modlitwy,<br>
Przycisnąwszy do piersi święconą gromnicę,<br>
Podniosł w niebo zatlone nadzieją źrenice<br>
I zalał się ostatnich łez rozkosznych zdrojem:<br>
„Teraz — rzekł — Panie, sługę Twego puść z pokojem!”
</p>

<p>
Wszyscy uklękli; a wtem ozwał się pod progiem<br>
Dzwonek: znak, że przyjechał pleban z Panem Bogiem.
</p>

<p>
Właśnie już noc schodziła i przez niebo mleczne,<br>
Różowe, biegą pierwsze promyki słoneczne;<br>
Wpadły przez szyby jako strzały brylantowe,<br>
Odbiły się na łożu o chorego głowę<br>
I ubrały mu złotem oblicze i skronie,<br>
Że błyszczał jako święty w ognistej koronie.
</p>