
<h3>KSIĘGA JEDENASTA</h3>

<h4>ROK 1812</h4>

<p class="streszczenie">
Wróżby wiosenne<br>
Wkroczenie wojsk<br>
Nabożeństwo<br>
Rehabilitacja urzędowa śp. Jacka Soplicy<br>
Z rozmów Gerwazego i Protazego wnosić można bliski koniec procesu<br>
Umizgi ułana z dziewczyną<br>
Rozstrzyga się spór o Kusego i Sokoła<br>
Zaczem goście zgromadzają się na biesiadę<br>
Przedstawienie wodzom par narzeczonych
</p>

<p>
O roku ów! kto ciebie widział w naszym kraju!<br>
Ciebie lud zowie dotąd rokiem urodzaju,<br>
A żołnierz rokiem wojny; dotąd lubią starzy<br>
O tobie bajać, dotąd pieśń o tobie marzy.<br>
Z dawna byłeś niebieskim oznajmiony cudem<br>
I poprzedzony głuchą wieścią między ludem;<br>
Ogarnęło Litwinów serca z wiosny słońcem<br>
Jakieś dziwne przeczucie, jak przed świata końcem,<br>
Jakieś oczekiwanie tęskne i radośne.
</p>

<p>
Kiedy pierwszy raz bydło wygnano na wiosnę,<br>
Uważano, że chociaż zgłodniałe i chude,<br>
Nie biegło na ruń, co już umaiła grudę,<br>
Lecz kładło się na rolę i schyliwszy głowy,<br>
Ryczało albo żuło swój pokarm zimowy.
</p>

<p>
I wieśniacy ciągnący na jarzynę pługi<br>
Nie cieszą się, jak zwykle, z końca zimy długiéj,<br>
Nie śpiewają piosenek, pracują leniwo,<br>
Jakby nie pamiętali na zasiew i żniwo.<br>
Co krok wstrzymują woły i podjezdki w bronie<br>
I poglądają z trwogą ku zachodniej stronie,<br>
Jakby z tej strony miał się objawić cud jaki,<br>
I uważają z trwogą wracające ptaki.<br>
Bo już bocian przyleciał do rodzinnej sosny<br>
I rozpiął skrzydła białe, wczesny sztandar wiosny;<br>
A za nim, krzykliwemi nadciągnąwszy pułki,<br>
Gromadziły się ponad wodami jaskułki<br>
I z ziemi zmarzłej brały błoto na swe domki.<br>
W wieczór słychać w zaroślach szept ciągnącej słomki,<br>
I stada dzikich gęsi szumią ponad lasem,<br>
I znużone na popas spadają z hałasem,<br>
A w głębi ciemnej nieba wciąż jęczą żurawie.<br>
Słysząc to nocni stróże pytają w obawie,<br>
Skąd w królestwie skrzydlatem tyle zamieszania,<br>
Jaka burza te ptaki tak wcześnie wygania.
</p>

<p>
Aż oto nowe stada, jakby gilów, siewek<br>
I szpaków, stada jasnych kit i chorągiewek<br>
Zajaśniały na wzgórkach, spadają na błonie:<br>
Konnica! dziwne stroje, niewidziane bronie,<br>
Półk za półkiem, a środkiem, jak stopione śniegi,<br>
Płyną drogami kute żelazem szeregi;<br>
Z lasów czernią się czapki, rzęd bagnetów błyska,<br>
Roją się niezliczone piechoty mrowiska.
</p>

<p>
Wszyscy na północ! Rzekłbyś, że wonczas z wyraju<br>
Za ptastwem i lud ruszył do naszego kraju,<br>
Pędzony niepojętą, instynktową mocą.
</p>

<p>
Konie, ludzie, armaty, orły dniem i nocą<br>
Płyną; na niebie górą tu i ówdzie łuny,<br>
Ziemia drży, słychać, biją stronami pioruny. —
</p>

<p>
Wojna! wojna! Nie było w Litwie kąta ziemi,<br>
Gdzie by jej huk nie doszedł; pomiędzy ciemnemi<br>
Puszczami chłop, którego dziady i rodzice<br>
Pomarli nie wyjrzawszy za lasu granice,<br>
Który innych na niebie nie rozumiał krzyków<br>
Prócz wichrów, a na ziemi prócz bestyi ryków,<br>
Gości innych nie widział oprócz spółleśników —<br>
Teraz widzi: na niebie dziwna łuna pała,<br>
W puszczy łoskot, to kula od jakiegoś działa,<br>
Zbłądziwszy z pola bitwy, dróg w lesie szukała,<br>
Rwąc pnie, siekąc gałęzie. Żubr, brodacz sędziwy,<br>
Zadrżał we mchu, najeżył długie włosy grzywy,<br>
Wstaje na wpół, na przednich nogach się opiera<br>
I potrząsając brodą, zdziwiony spoziera<br>
Na błyskające nagle między łomem zgliszcze:<br>
Był to zbłąkany granat, kręci się, wre, świszcze,<br>
Pękł z hukiem jakby piorun; żubr pierwszy raz w życiu<br>
Zląkł się i uciekł w głębszem schować się ukryciu.
</p>

<p>
Bitwa! gdzie? w której stronie? — pytają młodzieńce,<br>
Chwytają broń; kobiety wznoszą w niebo ręce;<br>
Wszyscy, pewni zwycięstwa, wołają ze łzami:<br>
„Bóg jest z Napoleonem, Napoleon z nami!”
</p>

<p>
O wiosno! kto cię widział wtenczas w naszym kraju,<br>
Pamiętna wiosno wojny, wiosno urodzaju!<br>
O wiosno! kto cię widział, jak byłaś kwitnąca<br>
Zbożami i trawami, a ludźmi błyszcząca,<br>
Obfita we zdarzenia, nadzieją brzemienna!<br>
Ja ciebie dotąd widzę, piękna maro senna!<br>
Urodzony w niewoli, okuty w powiciu,<br>
Ja tylko jedną taką wiosnę miałem w życiu.
</p>

<p>
Soplicowo leżało tuż przy wielkiej drodze,<br>
Którą od strony Niemna ciągnęli dwaj wodze:<br>
Nasz Książę Józef i król westfalski Hieronim.<br>
Już zajęli część Litwy od Grodna po Słonim,<br>
Gdy król rozkazał wojsku dać trzy dni wytchnienia.<br>
Ale polscy żołnierze mimo utrudzenia<br>
Skarżyli się, że król im marszu nie dozwala;<br>
Tak radzi by co prędzej doścignąć Moskala.
</p>

<p>
W mieście pobliskim stanął główny sztab książęcy,<br>
A w Soplicowie oboz czterdziestu tysięcy<br>
I ze sztabami swemi jenerał Dąbrowski,<br>
Kniaziewicz, Małachowski, Giedrojć i Grabowski.
</p>

<p>
Późno było, gdy weszli; więc każdy, gdzie może,<br>
Zabierają kwatery w zamczysku, we dworze;<br>
Skoro dano rozkazy, rozstawiono czaty,<br>
Każdy strudzony poszedł spać do swej komnaty.<br>
Z nocą wszystko ucichło: oboz, dwór i pole;<br>
Widać tylko, jak cienie, błądzące patrole<br>
I gdzieniegdzie błyskania ognisk obozowych,<br>
Słychać kolejne hasła stanowisk wojskowych.
</p>

<p>
Spali: gospodarz domu, wodze i żołnierze;<br>
Oczu tylko Wojskiego sen słodki nie bierze ;<br>
Bo Wojski ma na jutro biesiadę wyprawić,<br>
Którą chce dom Sopliców na wiek wieków wsławić:<br>
Biesiadę godną miłych sercom polskim gości<br>
I odpowiednią wielkiej dnia uroczystości,<br>
Co jest świętem kościelnem i świętem rodziny;<br>
Jutro odbyć się mają trzech par zaręczyny,<br>
Zaś jenerał Dąbrowski oświadczył z wieczora,<br>
Że chce mieć obiad polski.
</p>

<p>
Choć spóźniona pora,<br>
Wojski zebrał co prędzej z sąsiedztwa kucharzy;<br>
Pięciu ich było; służą, on sam gospodarzy.<br>
Jako kuchmistrz białym się fartuchem opasał,<br>
Wdział szlafmycę, a ręce do łokciów zakasał;<br>
W ręku ma plackę muszą, owad lada jaki<br>
Odpędza wpadający chciwie na przysmaki;<br>
Drugą ręką przetarte okulary włożył,<br>
Dobył z zanadrza księgę, odwinął, otworzył.
</p>

<p>
Księga ta miała tytuł: Kucharz doskonały.<br>
W niej spisane dokładnie wszystkie specyjały<br>
Stołów polskich; podług niej Hrabia na Tęczynie<br>
Dawał owe biesiady we włoskiej krainie,<br>
Którym się Ojciec Święty Urban Ósmy dziwił;<br>
Podług niej później Karol Kochanku-Radziwiłł,<br>
Gdy przyjmował w Nieświżu króla Stanisława,<br>
Sprawił pamiętną ową ucztę, której sława<br>
Dotąd żyje na Litwie we gminnej powieści.
</p>

<p>
Co Wojski wyczytawszy pojmie i obwieści,<br>
To natychmiast kucharze robią umiejętni.<br>
Wre robota, pięćdziesiąt nożów w stoły tętni,<br>
Zwijają się kuchciki czarne jak szatany:<br>
Ci niosą drwa, ci z mlekiem i z winem sagany,<br>
Leją w kotły, skowrody, w rądle, dym wybucha;<br>
Dwóch kuchcików przy piecu siedzi, w mieszki dmucha.<br>
Wojski, ażeby ogień tem łacniej rozpalać,<br>
Rozkazał stopionego masła na drwa nalać<br>
(Zbytek ten dozwolony jest w dostatnim domu).<br>
Kuchciki sypią w ogień suche pęki łomu.<br>
Inni na rożny sadzą ogromne pieczenie<br>
Wołowe, sarnie, cąbry dzicze i jelenie;<br>
Ci skubią stosy ptastwa; lecą puchów chmury,<br>
Obnażają się głuszce, cietrzewie i kury.<br>
Lecz kur niewiele było; od owej wyprawy,<br>
Którą w czasie zajazdu Dobrzyński Sak krwawy<br>
Zrobił na kurnik, kędy Zosi gospodarstwo<br>
Zniszczył, nie zostawiwszy sztuki na lekarstwo —<br>
Jeszcze nie mogło ptastwem zakwitnąć na nowo<br>
Sławne niegdyś ze drobiu swego Soplicowo.<br>
Zresztą zaś mięs wszelkich był wielki dostatek,<br>
Co się zgromadzić dało i z domu, i z jatek,<br>
I z lasów, i z sąsiedztwa, z bliska i z daleka:<br>
Rzekłbyś, ptasiego tylko niedostaje mleka.<br>
Dwie rzeczy, których hojny pan uczty szuka,<br>
Łączą się w Soplicowie: dostatek i sztuka.
</p>

<p>
Już wschodził uroczysty<br>
dzień <strong>Najświętszej Panny</strong><br>
<strong>Kwietnej</strong>. Pogoda była prześliczna, czas ranny,<br>
Niebo czyste, wokoło ziemi obciągnięte,<br>
Jako morze wiszące, ciche, wklęsło-wgięte;<br>
Kilka gwiazd świeci z głębi, jako perły ze dna<br>
Przez fale; z boku chmurka biała, sama jedna,<br>
Podlatuje i skrzydła w błękicie zanurza,<br>
Podobne do niknących piór Anioła Stróża,<br>
Który nocną modlitwą ludzi przytrzymany<br>
Spóźnił się, śpieszy wracać między spółniebiany.
</p>

<p>
Już ostatnie perły gwiazd zamierzchły i na dnie<br>
Niebios zgasły, i niebo środkiem czoła bladnie,<br>
Prawą skronią złożone na wezgłowiu cieni,<br>
Jeszcze smagławe, lewą coraz się rumieni;<br>
A dalej okrąg, jakby powieka szeroka,<br>
Rozsuwa się i w środku widać białek oka,<br>
Widać tęczę, źrenicę — już promień wytrysnął,<br>
Po okrągłych niebiosach wygięty przebłysnął<br>
I w białej chmurce jako złoty grot zawisnął.<br>
Na ten strzał, na dnia hasło, pęk ogniów wylata,<br>
Tysiąc rac krzyżuje się po okręgu świata,<br>
A oko słońca weszło. Jeszcze nieco senne<br>
Przymruża się, drżąc wstrząsa swe rzęsy promienne,<br>
Siedmią barw błyszczy razem: szafirowe razem,<br>
Razem krwawi się w rubin i żółknie topazem,<br>
Aż rozlśniło się jako kryształ przezroczyste,<br>
Potem jak brylant światłe, na koniec ogniste,<br>
Jak księżyc wielkie, jako gwiazda migające:<br>
Tak po nieźmiernem niebie szło samotne słońce.
</p>

<p>
Dziś pospólstwo litewskie z całej okolicy<br>
Zebrało się przed wschodem wokoło kaplicy,<br>
Jak gdyby na nowego ogłoszenie cudu.<br>
Zbiór ten pochodził w części z pobożności ludu,<br>
A w części z ciekawości: bo dziś w Soplicowie<br>
Na nabożeństwie mają być jenerałowie,<br>
Sławni dowódcy owi naszych legijonów,<br>
Których lud znał imiona i czcił jak patronów,<br>
Których wszystkie tułactwa, wyprawy i bitwy<br>
Były ewangeliją narodową Litwy.
</p>

<p>
Już przyszło oficerów kilku, tłum żołnierzy;<br>
Lud ich otacza, patrzy, ledwie oczom wierzy,<br>
Oglądając rodaków mundury noszących,<br>
Zbrojnych, wolnych i polskim językiem mówiących.
</p>

<p>
Wyszła msza. Nie obejmie świątynia maleńka<br>
Całego zgromadzenia; lud na trawie klęka,<br>
Patrząc we drzwi kaplicy, odkrywają głowy:<br>
Włos litewskiego ludu, biały albo płowy,<br>
Pozłacał się jako łan dojrzałego żyta;<br>
Gdzieniegdzie kraśna główka dziewicza wykwita,<br>
Ubrana w świeże kwiaty albo w pawie oczy<br>
I wstęgi rozplecione, ozdoby warkoczy,<br>
Śród głów męskich, jak w zbożu bławat i kąkole.<br>
Klęczący różnobarwny tłum okrywa pole,<br>
A na głos dzwonka, niby na wiatru powianie,<br>
Chylą się wszystkie głowy jak kłosy na łanie.
</p>

<p>
Wieśniaczki dziś na ołtarz Matki Zbawiciela<br>
Niosą pierwszy dar wiosny, świeże snopki ziela;<br>
Wszystko wkoło ubrane w bukiety i w wianki:<br>
Ołtarz, obraz, a nawet dzwonnica i ganki.<br>
Czasem poranny wietrzyk, gdy ze wschodu wionie,<br>
Zrywa wianki i rzuca na klęczących skronie,<br>
I rozlewa jak z mszalnej kadzielnicy wonie.
</p>

<p>
A gdy w kościele było po mszy i kazaniu,<br>
Wyszedł przewodniczący całemu zebraniu<br>
Podkomorzy, niedawno przez powiatu stany<br>
Zgodnie konfederackim marszałkiem obrany.<br>
Miał mundur województwa: żupan złotem szyty,<br>
Kontusz gredyturowy z frędzlą i pas lity,<br>
Przy którym karabela z głownią jaszczurową;<br>
Na szyi świecił wielką szpinką brylantową;<br>
Konfederatka biała, a na niej pęk gruby<br>
Drogich piórek; były to białych czapel czuby<br>
(Na fest kładnie się tylko kitka tak bogata,<br>
Której każde pióreczko kosztuje dukata).<br>
Tak ubrany, na wzgórek wstąpił przed kościołem,<br>
Wieśniacy i żołnierstwo ścisnęło się kołem.<br>
On rzekł :
</p>

<p>
„Bracia! Ogłosił wam ksiądz na ambonie<br>
Wolność, którą Cesarz-Król przywrócił Koronie,<br>
A teraz Litewskiemu Księstwu, Polszcze całéj<br>
Przywraca; słyszeliście rządowe uchwały<br>
I zwołujące walny sejm uniwersały.<br>
Ja tylko mam słów parę przemówić do gminy<br>
W rzeczy, która się tycze Sopliców rodziny,<br>
Tutejszych panów.
</p>

<p>
Cała pomni okolica,<br>
Co tu zbroił nieboszczyk — pan Jacek Soplica;<br>
Ale kiedy o grzechach jego wszyscy wiecie,<br>
Czas i zasługi jego ogłosić na świecie:<br>
Obecni tu są naszych wojsk jenerałowie,<br>
Od których usłyszałem wszystko, co wam mowię.<br>
Ten Jacek nie był umarł (jak głoszono) w Rzymie,<br>
Tylko odmienił życie dawne, stan i imię;<br>
A wszystkie przeciw Bogu i Ojczyźnie winy<br>
Zgładził przez żywot święty i przez wielkie czyny.
</p>

<p>
On to pod Hohenlinden, gdy Ryszpans jenerał<br>
Na pół pobity już się do odwrotu zbierał,<br>
Nie wiedząc, że Kniaziewicz ciągnie ku odsieczy,<br>
On to Jacek, zwan Robak, śród grotów i mieczy<br>
Przeniosł od Kniaziewicza listy Ryszpansowi,<br>
Donoszące, że nasi biorą tył wrogowi.<br>
On potem w Hiszpaniji, gdy nasze ułany<br>
Zdobyły Samosiery grzbiet oszańcowany,<br>
Obok Kozietulskiego był ranny dwa razy!<br>
Następnie, jak wysłaniec, z tajnemi rozkazy<br>
Biegał po różnych stronach ducha ludzi badać,<br>
Towarzystwa tajemne wiązać i zakładać;<br>
Na koniec w Soplicowie, w swem ojczystym gnieździe,<br>
Gdy gotował powstanie, zginął na zajeździe.<br>
Właśnie o jego śmierci nadeszła wiadomość<br>
Do Warszawy w tę chwilę, gdy Cesarz Jegomość<br>
Raczył mu dać za dawne czyny bohaterskie<br>
Legiji Honorowej znaki kawalerskie.
</p>

<p>
Owoż te wszystkie rzeczy mając na uwadze,<br>
Ja, reprezentujący województwa władzę,<br>
Moją konfederacką ogłaszam wam laską:<br>
Że Jacek wierną służbą i cesarską łaską<br>
Zniósł infamiji plamę, powraca do cześci<br>
I znowu się w rzęd prawych patryjotów mieści;<br>
Więc kto będzie śmiał Jacka zmarłego rodzinie<br>
Wspomnieć kiedy o dawnej, zagładzonej winie,<br>
Ten podpadnie za karę takiego wyrzutu<br>
Gravis notae maculae, wedle słów Statutu<br>
Karzących tak militem, jak i skartabela,<br>
Co by siał infamiją na obywatela;<br>
A że teraz jest równość, więc artykuł trzeci<br>
Obowiązuje równie i mieszczan, i kmieci.<br>
Ten wyrok marszałkowski pan pisarz umieści<br>
W aktach jeneralności, a woźny obwieści.
</p>

<p>
Co się tycze Legiji Honorowej krzyża,<br>
Że późno przyszedł, nic to sławie nie ubliża;<br>
Jeśli Jackowi nie mógł służyć ku ozdobie,<br>
Niech służy ku pamiątce, wieszam go na grobie.<br>
Trzy dni tu będzie wisiał, potem do kaplicy<br>
Złoży się jako wotum dla Boga Rodzicy”.
</p>

<p>
To powiedziawszy, order wydobył z pokrowca<br>
I zawiesił na skromnym krzyżyku grobowca<br>
Uwiązaną w kokardę wstążeczkę czerwoną<br>
I krzyż biały gwiaździsty ze złotą koroną;<br>
Przeciw słońcu promienie gwiazdy zajaśniały<br>
Jako ostatni odbłysk ziemskiej Jacka chwały.<br>
Tymczasem lud na klęczkach Anioł Pański mowi,<br>
Upraszając o wieczny pokój grzesznikowi;<br>
Sędzia obchodzi gości i wiejską gromadę,<br>
Wszystkich do Soplicowa wzywa na biesiadę.
</p>

<p>
Ale na przyźbie domu usiedli dwaj starce,<br>
Mając u kolan pełne miodu dwa półgarce;<br>
Patrzą w sad, gdzie wśród pączków barwistego maku<br>
Stał ułan jak słonecznik w błyszczącym kołpaku<br>
Strojnym blachą złocistą i piórem koguta;<br>
Przy nim dziewczę, w zielonej sukience jak ruta<br>
Pozioma, wznosi oczki błękitne jak bratki<br>
Ku oczom chłopca; dalej panny rwały kwiatki<br>
Po ogrodzie, umyślnie odwracając głowy<br>
Od kochanków, żeby im nie mięszać rozmowy.
</p>

<p>
Ale starce miód piją, tabakierką z kory<br>
Częstując się nawzajem, toczą rozhowory.
</p>

<p>
„Tak, tak, mój Protazeńku” — rzekł klucznik Gerwazy.<br>
„Tak, tak, mój Gerwazeńku” — rzekł woźny Protazy.<br>
„Tak to, tak!” — powtórzyli zgodnie kilka razy,<br>
Kiwając w takt głowami; wreszcie Woźny rzecze:<br>
„Iż proces nasz skończy się dziwnie, ja nie przeczę;<br>
Wszakże były przykłady; pamiętam procesy,<br>
W których się działy gorsze niż u nas ekscesy,<br>
A intercyza cały zakończyła kłopot:<br>
Tak z Borzdobohatymi pogodził się Łopot,<br>
Krepsztulowie z Kupściami, Putrament z Pikturną,<br>
Z Odyńcami Mackiewicz, z Kwileckimi Turno.<br>
Co mówię! wszak Polacy miewali zamieszki<br>
Z Litwą gorsze niżeli z Soplicą Horeszki,<br>
A gdy na rozum wzięła królowa Jadwiga,<br>
To się bez sądów owa skończyła intryga.
</p>

<p>
Dobrze, gdy strony mają panny albo wdowy<br>
Na wydaniu: to zawsze kompromis gotowy.<br>
Najdłuższy proces zwykle bywa z duchowieństwem<br>
Katolickiem albo też z bliskiem pokrewieństwem,<br>
Bo wtenczas sprawy skończyć nie można małżeństwem.<br>
Stąd to Lachy z Rusami w sporach nieskończonych,<br>
Idąc z Lecha i Rusa, dwu braci rodzonych;<br>
Stąd się tyle procesów litewskich ciągnęło<br>
Długo z księżmi Krzyżaki, aż wygrał Jagiełło.<br>
Stąd na koniec pendebat długo przed aktami<br>
Sławny ów proces Rymszów z dominikanami,<br>
Aż wygrał wreszcie syndyk klasztorny ksiądz Dymsza,<br>
Skąd jest przysłowie: Większy Pan Bóg niż pan Rymsza;<br>
Ja zaś dołożę: lepszy miód od Scyzoryka”.<br>
To mówiąc, półgarcówką przepił do Klucznika.
</p>

<p>
„Prawda! prawda! — rzekł na to Gerwazy wzruszony. —<br>
Dziwneć to były losy tej naszej Korony<br>
I naszej Litwy! wszak to jak małżonków dwoje!<br>
Bóg złączył, a czart dzieli, Bóg swoje, czart swoje!<br>
Ach, bracie Protazeńku! że to oczy nasze<br>
Widzą! że znowu do nas ci Koronijasze<br>
Zawitali! Służyłem ja z nimi przed laty,<br>
Pamiętam, dzielne były z nich konfederaty!<br>
Gdyby nieboszczyk pan mój Stolnik dożył chwili!<br>
O Jacku! Jacku! — lecz cóż będziemy kwilili?<br>
Skoro dziś znowu Litwa łączy się z Koroną,<br>
Toć tem samym już wszystko zgodzono, zgładzono”.
</p>

<p>
„I to dziw — rzekł Protazy — że o tej to Zosi,<br>
O której rękę teraz nasz Tadeusz prosi,<br>
Było przed rokiem omen, jakoby znak z nieba!”<br>
„Panną Zofiją — przerwał Klucznik — zwać ją trzeba,<br>
Bo już dorosła, nie jest dziewczyną maluczką,<br>
Przy tym z krwi dygnitarskiej, jest Stolnika wnuczką”.<br>
„Owoż — kończył Protazy — był to znak proroczy<br>
O jej losie, widziałem znak na własne oczy.
</p>

<p>
Przed rokiem tu siedziała w święto czeladź nasza<br>
Pijąc miód, alić patrzym: pęc, pada z poddasza<br>
Dwóch wroblów bijących się, oba samcy stare,<br>
Jeden, młodszy cokolwiek, miał podgarle szare,<br>
Drugi czarne; dalejże tłuc się po podwórzu,<br>
Przewracać kulki, że aż zaryli się w kurzu;<br>
My patrzym, a tymczasem szepcą sobie sługi,<br>
Że ten czarny niech będzie Horeszko, a drugi<br>
Soplica; więc ilekroć szary był na górze,<br>
Krzyczą: «Wiwat Soplica! pfe, Horeszki tchórze!»<br>
A gdy spadał, wołali: «Popraw się, Soplica!<br>
Nie daj się magnatowi, to wstyd na szlachcica!»<br>
Tak śmiejąc się czekamy, kto kogo pokona;<br>
Wtem Zosieńka, nad ptastwem litością wzruszona,<br>
Podbiegła i nakryła rączką te rycerze;<br>
Jeszcze się w ręku bili, aż leciało pierze,<br>
Taka była zawziętość w tem maleńkiem lichu.<br>
Baby, patrząc na Zosię, gadały po cichu,<br>
Że pewnie przeznaczeniem będzie tej dziewczyny<br>
Pogodzić dwie od dawna zwaśnione rodziny.<br>
A widzę, że się dzisiaj ziścił omen babi.<br>
Prawdać to, że naonczas myślano o Hrabi,<br>
Nie zaś o Tadeuszu”.
</p>

<p>
Na to Klucznik rzecze:<br>
„Dziwne są sprawy w świecie; kto wszystko dociecze!<br>
Ja też powiem Waszeci rzecz, choć nie tak cudną<br>
Jak ów omen, a przecież do pojęcia trudną.<br>
Wiesz, iż dawniej rad bym był Sopliców rodzinę<br>
W łyżce wody utopić; a tego chłopczynę,<br>
Tadeusza, od dziecka nieźmierniem polubił.<br>
Uważałem, że gdy się z chłopiętami czubił,<br>
Zawsze ich zbił; więc ilekroć do zamku biegał,<br>
Jam go zawsze do trudnych imprezów podżegał.<br>
Wszystko mu się udało; czy wydrzeć gołębie<br>
Na wieży, czy jemiołę oberwać na dębie,<br>
Czyli z najwyższej sosny złupić wronie gniazdo,<br>
Wszystko umiał; myśliłem: pod szczęśliwą gwiazdą<br>
Urodził się ten chłopiec; szkoda, że Soplica!<br>
Któż by zgadł, że w nim zamku powitam dziedzica,<br>
Męża panny Zofiji, mej Wielmożnej Pani!”
</p>

<p>
Tu skończyli rozmowę, piją zadumani,<br>
Słychać tylko niekiedy te krótkie wyrazy:<br>
„Tak, tak, Panie Gerwazy”. — „Tak, Panie Protazy”.
</p>

<p>
Przyzba tykała kuchni, której okna stały<br>
Otworem i dym jako z pożaru buchały,<br>
Aż z kłębów dymu, niby biała gołębica,<br>
Mignęła świecąca się kuchmistrza szlafmyca.<br>
Wojski przez okno kuchni, ponad starców głowy<br>
Wytknąwszy głowę, milczkiem słuchał ich rozmowy<br>
I podał im nareszcie filiżanki spodek<br>
Pełen biszkoktów, mówiąc: „Zakąście wasz miodek.<br>
A ja wam też opowiem historią ciekawą<br>
Sporu, który miał bitwą zakończyć się krwawą,<br>
Gdy polujący w głębi nalibockich lasów<br>
Rejtan wypłatał sztukę książęciu Denassów.<br>
Tej sztuki omal własnem nie przypłacił zdrowiem;<br>
Jam kłótnię panów zgodził, jak to wam opowiem”.
</p>

<p>
Ale Wojskiego powieść przerwali kucharze<br>
Pytając, komu serwis ustawiać rozkaże.
</p>

<p>
Wojski odszedł, a starcy, zaczerpnąwszy miodu,<br>
Zadumani zwrócili oczy w głąb ogrodu,<br>
Gdzie ów dorodny ułan rozmawiał z panienką.<br>
Właśnie ułan ująwszy jej dłoń lewą ręką<br>
(Prawą miał na temlaku, widać, że był ranny),<br>
Z takiemi odezwał się słowami do panny:
</p>

<p>
„Zofijo, musisz to mnie koniecznie powiedzieć,<br>
Nim zamienim pierścionki, muszę o tem wiedzieć.<br>
I cóż, że przeszłej zimy byłaś już gotowa<br>
Dać słowo mnie? Ja wtenczas nie przyjąłem słowa:<br>
Bo i cóż mi po takiem wymuszonem słowie?<br>
Wtenczas bawiłem bardzo krótko w Soplicowie;<br>
Nie byłem taki próżny, ażebym się łudził,<br>
Żem jednem mem spójrzeniem miłość w tobie wzbudził.<br>
Ja nie fanfaron; chciałem mą własną zasługą<br>
Zyskać twe względy, choćby przyszło czekać długo.<br>
Teraz jesteś łaskawa twe słowo powtórzyć;<br>
Czymże na tyle łaski umiałem zasłużyć?<br>
Może mnie bierzesz, Zosiu, nie tak z przywiązania,<br>
Tylko że stryj i ciotka do tego cię skłania;<br>
Ale małżeństwo, Zosiu, jest rzecz wielkiej wagi;<br>
Radź się serca własnego, niczyjej powagi<br>
Tu nie słuchaj, ni stryja groźb, ni namów cioci;<br>
Jeśli nie czujesz dla mnie nic oprócz dobroci,<br>
Możem te zaręczyny czas jakiś odwlekać;<br>
Więzić twej woli nie chcę, będziem, Zosiu, czekać.<br>
Nic nas nie nagli, zwłaszcza że wczora wieczorem<br>
Dano mi rozkaz zostać w Litwie instruktorem<br>
W pułku tutejszym, nim się z mych ran nie wyleczę.<br>
I cóż, kochana Zosiu?”
</p>

<p>
Na to Zosia rzecze,<br>
Wznosząc głowę i patrząc w oczy mu nieśmiało:<br>
„Nie pamiętam już dobrze, co się dawniej działo;<br>
Wiem, że wszyscy mówili, iż za mąż iść trzeba<br>
Za Pana; ja się zawsze zgadzam z wolą Nieba<br>
I z wolą starszych”. Potem, spuściwszy oczęta,<br>
Dodała: „Przed odjazdem, jeśli Pan pamięta,<br>
Kiedy umarł ksiądz Robak, w ową burzę nocną,<br>
Widziałam, że Pan jadąc żałował nas mocno:<br>
Pan łzy miał w oczach; te łzy, powiem Panu szczerze,<br>
Wpadły mnie aż do serca; odtąd Panu wierzę,<br>
Że mnie lubisz; ilekroć mówiłam pacierze<br>
Za Pana powodzenie, zawsze przed oczami<br>
Stał Pan z temi dużemi, błyszczącemi łzami.<br>
Potem Podkomorzyna do Wilna jeździła,<br>
Wzięła mię tam na zimę, alem ja tęskniła<br>
Do Soplicowa i do tego pokoiku,<br>
Gdzie mnie Pan naprzód w wieczór spotkał przy stoliku,<br>
Potem pożegnał; nie wiem, skąd pamiątka Pana,<br>
Coś niby jak rozsada w jesieni zasiana,<br>
Przez całą zimę w mojem sercu się krzewiła,<br>
Że jako mówię Panu — ustawniem tęskniła<br>
Do tego pokoiku i cóś mi szeptało,<br>
Że tam znów Pana znajdę, i tak się też stało.<br>
Mając to w głowie, często też miałam na ustach<br>
Imię Pana — było to w Wilnie za zapustach;<br>
Panny mówiły, że ja jestem zakochana:<br>
Jużci, jeżeli kocham, to już chyba Pana”.
</p>

<p>
Tadeusz, rad z takiego miłości dowodu,<br>
Wziął ją pod rękę, ścisnął i wyszli z ogrodu<br>
Do pokoju damskiego, do owej komnaty,<br>
Kędy Tadeusz mieszkał przed dziesięcią laty.
</p>

<p>
Teraz bawił tam Rejent, cudnie wystrojony<br>
I usługiwał damie, swojej narzeczonéj,<br>
Biegając i podając sygnety, łańcuszki,<br>
Słoiki i flaszeczki, i proszki, i muszki;<br>
Wesoł, na pannę młodą patrzył tryumfalnie.<br>
Panna młoda kończyła robić gotowalnię;<br>
Siedziała przed źwierciadłem, radząc się bóstw wdzięku;<br>
Pokojowe zaś — jedne z żelazkami w ręku<br>
Odświeżają nadstygłe warkoczów pierścionki,<br>
Drugie klęcząc pracują około falbonki.
</p>

<p>
Gdy się tak Rejent bawi ze swą narzeczoną,<br>
Kuchcik stuknął doń w okno: kota postrzeżono!<br>
Kot, wykradłszy się z łozy, prześmignął po łące<br>
I wskoczył w sad pomiędzy jarzyny wschodzące;<br>
Tam siedzi, wystraszyć go łacno z rozsadniku<br>
I uszczuć, postawiwszy charty na przesmyku.<br>
Bieży Asesor, ciągnąc za obróż Sokoła,<br>
Pośpiesza za nim Rejent i Kusego woła.<br>
Wojski obu z chartami przy płocie ustawił,<br>
A sam się z placką muszą do sadu wyprawił.<br>
Depcąc, świszcząc i klaszcząc, bardzo źwierza trwoży:<br>
Szczwacze, trzymając każdy charta na obroży,<br>
Ukazują palcami, skąd zając wyruszy,<br>
Cmokają z cicha; charty nadstawiły uszy,<br>
Wytknęły pyski na wiatr i drżą niecierpliwie,<br>
Jak dwie strzały złożone na jednej cięciwie.<br>
Wtem Wojski krzyknął: „Wycz-ha!”<br>
Zając smyk zza płotu<br>
Na łąkę, charty za nim, i wnet bez obrotu<br>
Sokół i Kusy razem spadli na szaraka<br>
Ze dwóch stron w jednej chwili, jak dwa skrzydła ptaka.<br>
I zęby mu jak szpony zatopili w grzbiecie.<br>
Kot jęknął raz, jak nowo narodzone dziecię.<br>
Żałośnie! Biegą szczwacze: już leży bez ducha,<br>
A charty mu sierć białą targają spod brzucha.
</p>

<p>
Szczwacze pogłaskali psy, a Wojski tymczasem<br>
Dobył nożyk strzelecki wiszący za pasem,<br>
Oderznął skoki i rzekł: „Dziś równą odprawę<br>
Wezmą pieski, bo równą pozyskali sławę;<br>
Równa ich była rączość, równa była praca;<br>
Godzien jest pałac Paca, godzien Pac pałaca,<br>
Godni są szczwacze chartów, godne szczwaczów charty;<br>
Otoż skończony spór wasz długi i zażarty;<br>
Ja, któregoście sędzią zakładu obrali,<br>
Wydaję wreszcie wyrok: obaście wygrali.<br>
Wracam fanty, niech każdy przy swoim zostanie,<br>
A wy podpiszcie zgodę”.<br>
Na starca wezwanie<br>
Szczwacze zwrócili na się rozjaśnione lice<br>
I długo rozdzielone złączyli prawice.
</p>

<p>
Wtem rzekł Rejent:<br>
„Stawiłem niegdyś konia z rzędem,<br>
Opisałem się także przed ziemskim urzędem,<br>
Iż pierścień mój sędziemu w salaryjum złożę;<br>
Fant postawiony w zakład wracać się nie może.<br>
Pierścień niechaj Pan Wojski na pamiątkę przymie<br>
I każe na nim wyryć albo swoje imię,<br>
Lub, gdy zechce, herbowne Hreczechów ozdoby;<br>
Krwawnik jest gładki, złoto jedenastej proby.<br>
Konia teraz ułani pod jazdę zabrali,<br>
Rzęd został przy mnie; każdy znawca ten rzęd chwali,<br>
Iż jest wygodny, trwały, a piękny jak cacko:<br>
Kulbaczka wąska, modą z turecka kozacką,<br>
Kula na przodzie, w kuli są drogie kamienie,<br>
Poduszeczka z rubrontu wyścieła siedzenie,<br>
A kiedy na łęk wskoczysz, na tym miękkim puszku<br>
Między kulami siedzisz wygodnie jak w łóżku;<br>
A gdy w galop puścisz się (tu rejent Bolesta,<br>
Który, jako wiadomo, bardzo lubił gesta,<br>
Rozstawił nogi, jakby na konia wskakiwał,<br>
Potem galop udając powoli się kiwał),<br>
A gdy w galop puścisz się, natenczas z czapraka<br>
Blask bije, jakby złoto kapało z rumaka,<br>
Bo tabenki są gęsto złotem nakrapiane<br>
I szerokie strzemiona srebrne pozłacane;<br>
Na rzemieniach munsztuka i na uździenicy<br>
Połyskają guziki perłowej macicy,<br>
U napierśnika wisi księżyc w kształt Leliwy,<br>
To jest w kształt nowiu. Cały ten sprzęt osobliwy,<br>
Zdobyty (jak wieść niesie) w boju podhajeckim<br>
Na jakimś bardzo znacznym szlachcicu tureckim,<br>
Przyjm, Asesorze, w dowód mojego szacunku”.
</p>

<p>
A na to rzekł Asesor, wesoł z podarunku:<br>
„Ja niegdyś darowane od księcia Sanguszki<br>
Stawiłem w zakład moje prześliczne obróżki,<br>
Jaszczurem wykładane, z kolcami ze złota,<br>
I utkaną z jedwabiu smycz, której robota<br>
Równie droga jak kamień, co się na niej świeci.<br>
Chciałem sprzęt ten zostawić w dziedzictwie dla dzieci;<br>
Dzieci pewnie mieć będę, wiesz, że się dziś żenię;<br>
Ale ten sprzęt, Rejencie, proszę uniżenie,<br>
Bądź łaskaw przyjąć w zamian za twój rzęd bogaty<br>
I na pamiątkę sporu, co długiemi laty<br>
Toczył się i nareszcie zakończył zaszczytnie<br>
Dla nas obu. — Niech zgoda między nami kwitnie!”
</p>

<p>
Więc wracali do domu oznajmić za stołem,<br>
Że się skończył spór między Kusym i Sokołem.
</p>

<p>
Była wieść, że zająca tego Wojski w domu<br>
Wyhodował i w ogród puścił po kryjomu,<br>
Ażeby szczwaczów zgodzić zbyt łatwą zdobyczą.<br>
Staruszek tak swą sztukę zrobił tajemniczo,<br>
Że oszukał zupełnie całe Soplicowo.<br>
Kuchcik w lat kilka później szepnął o tem słowo,<br>
Chcąc Asesora skłócić z Rejentem na nowo;<br>
Ale próżno krzywdzące chartów wieści szerzył:<br>
Wojski zaprzeczył i nikt kuchcie nie uwierzył.
</p>

<p>
Już goście, zgromadzeni w wielkiej zamku sali,<br>
Czekając uczty, wkoło stołu rozmawiali,<br>
Gdy pan Sędzia w mundurze wojewódzkim wchodzi<br>
I pana Tadeusza z Zofiją przywodzi.<br>
Tadeusz, lewą dłonią dotykając głowy,<br>
Pozdrowił swych dowódców przez ukłon wojskowy.<br>
Zofija z opuszczonem ku ziemi wejrzeniem,<br>
Zapłoniwszy się, gości witała dygnieniem<br>
(Od Telimeny pięknie dygać wyuczona).<br>
Miała wianek na głowie jako narzeczona,<br>
Zresztą ubior ten samy, w jakim dziś w kaplicy<br>
Składała snop wiosenny dla Boga Rodzicy.<br>
Użęła znów dla gości nowy snopek ziela;<br>
Jedną ręką zeń kwiaty i trawy rozdziela,<br>
Drugą swój sierp błyszczący poprawia na głowie.<br>
Brali ziółka, całując jej ręce, wodzowie.<br>
Zosia znowu dygała w kolej, zapłoniona.
</p>

<p>
Wtem jenerał Kniaziewicz wziął ją za ramiona<br>
I złożywszy ojcowski całus na jej czole,<br>
Podniosł w górę dziewczynę, postawił na stole,<br>
A wszyscy, klaszcząc w dłonie zawołali: „Brawo!” —<br>
Zachwyceni dziewczyny urodą, postawą,<br>
A szczególniej jej strojem litewskim prostaczym;<br>
Bo dla tych wodzów, którzy w swem życiu tułaczém<br>
Tak długo błąkali się w obcych stronach świata,<br>
Dziwne miała powaby narodowa szata,<br>
Która im wspominała i młode ich lata,<br>
I dawne ich miłostki; więc ze łzami prawie<br>
Skupili się do stołu, patrzyli ciekawie.<br>
Ci proszą, aby Zosia wzniosła nieco czoło<br>
I oczy pokazała; ci, ażeby wkoło<br>
Raczyła się obrócić; dziewczyna wstydliwa<br>
Obraca się, lecz oczy rękami zakrywa.<br>
Tadeusz patrzył wesoł i zacierał ręce.
</p>

<p>
Czy ktoś Zosi poradził wyjść w takiej sukience,<br>
Czy instynktem wiedziała (bo dziewczyna zgadnie<br>
Zawsze instynktem, co jej do twarzy przypadnie),<br>
Dosyć, że Zosia pierwszy raz w życiu dziś z rana<br>
Była od Telimeny za upor łajana,<br>
Nie chcąc modnego stroju, aż wymogła płaczem,<br>
Że ją tak zostawiono, w ubraniu prostaczem.
</p>

<p>
Spodniczkę miała długą, białą; suknię krótką<br>
Z zielonego kamlotu, z różową obwódką;<br>
Gorset także zielony, różowemi wstęgi<br>
Od łona aż do szyi sznurowany w pręgi;<br>
Pod nim pierś jako pączek pod listkiem się tuli.<br>
Od ramion świecą białe rękawy koszuli,<br>
Jako skrzydła motyle do lotu wydęte,<br>
U dłoni skarbowane i wstążką opięte;<br>
Szyja także koszulką obciśniona wąską,<br>
Kołnierzyk zadzierzgniony różową zawiązką;<br>
Zauszniczki wyrznięte sztucznie z pestek wiszni,<br>
Których się wyrobieniem Sak Dobrzyński pyszni<br>
(Były tam dwa serduszka z grotem i płomykiem,<br>
Dane dla Zosi, gdy Sak był jej zalotnikiem);<br>
Na kołnierzyku wiszą dwa sznurki bursztynu,<br>
Na skroniach zielonego wianek rozmarynu.<br>
Wstążki warkoczów Zosia rzuciła na barki,<br>
A na czoło włożyła zwyczajem żniwiarki<br>
Sierp krzywy, świeżem żęciem traw oszlifowany,<br>
Jasny jak nów miesięczny nad czołem Dyjany.
</p>

<p>
Wszyscy chwalą, klaskają. Jeden z oficerów<br>
Dobył z kieszeni portefeuille z plikami papierów,<br>
Rozłożył je, ołówek przyciął, w ustach zmoczył,<br>
Patrzy w Zosię, rysuje. Ledwie Sędzia zoczył<br>
Papiery i ołówki, poznał rysownika,<br>
Choć go bardzo odmienił mundur pułkownika,<br>
Bogate szlify, mina prawdziwie ułańska<br>
I wąsik poczerniony, i bródka hiszpańska.<br>
Sędzia poznał: „Jak się masz, mój Jaśnie Wielmożny<br>
Hrabio? I w ładownicy masz twój sprzęt podróżny<br>
Do malarstwa!” — W istocie był to Hrabia młody,<br>
Niedawny żołnierz, lecz że wielkie miał dochody<br>
I swoim kosztem cały pułk jazdy wystawił,<br>
I w pierwszej zaraz bitwie wybornie się sprawił,<br>
Cesarz go półkownikiem dziś właśnie mianował:<br>
Więc Sędzia witał Hrabię i rangi winszował,<br>
Ale Hrabia nie słuchał, a pilnie rysował.
</p>

<p>
Tymczasem weszła druga para narzeczona:<br>
Asesor, niegdyś cara, dziś Napoleona<br>
Wierny sługa; żandarmów oddział miał w komendzie,<br>
A choć ledwie dwadzieścia godzin był w urzędzie,<br>
Już włożył mundur siny z polskiemi wyłogi<br>
I ciągnął krzywą szablę, i dzwonił w ostrogi.<br>
Obok poważnym krokiem szła jego kochanka,<br>
Ubrana bardzo strojnie, Tekla Hreczeszanka;<br>
Bo Asesor już dawno Telimenę rzucił<br>
I aby tę kokietkę tym mocniej zasmucił,<br>
Ku Wojszczance afekty serdeczne obrócił.<br>
Panna nie nadto młoda, już pono półwieczna,<br>
Lecz gospodyni dobra, osoba stateczna<br>
I posażna, bo oprócz swej dziedzicznej wioski<br>
Sumką z daru Sędziego powiększała wnioski.
</p>

<p>
Trzeciej pary daremnie czekają czas długi.<br>
Sędzia niecierpliwi się i wysyła sługi;<br>
Wracają: powiadają, że trzeci małżonek,<br>
Pan Rejent, szczując kota, zgubił swój pierścionek<br>
Ślubny, szuka na łące; a Rejenta dama<br>
Jeszcze u gotowalni, choć śpieszy się sama<br>
I choć jej pomagają służebne kobiety,<br>
Nie mogła w żaden sposób skończyć toalety;<br>
Ledwie będzie gotowa na godzinę czwartą.
</p>