

<h3>KSIĘGA CZWARTA</h3>

<h4>DYPLOMATYKA I ŁOWY</h4>

<p class="streszczenie">
Zjawisko w papilotach budzi Tadeusza<br>
Za późne postrzeżenie omyłki<br>
Karczma<br>
Emisariusz<br>
Zręczne użycie tabakiery zwraca dyskusję na właściwą drogę<br>
Matecznik<br>
Niedźwiedź- Niebezpieczeństwo Tadeusza i Hrabiego<br>
Trzy strzały<br>
Spór Sagalasówki z Sanguszkówką, rozstrzygniony na stronę jednorurki Horeszkowskiej<br>
Bigos<br>
Wojskiego powieść o pojedynku Dowejki z Domejką, przerwana szczuciem kota<br>
Koniec powieści o Dowejce i Domejce
</p>

<p>
Rówienniki litewskich wielkich kniaziów, drzewa<br>
Białowieży, Świtezi, Ponar, Kuszelewa!<br>
Których cień spadał niegdyś na koronne głowy<br>
Groźnego Witenesa, wielkiego Mindowy<br>
I Giedymina, kiedy na Ponarskiej górze,<br>
Przy ognisku myśliwskiem, na niedźwiedziej skórze<br>
Leżał, słuchając pieśni mądrego Lizdejki,<br>
A Wiliji widokiem i szumem Wilejki<br>
Ukołysany, marzył o wilku żelaznym;<br>
I zbudzony, za bogów rozkazem wyraźnym<br>
Zbudował miasto Wilno, które w lasach siedzi<br>
Jak wilk pośrodku żubrów, dzików i niedźwiedzi.<br>
Z tego to miasta Wilna, jak z rzymskiej wilczycy,<br>
Wyszedł Kiejstut i Olgierd, i Olgierdowicy,<br>
Równie myśliwi wielcy jak sławni rycerze,<br>
Czyli wroga ścigali, czyli dzikie źwierze.<br>
Sen myśliwski nam odkrył tajnie przyszłych czasów,<br>
Że Litwie trzeba zawsze żelaza i lasów.
</p>

<p>
Knieje! do was ostatni przyjeżdżał na łowy,<br>
Ostatni król, co nosił kołpak Witoldowy,<br>
Ostatni z Jagiellonów wojownik szczęśliwy<br>
I ostatni na Litwie monarcha myśliwy.<br>
Drzewa moje ojczyste! jeśli Niebo zdarzy,<br>
Bym wrócił was oglądać, przyjaciele starzy,<br>
Czyli was znajdę jeszcze? czy dotąd żyjecie?<br>
Wy, koło których niegdyś pełzałem jak dziecię...<br>
Czy żyje wielki Baublis, w którego ogromie<br>
Wiekami wydrążonym, jakby w dobrym domie,<br>
Dwunastu ludzi mogło wieczerzać za stołem?<br>
Czy kwitnie gaj Mendoga pod farnym kościołem?<br>
I tam na Ukrainie, czy się dotąd wznosi<br>
Przed Hołowińskich domem, nad brzegami Rosi,<br>
Lipa tak rozrośniona, że pod jej cieniami<br>
Stu młodzieńców, sto panien szło w taniec parami?
</p>

<p>
Pomniki nasze! ileż co rok was pożera<br>
Kupiecka lub rządowa, moskiewska siekiera!<br>
Nie zostawia przytułku ni leśnym śpiewakom,<br>
Ni wieszczom, którym cień wasz tak miły jak ptakom.<br>
Wszak lipa czarnolaska, na głos Jana czuła,<br>
Tyle rymów natchnęła! Wszak ów dąb gaduła<br>
Kozackiemu wieszczowi tyle cudów śpiewa!
</p>

<p>
Ja ileż wam winienem, o domowe drzewa!<br>
Błahy strzelec, uchodząc szyderstw towarzyszy<br>
Za chybioną źwierzynę, ileż w waszej ciszy<br>
Upolowałem dumań, gdy w dzikim ostępie<br>
Zapomniawszy o łowach usiadłem na kępie,<br>
A koło mnie srebrzył się tu mech siwobrody,<br>
Zlany granatem czarnej zgniecionej jagody,<br>
A tam się czerwieniły wrzosiste pagórki,<br>
Strojne w brusznice jakby w koralów paciorki.<br>
Wokoło była ciemność; gałęzie u góry<br>
Wisiały jak zielone, gęste, niskie chmury;<br>
Wicher kędyś nad sklepem szalał nieruchomym,<br>
Jękiem, szumami, wyciem, łoskotami, gromem:<br>
Dziwny, odurzający hałas! Mnie się zdało,<br>
Że tam nad głową morze wiszące szalało.
</p>

<p>
Na dole jak ruiny miast: tu wywrot dębu<br>
Wysterka z ziemi na kształt ogromnego zrębu;<br>
Na nim oparte, jak ścian i kolumn obłamy:<br>
Tam gałęziste kłody, tu wpół zgniłe tramy,<br>
Ogrodzone parkanem traw. W środek tarasu<br>
Zajrzeć straszno, tam siedzą gospodarze lasu:<br>
Dziki, niedźwiedzie, wilki; u wrót leżą kości<br>
Na pół zgryzione jakichś nieostrożnych gości.<br>
Czasem wymkną się w górę przez trawy zielenie,<br>
Jakby dwa wodotryski, dwa rogi jelenie<br>
I mignie między drzewa źwierz żółtawym pasem,<br>
Jak promień, kiedy wpadłszy gaśnie między lasem.
</p>

<p>
I znowu cichość w dole. Dzięcioł na jedlinie<br>
Stuka z lekka i dalej odlatuje, ginie,<br>
Schował się, ale dziobem nie przestaje pukać,<br>
Jak dziecko, gdy schowane woła, by go szukać.<br>
Bliżej siedzi wiewiórka, orzech w łapkach trzyma,<br>
Gryzie go; zawiesiła kitkę nad oczyma,<br>
Jak pióro nad szyszakiem u kirasyjera;<br>
Chociaż tak osłoniona, dokoła spoziera;<br>
Dostrzegłszy gościa, skacze gajów tanecznica<br>
Z drzew na drzewa, miga się jako błyskawica;<br>
Na koniec w niewidzialny otwór pnia przepada,<br>
Jak wracająca w drzewo rodzime dryjada.<br>
Znowu cicho.
</p>

<p>
Wtem gałąź wstrząsła się trącona<br>
I pomiędzy jarzębin rozsunione grona<br>
Kraśniejsze od jarzębin zajaśniały lica:<br>
To jagód lub orzechów zbieraczka, dziewica;<br>
W krobeczce z prostej kory podaje zebrane<br>
Bruśnice świeże jako jej usta rumiane;<br>
Obok młodzieniec idzie, leszczynę nagina,<br>
Chwyta w lot migające orzechy dziewczyna.
</p>

<p>
Wtem usłyszeli odgłos rogów i psów granie:<br>
Zgadują, że się ku nim zbliża polowanie,<br>
I pomiędzy gałęzi gęstwę, pełni trwogi,<br>
Zniknęli nagle z oczu jako leśne bogi.
</p>

<p>
W Soplicowie ruch wielki; lecz ni psów hałasy,<br>
Ani rżące rumaki, skrzypiące kolasy,<br>
Ni odgłos trąb dających hasło polowania<br>
Nie mogły Tadeusza wyciągnąć z posłania;<br>
Ubrany padłszy w łóżko, spał jak bobak w norze.<br>
Nikt z młodzieży nie myślił szukać go po dworze;<br>
Każdy sobą zajęty śpieszył, gdzie kazano;<br>
O towarzyszu sennym całkiem zapomniano.
</p>

<p>
On chrapał. Słońce w otwór, co śród okienicy<br>
Wyrżnięty był w kształt serca, wpadło do ciemnicy<br>
Słupem ognistym, prosto sennemu na czoło;<br>
On jeszcze chciał zadrzemać i kręcił się wkoło,<br>
Chroniąc się blasku: nagle usłyszał stuknienie,<br>
Przebudził się; wesołe było przebudzenie.<br>
Czuł się rzeźwym jak ptaszek, z lekkością oddychał,<br>
Czuł się szczęśliwym, sam się do siebie uśmiéchał:<br>
Myśląc o wszystkiem, co mu wczora się zdarzyło,<br>
Rumienił się i wzdychał, i serce mu biło.
</p>

<p>
Spojrzał w okno, o dziwy! w promieni przezroczu,<br>
W owem sercu, błyszczało dwoje jasnych oczu,<br>
Szeroko otworzonych, jak zwykle wejrzenie,<br>
Kiedy z jasności dziennej przedziera się w cienie;<br>
Ujrzał i małą rączkę, niby wachlarz z boku<br>
Nadstawioną ku słońcu dla ochrony wzroku;<br>
Palce drobne, zwrócone na światło różowe,<br>
Czerwieniły się na wskroś jakby rubinowe;<br>
Usta widział ciekawe, roztulone nieco,<br>
I ząbki, co jak perły śród koralów świecą,<br>
I lica, choć od słońca zasłaniane dłonią<br>
Różową, same całe jak róże się płonią.
</p>

<p>
Tadeusz spał pod oknem; sam ukryty w cieniu,<br>
Leżąc na wznak, cudnemu dziwił się zjawieniu<br>
I miał je tuż nad sobą, ledwie nie na twarzy;<br>
Nie wiedział, czy to jawa, czyli mu się marzy<br>
Jedna z tych miłych, jasnych twarzyczek dziecinnych,<br>
Które pomnim widziane we śnie lat niewinnych.<br>
Twarzyczka schyliła się — ujrzał, drżąc z bojaźni<br>
I radości, niestety! ujrzał najwyraźniej,<br>
Przypomniał, poznał włos ów krótki, jasnozłoty,<br>
W drobne, jako śnieg białe, zwity papiloty<br>
Niby srebrzyste strączki, co od słońca blasku<br>
Świeciły jak korona na świętych obrazku.
</p>

<p>
Zerwał się; i widzenie zaraz uleciało<br>
Przestraszone łoskotem; czekał, nie wracało!<br>
Tylko usłyszał znowu trzykrotne stukanie<br>
I słowa: „Niech Pan wstaje, czas na polowanie,<br>
Pan zaspał”. Skoczył z łóżka i obu rękami<br>
Pchnął okienicę, że aż trzasła zawiasami<br>
I rozwarłszy się w obie uderzyła ściany;<br>
Wyskoczył, patrzył wkoło zdumiony, zmieszany,<br>
Nic nie widział, nie dostrzegł niczyjego śladu.<br>
Niedaleko od okna był parkan od sadu,<br>
Na nim chmielowe liście i kwieciste wieńce<br>
Chwiały się; czy je lekkie potrąciły ręce?<br>
Czy wiatr ruszył? Tadeusz długo patrzył na nie,<br>
Nie śmiał iść w ogród; tylko wsparł się na parkanie,<br>
Oczy podniosł i z palcem do ust przyciśnionym<br>
Kazał sam sobie milczeć, by słowem kwapioném<br>
Nie rozerwał myślenia; potem w czoło stukał,<br>
Niby do wspomnień dawnych, uśpionych w niem, pukał,<br>
Na koniec, gryząc palce, do krwi się zadrasnął<br>
I na cały głos: „Dobrze, dobrze mi tak!” wrzasnął.
</p>

<p>
We dworze, gdzie przed chwilą tyle było krzyku,<br>
Teraz pusto i głucho jak na mogilniku:<br>
Wszyscy ruszyli w pole; Tadeusz nadstawił<br>
Uszu i ręce do nich jak trąbki przyprawił,<br>
Słuchał, aż mu wiatr przyniosł, wiejący od puszczy,<br>
Odgłosy trąb i wrzaski polującej tłuszczy.
</p>

<p>
Koń Tadeusza w stajni czekał osiodłany,<br>
Wziął więc flintę, skoczył nań i jak opętany<br>
Pędził ku karczmom, które stały przy kaplicy,<br>
Kędy mieli się rankiem zebrać obławnicy.
</p>

<p>
Dwie chyliły się karczmy po dwóch stronach drogi,<br>
Oknami wzajem sobie grożąc jako wrogi;<br>
Stara należy z prawa do zamku dziedzica,<br>
Nową na złość zamkowi postawił Soplica.<br>
W tamtej, jak w swym dziedzictwie, rej wodził Gerwazy,<br>
W tej najwyższe za stołem brał miejsce Protazy.
</p>

<p>
Nowa karczma nie była ciekawa z pozoru.<br>
Stara wedle dawnego zbudowana wzoru,<br>
Który był wymyślony od tyryjskich cieśli,<br>
A potem go Żydowie po świecie roznieśli:<br>
Rodzaj architektury obcym budowniczym<br>
Wcale nie znany; my go od Żydów dziedziczym.
</p>

<p>
Karczma z przodu jak korab, z tyłu jak świątynia:<br>
Korab, istna Noego czworogranna skrzynia,<br>
Znany dziś pod prostackiem nazwiskiem stodoły;<br>
Tam różne są zwierzęta: konie, krowy, woły,<br>
Kozy brodate; w górze zaś ptastwa gromady<br>
I płazów choć po parze, są też i owady.<br>
Część tylnia, na kształt dziwnej świątyni stawiona,<br>
Przypomina z pozoru ów gmach Salomona,<br>
Który pierwsi ćwiczeni w budowań rzemieśle<br>
Hiramscy na Syjonie wystawili cieśle.<br>
Żydzi go naśladują dotąd we swych szkołach,<br>
A szkoł rysunek widny w karczmach i stodołach.<br>
Dach z dranic i ze słomy, śpiczasty, zadarty,<br>
Pogięty jako kołpak żydowski podarty.<br>
Ze szczytu wytryskają krużganku krawędzie,<br>
Oparte na drewnianym licznych kolumn rzędzie;<br>
Kolumny, co jak wielkie architektów dziwo,<br>
Trwałe, chociaż wpół zgniłe i stawione krzywo<br>
Jako w wieży pizańskiej, nie podług modelów<br>
Greckich, bo są bez podstaw i bez kapitelów.<br>
Nad kolumnami biegą wpółokrągłe łuki,<br>
Także z drzewa, gotyckiej naśladowstwo sztuki.<br>
Z wierzchu ozdoby sztuczne, nie rylcem, nie dłutem,<br>
Ale zręcznie ciesielskim wyrzezane sklutem,<br>
Krzywe jak szabasowych ramiona świeczników;<br>
Na końcu wiszą gałki, cóś na kształt guzików,<br>
Które Żydzi modląc się na łbach zawieszają<br>
I które po swojemu „cyces” nazywają.<br>
Słowem, z daleka karczma chwiejąca się, krzywa,<br>
Podobna jest do Żyda, gdy się modląc kiwa:<br>
Dach jak czapka, jak broda strzecha roztrzęśniona.<br>
Ściany dymne i brudne jak czarna opona,<br>
A z przodu rzeźba sterczy jak cyces na czole.
</p>

<p>
W środku karczmy jest podział jak w żydowskiej szkole:<br>
Jedna część, pełna izbic ciasnych i podłużnych,<br>
Służy dla dam wyłącznie i panów podróżnych;<br>
W drugiej ogromna sala. Koło każdej ściany<br>
Ciągnie się wielonożny stół, wąski, drewniany,<br>
Przy nim stołki, choć niższe, podobne do stoła<br>
Jako dzieci do ojca.
</p>

<p>
Na stołkach dokoła<br>
Siedziały chłopy, chłopki, tudzież szlachta drobna,<br>
Wszyscy rzędem; ekonom sam siedział z osobna.<br>
Po rannej mszy z kaplicy, że była niedziela,<br>
Zabawić się i wypić przyszli do Jankiela.<br>
Przy każdym już szumiała siwą wódką czarka,<br>
Ponad wszystkimi z butlą biegała szynkarka.<br>
W środku arendarz Jankiel, w długim aż do ziemi<br>
Szarafanie, zapiętym haftkami srebrnemi,<br>
Rękę jedną za czarny pas jedwabny wsadził,<br>
Drugą poważnie sobie siwą brodę gładził;<br>
Rzucając wkoło okiem, rozkazy wydawał,<br>
Witał wchodzących gości, przy siedzących stawał<br>
Zagajając rozmowę, kłótliwych zagadzał,<br>
Lecz nie służył nikomu, tylko się przechadzał.<br>
Żyd stary i powszechnie znany z poczciwości,<br>
Od lat wielu dzierżawił karczmę, a nikt z włości,<br>
Nikt ze szlachty nie zaniósł nań skargi do dworu;<br>
O cóż skarżyć? Miał trunki dobre do wyboru,<br>
Rachował się ostróżnie, lecz bez oszukaństwa,<br>
Ochoty nie zabraniał, nie cierpiał pijaństwa,<br>
Zabaw wielki miłośnik: u niego wesele<br>
I chrzciny obchodzono; on w każdą niedzielę<br>
Kazał do siebie ze wsi przychodzić muzyce,<br>
Przy której i basetla była, i kozice.
</p>

<p>
Muzykę znał, sam słynął muzycznym talentem;<br>
Z cymbałami, narodu swego instrumentem,<br>
Chadzał niegdyś po dworach i graniem zdumiewał,<br>
I pieśniami, bo biegle i uczenie śpiewał.<br>
Chociaż Żyd, dosyć czystą miał polską wymowę,<br>
Szczególniej zaś polubił pieśni narodowe;<br>
Przywoził mnóstwo z każdej za Niemen wyprawy<br>
Kołomyjek z Halicza, mazurów z Warszawy;<br>
Wieść, nie wiem czyli pewna, w całej okolicy<br>
Głosiła, że on pierwszy przywiózł z zagranicy<br>
I upowszechnił wówczas w tamecznym powiecie<br>
Ową piosenkę, sławną dziś na całym świecie,<br>
A którą po raz pierwszy na ziemi Auzonów<br>
Wygrały Włochom polskie trąby legijonów.<br>
Talent spiewania bardzo na Litwie popłaca,<br>
Jedna miłość u ludzi, wsławia i wzbogaca:<br>
Jankiel zrobił majątek; syt zysków i chwały,<br>
Zawiesił dźwięcznostronne na scianie cymbały;<br>
Osiadłszy z dziećmi w karczmie, zatrudniał się szynkiem,<br>
Przy tem w pobliskiem mieście był też podrabinkiem,<br>
A zawsze miłym wszędzie gościem i domowym<br>
Doradcą; znał się dobrze na handlu zbożowym,<br>
Na wicinnym: potrzebna jest znajomość taka<br>
Na wsi. — Miał także sławę dobrego Polaka.
</p>

<p>
On pierwszy zgodził kłótnie, często nawet krwawe,<br>
Między dwiema karczmami: obie wziął w dzierżawę;<br>
Szanowali go równie i starzy stronnicy<br>
Horeszkowscy, i słudzy sędziego Soplicy.<br>
On sam powagę umiał utrzymać nad groźnym<br>
Klucznikiem horeszkowskim i kłotliwym Woźnym;<br>
Przed Jankielem tłumili dawne swe urazy:<br>
Gerwazy groźny ręką, językiem Protazy.
</p>

<p>
Gerwazego nie było; ruszył na obławę,<br>
Nie chcąc, aby tak ważną i trudną wyprawę<br>
Odbył sam Hrabia, młody i niedoświadczony;<br>
Poszedł więc z nim dla rady tudzież dla obrony.
</p>

<p>
Dziś miejsce Gerwazego, najdalsze od progu,<br>
Między dwiema ławami, w samym karczmy rogu,<br>
Zwane <strong>pokuciem</strong>, kwestarz ksiądz Robak zajmował;<br>
Jankiel go tam posadził; widać, że szanował<br>
Wysoko Bernardyna, bo skoro dostrzegał<br>
Ubytek w jego szklance, natychmiast podbiegał<br>
I rozkazał dolewać lipcowego miodu.<br>
Słychać, że z Bernardynem znali się za młodu<br>
Kędyś tam w cudzych krajach. Robak często chadzał<br>
Nocą do karczmy, tajnie z Żydem się naradzał<br>
O ważnych rzeczach; słychać było, że towary<br>
Ksiądz przemycał, lecz potwarz ta niegodna wiary.
</p>

<p>
Robak wsparty na stole wpółgłośno rozprawiał,<br>
Tłum szlachty go otaczał i uszy nadstawiał,<br>
I nosy ku księdzowskiej chylił tabakierze;<br>
Brano z niej i kichała szlachta jak możdzerze.
</p>

<p>
„Reverendissime — rzekł kichnąwszy Skołuba —<br>
To mi tabaka, co to idzie aż do czuba;<br>
Od czasu jak nos dźwigam (tu głasnął nos długi),<br>
Takiej nie zażywałem (tu kichnął raz drugi);<br>
Prawdziwa bernardynka, pewnie z Kowna rodem,<br>
Miasta sławnego w świecie tabaką i miodem.<br>
Byłem tam lat już...” Robak przerwał mu: „Na zdrowie<br>
Wszystkim Waszmościom, moi Mościwi Panowie!<br>
Co się tabaki tyczy, hem, ona pochodzi<br>
Z dalszej strony, niż myśli Skołuba dobrodziéj;<br>
Pochodzi z Jasnej Góry; księża paulinowie<br>
Tabakę taką robią w mieście Częstochowie,<br>
Kędy jest obraz tylu cudami wsławiony<br>
Bogarodzicy Panny, Królowej Korony<br>
Polskiej; zowią ją dotąd i Księżną Litewską!<br>
Koronęć jeszcze dotąd piastuje królewską,<br>
Lecz na Litewskiem Księstwie teraz syzma siedzi!”<br>
„Z Częstochowy? — rzekł Wilbik. — Byłem tam w spowiedzi,<br>
Kiedym na odpust chodził lat temu trzydzieście;<br>
Czy to prawda, że Francuz gości teraz w mieście,<br>
Że chce kościoł rozwalać i skarbiec zabierze,<br>
Bo to wszystko w Litewskim stoi Kuryjerze?”<br>
„Nieprawda — rzekł Bernardyn — nie! Pan Najjaśniejszy,<br>
Napoleon, katolik jest najprzykładniejszy;<br>
Wszak go papież namaścił, żyją z sobą w zgodzie<br>
I nawracają ludzi w francuskim narodzie,<br>
Który się trochę popsuł; prawda, z Częstochowy<br>
Oddano wiele srebra na skarb narodowy<br>
Dla Ojczyzny, dla Polski; sam Pan Bóg tak każe.<br>
Skarbcem Ojczyzny zawsze są Jego ołtarze;<br>
Wszakże w Warszawskiem Księstwie mamy sto tysięcy<br>
Wojska polskiego, może wkrótce będzie więcéj,<br>
A któż wojsko opłaci? Czy nie wy, Litwini?<br>
Wy tylko grosz dajecie do moskiewskiej skrzyni”.<br>
„Kat by dał! — krzyknął Wilbik — gwałtem od nas biorą”.<br>
„Oj, Dobrodzieju!” — chłopek ozwał się z pokorą,<br>
Pokłoniwszy się księdzu i skrobiąc się w głowę —<br>
Już to szlachcie, to jeszcze bieda przez połowę,<br>
Lecz nas drą jak na łyka”. — „Cham! — Skołuba krzyknął. —<br>
Głupi, tobieć to lepiej, tyś, chłopie, przywyknął<br>
Jak węgórz do odarcia; lecz nam <strong>urodzonym</strong>,<br>
Nam wielmożnym, do złotych swobód wzwyczajonym!<br>
Ach, bracia! Wszak to dawniej szlachcic na zagrodzie...<br>
(„Tak, tak! — krzyknęli wszyscy — rowny wojewodzie!”)<br>
Dziś nam szlachectwa przeczą, każą nam drabować<br>
Papiery i szlachectwa papierem probować”.<br>
„Jeszcze Waszeci mniejsza — zawołał Juraha. —<br>
Waszeć z pradziadów chłopów uszlachcony szlacha;<br>
Ale ja, z kniaziów! pytać u mnie o patenta,<br>
Kiedym został szlachcicem? Sam Bóg to pamięta!<br>
Niechaj Moskal w las idzie pytać się dębiny,<br>
Kto jej dał patent rosnąć nad wszystkie krzewiny”.<br>
„Kniaziu! — rzekł Żagiel — świeć Waść baki lada komu,<br>
Tu znajdziesz pono mitry i w niejednym domu”.<br>
„Waść ma krzyż w herbie — wołał Podhajski — to skryta<br>
Aluzyja, że w rodzie bywał neofita.<br>
„Fałsz! — przerwał Birbasz. —<br>
Przecież ja z tatarskich hrabiów<br>
Pochodzę, a mam krzyże nad herbem Korabiów”.<br>
„Poraj — krzyknął Mickiewicz — z mitrą w polu złotem,<br>
Herb książęcy; Stryjkowski gęsto pisze o tem”.
</p>

<p>
Zaczem wielkie powstały w całej karczmie szmery;<br>
Ksiądz Bernardyn uciekł się do swej tabakiery,<br>
W kolej częstował mówców; gwar zaraz ucichnął,<br>
Każdy zażył przez grzeczność i kilkakroć kichnął;<br>
Bernardyn korzystając z przerwy mówił dalej:
</p>

<p>
„Oj, wielcy ludzie od tej tabaki kichali!<br>
Czy uwierzycie Państwo, że z tej tabakiery<br>
Pan jenerał Dąbrowski zażył razy cztery?”<br>
„Dąbrowski?” — zawołali. — „Tak, tak, on jenerał;<br>
Byłem w obozie, gdy on Gdańsk Niemcom odbierał;<br>
Miał coś pisać; bojąc się, ażeby nie zasnął,<br>
Zażył, kichnął, dwakroć mię po ramieniu klasnął:<br>
«Księże Robaku — mówił — Księże Bernardynie,<br>
Obaczymy się w Litwie, może nim rok minie;<br>
Powiedz Litwinom, niech mnie czekają z tabaką<br>
Częstochowską, nie biorę innej, tylko taką»”.
</p>

<p>
Mowa księdza wzbudziła takie zadziwienie,<br>
Taką radość, że całe huczne zgromadzenie<br>
Milczało chwilę; potem na pół ciche słowa<br>
Powtarzano: „Tabaka z Polski? Częstochowa?<br>
Dąbrowski? z ziemi włoskiej?” Aż na koniec razem,<br>
Jakby myśl z myślą, wyraz sam zbiegł się z wyrazem,<br>
Wszyscy jedynogłośnie, jak na dane hasło,<br>
Krzyknęli: „Dąbrowskiego!” Wszystko razem wrzasło,<br>
Wszystko się uścisnęło: chłop z tatarskim hrabią,<br>
Mitra z Krzyżem, Poraje z Gryfem i z Korabią;<br>
Zapomnieli wszystkiego, nawet Bernardyna,<br>
Tylko śpiewali krzycząc: „Wódki, miodu, wina!”
</p>

<p>
Długo się przysłuchiwał ksiądz Robak piosence,<br>
Na koniec chciał ją przerwać; wziął w obiedwie ręce<br>
Tabakierkę, kichaniem melodyję zmieszał<br>
I nim się nastroili, tak mówić pośpieszał:<br>
„Chwalicie mą tabakę, Mości Dobrodzieje,<br>
Obaczcież, co się wewnątrz tabakierki dzieje”.<br>
Tu, wycierając chustką zabrudzone denko,<br>
Pokazał malowaną armiją, malenką<br>
Jak rój much; w środku jeden człowiek na rumaku,<br>
Wielki jako chrząszcz, siedział, pewnie wódz orszaku;<br>
Spinał konia, jak gdyby chciał skakać w niebiosa,<br>
Jednę rękę na cuglach, drugą miał u nosa.<br>
„Przypatrzcie się — rzekł Robak — tej groźnej postawie;<br>
Zgadnijcie, czyja? — Wszyscy patrzyli ciekawie.-<br>
Wielki to człowiek, cesarz, ale nie Moskali,<br>
Ich carowie tabaki nigdy nie bierali”.<br>
„Wielki człowiek — zawołał Cydzik — a w kapocie?<br>
Ja myśliłem, że wielcy ludzie chodzą w złocie,<br>
Bo u Moskalów lada jenerał, Mospanie,<br>
To tak świeci się w złocie jak szczupak w szafranie”.<br>
„Ba — przerwał Rymsza — przecież widziałem za młodu<br>
Kościuszkę, Naczelnika naszego narodu:<br>
Wielki człowiek! A chodził w krakowskiej sukmanie,<br>
To jest czamarce”. — „W jakiej czamarce, Mospanie? —<br>
Odparł Wilbik. — To przecież zwano taratatką”.<br>
„Ale tamta z fręzlami, ta jest całkiem gładką” —<br>
Krzyknął Mickiewicz. Zatem wszczynały się swary<br>
O różnych taratatki kształtach i czamary.
</p>

<p>
Przemyślny Robak, widząc, że się tak rozpryska<br>
Rozmowa, jął ją znowu zbierać do ogniska,<br>
Do swojej tabakiery; częstował, kichali,<br>
Życzyli sobie zdrowia, on rzecz ciągnął daléj:<br>
„Gdy cesarz Napoleon w potyczce zażywa<br>
Raz po raz, to znak pewny, że bitwę wygrywa;<br>
Na przykład pod Austerlic: Francuzi tak stali<br>
Z armatami, a na nich biegła ćma Moskali;<br>
Cesarz patrzył i milczał. Co Francuzi strzelą,<br>
To Moskale półkami jak trawa się ścielą.<br>
Półk za półkiem cwałował i spadał z kulbaki;<br>
Co półk spadnie, to Cesarz zażyje tabaki;<br>
Aż w końcu Aleksander, ze swoim braciszkiem<br>
Konstantym i z niemieckim cesarzem Franciszkiem,<br>
W nogi z pola; więc Cesarz, widząc, że po walce,<br>
Spojrzał na nich, zaśmiał się i otrząsnął palce.<br>
Otóż, jeśli kto z Panów, coście tu przytomni,<br>
Będzie w wojsku Cesarza, niech to sobie wspomni”.
</p>

<p>
„Ach! — zawołał Skołuba. — Mój Księże Kwestarzu!<br>
Kiedyż to będzie! Wszak to ile w kalendarzu<br>
Jest świąt, na każde święto Francuzów nam wróżą!<br>
Wygląda człek, wygląda, aż się oczy mrużą,<br>
A Moskal jak nas trzymał, tak trzyma za szyję.<br>
Pono nim słońce wnidzie, rosa oczy wyje”.
</p>

<p>
„Mospanie — rzekł Bernardyn — babska rzecz narzekać,<br>
A żydowska rzecz ręce założywszy czekać,<br>
Nim kto w karczmę zajedzie i do drzwi zapuka.<br>
Z Napoleonem pobić Moskalów nie sztuka.<br>
Jużci on Szwabom skórę trzy razy wymłócił,<br>
Brzydkie Prusactwo zdeptał. Anglików wyrzucił<br>
Het za morze, Moskalom zapewne wygodzi;<br>
Ale co stąd wyniknie, wie Asan Dobrodziéj?<br>
Oto szlachta litewska wtenczas na koń wsiędzie<br>
I szable weźmie, kiedy bić się z kim nie będzie;<br>
Napoleon, sam wszystkich pobiwszy, nareszcie<br>
Powie: «Obejdę się ja bez was, kto jesteście?»<br>
Więc nie dość gościa czekać, nie dość i zaprosić,<br>
Trzeba czeladkę zebrać i stoły pownosić,<br>
A przed ucztą potrzeba dom oczyścić z śmieci;<br>
Oczyścić dom, powtarzam, oczyścić dom, dzieci!”
</p>

<p>
Nastąpiło milczenie, potem głosy w tłumie:<br>
„Jakże to dom oczyścić? Jak to Ksiądz rozumie?<br>
Jużci my wszystko zrobim, na wszystko gotowi,<br>
Tylko niech Ksiądz Dobrodziej jaśniej się wysłowi”.
</p>

<p>
Ksiądz poglądał za okno, przerwawszy rozmowę;<br>
Ujrzał coś ciekawego, z okna wytknął głowę,<br>
Po chwili rzekł powstając: „Dziś czasu nie mamy,<br>
Potem o tem obszerniej z sobą pogadamy;<br>
Jutro będę dla sprawy w powiatowem mieście<br>
I do Waszmościów z drogi zajadę po kweście”.
</p>

<p>
„Niech też do Niehrymowa Ksiądz na nocleg zdąży —<br>
Rzekł Ekonom — rad będzie Księdzu pan Chorąży;<br>
Wszakże na Litwie stare powiada przysłowie:<br>
Szczęśliwy człowiek, jako kwestarz w Niehrymowie!”<br>
„I do nas — rzekł Zubkowski — wstąp, jeżeli łaska;<br>
Znajdzie się tam półsztuczek płótna, masła faska,<br>
Baran lub krówka; wspomnij, Księże, na te słowa:<br>
Szczęśliwy człowiek, trafił jak ksiądz do Zubkowa”.<br>
„I do nas” — rzekł Skołuba. — „Do nas” — Terajewicz,<br>
„Żaden bernardyn głodny nie wyszedł z Pucewicz”.<br>
Tak cała szlachta prośbą i obietnicami<br>
Przeprowadzała księdza; on już był za drzwiami.
</p>

<p>
On już pierwej przez okno ujrzał Tadeusza,<br>
Który leciał gościńcem w cwał, bez kapelusza,<br>
Z głową schyloną, bladem, posępnem obliczem,<br>
A konia ustawicznie bodł i kropił biczem.<br>
Ten widok bardzo księdza Bernardyna zmieszał,<br>
Więc za młodzieńcem kroki szybkiemi pośpieszał<br>
Do wielkiej puszczy, która, jako oko sięga,<br>
Czerniła się na całym brzegu widnokręga.
</p>

<p>
Któż zbadał puszcz litewskich przepastne krainy<br>
Aż do samego środka, do jądra gęstwiny?<br>
Rybak ledwie u brzegów nawiedza dno morza;<br>
Myśliwiec krąży koło puszcz litewskich łoża,<br>
Zna je ledwie po wierzchu, ich postać, ich lice,<br>
Lecz obce mu ich wnętrzne serca tajemnice;<br>
Wieść tylko albo bajka wie, co się w nich dzieje.<br>
Bo gdybyś przeszedł bory i podszyte knieje,<br>
Trafisz w głębi na wielki wał pniów, kłod, korzeni,<br>
Obronny trzęsawicą, tysiącem strumieni<br>
I siecią zielsk zarosłych, i kopcami mrowisk,<br>
Gniazdami os, szerszeniów, kłębami wężowisk.
</p>

<p>
Gdybyś i te zapory zmógł nadludzkiem męstwem,<br>
Dalej spotkać się z większem masz niebezpieczeństwem:<br>
Dalej co krok czyhają, niby wilcze doły,<br>
Małe jeziorka trawą zarosłe na poły,<br>
Tak głębokie, że ludzie dna ich nie dośledzą<br>
(Wielkie jest podobieństwo, że diabły tam siedzą).<br>
Woda tych studni sklni się, plamista rdzą krwawą.<br>
A z wnętrza ciągle dymi, zionąc woń plugawą,<br>
Od której drzewa wkoło tracą liść i korę;<br>
Łyse, skarłowaciałe, robaczliwe, chore,<br>
Pochyliwszy konary mchem kołtunowate<br>
I pnie garbiąc brzydkiemi grzybami brodate,<br>
Siedzą wokoło wody jak czarownic kupa<br>
Grzejąca się nad kotłem, w którym warzą trupa.
</p>

<p>
Za temi jeziorkami już nie tylko krokiem,<br>
Ale daremnie nawet zapuszczać się okiem,<br>
Bo tam już wszystko mglistym zakryte obłokiem,<br>
Co się wiecznie ze trzęskich oparzelisk wznosi.<br>
A za tą mgłą na koniec (jak wieść gminna głosi)<br>
Ciągnie się bardzo piękna, żyzna okolica:<br>
Główna królestwa zwierząt i roślin stolica.<br>
W niej są złożone wszystkich drzew i ziół nasiona,<br>
Z których się rozrastają na świat ich plemiona;<br>
W niej, jak w arce Noego, z wszelkich zwierząt rodu<br>
Jedna przynajmniej para chowa się dla płodu.<br>
W samym środku (jak słychać) mają swoje dwory:<br>
Dawny Tur, Żubr i Niedźwiedź, puszcz imperatory.<br>
Około nich na drzewach gnieździ się Ryś bystry<br>
I żarłoczny Rosomak, jak czujne ministry;<br>
Dalej zaś, jak podwładni szlachetni wasale,<br>
Mieszkają Dziki, Wilki i Łosie rogale.<br>
Nad głowami Sokoły i Orłowie dzicy,<br>
Żyjący z pańskich stołów dworscy zausznicy.<br>
Te pary zwierząt głowne i patryjarchalne,<br>
Ukryte w jądrze puszczy, światu niewidzialne,<br>
Dzieci swe ślą dla osad za granicę lasu,<br>
A sami we stolicy używają wczasu;<br>
Nie giną nigdy bronią sieczną ani palną,<br>
Lecz starzy umierają śmiercią naturalną.<br>
Mają też i swój smętarz, kędy bliscy śmierci,<br>
Ptaki składają pióra, czworonogi sierci.<br>
Niedźwiedź, gdy zjadłszy zęby, strawy nie przeżuwa,<br>
Jeleń zgrzybiały, gdy już ledwie nogi suwa,<br>
Zając sędziwy, gdy mu już krew w żyłach krzepnie,<br>
Kruk, gdy już posiwieje, sokoł, gdy oślepnie,<br>
Orzeł, gdy mu dziób stary tak się w kabłąk skrzywi,<br>
Że zamknięty na wieki już gardła nie żywi,<br>
Idą na smętarz. Nawet mniejszy zwierz, raniony<br>
Lub chory, bieży umrzeć w swe ojczyste strony.<br>
Stąd to w miejscach dostępnych, kędy człowiek gości,<br>
Nie znajdują się nigdy martwych zwierząt kości.
</p>

<p>
Słychać, że tam w stolicy, między zwierzętami<br>
Dobre są obyczaje, bo rządzą się sami;<br>
Jeszcze cywilizacją ludzką nie popsuci,<br>
Nie znają praw własności, która świat nasz kłóci,<br>
Nie znają pojedynków ni wojennej sztuki.<br>
Jak ojce żyły w raju, tak dziś żyją wnuki,<br>
Dzikie i swojskie razem, w miłości i zgodzie,<br>
Nigdy jeden drugiego nie kąsa ni bodzie.
</p>

<p>
Nawet gdyby tam człowiek wpadł, chociaż niezbrojny,<br>
Toby środkiem bestyi przechodził spokojny;<br>
One by nań patrzyły tym wzrokiem zdziwienia,<br>
Jakim w owym ostatnim, szóstym dniu stworzenia<br>
Ojce ich pierwsze, co się w ogrójcu gnieździły,<br>
Patrzyły na Adama, nim się z nim skłóciły.<br>
Szczęściem, człowiek nie zbłądzi do tego ostępu,<br>
Bo Trud i Trwoga, i Śmierć bronią mu przystępu.
</p>

<p>
Czasem tylko w pogoni zaciekłe ogary,<br>
Wpadłszy niebacznie między bagna, mchy i jary,<br>
Wnętrznej ich okropności rażone widokiem,<br>
Uciekają skowycząc, z obłąkanym wzrokiem;<br>
I długo potem, ręką pana już głaskane,<br>
Drżą jeszcze u nóg jego, strachem opętane.<br>
Te puszcz stołeczne, ludziom nie znane tajniki<br>
W języku swoim strzelcy zowią: <strong>mateczniki</strong>.
</p>

<p>
Głupi niedźwiedziu! gdybyś w mateczniku siedział,<br>
Nigdy by się o tobie Wojski nie dowiedział;<br>
Ale czyli pasieki zwabiła cię wonność,<br>
Czy uczułeś do owsa dojrzałego skłonność,<br>
Wyszedłeś na brzeg puszczy, gdzie się las przerzedził,<br>
I tam zaraz leśniczy bytność twą wyśledził,<br>
I zaraz obsaczniki, chytre nasłał szpiegi,<br>
By poznać, gdzie popasasz i gdzie masz noclegi;<br>
Teraz Wojski z obławą, już od matecznika<br>
Postawiwszy szeregi, odwrót ci zamyka.
</p>

<p>
Tadeusz się dowiedział, że niemało czasu<br>
Już przeszło, jak ogary wpadły w otchłań lasu.
</p>

<p>
Cicho — próżno myśliwi natężają ucha;<br>
Próżno, jak najciekawszej mowy, każdy słucha<br>
Milczenia, długo w miejscu nieruchomy czeka;<br>
Tylko muzyka puszczy gra do nich z daleka.<br>
Psy nurtują po puszczy jak pod morzem nurki,<br>
A strzelcy obróciwszy do lasu dwórurki,<br>
Patrzą Wojskiego: ukląkł, ziemię uchem pyta;<br>
Jako w twarzy lekarza wzrok przyjacioł czyta<br>
Wyrok życia lub zgonu miłej im osoby,<br>
Tak strzelcy, ufni w sztuki Wojskiego sposoby,<br>
Topili w nim spojrzenia nadziei i trwogi.<br>
„Jest! jest!” — wyrzekł półgłosem, zerwał się na nogi.<br>
On słyszał! Oni jeszcze słuchali — nareszcie<br>
Słyszą: jeden pies wrzasnął, potem dwa, dwadzieście,<br>
Wszystkie razem ogary rozpierzchnioną zgrają<br>
Doławiają się, wrzeszczą, wpadli na trop, grają,<br>
Ujadają: już nie jest to powolne granie<br>
Psów goniących zająca, lisa albo łanie,<br>
Lecz wciąż wrzask krótki, częsty, ucinany, zjadły;<br>
To nie na ślad daleki ogary napadły,<br>
Na oko gonią — nagle ustał krzyk pogoni,<br>
Doszli zwierza; wrzask znowu, skowyt; zwierz się broni<br>
I zapewne kaleczy: śród ogarów grania<br>
Słychać coraz to częściej jęk psiego konania.
</p>

<p>
Strzelcy stali i każdy ze strzelbą gotową<br>
Wygiął się jak łuk naprzód, z wciśnioną w las głową.<br>
Nie mogą dłużej czekać! Już ze stanowiska<br>
Jeden za drugim zmyka i w puszczę się wciska;<br>
Chcą pierwsi spotkać zwierza; choć Wojski ostrzegał,<br>
Choć Wojski stanowiska na koniu obiegał,<br>
Krzycząc, że czy kto prostym chłopem, czy paniczem,<br>
Jeżeli z miejsca zejdzie, dostanie w grzbiet smyczem,<br>
Nie było rady! Wszyscy pomimo zakazu<br>
W las pobiegli. Trzy strzelby huknęły od razu;<br>
Potem wciąż kanonada, aż głośniej nad strzały<br>
Ryknął niedźwiedź i echem napełnił las cały.<br>
Ryk okropny! boleści, wściekłości, rozpaczy;<br>
Za nim wrzask psów, krzyk strzelców, trąby dojeżdżaczy<br>
Grzmiały ze środka puszczy; strzelcy — ci w las śpieszą,<br>
Tamci kurki odwodzą, a wszyscy się cieszą,<br>
Jeden Wojski w żałości, krzyczy, że chybiono.<br>
Strzelcy i obławnicy poszli jedną stroną<br>
Na przełaj zwierza, między ostępem i puszczą;<br>
A niedźwiedź, odstraszony psów i ludzi tłuszczą,<br>
Zwrócił się nazad w miejsca mniej pilnie strzeżone<br>
Ku polom, skąd już zeszły strzelcy rozstawione,<br>
Gdzie tylko pozostali z mnogich łowczych szyków<br>
Wojski, Tadeusz, Hrabia, z kilką obławników.
</p>

<p>
Tu las był rzadszy; słychać z głębi ryk, trzask łomu,<br>
Aż z gęstwy, jak z chmur, wypadł niedźwiedź na kształt gromu;<br>
Wkoło psy gonią, straszą, rwą; on wstał na nogi<br>
Tylne i spojrzał wkoło, rykiem strasząc wrogi,<br>
I przedniemi łapami to drzewa korzenie,<br>
To pniaki osmalone, to wrosłe kamienie<br>
Rwał, waląc w psów i w ludzi; aż wyłamał drzewo,<br>
Kręcąc nim jak maczugą na prawo, na lewo,<br>
Runął wprost na ostatnich strażników obławy:<br>
Hrabię i Tadeusza.<br>
Oni bez obawy<br>
Stoją w kroku, na źwierza wytknęli flint rury<br>
Jako dwa konduktory w łono ciemnej chmury;<br>
Aż oba jednym razem pociągnęli kurki<br>
(Niedoświadczeni!), razem zagrzmiały dwórurki;<br>
Chybili. Niedźwiedź skoczył, oni tuż utkwiony<br>
Oszczep jeden chwycili czterema ramiony.<br>
Wydzierali go sobie; spojrzą, aż tu z pyska<br>
Wielkiego, czerwonego dwa rzędy kłów błyska<br>
I łapa z pazurami już się na łby spuszcza;<br>
Pobledli, w tył skoczyli, i gdzie rzadnie puszcza,<br>
Zmykali; zwierz za nimi wspiął się, już pazury<br>
Zahaczał, chybił, podbiegł, wspiął się znów do góry<br>
I czarną łapą sięgał Hrabiego włos płowy.<br>
Zdarłby mu czaszkę z mozgów jak kapelusz z głowy,<br>
Gdy Asesor z Rejentem wyskoczyli z boków,<br>
A Gerwazy biegł z przodu o jakie sto kroków,<br>
Z nim Robak, choć bez strzelby — i trzej w jednej chwili<br>
Jak gdyby na komendę razem wystrzelili.<br>
Niedźwiedź wyskoczył w górę jak kot przed chartami<br>
I głową na dół runął, i czterma łapami<br>
Przewróciwszy się młyńcem, cielska krwawe brzemię<br>
Waląc tuż pod Hrabiego, zbił go z nóg na ziemię.<br>
Jeszcze ryczał, chciał jeszcze powstać, gdy nań wsiadły<br>
Rozjuszona Strapczyna i Sprawnik zajadły.
</p>

<p>
Natenczas Wojski chwycił na taśmie przypięty<br>
Swój róg bawoli, długi, cętkowany, kręty<br>
Jak wąż boa, oburącz do ust go przycisnął,<br>
Wzdął policzki jak banię, w oczach krwią zabłysnął,<br>
Zasunął wpół powieki, wciągnął w głąb pół brzucha<br>
I do płuc wysłał z niego cały zapas ducha.<br>
I zagrał: róg jak wicher niewstrzymanym dechem<br>
Niesie w puszczę muzykę i podwaja echem.<br>
Umilkli strzelce, stali szczwacze zadziwieni<br>
Mocą, czystością, dziwną harmoniją pieni.<br>
Starzec cały kunszt, którym niegdyś w lasach słynął,<br>
Jeszcze raz przed uszami myśliwców rozwinął;<br>
Napełnił wnet, ożywił knieje i dąbrowy,<br>
Jakby psiarnię w nie wpuścił i rozpoczął łowy.<br>
Bo w graniu była łowów historyja krótka:<br>
Zrazu odzew dźwięczący, rześki — to pobudka;<br>
Potem jęki po jękach skomlą — to psów granie;<br>
A gdzieniegdzie ton twardszy jak grzmot — to strzelanie.
</p>

<p>
Tu przerwał, lecz róg trzymał; wszystkim się zdawało,<br>
Że Wojski wciąż gra jeszcze, a to echo grało.
</p>

<p>
Zadął znowu; myśliłbyś, że róg kształty zmieniał<br>
I że w ustach Wojskiego to grubiał, to cieniał,<br>
Udając głosy zwierząt: to raz w wilczą szyję<br>
Przeciągając się, długo, przeraźliwie wyje;<br>
Znowu, jakby w niedźwiedzie rozwarłszy się garło,<br>
Ryknął; potem beczenie żubra wiatr rozdarło.
</p>

<p>
Tu przerwał, lecz róg trzymał; wszystkim się zdawało,<br>
Że Wojski wciąż gra jeszcze, a to echo grało.<br>
Wysłuchawszy rogowej arcydzieło sztuki,<br>
Powtarzały je dęby dębom, bukom buki.
</p>

<p>
Dmie znowu: jakby w rogu były setne rogi,<br>
Słychać zmieszane wrzaski szczwania, gniewu, trwogi,<br>
Strzelców, psiarni i zwierząt; aż Wojski do góry<br>
Podniósł róg, i tryumfu hymn uderzył w chmury.
</p>

<p>
Tu przerwał, lecz róg trzymał; wszystkim się zdawało,<br>
Że Wojski wciąż gra jeszcze, a to echo grało.<br>
Ile drzew, tyle rogów znalazło się w boru,<br>
Jedne drugim pieśń niosą jak z choru do choru.<br>
I szła muzyka coraz szersza, coraz dalsza,<br>
Coraz cichsza i coraz czystsza, doskonalsza,<br>
Aż znikła gdzieś daleko, gdzieś na niebios progu!
</p>

<p>
Wojski obiedwie ręce odjąwszy od rogu<br>
Rozkrzyżował; róg opadł, na pasie rzemiennym<br>
Chwiał się. Wojski z obliczem nabrzmiałem, promiennem,<br>
Z oczyma wzniesionemi, stał jakby natchniony,<br>
Łowiąc uchem ostatnie znikające tony.<br>
A tymczasem zagrzmiało tysiące oklasków,<br>
Tysiące powinszowań i wiwatnych wrzasków.
</p>

<p>
Uciszono się z wolna i oczy gawiedzi<br>
Zwróciły się na wielki, świeży trup niedźwiedzi:<br>
Leżał krwią opryskany, kulami przeszyty,<br>
Piersiami w gęszczę trawy wplątany i wbity,<br>
Rozprzestrzenił szeroko przednie krzyżem łapy,<br>
Dyszał jeszcze, wylewał strumień krwi przez chrapy,<br>
Otwierał jeszcze oczy, lecz głowy nie ruszy;<br>
Pjawki Podkomorzego dzierżą go pod uszy,<br>
Z lewej strony Strapczyna, a z prawej zawisał<br>
Sprawnik i dusząc gardziel, krew czarną wysysał.
</p>

<p>
Zaczem Wojski rozkazał kij żelazny włożyć<br>
Psom między zęby i tak paszczęki roztworzyć.<br>
Kolbami przewrócono na wznak zwierza zwłoki<br>
I znów trzykrotny wiwat uderzył w obłoki.
</p>

<p>
„A co? — krzyknął Asesor, kręcąc strzelby rurą —<br>
A co, fuzyjka moja? Górą nasi, górą!<br>
A co, fuzyjka moja? Niewielka ptaszyna,<br>
A jak się popisała? To jej nie nowina.<br>
Nie puści ona na wiatr żadnego ładunku,<br>
Od książęcia Sanguszki mam ją w podarunku”.<br>
Tu pokazywał strzelbę przedziwnej roboty<br>
Choć maleńką, i zaczął wyliczać jej cnoty.
</p>

<p>
„Ja biegłem — przerwał Rejent, otarłszy pot z czoła —<br>
Biegłem tuż za niedźwiedziem; a pan Wojski woła:<br>
«Stój na miejscu!» Jak tam stać? Niedźwiedź w pole wali,<br>
Rwąc z kopyta jak zając, coraz daléj, daléj,<br>
Aż mi ducha nie stało, dobiec ni nadziei;<br>
Aż spojrzę w prawo: sadzi, a tu rzadko w kniei...<br>
Jak też wziąłem na oko; postójże, marucha!<br>
Pomyśliłem, i basta: ot, leży bez ducha;<br>
Tęga strzelba, prawdziwa to Sagalasówka,<br>
Napis: «Sagalas London á Bałabanówka».<br>
(Sławny tam mieszkał ślusarz Polak, który robił<br>
Polskie strzelby, ale je po angielsku zdobił)”.
</p>

<p>
„Jak to — parsknął Asesor — do kroćset niedźwiedzi!<br>
To to niby Pan zabił? co też to Pan bredzi?”<br>
„Słuchaj no — odparł Rejent — tu, Panie, nie śledztwo,<br>
Tu obława; tu wszystkich weźmiem na świadectwo”.
</p>

<p>
Więc kłótnia między zgrają wszczęła się zawzięta,<br>
Ci stronę Asesora, ci brali Rejenta;<br>
O Gerwazym nie wspomniał nikt, bo wszyscy biegli<br>
Z boków i, co się z przodu działo, nie postrzegli.<br>
Wojski głos zabrał: „Teraz jest przynajmniej za co,<br>
Bo to, Panowie, nie jest ow szarak ladaco,<br>
To niedźwiedź, tu już nie żal poszukać odwetu,<br>
Czy szarpentyną, czyli nawet z pistoletu;<br>
Spór wasz trudno pogodzić, więc dawnym zwyczajem<br>
Na pojedynek nasze pozwolenie dajem.
</p>

<p>
Pamiętam, za mych czasów żyło dwóch sąsiadów,<br>
Oba ludzie uczciwi, szlachta z prapradziadów,<br>
Mieszkali po dwóch stronach nad rzeką Wilejką,<br>
Jeden zwał się Domejko, a drugi Dowejko,<br>
Do niedźwiedzicy oba razem wystrzelili:<br>
Kto zabił, trudno dociec; strasznie się kłócili<br>
I przysięgli strzelać się przez niedźwiedzią skórę:<br>
To mi to po szlachecku, prawie rura w rurę.<br>
Pojedynek ten wiele narobił hałasu;<br>
Pieśni o nim śpiewano za owego czasu.<br>
Ja byłem sekundantem; jak się wszystko działo,<br>
Opowiem od początku historyję całą”.
</p>

<p>
Nim Wojski zaczął mówić, Gerwazy spór zgodził;<br>
On niedźwiedzia z uwagą dokoła obchodził,<br>
Nareszcie dobył tasak, rozciął pysk na dwoje<br>
I w tylcu głowy, mózgu rozkroiwszy słoje,<br>
Znalazł kulę, wydobył, suknią ochędożył,<br>
Przymierzył do ładunku, do flinty przyłożył;<br>
A potem, dłoń podnosząc i kulę na dłoni:<br>
„Panowie — rzekł — ta kula nie jest z waszej broni,<br>
Ona z tej Horeszkowskiej wyszła jednorurki<br>
(Tu podniósł flintę starą, obwiązaną w sznurki),<br>
Lecz nie ja wystrzeliłem. O, trzeba tam było<br>
Odwagi; straszno wspomnieć, w oczach mi się ćmiło!<br>
Bo prosto biegli ku mnie oba paniczowie,<br>
A niedźwiedź z tyłu już — już na Hrabiego głowie,<br>
Ostatniego z Horeszków! chociaż po kądzieli.<br>
«Jezus Maria!» krzyknąłem; i Pańscy anieli<br>
Zesłali mi na pomoc księdza Bernardyna.<br>
On nas wszystkich zawstydził; oj, dzielny księżyna!<br>
Gdym drżał, gdym się do cyngla dotknąć nie ośmielił,<br>
On mi z rąk flintę wyrwał, wycelił, wystrzelił:<br>
Między dwie głowy strzelić! Sto kroków! Nie chybić!<br>
I w sam środek paszczęki! Tak mu zęby wybić!<br>
Panowie! Długo żyję, jednego widziałem<br>
Człowieka, co mógł takim popisać się strzałem.<br>
Ów głośny niegdyś u nas z tylu pojedynków,<br>
Ów, co korki kobietom wystrzelał z patynków,<br>
Ów łotr nad łotry, sławny w czasy wiekopomne,<br>
Ów Jacek, vulgo Wąsal; nazwiska nie wspomnę.<br>
Ale mu nie czas teraz dojeżdżać niedźwiedzi:<br>
Pewnie po same wąsy hultaj w piekle siedzi.<br>
Chwała Księdzu! Dwom ludziom on życie ocalił,<br>
Może i trzem; Gerwazy nie będzie się chwalił,<br>
Ale gdyby ostatnie z krwi Horeszków dziecię<br>
Wpadło w bestyi paszczę, nie byłbym na świecie,<br>
I moje by tam stare pogryzł niedźwiedź kości;<br>
Pójdź, Księże, wypijemy zdrowie Jegomości”.
</p>

<p>
Próżno szukano Księdza; wiedzą tylko tyle,<br>
Że po zabiciu źwierza zjawił się na chwilę,<br>
Podskoczył ku Hrabiemu i Tadeuszowi,<br>
A widząc, że obadwa cali są i zdrowi,<br>
Podniósł ku niebu oczy, cicho pacierz zmówił<br>
I pobiegł w pole szybko, jakby go kto łowił.
</p>

<p>
Tymczasem na Wojskiego rozkaz pęki wrzosu,<br>
Suche chrosty i pniaki rzucono do stosu;<br>
Bucha ogień, wyrasta szara sosna dymu<br>
I rozszerza się w górze na kształt baldakimu.<br>
Nad płomieniem oszczepy złożono w koziołki,<br>
Na grotach zawieszono brzuchate kociołki;<br>
Z wozów niosą jarzyny, mąki i pieczyste,<br>
I chleb.<br>
Sędzia otworzył puzderko zamczyste,<br>
W którym rzędami flaszek białe sterczą głowy;<br>
Wybiera z nich największy kufel kryształowy<br>
(Dostał go Sędzia w darze od księdza Robaka):<br>
Wódka to gdańska, napój miły dla Polaka.<br>
„Niech żyje — krzyknął Sędzia, w górę wznosząc flaszę —<br>
Miasto Gdańsk! niegdyś nasze, będzie znowu nasze!”<br>
I lał srebrzysty likwor w kolej, aż na końcu<br>
Zaczęło złoto kapać i błyskać na słońcu.
</p>

<p>
W kociołkach bigos grzano; w słowach wydać trudno<br>
Bigosu smak przedziwny, kolor i woń cudną;<br>
Słów tylko brzęk usłyszy i rymów porządek,<br>
Ale treści ich miejski nie pojmie żołądek.<br>
Aby cenić litewskie pieśni i potrawy,<br>
Trzeba mieć zdrowie, na wsi żyć, wracać z obławy.
</p>

<p>
Przecież i bez tych przypraw potrawą nie lada<br>
Jest bigos, bo się z jarzyn dobrych sztucznie składa.<br>
Bierze się doń siekana, kwaszona kapusta,<br>
Która, wedle przysłowia, sama idzie w usta;<br>
Zamknięta w kotle, łonem wilgotnem okrywa<br>
Wyszukanego cząstki najlepsze mięsiwa;<br>
I praży się, aż ogień wszystkie z niej wyciśnie<br>
Soki żywne, aż z brzegów naczynia war pryśnie<br>
I powietrze dokoła zionie aromatem.
</p>

<p>
Bigos już gotów. Strzelcy z trzykrotnym wiwatem,<br>
Zbrojni łyżkami, biegą i bodą naczynie,<br>
Miedź grzmi, dym bucha, bigos jak kamfora ginie,<br>
Zniknął, uleciał; tylko w czeluściach saganów<br>
Wre para jak w kraterze zagasłych wulkanów.
</p>

<p>
Kiedy się już do woli napili, najedli,<br>
Zwierza na wóz włożyli, sami na koń siedli,<br>
Radzi wszyscy, rozmowni, oprócz Asesora<br>
I Rejenta; ci byli gniewliwsi niż wczora,<br>
Kłócąc się o zalety, ten swej Sanguszkówki,<br>
A ten — bałabanowskiej swej Sagalasówki.<br>
Hrabia też i Tadeusz jadą nieweseli,<br>
Wstydząc się, że chybili i że się cofnęli:<br>
Bo na Litwie — kto zwierza wypuści z obławy,<br>
Długo musi pracować, nim poprawi sławy.
</p>

<p>
Hrabia mówił, że pierwszy do oszczepu godził<br>
I że spotkaniu z zwierzem Tadeusz przeszkodził;<br>
Tadeusz utrzymywał, że będąc silniejszy<br>
I do robienia ciężkim oszczepem zręczniejszy,<br>
Chciał wyręczyć Hrabiego: tak sobie niekiedy<br>
Przymawiali śród gwaru i wrzasku czeredy.
</p>

<p>
Wojski jechał pośrodku; staruszek szanowny<br>
Wesoły był nadzwyczaj i bardzo rozmowny;<br>
Chcąc kłótników zabawić i do zgody dowieść,<br>
Kończył im o Dowejce i Domejce powieść:
</p>

<p>
„Asesorze, jeżeli chciałem, byś z Rejentem<br>
Pojedynkował, nie myśl, że jestem zawziętym<br>
Na krew ludzką; broń Boże! chciałem was zabawić,<br>
Chciałem wam komedyję niby to wyprawić,<br>
Wznowić koncept, który ja lat temu czterdzieście<br>
Wymyśliłem — przedziwny! — Wy młodzi jesteście,<br>
Nie pamiętacie o nim, lecz za moich czasów<br>
Głośny był od tej puszczy do poleskich lasów.
</p>

<p>
„Domejki i Dowejki wszystkie sprzeciwieństwa<br>
Pochodziły, rzecz dziwna, z nazwisk podobieństwa<br>
Bardzo niewygodnego. Bo gdy w czas sejmików<br>
Przyjaciele Dowejki skarbili stronników,<br>
Szepnął ktoś do szlachcica: «Daj kreskę Dowejce!»,<br>
A ten nie dosłyszawszy dał kreskę Domejce.<br>
Gdy na uczcie wniósł zdrowie marszałek Rupejko:<br>
«Wiwat Dowejko!» — drudzy krzyknęli: «Domejko!»<br>
A kto siedział w pośrodku, nie trafił do ładu,<br>
Zwłaszcza przy niewyraźnej mowie w czas obiadu.
</p>

<p>
Gorzej było; raz w Wilnie jakiś szlachcic pjany<br>
Bił się w szable z Domejką i dostał dwie rany;<br>
Potem ów szlachcic, z Wilna wracając do domu,<br>
Dziwnym trafem z Dowejką zjechał się u promu;<br>
Gdy więc na jednym promie płynęli Wilejką,<br>
Pyta sąsiada: kto on? odpowie: Dowejko;<br>
Nie czekając dobywa rapier spod kirejki:<br>
Czach, czach, i za Domejkę podciął wąs Dowejki.
</p>

<p>
Wreszcie, jak na dobitkę, trzeba jeszcze było,<br>
Żeby na polowaniu tak się wydarzyło,<br>
Że stali blisko siebie oba imiennicy<br>
I do jednej strzelili razem niedźwiedzicy.<br>
Prawda, że po ich strzale upadła bez duchu,<br>
Ale już pierwej niosła z dziesiątek kul w brzuchu;<br>
Strzelby z jednym kalibrem miało wiele osób.<br>
Kto zabił niedźwiedzicę? dojdźże! jaki sposób?
</p>

<p>
Tu już krzyknęli: «Dosyć! Trzeba raz rzecz skończyć.<br>
Bóg nas czy diabeł złączył, trzeba się rozłączyć:<br>
Dwóch nas, jak dwóch słońc, pono zanadto na świecie!»<br>
A więc do szerpentynek i stają na mecie.<br>
Oba szanowni ludzie; co ich szlachta godzą,<br>
To oni na się jeszcze zapalczywiej godzą.<br>
Zmienili broń; od szabel szło na pistolety.<br>
Stają, krzyczym, że nadto przybliżyli mety;<br>
Oni na złość, przysięgli przez niedźwiedzią skórę<br>
Strzelać się, śmierć niechybna! prawie rura w rurę.<br>
Oba tęgo strzelali. — «Sekunduj, Hreczecha!»<br>
«Zgoda — rzekłem — niech zaraz dół wykopie klecha:<br>
Bo taki spór nie może skończyć się na niczém;<br>
Lecz bijcie się szlacheckim trybem, nie rzeźniczym,<br>
Dosyć już mety zbliżać, widzę, żeście zuchy;<br>
Chcecie strzelać się, rury oparłszy na brzuchy?<br>
Ja nie pozwolę; zgoda, że na pistolety;<br>
Lecz strzelać się nie z dalszej ani z bliższej mety<br>
Jak przez skórę niedźwiedzią; ja rękami memi<br>
Jako sekundant skórę rozciągnę na ziemi<br>
I ja sam was ustawię. Waść po jednej stronie<br>
Stanie na końcu pyska, a Waść na ogonie».<br>
«Zgoda!» — wrzaśli.<br>
Czas? — jutro, miejsce? — karczma Usza.<br>
Rozjechali się. Ja zaś do Wirgilijusza”.
</p>

<p>
Tu Wojskiemu przerwał krzyk: „Wyczha!” Tuż spod koni<br>
Smyknął szarak; już Kusy, już go Sokoł goni.<br>
Psy wzięto na obławę, wiedząc, że z powrotem<br>
Na polu łatwo można napotkać się z kotem;<br>
Bez smyczy szły przy koniach; gdy kota postrzegły,<br>
Wprzód nim strzelcy poszczuli, już za nim pobiegły.<br>
Rejent też i Asesor chcieli końmi natrzeć;<br>
Lecz Wojski wstrzymał krzycząc: „Wara! stać i patrzeć!<br>
Nikomu krokiem ruszyć z miejsca nie dozwolę;<br>
Stąd widzim wszyscy dobrze, zając idzie w pole”.
</p>

<p>
W istocie, kot czuł z tyłu myśliwych i psiarnie,<br>
Rwał w pole, słuchy wytknął jak dwa różki sarnie,<br>
Sam szarzał się nad rolą długi, wyciągnięty,<br>
Skoki pod nim sterczały jakby cztery pręty,<br>
Rzekłbyś, że ich nie rusza, tylko ziemię trąca<br>
Po wierzchu, jak jaskółka wodę całująca.<br>
Pył za nim, psy za pyłem; z daleka się zdało,<br>
Że zając, pył i charty jedne tworzą ciało:<br>
Jakby jakaś przez pole suwała się źmija,<br>
Kot jak głowa, pył z tyłu jakby modra szyja,<br>
A psami jak podwójnym ogonem wywija.
</p>

<p>
Rejent, Asesor patrzą, otworzyli usta,<br>
Dech wstrzymali; wtem Rejent pobladnął jak chusta,<br>
Zbladł i Asesor, widzą — fatalnie się dzieje,<br>
Owa źmija im dalej, tym bardziej dłużeje,<br>
Już rwie się wpół, już znikła owa szyja pyłu,<br>
Głowa już blisko lasu, ogony — gdzie z tyłu!<br>
Głowa niknie, raz jeszcze jakby kto kutasem<br>
Mignął: w las wpadła; ogon urwał się pod lasem.
</p>

<p>
Biedne psy, ogłupiałe biegały pod gajem,<br>
Zdawały się naradzać, oskarżać nawzajem;<br>
Wreszcie wracają, z wolna skacząc przez zagony,<br>
Spuściły uszy, tulą do brzucha ogony<br>
I przybiegłszy, ze wstydu nie śmieją wznieść oczu,<br>
I zamiast iść do panów, stały na uboczu.
</p>

<p>
Rejent spuścił ku piersiom zasępione czoło,<br>
Asesor rzucał okiem, ale niewesoło,<br>
Potem zaczęli oba słuchaczom wywodzić:<br>
Jak ich charty bez smycza nie nawykły chodzić,<br>
Jak kot znienacka wypadł, jak źle był poszczuty<br>
Na roli, gdzie psom chyba trzeba by wdziać buty,<br>
Tak pełno wszędzie głazów i ostrych kamieni.
</p>

<p>
Mądrze rzecz wyłuszczali szczwacze doświadczeni;<br>
Myśliwi z tych mów wiele mogliby korzystać,<br>
Lecz nie słuchali pilnie; ci zaczęli świstać,<br>
Ci śmiać się w głos, ci, mając niedźwiedzia w pamięci,<br>
Gadali o nim, świeżą obławą zajęci.
</p>

<p>
Wojski ledwie raz okiem za zającem rzucił;<br>
Widząc, że uciekł, głowę obojętnie zwrócił<br>
I kończył rzecz przerwaną:<br>
„Na czem więc stanąłem?<br>
Aha! na tem, że obu za słowo ująłem,<br>
Iż będą strzelali się przez niedźwiedzią skórę.<br>
Szlachta w krzyk: «Toż śmierć pewna! Prawie rura w rurę!»<br>
A ja w śmiech, bo mnie uczył mój przyjaciel Maro,<br>
Że skóra źwierza nie jest lada jaką miarą.<br>
Wszak wiecie Waćpanowie, jak królowa Dydo<br>
Przypłynęła do Libów i tam z wielką biédą<br>
Wytargowała sobie taki ziemi kawał,<br>
Który by się wołową skórą nakryć dawał;<br>
Na tym kawałku ziemi stanęła Kartago!<br>
Więc ja to sobie w nocy rozbieram z uwagą.
</p>

<p>
Ledwie dniało, już z jednej strony taradejką<br>
Jedzie Dowejko, z drugiej na koniu Domejko.<br>
Patrzą, aż tu przez rzekę leży most kosmaty,<br>
Pas ze skóry niedźwiedziej porzniętej na szmaty.<br>
Postawiłem Dowejkę na zwierza ogonie<br>
Z jednej strony, Domejkę zaś na drugiej stronie.<br>
«Pukajcie teraz — rzekłem — choć przez całe życie,<br>
Lecz póty was nie spuszczę, aż się pogodzicie».<br>
Oni w złość; a tu szlachta kładnie się na ziemi<br>
Od śmiechu, a ja z księdzem słowy poważnemi<br>
Nuż im z Ewanieliji, z statutów dowodzić;<br>
Nie ma rady: — śmieli się i musieli zgodzić.
</p>

<p>
Spor ich potem w dozgonną przyjaźń się zamienił,<br>
I Dowejko się z siostrą Domejki ożenił,<br>
Domejko pojął siostrę szwagra, Dowejkównę,<br>
Podzielili majątek na dwie części równe,<br>
A w miejscu, gdzie się zdarzył tak dziwny przypadek,<br>
Pobudowawszy karczmę nazwali <strong>Niedźwiadek</strong>”.
</p>