

<h3>KSIĘGA DWUNASTA</h3>

<h4>KOCHAJMY SIĘ</h4>

<p class="streszczenie">
Ostatnia uczta staropolska<br>
Arcyserwis<br>
Objaśnienie jego figur<br>
Jego ruchy<br>
Dąbrowski udarowany<br>
Jeszcze o Scyzoryku.<br>
Kniaziewicz udarowany.<br>
Pierwszy akt urzędowy Tadeusza przy objęciu dziedzictwa<br>
Uwagi Gerwazego<br>
Koncert nad koncertami<br>
Polonez<br>
Kochajmy się!
</p>

<p>
Na koniec z trzaskiem sali drzwi na wściąż otwarto.<br>
Wchodzi pan Wojski w czapce i z głową zadartą,<br>
Nie wita się i miejsca za stołem nie bierze,<br>
Bo Wojski występuje w nowym charakterze,<br>
Marszałka dworu; laskę ma na znak urzędu<br>
I tą laską z kolei, jako mistrz obrzędu,<br>
Wskazuje wszystkim miejsca i gości usadza.<br>
Naprzód, jako najpierwsza województwa władza,<br>
Podkomorzy-Marszałek wziął miejsce zaszczytne:<br>
Ze słoniowym poręczem krzesło aksamitne;<br>
Obok na prawej stronie jenerał Dąbrowski,<br>
Na lewej siadł Kniaziewicz, Pac i Małachowski.<br>
Śród nich Podkomorzyna, dalej inne panie,<br>
Oficerowie, pany, szlachta i ziemianie,<br>
Mężczyźni i kobiety, na przemian po parze<br>
Usiadają porządkiem, gdzie Wojski ukaże.
</p>

<p>
Pan Sędzia skłoniwszy się opuścił biesiadę;<br>
On na dziedzińcu włościan traktował gromadę;<br>
Zebrawszy ich za stołem na dwa staje długim,<br>
Sam siadł na jednym końcu, a pleban na drugim.<br>
Tadeusz i Zofija do stołu nie siedli;<br>
Zajęci częstowaniem włościan, chodząc jedli.<br>
Starożytny był zwyczaj, iż dziedzice nowi<br>
Na pierwszej uczcie sami służyli ludowi.
</p>

<p>
Tymczasem goście, potraw czekający w sali,<br>
Z zadziwieniem na wielki serwis poglądali,<br>
Którego równie drogi kruszec jak robota.<br>
Jest podanie, że książę Radziwiłł-Sierota<br>
Kazał ten sprzęt na urząd w Wenecyi zrobić<br>
I wedle własnych planów po polsku ozdobić.<br>
Serwis, potem zabrany czasu wojny szwedzkiéj,<br>
Przeszedł, nie wiedzieć jaką drogą, w dom szlachecki.<br>
Dziś ze skarbca dobyty zajął środek stoła<br>
Ogromnym kręgiem na kształt karetnego koła.
</p>

<p>
Serwis ten był nalany ode dna po brzegi<br>
Piankami i cukrami białemi jak śniegi:<br>
Udawał przewybornie krajobraz zimowy;<br>
W środku czerniał ogromny bór konfiturowy:<br>
Stronami domy, niby wioski i zaścianki,<br>
Okryte zamiast śronu cukrowwemi pianki;<br>
Na krawędziach naczynia, stoją dla ozdoby<br>
Niewielkie, z porcelany wydęte osoby<br>
W polskich strojach; jakoby aktory na scenie,<br>
Zdawały się przedstawiać jakoweś zdarzenie;<br>
Gest ich sztucznie wydany, farby osobliwe,<br>
Tylko głosu im braknie, zresztą gdyby żywe.
</p>

<p>
Cóż przedstawiają? — goście pytali ciekawi,<br>
Zaczem Wojski podnosi laskę i tak prawi<br>
(Tymczasem podawano wódkę przed jedzeniem):<br>
„Za mych Wielce Mościwych Panów pozwoleniem:<br>
Te persony, których tu widzicie bez liku,<br>
Przedstawiają polskiego historią sejmiku,<br>
Narady, wotowanie, tryumfy i waśnie;<br>
Sam tę scenę odgadłem i Państwu objaśnię.
</p>

<p>
„Oto na prawo widać liczne szlachty grono:<br>
Pewnie ich przed sejmikiem na ucztę sproszono.<br>
Czeka nakryty stolik; nikt gości nie sadza,<br>
Stoją kupkami, każda kupka się naradza.<br>
Patrzcie, iż w każdej kupce stoi w środku człowiek,<br>
Z którego ust otwartych, z podniesionych powiek,<br>
Rąk niespokojnych, widać — mówca; cóś tłomaczy,<br>
I palcem eksplikuje, i na dłoni znaczy.<br>
Ci mowcy zalecają swoich kandydatów<br>
Z różnym skutkiem, jak widać z miny szlachty bratów.
</p>

<p>
Wprawdzie tam w drugiej kupie szlachta pilnie słucha,<br>
Ten ręce za pas zatknął i przyłożył ucha,<br>
Ów dłoń przy uchu trzyma i milczkiem wąs kręci,<br>
Zapewne słowa zbiera i niże w pamięci;<br>
Cieszy się mowca, widząc, że są nawróceni,<br>
Gładzi kieszeń, bo kreski ich już ma w kieszeni.
</p>

<p>
Lecz za to w trzeciem gronie dzieje się inaczéj;<br>
Tu mówca musi łowić za pasy słuchaczy.<br>
Patrzcie! wyrywają się i cofają uszy;<br>
Patrzcie, jako ten słuchacz od gniewu się puszy,<br>
Wzniosł ręce, grozi mówcy, usta mu zatyka,<br>
Pewnie słyszał pochwały swego przeciwnika;<br>
Ten drugi, pochyliwszy czoło na kształt byka,<br>
Powiedziałbyś, że mówcę pochwyci na rogi;<br>
Ci biorą się do szabel, tamci poszli w nogi.
</p>

<p>
Jeden między kupkami szlachcic cichy stoi,<br>
Widać, że człek bezstronny, waha się i boi;<br>
Za kim dać kreskę? nie wie i sam z sobą w walce,<br>
Pyta losu, wzniosł ręce, wytknął wielkie palce,<br>
Zmrużył oczy, paznokciem do paznokcia mierzy,<br>
Widać, że kreskę swoję kabale powierzy:<br>
Jeśli palce trafią się, da afirmatywę,<br>
A jeżeli się chybią, rzuci negatywę.
</p>

<p>
Na lewej druga scena: refektarz klasztoru,<br>
Obrócony na salę szlacheckiego zboru.<br>
Starsi rzędem na ławach siedzą, młodsi stają<br>
I ciekawi przez głowy w środek zaglądają;<br>
W środku marszałek stoi, wazon w ręku trzyma,<br>
Liczy gałki, szlachta je pożera oczyma.<br>
Właśnie wytrząsł ostatnią; woźni ręce wznoszą<br>
I imię obranego urzędnika głoszą.
</p>

<p>
Jeden szlachcic na zgodę powszechną nie zważa.<br>
Patrz, wytknął głowę oknem z kuchni refektarza,<br>
Patrz, jak oczy wytrzeszczył, jak pogląda śmiało,<br>
Usta otworzył, jakby chciał zjeść izbę całą:<br>
Łatwo zgadnąć, że szlachcic ten zawołał: «Veto!»<br>
Patrzcie, jak za tą nagłą do kłótni podnietą<br>
Tłoczy się do drzwi ciżba, pewnie idą w kuchnię;<br>
Dostali szable, pewnie krwawy bój wybuchnie.
</p>

<p>
Lecz tam, na korytarzu, Państwo uważacie<br>
Tego starego księdza, co idzie w ornacie —<br>
To przeor; Sanctissimum z ołtarza wynosi,<br>
A chłopiec w komży dzwoni i na ustąp prosi;<br>
Szlachta wnet szable chowa, żegna się i klęka,<br>
A ksiądz tam się obraca, gdzie jeszcze broń szczęka;<br>
Skoro przyjdzie, wnet wszystkich uciszy i zgodzi.
</p>

<p>
Ach! wy nie pamiętacie tego, Państwo młodzi,<br>
Jak wśród naszej burzliwej szlachty samowładnej,<br>
Zbrojnej, nie trzeba było policyi żadnej;<br>
Dopóki wiara kwitła, szanowano prawa,<br>
Była wolność z porządkiem i z dostatkiem sława!<br>
W innych krajach, jak słyszę, trzyma urząd drabów,<br>
Policyjantów różnych, żandarmów, konstabów;<br>
Ale jeśli miecz tylko bezpieczeństwa strzeże,<br>
Żeby w tych krajach była wolność — nie uwierzę”.
</p>

<p>
Wtem dzwoniąc w tabakierę rzekł pan Podkomorzy:<br>
„Panie Wojski, niech Wasze na potem odłoży<br>
Te historyje; prawda, że sejmik ciekawy,<br>
Ale my głodni, każ Wać przynosić potrawy”.
</p>

<p>
Na to Wojski, skłaniając aż do ziemi laskę:<br>
„Jaśnie Wielmożny Panie, zróbże mi tę łaskę,<br>
Zaraz dokończę scenę ostatnią sejmików:<br>
Oto nowy marszałek na ręku stronników<br>
Wyniesion z refektarza; patrz, jak szlachta braty<br>
Rzucają czapki, usta otwarli — wiwaty!<br>
A tam po drugiej stronie pan przekreskowany,<br>
Sam jeden, czapkę wcisnął na łeb zadumany,<br>
Żona przed domem czeka, zgadła, co się dzieje,<br>
Biedna! oto na ręku pokojowej mdleje.<br>
Biedna! Jaśnie Wielmożnej tytuł przybrać miała,<br>
A znów tylko Wielmożną na lat trzy została!”
</p>

<p>
Tu Wojski skończył opis i laską znak daje,<br>
I wnet zaczęli wchodzić parami lokaje<br>
Roznoszący potrawy: barszcz królewskim zwany<br>
I rosoł staropolski sztucznie gotowany,<br>
Do którego pan Wojski z dziwnemi sekrety<br>
Wrzucił kilka perełek i sztukę monety<br>
(Taki rosoł krew czyści i pokrzepia zdrowie).<br>
Dalej inne potrawy, a któż je wypowie!<br>
Kto zrozumie nie znane już za naszych czasów<br>
Te półmiski kontuzów, arkasów, blemasów,<br>
Z ingredyjencyjami pomuchl, figatelów,<br>
Cybetów, piżm, dragantów, pinelów, brunelów;<br>
Owe ryby! łososie suche, dunajeckie,<br>
Wyzyny, kawijary weneckie, tureckie,<br>
Szczuki główne i szczuki podgłówne, łokietne,<br>
Flądry i karpie ćwiki, i karpie szlachetne!<br>
W końcu sekret kucharski: ryba nie krojona,<br>
U głowy przysmażona, we środku pieczona,<br>
A mająca potrawkę z sosem u ogona.
</p>

<p>
Goście ani pytali nazwiska potrawy,<br>
Ani ich zastanowił ów sekret ciekawy;<br>
Wszystko prędko z żołnierskim jedli apetytem,<br>
Kieliszki napełniając węgrzynem obfitym.
</p>

<p>
Ale tymczasem wielki serwis barwę zmienił<br>
I odarty ze śniegu już się zazielenił,<br>
Bo lekka, ciepłem letnim powoli rozgrzana,<br>
Roztopiła się lodu cukrowego piana<br>
I dno odkryła, dotąd zatajone oku;<br>
Więc krajobraz przedstawił nową porę roku,<br>
Zabłysnąwszy zieloną, różnofarbną wiosną.<br>
Wychodzą różne zboża, jak na drożdżach rosną,<br>
Pszenicy szafranowej buja kłos złocisty,<br>
Żyto ubrane w srebra malarskiego listy<br>
I gryka wyrabiana sztucznie z czokolady,<br>
I kwitnące gruszkami i jabłkami sady.
</p>

<p>
Ledwie mają czas goście darów lata użyć.<br>
Darmo proszą Wojskiego, żeby je przedłużyć:<br>
Już serwis, jak planeta koniecznym obrotem,<br>
Zmienia porę, już zboża malowane złotem,<br>
Nabrawszy ciepła w izbie powoli topnieją,<br>
Już trawy pożółkniały, liścia czerwienieją,<br>
Sypią się, rzekłbyś, iż wiatr jesienny powiewa;<br>
Na koniec owe chwilę przedtem strojne drzewa —<br>
Teraz, jakby odarte od wichrów i śronu,<br>
Stoją nagie; były to laski cynamonu<br>
Lub udające sosnę gałązki wawrzynu,<br>
Odziane zamiast kolców ziarenkami kminu.
</p>

<p>
Goście pijący wino zaczęli gałązki,<br>
Pnie i korzenie zrywać i gryźć dla zakąski.<br>
Wojski obchodził serwis i, pełen radości,<br>
Tryumfujące oczy obracał na gości.
</p>

<p>
Henryk Dąbrowski udał wielkie zadziwienie<br>
I rzekł: „Mój Panie Wojski, czy to chińskie cienie?<br>
Czy to Pinety Panu dał w służbę swe bisy?<br>
Czy dotąd u was w Litwie są takie serwisy<br>
I wszyscy takim starym ucztują zwyczajem?<br>
Powiedz mi, bo ja życie strawiłem za krajem”.
</p>

<p>
Wojski rzekł, kłaniając się: „Nie, Jaśnie Wielmożny<br>
Jenerale, nie jest to żaden kunszt bezbożny!<br>
Jest to pamiątka tylko owych biesiad sławnych,<br>
Które dawano w domach panów starodawnych,<br>
Gdy Polska używała szczęścia i potęgi!<br>
Com zrobił, tom wyczytał z tej tu oto księgi.
</p>

<p>
Pytasz, czy wszędzie w Litwie ten się zwyczaj chowa?<br>
Niestety! Już i do nas włazi moda nowa.<br>
Niejeden panicz krzyczy, że nie cierpi zbytków,<br>
Je jak Żyd, skąpi gościom potraw i napitków,<br>
Węgrzyna pożałuje, a pije szatańskie<br>
Fałszywe wino modne, moskiewskie, szampańskie;<br>
Potem w wieczor na karty tyle złota straci,<br>
Że za nie dałbyś ucztę na stu szlachty braci.<br>
Nawet (bo co na sercu mam, dziś powiem szczerze,<br>
Niech tego Podkomorzy za złe mi nie bierze)<br>
Kiedym ten serwis cudny ze skarbca dobywał,<br>
To nawet Podkomorzy, i on mnie przedrwiwał,<br>
Mówiąc, że to machina zmudna, staroświecka,<br>
Że to ma pozor niby zabawki dla dziecka,<br>
Nieprzyzwoitej dla tak znakomitych ludzi!<br>
Sędzio! i Sędzia mówił, że to gości znudzi!<br>
A przecież, ile wnoszę z Panów zadziwienia,<br>
Widzę, iż ten kunszt piękny godzien był widzenia!
</p>

<p>
Nie wiem, czy się podobna okazyja zdarzy<br>
Częstować w Soplicowie takich dygnitarzy.<br>
Widzę, że Pan Jenerał na biesiadach zna się.<br>
Niechaj przyjmie tę książkę, ona Panu zda się,<br>
Gdy będziesz dla monarchów zagranicznych grona<br>
Dawał ucztę, ba, nawet dla Napoleona.<br>
Ale pozwól, nim księgę tę Panu poświęcę,<br>
Niech powiem, jakim trafem wpadła w moje ręce”.
</p>

<p>
Wtem szmer powstał za drzwiami; razem głosów wiele<br>
Zawołało: „Niech żyje Kurek na kościele!”<br>
Ciżba tłoczy się w salę, a Maciej na czele.<br>
Sędzia gościa za rękę do stołu prowadził<br>
I wysoko pomiędzy wodzami posadził,<br>
Mówiąc: „Panie Macieju, niedobry sąsiedzie,<br>
Przyjeżdżasz bardzo późno, prawie po obiedzie”.
</p>

<p>
„Jem wcześnie — rzekł Dobrzyński — ja tu nie dla jadła<br>
Przybyłem, tylko że mnie ciekawość napadła<br>
Obejrzeć z bliska naszą armię narodową.<br>
Wiele by gadać — jest to ani to, ni owo!<br>
Szlachta mnie obaczyła i gwałtem tu wiedzie,<br>
A Waszeć za stół sadzasz — dziękuję, sąsiedzie”.<br>
To wyrzekłszy, przewrócił talerz dnem do góry<br>
Na znak, że jeść nie będzie, i milczał ponury.
</p>

<p>
„Panie Dobrzyński — rzekł mu jenerał Dąbrowski —<br>
Tyż to jesteś ów sławny rębacz Kościuszkowski,<br>
Ów Maciej, zwany Rózga! Znam ciebie ze sławy.<br>
I proszę, takiś dotąd czerstwy, taki żwawy!<br>
Ileż to lat minęło! Patrz, jam się podstarzał,<br>
Patrz, i Kniaziewiczowi już się włos poszarzał,<br>
A ty jeszcze z młodszymi mógłbyś pójść w zapasy,<br>
I Rózga twoja kwitnie pono jak przed czasy;<br>
Słyszałem, żeś niedawno Moskalów oćwiczył.<br>
Lecz gdzie są bracia twoi? Niezmiernie bym życzył<br>
Widzieć te Scyzoryki i te wasze Brzytwy,<br>
Ostatnie egzemplarze starodawnej Litwy”.
</p>

<p>
„Jenerale — rzekł Sędzia — po owem zwycięstwie<br>
Prawie wszyscy Dobrzyńscy schronili się w Księstwie;<br>
Zapewne do którego weszli legijonu!”<br>
„W istocie — odpowiedział młody szef szwadronu —<br>
Mam w drugiej kompaniji wąsate straszydło,<br>
Wachmistrza Dobrzyńskiego, co się zwie Kropidło,<br>
A Mazury zowią go litewskim niedźwiedziem.<br>
Jeśli Jenerał każe, to go tu przywiedziem”.<br>
„Jest — rzekł porucznik — kilku innych rodem z Litwy,<br>
Jeden żołnierz znajomy pod imieniem Brzytwy<br>
I drugi, co z tromblonem jeździ na flankiery;<br>
Są także w pułku strzelców dwa grenadyjery<br>
Dobrzyńscy”.
</p>

<p>
„Ale, ale, o ich naczelniku —<br>
Rzekł Jenerał — chcę wiedzieć, o tym Scyzoryku,<br>
O którym mnie Pan Wojski tyle prawił cudów,<br>
Jakby o jednym z owych dawnych wielkoludów”.
</p>

<p>
„Scyzoryk — rzecze Wojski — choć nie egzulował,<br>
Ale bojąc się śledztwa, przed Moskwą się schował;<br>
Całą zimę nieborak tułał się po lasach,<br>
Teraz dopiero wyszedł; w tych wojennych czasach<br>
Mógłby się na co przydać, jest rycerskim człekiem,<br>
Szkoda tylko, że trochę przyciśniony wiekiem.<br>
Lecz owóż on!...”
</p>

<p>
Tu Wojski palcem wskazał w sieni,<br>
Gdzie czeladź i wieśniacy stali natłoczeni,<br>
A nad wszystkich głowami łysina błyszcząca<br>
Ukazała się nagle jak pełnia miesiąca,<br>
Trzykroć weszła i trzykroć znikła w głów obłoku;<br>
Klucznik idąc kłaniał się, aż dobył się z tłoku<br>
I rzekł :
</p>

<p>
„Jaśnie Wielmożny Koronny Hetmanie<br>
Czy Jenerale, mniejsza o tytułowanie,<br>
Jam jest Rębajło, staję na twe zawołanie<br>
Z tym moim Scyzorykiem, który nie z oprawy<br>
Ani z napisów, ale z hartu nabył sławy,<br>
Że nawet o nim Jaśnie Wielmożny Pan wiedział.<br>
Gdyby on gadać umiał, może by powiedział<br>
Cokolwiek na pochwałę i tej starej ręki,<br>
Która służyła długo, wiernie, Bogu dzięki,<br>
Ojczyźnie tudzież panów Horeszków rodzinie,<br>
Czego pamięć dotychczas między ludźmi słynie.<br>
Mopanku! rzadko który pisarz prowentowy<br>
Tak zręcznie temperuje pióra, jak on głowy.<br>
Długo liczyć! A nosów i uszu bez liku!<br>
A nie ma żadnej szczerby na tym Scyzoryku<br>
I żaden go nie splamił zbojecki uczynek,<br>
Tylko otwarta wojna albo pojedynek.<br>
Raz tylko! Panie, daj mu wieczny odpoczynek,<br>
Bezbronnego człowieka, niestety, sprzątniono!<br>
A i to, Bóg mi świadkiem, pro publico bono”.
</p>

<p>
„Pokaż no — rzekł śmiejąc się jenerał Dąbrowski —<br>
A to piękny scyzoryk, istny miecz katowski!”<br>
I z zadziwieniem wielki rapier opatrywał,<br>
I innym oficerom w kolej pokazywał;<br>
Probowali go wszyscy, ale ledwie który<br>
Z oficerów mógł podnieść ten rapier do góry.<br>
Mówiono, że Dembiński, sławny ręki siłą,<br>
Podźwignąłby szablicę, lecz go tam nie było.<br>
Z obecnych zaś tylko szef szwadronu, Dwernicki,<br>
I dowódca plutonu, porucznik Różycki,<br>
Potrafili obracać tym żelaznym drągiem;<br>
I tak rapier na probę szedł z rąk do rąk ciągiem.
</p>

<p>
Lecz jenerał Kniaziewicz, wzrostem najsłuszniejszy,<br>
Pokazało się, iż był w ręku najsilniejszy.<br>
Ująwszy rapier, lekko jakby szpadę dźwignął<br>
I nad głowami gości błyskawicą mignął,<br>
Przypominając polskie fechtarskie wykręty:<br>
<strong>Krzyżową sztukę</strong>, <strong>młyńca</strong>,<br>
<strong>cios krzywy</strong>, <strong>raz cięty</strong>,<br>
<strong>Cios kradziony i tempy</strong><br>
<strong>kontrpunktów</strong>, <strong>tercetów</strong>,<br>
Które też umiał, bo był ze Szkoły Kadetów.
</p>

<p>
Gdy śmiejąc się fechtował, Rębajło już klęczał,<br>
Objął go za kolana i ze łzami jęczał<br>
Za każdym zwrotem miecza: „Pięknie! Jenerale,<br>
Czyś był konfederatem? Pięknie, doskonale!<br>
To sztych Puławskich! Tak się Dzierżanowski składał!<br>
To sztych Sawy! Któż Panu tak rękę układał?<br>
Chyba Maciej Dobrzyński! A to, Jenerale,<br>
Mój wynalazek, dalbóg mój, ja się nie chwalę,<br>
To cięcie znane tylko w Rębajłów zaścianku,<br>
Od mojego imienia zwane <strong>cios mopanku</strong>.<br>
Któż to Pana nauczył? To jest moje cięcie,<br>
Moje!”<br>
Wstał, Jenerała porwawszy w objęcie.<br>
„Teraz umrę spokojnie! Jest przecie na świecie<br>
Człowiek, który przytuli moje drogie dziecię;<br>
Bo wszak nad tem od dawna dzień i noc boleję,<br>
Czy po śmierci ten rapier mój nie zerdzewieje!<br>
Otóż nie zerdzewieje! Mój Jaśnie Wielmożny<br>
Jenerale, wybacz mi, porzućcie te rożny,<br>
Niemieckie szpadki, to wstyd szlacheckiemu dziecku<br>
Nosić ten kijek; weźmij szablę po szlachecku!<br>
Oto ten mój Scyzoryk u nóg Twoich składam,<br>
To jest, co najdroższego na świecie posiadam.<br>
Nie miałem nigdy żony, nie miałem dziecięcia,<br>
On był żoną i dzieckiem; z mojego objęcia<br>
Nigdy on nie wychodził; od rana do mroku<br>
Pieściłem go, on w nocy sypiał przy mym boku!<br>
A kiedym się zestarzał, nad łóżkiem na ścianie<br>
Wisiał, jako nad Żydem Boże przykazanie!<br>
Myśliłem zakopać go razem z ręką w grobie,<br>
Lecz znalazłem dziedzica! — Niechaj służy Tobie!”
</p>

<p>
Jenerał wpół śmiejąc się, a na wpół wzruszony:<br>
„Kolego — rzekł — jeżeli ustąpisz mnie żony<br>
I dziecka, to zostaniesz przez resztę żywota<br>
Bardzo samotny, stary, wdowiec i sierota!<br>
Powiedz, czem ci ten drogi dar mam wynagrodzić<br>
I czem twoje sieroctwo i wdowstwo osłodzić?”
</p>

<p>
„Czy ja Cybulski? — rzecze na to Klucznik z żalem —<br>
Co żonę przegrał, grając w mariasza z Moskalem,<br>
Jak o tem pieśń powiada? — Ja mam dosyć na tem,<br>
Że mój Scyzoryk jeszcze zabłyśnie przed światem<br>
W takim ręku! — Niech tylko Jenerał pamięta,<br>
Aby tasiemka była długa, rozciągnięta,<br>
Bo to długie; a zawsze od lewego ucha<br>
Ciąć oburącz, to przetniesz od głowy do brzucha”.
</p>

<p>
Jenerał wziął Scyzoryk, lecz że bardzo długi,<br>
Nie mógł nosić, w furgonie schowały go sługi.<br>
Co się z nim stało, różnie powiadają o tem,<br>
Lecz nikt pewnie nie wiedział ni wtenczas, ni potem.
</p>

<p>
Dąbrowski rzekł do Maćka: „A ty co, Kolego?<br>
Zdaje się, żeś ty nierad z przybycia naszego?<br>
Milczysz kwaśny? I jakże, serce ci nie skacze,<br>
Gdy widzisz orły złote, srebrne? gdy trębacze<br>
Pobudkę Kościuszkowską trąbią ci nad uchem?<br>
Maćku, myśliłem, że ty większym jesteś zuchem;<br>
Jeśli szabli nie weźmiesz i na koń nie siędziesz,<br>
Przynajmniej z kolegami wesoło pić będziesz<br>
Zdrowie Napoleona i Polski nadzieje!”
</p>

<p>
„Ha! — rzekł Maciej — słyszałem, widzę, co się dzieje!<br>
Ale, Panie, dwóch orłów razem się nie gnieździ!<br>
Łaska pańska, Hetmanie, na pstrym koniu jeździł<br>
Cesarz wielki bohater! gadać o tem wiele!<br>
Pamiętam, że Puławscy, moi przyjaciele,<br>
Mawiali, poglądając na Dymuryjera,<br>
Że dla Polski polskiego trzeba bohatera,<br>
Nie Francuza, ani też Włocha, ale Piasta,<br>
Jana albo Józefa, lub Maćka — i basta.
</p>

<p>
Wojsko! Mówią, że polskie! Lecz te fizyliery,<br>
Sapery, grenadiery i kanonijery!<br>
Więcej słychać niemieckich tytułów w tym tłumie<br>
Niżeli narodowych! Kto to już zrozumie!<br>
A muszą też być z wami Turki czy Tartary,<br>
Czy syzmatyki, co ni Boga, ani wiary!<br>
Sam widziałem: kobiety w wioskach napastują,<br>
Przechodniów odzierają, kościoły rabują!<br>
Cesarz idzie do Moskwy! daleka to droga,<br>
Jeśli Cesarz Jegomość wybrał się bez Boga!<br>
Słyszałem, że już podpadł pod klątwy biskupie;<br>
Wszystko to jest...” Tu Maciej chleb umoczył w supie<br>
I jedząc nie dokończył ostatniego słowa.
</p>

<p>
Nie w smak Podkomorzemu poszła Maćka mowa.<br>
Młodzież zaczęła szemrać; Sędzia przerwał swary,<br>
Głosząc przybycie trzeciej narzeczonej pary.
</p>

<p>
Był to Rejent; sam siebie Rejentem ogłosił;<br>
Nikt go nie poznał; dotąd polskie suknie nosił,<br>
Lecz teraz Telimena, przyszła żona, zmusza<br>
Warunkiem intercyzy wyrzec się kontusza;<br>
Więc się Rejent rad nierad po francusku przebrał.<br>
Widno, że mu frak duszy połowę odebrał.<br>
Stąpa, jakby kij połknął, prosto, nieruchawo,<br>
Jak żóraw; nie śmie spójrzeć ni w lewo, ni w prawo;<br>
Mina gęsta, lecz z miny widać, że jest w męce,<br>
Nie wie, jak się pokłonić, gdzie ma podziać ręce,<br>
On, co tak gesty lubił! ręce za pas sadził —<br>
Nie masz pasa — tylko się po żołądku gładził;<br>
Postrzegł omyłkę; bardzo zmięszał się, spiekł raka<br>
I ręce obie schował w jedną kieszeń fraka.<br>
Idzie jakby przez rózgi śród szeptów i drwinek,<br>
Wstydząc się za frak, jakby za niecny uczynek;<br>
Aż spotkał oczy Maćka i zadrżał z bojaźni.
</p>

<p>
Maciej dotąd z Rejentem żył w wielkiej przyjaźni.<br>
Teraz wzrok nań obrócił tak ostry i dziki,<br>
Że Rejent zbladnął, zaczął zapinać guziki,<br>
Myśląc, że Maciej wzrokiem suknie z niego złupi;<br>
Dobrzyński tylko dwakroć wyrzekł głośno: „Głupi!” —<br>
I tak strasznie zgorszył się z Rejenta przebrania,<br>
Że zaraz wstał od stołu i bez pożegnania<br>
Wymknąwszy się, wsiadł na koń, wrócił do zaścianka.
</p>

<p>
A tymczasem Rejenta nadobna kochanka,<br>
Telimena, roztacza blaski swej urody<br>
I ubior od stóp do głów co najświeższej mody.<br>
Jaką miała sukienkę, jaki strój na głowie,<br>
Daremnie pisać, pióro tego nie wypowie,<br>
Chyba pędzel by skreślił te tiule, ptyfenie,<br>
Blondyny, kaszemiry, perły i kamienie,<br>
I oblicze różane, i żywe wejrzenie.
</p>

<p>
Poznał ją zaraz Hrabia, z zadziwienia blady,<br>
Wstał od stołu i szukał koło siebie szpady:<br>
„I tyżeś to! — zawołał — czy mnie oczy łudzą?<br>
Ty? w obecności mojej? ściskasz rękę cudzą?<br>
O, niewierna istoto, o, duszo zmiennicza!<br>
I nie skryjesz ze wstydu pod ziemię oblicza?<br>
Takeś twojej tak świeżej niepomna przysięgi?<br>
O łatwowierny! Po cóż nosiłem te wstęgi!<br>
Lecz biada rywalowi, co mię tak znieważa!<br>
Po moim chyba trupie pójdzie do ołtarza!”
</p>

<p>
Goście powstali, Rejent okropnie się zmieszał,<br>
Podkomorzy rywalów zagodzić pośpieszał;<br>
Lecz Telimena wziąwszy Hrabiego na stronę:<br>
„Jeszcze — szepnęła — Rejent nie wziął mię za żonę;<br>
Jeżeli Pan przeszkadzasz, odpowiedzże na to,<br>
A odpowiedz mi zaraz, krótko, węzłowato:<br>
Czy mnie kochasz, czyś dotąd serca nie odmienił,<br>
Czyś gotów, żebyś ze mną zaraz się ożenił?<br>
Zaraz, dziś? — Jeśli zechcesz, odstąpię Rejenta”.
</p>

<p>
Hrabia rzekł: „O, kobieto, dla mnie niepojęta!<br>
Dawniej w uczuciach twoich byłaś poetyczną,<br>
A teraz mi się zdajesz całkiem prozaiczną;<br>
Cóż są wasze małżeństwa, jeśli nie łańcuchy,<br>
Które związują tylko ręce, a nie duchy?<br>
Wierzaj, są oświadczenia, nawet bez wyznania,<br>
Są obowiązki nawet bez obowiązania!<br>
Dwa serca, pałające na dwóch końcach ziemi,<br>
Rozmawiają jak gwiazdy promieńmi drżącemi:<br>
Kto wie! może dlatego ziemia tak do słońca<br>
Dąży i tak jest zawsze miłą dla miesiąca,<br>
Że wiecznie patrzą na się i najkrótszą drogą<br>
Biegą do siebie — ale zbliżyć się nie mogą!”<br>
„Dość już tego — przerwała — nie jestem planetą<br>
Z łaski Bożej! Dość, Hrabio, ja jestem kobietą;<br>
Już wiem resztę, przestań mi pleść ni to, ni owo.<br>
Teraz ostrzegam: jeśli piśniesz jedno słowo,<br>
Ażeby ślub mój zerwać, to jak Bóg na niebie,<br>
Że z temi paznokciami przyskoczę do ciebie<br>
I...”
</p>

<p>
„Nie będę — rzekł Hrabia — szczęścia Pani kłócił!”<br>
I oczy pełne smutku i wzgardy odwrócił,<br>
I ażeby ukarać niewierną kochankę,<br>
Za przedmiot stałych ogniów wziął Podkomorzankę.
</p>

<p>
Wojski pragnął młodzieńców poróżnionych zgodzić<br>
Przykładami mądremi, więc zaczął wywodzić<br>
Historyję o dziku nalibockich lasów<br>
I o kłótni Rejtana z książęciem Denassów,<br>
Ale goście tymczasem skończyli jeść lody<br>
I z zamku na dziedziniec wyszli dla ochłody.
</p>

<p>
Tam włość już kończy ucztę, krążą miodu dzbany,<br>
Muzyka już się stroi i wzywa na tany;<br>
Szukają Tadeusza, który stał na stronie<br>
I coś pilnego szeptał swojej przyszłej żonie.
</p>

<p>
„Zofijo! muszę ciebie w bardzo ważnej rzeczy<br>
Radzić się; już pytałem stryja, on nie przeczy.<br>
Wiesz, iż znaczna część wiosek, które mam posiadać,<br>
Wedle prawa na ciebie powinna by spadać.<br>
A chłopi nie są moi, lecz twoi poddani,<br>
Nie śmiałbym ich urządzić bez woli ich pani.<br>
Teraz, kiedy już mamy Ojczyznę kochaną,<br>
Czyliż wieśniacy zyszczą z tą szczęśliwą zmianą<br>
Tyle tylko, że pana innego dostaną?<br>
Prawda, że byli dotąd rządzeni łaskawie,<br>
Lecz po mej śmierci Bóg wie komu ich zostawię;<br>
Jestem żołnierz, jesteśmy śmiertelni oboje,<br>
Jestem człowiek, sam własnych kaprysów się boję;<br>
Bezpieczniej zrobię, kiedy władzy się wyrzekę<br>
I oddam los włościanów pod prawa opiekę.<br>
Sami wolni, uczyńmy i włościan wolnemi,<br>
Oddajmy im w dziedzictwo posiadanie ziemi,<br>
Na której się zrodzili, którą krwawą pracą<br>
Zdobyli, z której wszystkich żywią i bogacą.<br>
Lecz muszę ciebie ostrzec, że tych ziem nadanie<br>
Zmniejszy nasz dochod; w miernym musimy żyć stanie.<br>
Ja przywykłem do życia oszczędnego z młodu;<br>
Lecz ty, Zofijo, jesteś z wysokiego rodu,<br>
W stolicy przepędziłaś twoje młode lata;<br>
Czyż zgodzisz się żyć na wsi? z daleka od świata!<br>
Jak ziemianka!”<br>
A na to Zosia rzekła skromnie:<br>
„Jestem kobietą, rządy nie należą do mnie.<br>
Wszakże Pan będziesz mężem; ja do rady młoda.<br>
Co Pan urządzisz, na to całym sercem zgoda!<br>
Jeśli włość uwalniając, zostaniesz uboższy,<br>
To, Tadeuszu, będziesz sercu memu droższy.<br>
O moim rodzie mało wiem i nie dbam o to;<br>
Tyle pomnę, że byłam ubogą, sierotą,<br>
Że od Sopliców byłam za córkę przybrana,<br>
W ich domu hodowana i za mąż wydana.<br>
Wsi nie lękam się; jeśli w wielkim mieście żyłam,<br>
To dawno; zapomniałam, wieś zawsze lubiłam;<br>
I wierz mi, że mnie moje kogutki i kurki<br>
Więcej bawiły niżli owe Peterburki;<br>
Jeśli czasem tęskniłam do zabaw, do ludzi,<br>
To z dzieciństwa; wiem teraz, że mnie miasto nudzi;<br>
Przekonałam się zimą po krótkim pobycie<br>
W Wilnie, że ja na wiejskie urodzona życie;<br>
Pośród zabaw tęskniłam znów do Soplicowa.<br>
Pracy też nie lękam się, bom młoda i zdrowa,<br>
Umiem chodzić około domu, nosić klucze;<br>
Gospodarstwa, obaczysz, jak ja się wyuczę!”
</p>

<p>
Gdy Zosia domawiała ostatnie wyrazy,<br>
Podszedł ku niej zdziwiony i kwaśny Gerwazy:<br>
„Już wiem! — rzekł. — Sędzia mówił już o tej wolności!<br>
Lecz nie pojmuję, co to ściąga się do włości!<br>
Boję się, żeby to coś nie było z niemiecka!<br>
Wszak wolność nie jest chłopska rzecz, ale szlachecka!<br>
Prawda, że się wywodzim wszyscy od Adama,<br>
Alem słyszał, że chłopi pochodzą od Chama,<br>
Żydowie od Jafeta, my szlachta od Sema,<br>
A więc panujem jako starsi nad obiema.<br>
Jużci pleban inaczej uczy na ambonie...<br>
Powiada, że to było tak w Starym Zakonie,<br>
Ale skoro Chrystus Pan, choć z krolów pochodził,<br>
Między Żydami w chłopskiej stajni się urodził,<br>
Odtąd więc wszystkie stany porównał i zgodził.<br>
Niech i tak będzie, kiedy inaczej nie można!<br>
Zwłaszcza że, jako słyszę, i Jaśnie Wielmożna<br>
Pani moja, Zofija, na wszystko się zgadza;<br>
Jej rozkazać, mnie słuchać; jużci przy niej władza.<br>
Tylko ostrzegam, byśmy wolności nie dali<br>
Pustej i słownej tylko, jako za Moskali,<br>
Kiedy pan Karp nieboszczyk włościan wyswobodził,<br>
A Moskal ich podatkiem potrójnym ogłodził.<br>
Radzę więc, aby chłopów starym obyczajem<br>
Uszlachcić i ogłosić, że im herb nasz dajem,<br>
Pani udzieli jednym wioskom Półkozica,<br>
Drugim niech swą Leliwę nada Pan Soplica.<br>
Natenczas i Rębajło uzna chłopa rownym,<br>
Gdy go ujrzy szlachcicem wielmożnym, herbownym,<br>
Sejm potwierdzi.<br>
A niech się mąż Pani nie trwoży,<br>
Iż oddanie ziem Państwo tak bardzo zuboży;<br>
Nie da Bóg, abym rączki córy dygnitarskiej<br>
Widział umozolone w pracy gospodarskiej.<br>
Jest na to sposób. — W zamku wiem ja pewną skrzynię,<br>
W której jest Horeszkowskie stołowe naczynie,<br>
Przytem różne sygnety, kanaki, manele,<br>
Kity bogate, rzędy, cudne karabele,<br>
Skarbczyk Stolnika, w ziemi skryty od grabieży;<br>
Pani Zofiji jako dziedziczce należy;<br>
Pilnowałem go w zamku jako oka w głowie<br>
Od Moskalów i od was, Państwo Soplicowie.<br>
Mam także spory worek mych własnych talarów,<br>
Uzbieranych z wysługi tudzież z pańskich darów.<br>
Myśliłem, gdy nam zamek wróconym zostanie,<br>
Obrócić grosz na murów wyreperowanie;<br>
Nowemu gospodarstwu dziś zda się w potrzebie;<br>
A więc, Panie Soplico, wnoszę się do ciebie,<br>
Będę żył u mej Pani na łaskawym chlebie<br>
I kołysząc Horeszków pokolenie trzecie,<br>
Wprawiać do Scyzoryka Pani mojej dziecię,<br>
Jeśli syn — a syn będzie, bo wojny nadchodzą,<br>
A w czasie wojny zawżdy synowie się rodzą”.
</p>

<p>
Ledwie ostatnie słowa domówił Gerwazy,<br>
Gdy poważnemi kroki przystąpił Protazy,<br>
Skłonił się i wydobył z zanadrza kontusza<br>
Panegiryk ogromny w półtrzecia arkusza.<br>
Skomponował go rymem podoficer młody,<br>
Który niegdyś w stolicy sławne pisał ody,<br>
Potem wdział mundur, lecz i w wojsku beletrysta,<br>
Wiersze rabiał. — Już Woźny przeczytał ich trzysta,<br>
Aż gdy przyszedł do miejsca: „O ty, której wdzięki<br>
Budzą bolesną radość i rozkoszne męki!<br>
Która na szyk Bellony gdy zwrócisz twarz piękną,<br>
Złamią się wnet oszczepy i tarcze rozpękną,<br>
Zwalcz dziś Marsa Hymenem; srogiej niezgod hydrze<br>
Niech dłoń twoja syczące z czoła zmije wydrze!” —
</p>

<p>
Tadeusz i Zofija ustawnie klaskali,<br>
Niby chwaląc, w istocie nie chcąc słuchać daléj.
</p>

<p>
Już z rozkazu Sędziego pleban stał na stole<br>
I ogłaszał włościanom Tadeusza wolę.
</p>

<p>
Zaledwie usłyszeli nowinę poddani,<br>
Skoczyli do panicza, padli do nóg pani,<br>
„Zdrowie Państwu naszemu!” — ze łzami krzyknęli;<br>
Tadeusz krzyknął: „Zdrowie Spółobywateli,<br>
Wolnych, równych, Polaków!”
</p>

<p>
„Wnoszę Ludu zdrowie!” —<br>
Rzekł Dąbrowski; lud krzyknął: „Niech żyją Wodzowie,<br>
Wiwat Wojsko!” „Wiwat Lud, wiwat wszystkie Stany!”<br>
Tysiącem głosów zdrowia grzmiały na przemiany.
</p>

<p>
Tylko Buchman radości podzielać nie raczył,<br>
Pochwalał projekt, lecz go rad by przeinaczył,<br>
A naprzód komisyją legalną wyznaczył,<br>
Która by... Krótkość czasu była na zawadzie,<br>
Że nie stało się zadość Buchmanowej radzie.
</p>

<p>
Bo na dziedzińcu zamku już stali parami<br>
Oficery z damami, wiara z wieśniaczkami:<br>
„Poloneza!” — krzyknęli wszyscy w jedno słowo.<br>
Oficerowie wiodą muzykę wojskową;<br>
Ale pan Sędzia w ucho rzekł do Jenerała:<br>
„Każ Pan, żeby się jeszcze kapela wstrzymała;<br>
Wiesz, że dzisiaj synowca mego zaręczyny,<br>
A dawnym obyczajem jest naszej rodziny<br>
Zaręczać się i żenić przy wiejskiej muzyce.<br>
Patrz, stoi cymbalista, skrzypak i kozice;<br>
Poczciwi muzykanci — już się skrzypak zżyma,<br>
A kobeźnik kłania się i żebrze oczyma;<br>
Jeżeli ich odprawię, biedni będą płakać;<br>
Lud przy innej muzyce nie potrafi skakać;<br>
Niechaj ci zaczną, niech się i lud podweseli,<br>
Potem będziem wybornej twej słuchać kapeli”.<br>
Dał znak.
</p>

<p>
Skrzypak u sukni zakasał rękawek,<br>
Ścisnął gryf krzepko, oparł brodę o podstawek<br>
I smyk jak konia w zawód puścił po skrzypicy.<br>
Na to hasło stojący obok kobeźnicy,<br>
Jak gdyby w skrzydła bijąc, częstym ramion ruchem<br>
Dmą w miechy i oblicza wypełniają duchem;<br>
Myśliłbyś, że ta para w powietrze uleci,<br>
Podobna do pyzatych Boreasza dzieci.<br>
Brakło cymbałów.
</p>

<p>
Było cymbalistów wielu,<br>
Ale żaden z nich nie śmiał zagrać przy Jankielu<br>
(Jankiel przez całą zimę nie wiedzieć gdzie bawił,<br>
Teraz się nagle z głównym sztabem wojska zjawił).<br>
Wiedzą wszyscy, że mu nikt na tym instrumencie<br>
Nie wyrówna w biegłości, w guście i w talencie.<br>
Proszą, ażeby zagrał, podają cymbały;<br>
Żyd wzbrania się, powiada, że ręce zgrubiały,<br>
Odwykł od grania, nie śmie i panów się wstydzi;<br>
Kłaniając się umyka; gdy to Zosia widzi,<br>
Podbiega i na białej podaje mu dłoni<br>
Drążki, któremi zwykle mistrz we stróny dzwoni;<br>
Drugą rączką po siwej brodzie starca głaska<br>
I dygając: „Jankielu — mówi — jeśli łaska,<br>
Wszak to me zaręczyny, zagrajże, Jankielu!<br>
Wszak nieraz przyrzekałeś grać na mym weselu!”
</p>

<p>
Jankiel nieźmiernie Zosię lubił; kiwnął brodą<br>
Na znak, że nie odmawia; więc go w środek wiodą,<br>
Podają krzesło, usiadł, cymbały przynoszą,<br>
Kładą mu na kolanach. On patrzy z rozkoszą<br>
I z dumą; jak weteran w służbę powołany,<br>
Gdy wnuki ciężki jego miecz ciągną ze ściany,<br>
Dziad śmieje się, choć miecza dawno nie miał w dłoni,<br>
Lecz uczuł, że dłoń jeszcze nie zawiedzie broni.
</p>

<p>
Tymczasem dwaj uczniowie przy cymbałach klęczą,<br>
Stroją na nowo struny i probując brzęczą;<br>
Jankiel z przymrużonemi na poły oczyma<br>
Milczy i nieruchome drążki w palcach trzyma.
</p>

<p>
Spuścił je, zrazu bijąc taktem tryumfalnym,<br>
Potem gęściej siekł stróny jak deszczem nawalnym;<br>
Dziwią się wszyscy — lecz to była tylko proba,<br>
Bo wnet przerwał i w górę podniosł drążki oba.
</p>

<p>
Znowu gra: już drżą drążki tak lekkiemi ruchy,<br>
Jak gdyby zadzwoniło w stronę skrzydło muchy,<br>
Wydając ciche, ledwie słyszalne brzęczenia.<br>
Mistrz zawsze patrzył w niebo, czekając natchnienia.<br>
Spójrzał z góry, instrument dumnym okiem zmierzył,<br>
Wzniosł ręce, spuścił razem, w dwa drążki uderzył:<br>
Zdumieli się słuchacze...<br>
Razem ze strón wiela<br>
Buchnął dźwięk, jakby cała janczarska kapela<br>
Ozwała się z dzwonkami, z zelami, z bębenki.<br>
Brzmi Polonez Trzeciego Maja! — Skoczne dźwięki<br>
Radością oddychają, radością słuch poją,<br>
Dziewki chcą tańczyć, chłopcy w miejscu nie dostoją —<br>
Lecz starców myśli z dźwiękiem w przeszłość się uniosły,<br>
W owe lata szczęśliwe, gdy senat i posły<br>
Po dniu Trzeciego Maja w ratuszowej sali<br>
Zgodzonego z narodem króla fetowali;<br>
Gdy przy tańcu śpiewano: „Wiwat Król kochany!<br>
Wiwat Sejm, wiwat Naród, wiwat wszystkie Stany!”
</p>

<p>
Mistrz coraz takty nagli i tony natęża;<br>
A wtem puścił fałszywy akord jak syk węża,<br>
Jak zgrzyt żelaza po szkle — przejął wszystkich dreszczem<br>
I wesołość pomięszał przeczuciem złowieszczem.<br>
Zasmuceni, strwożeni, słuchacze zwątpili:<br>
Czy instrument niestrojny? czy się muzyk myli?<br>
Nie zmylił się mistrz taki! On umyślnie trąca<br>
Wciąż tę zdradziecką stronę, melodyję zmąca,<br>
Coraz głośniej targając akord rozdąsany,<br>
Przeciwko zgodzie tonów skonfederowany;<br>
Aż Klucznik pojął mistrza, zakrył ręką lica<br>
I krzyknął: „Znam! znam głos ten!<br>
to jest <strong>Targowica</strong>!”<br>
I wnet pękła ze świstem strona złowróżąca.
</p>

<p>
Muzyk bieży do prymów, urywa takt, zmąca,<br>
Porzuca prymy, bieży z drążkami do basów.<br>
Słychać tysiące coraz głośniejszych hałasów,<br>
Takt marszu, wojna, atak, szturm, słychać wystrzały,<br>
Jęk dzieci, płacze matek. — Tak mistrz doskonały<br>
Wydał okropność szturmu, że wieśniaczki drżały,<br>
Przypominając sobie ze łzami boleści<br>
<strong>Rzeź Pragi</strong>, którą znały z pieśni i z powieści,<br>
Rade, że mistrz na koniec strónami wszystkiemi<br>
Zagrzmiał i głosy zdusił, jakby wbił do ziemi.
</p>

<p>
Ledwie słuchacze mieli czas wyjść z zadziwienia,<br>
Znowu muzyka inna — znów zrazu brzęczenia<br>
Lekkie i ciche, kilka cienkich strónek jęczy,<br>
Jak kilka much, gdy z siatki wyrwą się pajęczéj.<br>
Lecz strón coraz przybywa, już rozpierzchłe tony<br>
Łączą się i akordów wiążą legijony,<br>
I już w takt postępują zgodzonemi dźwięki,<br>
Tworząc nutę żałosną tej sławnej piosenki:<br>
O żołnierzu tułaczu, który borem, lasem<br>
Idzie, z biedy i z głodu przymierając czasem,<br>
Na koniec pada u nóg konika wiernego,<br>
A konik nogą grzebie mogiłę dla niego.
</p>

<p>
Piosenka stara, wojsku polskiemu tak miła!<br>
Poznali ją żołnierze, wiara się skupiła<br>
Wkoło mistrza; słuchają, wspominają sobie<br>
Ów czas okropny, kiedy na Ojczyzny grobie<br>
Zanucili tę piosnkę i poszli w kraj świata;<br>
Przywodzą na myśl długie swej wędrówki lata<br>
Po lądach, morzach, piaskach gorących i mrozie,<br>
Pośrodku obcych ludów, gdzie często w obozie<br>
Cieszył ich i rozrzewniał ten śpiew narodowy.<br>
Tak rozmyślając, smutnie pochylili głowy.
</p>

<p>
Ale je wnet podnieśli, bo mistrz tony wznosi,<br>
Natęża, takty zmienia, cóś innego głosi.<br>
I znowu spójrzał z góry, okiem struny zmierzył,<br>
Złączył ręce, oburącz w dwa drążki uderzył:<br>
Uderzenie tak sztuczne, tak było potężne,<br>
Że stróny zadzwoniły jak trąby mosiężne<br>
I z trąb znana piosenka ku niebu wionęła,<br>
Marsz tryumfalny: „Jeszcze Polska nie zginęła!”<br>
„Marsz, Dąbrowski, do Polski!” — I wszyscy klasnęli,<br>
I wszyscy „Marsz Dąbrowski” chorem okrzyknęli!
</p>

<p>
Muzyk, jakby sam swojej dziwił się piosence,<br>
Upuścił drążki z palców, podniosł w górę ręce,<br>
Czapka lisia spadła mu z głowy na ramiona,<br>
Powiewała poważnie broda podniesiona,<br>
Na jagodach miał kręgi dziwnego rumieńca,<br>
We wzroku, ducha pełnym, błyszczał żar młodzieńca,<br>
Aż gdy na Dąbrowskiego starzec oczy zwrócił,<br>
Zakrył rękami, spod rąk łez potok się rzucił:<br>
„Jenerale! — rzekł — ciebie długo Litwa nasza<br>
Czekała... długo, jak my Żydzi Mesyjasza.<br>
Ciebie prorokowali dawno między ludem<br>
Śpiewaki, ciebie niebo obwieściło cudem.<br>
Żyj i wojuj, o, ty nasz!...”<br>
Mówiąc, ciągle szlochał.<br>
Żyd poczciwy Ojczyznę jako Polak kochał!<br>
Dąbrowski mu podawał rękę i dziękował,<br>
On, czapkę zdjąwszy, wodza rękę ucałował.
</p>

<p>
Poloneza czas zacząć. — Podkomorzy rusza<br>
I z lekka zarzuciwszy wyloty kontusza,<br>
I wąsa podkręcając, podał rękę Zosi,<br>
I skłoniwszy się grzecznie, w pierwszą parę prosi.<br>
Za Podkomorzym szereg w pary się gromadzi;<br>
Dano hasło, zaczęto taniec — on prowadzi.
</p>

<p>
Nad murawą czerwone połyskają buty,<br>
Bije blask z karabeli, świeci się pas suty,<br>
A on stąpa powoli, niby od niechcenia;<br>
Ale z każdego kroku, z każdego ruszenia<br>
Można tancerza czucia i myśli wyczytać:<br>
Oto stanął, jak gdyby chciał swą damę pytać,<br>
Pochyla ku niej głowę, chce szepnąć do ucha;<br>
Dama głowę odwraca, wstydzi się, nie słucha,<br>
On zdjął konfederatkę, kłania się pokornie,<br>
Dama raczyła spójrzeć, lecz milczy upornie;<br>
On krok zwalnia, oczyma jej spójrzenie śledzi<br>
I zaśmiał się na koniec — rad z jej odpowiedzi,<br>
Stąpa prędzej, pogląda na rywalów z góry<br>
I swą konfederatkę z czaplinymi pióry<br>
To na czole zawiesza, to nad czołem wstrząsa,<br>
Aż włożył ją na bakier i podkręcił wąsa.<br>
Idzie; wszyscy zazdroszczą, biegą w jego ślady,<br>
On by rad ze swą damą wymknąć się z gromady;<br>
Czasem staje na miejscu, rękę grzecznie wznosi<br>
I żeby mimo przeszli, pokornie ich prosi;<br>
Czasem zamyśla zręcznie na bok się uchylić,<br>
Odmienia drogę, rad by towarzyszów zmylić,<br>
Lecz go szybkimi kroki ścigają natręty<br>
I zewsząd obwijają tanecznemi skręty;<br>
Więc gniewa się, prawicę na rękojeść składa,<br>
Jakby rzekł: „Nie dbam o was, zazdrośnikom biada!”<br>
Zwraca się z dumą w czole i z wyzwaniem w oku<br>
Prosto w tłum; tłum tancerzy nie śmie dostać w kroku;<br>
Ustępują mu z drogi i — zmieniwszy szyki,<br>
Puszczają się znów za nim.<br>
Brzmią zewsząd okrzyki:<br>
„Ach, to może ostatni! patrzcie, patrzcie, młodzi,<br>
Może ostatni, co tak poloneza wodzi!”
</p>

<p>
I szły pary po parach hucznie i wesoło,<br>
Rozkręcało się, znowu skręcało się koło,<br>
Jak wąż olbrzymi, w tysiąc łamiący się zwojów;<br>
Mieni się cętkowata, różna barwa strojów<br>
Damskich, pańskich, żołnierskich, jak łuska błyszcząca,<br>
Wyzłocona promieńmi zachodniego słońca<br>
I odbita o ciemne murawy węzgłowia.<br>
Wre taniec, brzmi muzyka, oklaski i zdrowia!
</p>

<p>
Tylko kapral Dobrzyński Sak ani kapeli<br>
Nie słucha, ani tańczy, ani się weseli.<br>
Ręce w tył założywszy stoi zły, ponury,<br>
Wspomina swe dawniejsze do Zosi konkury:<br>
Jak lubił dla niej nosić kwiaty, pleść koszyczki,<br>
Wybierać gniazda ptasie, robić zauszniczki.<br>
Niewdzięczna! chociaż tyle pięknych darów strwonił,<br>
Choć przed nim uciekała, choć mu ojciec bronił,<br>
On jeszcze!... Ile razy na parkanie siadał,<br>
By ją dójrzeć przez okna! w konopie się wkradał,<br>
Żeby patrzeć, jak ona pleła swe ogródki,<br>
Rwała ogórki albo karmiła kogutki.<br>
Niewdzięczna! Spuścił głowę, i na koniec świsnął<br>
Mazurka, potem kaszkiet na uszy nacisnął<br>
I szedł w obóz, gdzie stała przy armatach warta;<br>
Tam dla rozerwania się zaczął grać w drużbarta<br>
Z wiarusami, kielichem osładzając żałość.<br>
Taka była dla Zosi Dobrzyńskiego stałość.
</p>

<p>
Zosia tańczy wesoło; lecz choć w pierwszej parze,<br>
Ledwie widna z daleka; na wielkim obszarze<br>
Zarosłego dziedzińca, w zielonej sukience,<br>
Ustrojona w równianki i w kwieciste wieńce,<br>
Śród traw i kwiatów krąży niewidzialnym lotem,<br>
Rządząc tańcem, jak anioł nocnych gwiazd obrotem:<br>
Zgadniesz, gdzie jest, bo ku niej obrócone oczy,<br>
Wyciągnięte ramiona, ku niej zgiełk się tłoczy.<br>
Darmo się Podkomorzy zostać przy niej sili;<br>
Zazdrośnicy już z pierwszej pary go odbili;<br>
I szczęśliwy Dąbrowski niedługo się cieszył,<br>
Ustąpił ją drugiemu, a już trzeci śpieszył;<br>
I ten, zaraz odbity, odszedł bez nadziei.<br>
Aż Zosia, już strudzona, spotkała z kolei<br>
Tadeusza, i dalszej lękając się zmiany,<br>
I chcąc przy nim pozostać, zakończyła tany.<br>
Idzie do stołu gościom nalewać kielichy.
</p>

<p>
Słońce już gasło, wieczór był ciepły i cichy;<br>
Okrąg niebios gdzieniegdzie chmurkami zasłany,<br>
U góry błękitnawy, na zachód różany;<br>
Chmurki wróżą pogodę, lekkie i świecące,<br>
Tam jako trzody owiec na murawie śpiące,<br>
Ówdzie nieco drobniejsze, jak stada cyranek.<br>
Na zachód obłok na kształt rąbkowych firanek,<br>
Przejrzysty, sfałdowany, po wierzchu perłowy,<br>
Po brzegach pozłacany, w głębi purpurowy,<br>
Jeszcze blaskiem zachodu tlił się i rozżarzał,<br>
Aż powoli pożółkniał, zbladnął i poszarzał;<br>
Słońce spuściło głowę, obłok zasunęło<br>
I raz ciepłym powiewem westchnąwszy — usnęło.
</p>

<p>
A szlachta ciągle pije i wiwaty wznosi:<br>
Napoleona, Wodzów, Tadeusza, Zosi,<br>
Wreszcie z kolei wszystkich trzech par zaręczonych,<br>
Wszystkich gości obecnych, wszystkich zaproszonych,<br>
Wszystkich przyjaciół, których kto żywych spamięta<br>
I których zmarłych pamięć pozostała święta!<br>
I ja tam z gośćmi byłem, miód i wino piłem,<br>
A com widział i słyszał, w księgi umieściłem.
</p>

<h3>EPILOG</h3>

<p>
O tem że dumać na paryskim bruku,<br>
Przynosząc z miasta uszy pełne stuku,<br>
Przeklęstw i kłamstwa, niewczesnych zamiarów,<br>
Za poznych żalów, potępieńczych swarów!
</p>

<p>
Biada nam, zbiegi, żeśmy w czas morowy<br>
Lękliwe nieśli za granicę głowy!<br>
Bo gdzie stąpili, szła przed nimi trwoga,<br>
W każdym sąsiedzi znajdowali wroga,<br>
Aż nas objęto w ciasny krąg łańcucha<br>
I każą oddać co najprędzej ducha.
</p>

<p>
A gdy na żale ten świat nie ma ucha,<br>
Gdy ich co chwila nowina przeraża<br>
Bijąca z Polski jako dzwon smętarza,<br>
Gdy im prędkiego zgonu życzą straże,<br>
Wrogi ich wabią z dala jak grabarze,<br>
Gdy w niebie nawet nadziei nie widzą —<br>
Nie dziw, że ludzi, świat, sobie ohydzą,<br>
Że utraciwszy rozum w mękach długich,<br>
Plwają na siebie i żrą jedni drugich!
</p>

<p>
Chciałem pominąć, ptak małego lotu,<br>
Pominąć strefy ulewy i grzmotu<br>
I szukać tylko cienia i pogody,<br>
Wieki dzieciństwa, domowe zagrody...
</p>

<p>
Jedyne szczęście, kto w szarej godzinie<br>
Z kilku przyjaciół usiadł przy kominie,<br>
Drzwi od Europy zamykał hałasów,<br>
Wyrwał się z myślą ku szczęśliwym czasom<br>
I dumał, myślił o swojej krainie...
</p>

<p>
Ale o krwi tej, co się świeżo lała,<br>
O łzach, któremi płynie Polska cała,<br>
O sławie, która jeszcze nie przebrzmiała —<br>
O nich pomyślić — nie mieliśmy duszy!...<br>
Bo naród bywa na takiej katuszy,<br>
Że kiedy zwróci wzrok ku jego męce,<br>
Nawet Odwaga załamuje ręce.
</p>

<p>
Te pokolenia żałobami czarne,<br>
Powietrze tylą klątwami ciężarne,<br>
Tam myśl nie śmiała zwrócić lotów,<br>
W sferę okropną nawet ptakom grzmotów.
</p>

<p>
O Matko Polsko! Ty tak świeżo w grobie<br>
Złożona — nie ma sił mówić o tobie!
</p>

<p>
Ach! czyjeż usta śmią pochlebiać sobie,<br>
Że dzisiaj znajdą to serdeczne słowo,<br>
Które rozczula rozpacz marmorową,<br>
Które z serc wieko podejmie kamienne,<br>
Rozwiąże oczy tylą łez brzemienne<br>
I sprawia, że łza przystygła wypłynie?<br>
Nim się te usta znajdą, wiek przeminie.
</p>

<p>
Kiedyś — gdy zemsty lwie przehuczą ryki,<br>
Przebrzmi głos trąby, przełamią się szyki,<br>
Gdy wróg ostatni wyda krzyk boleści,<br>
Umilknie, światu swobodę obwieści,<br>
Gdy orły nasze lotem błyskawicy<br>
Spadną u dawnej Chrobrego granicy,<br>
Gdy ciał podjedzą i krwią całe spłyną,<br>
I skrzydła wreszcie na spoczynek zwiną —<br>
Wtenczas, dębowem liściem uwieńczeni,<br>
Rzuciwszy miecze, siądą rozbrojeni<br>
Rycerze nasi! Zechcą słuchać pieni!<br>
Gdy świat obecnej doli pozazdrości,<br>
Będą czas mieli słuchać o przeszłości!<br>
Wtenczas zapłaczą nad ojców losami<br>
I wtenczas łza ta ich lica nie splami.
</p>

<p>
Dziś dla nas, w świecie nieproszonych gości,<br>
W całej przeszłości i w całej przyszłości<br>
Jedna już tylko jest kraina taka,<br>
W której jest trochę szczęścia dla Polaka:<br>
Kraj lat dziecinnych! On zawsze zostanie<br>
Święty i czysty jak pierwsze kochanie,<br>
Nie zaburzony błędów przypomnieniem,<br>
Nie podkopany nadziei złudzeniem<br>
Ani zmieniony wypadków strumieniem.<br>
Gdziem rzadko płakał, a nigdy nie zgrzytał,<br>
Te kraje rad bym myślami powitał:<br>
Kraje dzieciństwa, gdzie człowiek po świecie<br>
Biegł jak po łące, a znał tylko kwiecie<br>
Miłe i piękne, jadowite rzucił,<br>
Ku pożytecznym oka nie odwrócił.
</p>

<p>
Ten kraj szczęśliwy, ubogi i ciasny,<br>
Jak świat jest boży, tak on był nasz własny!<br>
Jakże tam wszystko do nas należało!<br>
Jak pomnim wszystko, co nas otaczało:<br>
Od lipy, która koroną wspaniałą<br>
Całej wsi dzieciom użyczała cienia,<br>
Aż do każdego strumienia, kamienia,<br>
Jak każdy kątek ziemi był znajomy<br>
Aż po granicę, po sąsiadów domy!
</p>

<p>
I tylko krajów tych obywatele<br>
Jedni zostali wierni przyjaciele,<br>
Jedni dotychczas sprzymierzeńcy pewni!<br>
Bo któż tam mieszkał? — Matka, bracia, krewni,<br>
Sąsiedzi dobrzy. Kogo z nich ubyło,<br>
Jakże tam o nim często się mówiło,<br>
Ile pamiątek, jaka żałość długa<br>
Tam, gdzie do pana przywiązańszy sługa<br>
Niż w innych krajach małżonka do męża;<br>
Gdzie żołnierz dłużej żałuje oręża<br>
Niż tu syn ojca; po psie płaczą szczerze<br>
I dłużej niż tu lud po bohaterze.
</p>

<p>
I przyjaciele wtenczas pomogli rozmowie,<br>
I do piosnki rzucali mnie słowo za słowem —<br>
Jak bajeczne żurawie nad dzikim ostrowem,<br>
Nad zaklętym pałacem przelatując wiosną<br>
I słysząc zaklętego chłopca skargę głośną,<br>
Każdy ptak chłopcu jedno pióro zrucił,<br>
On zrobił skrzydła i do swoich wrócił...
</p>

<p>
O, gdybym kiedy dożył tej pociechy,<br>
Żeby te księgi zbłądziły pod strzechy,<br>
Żeby wieśniaczki, kręcąc kołowrotki,<br>
Gdy odśpiewają ulubione zwrotki<br>
O tej dziewczynie, co tak grać lubiła,<br>
Że przy skrzypeczkach gąski pogubiła,<br>
O tej sierocie, co piękna jak zorze<br>
Zaganiać gąski szła w wieczornej porze,<br>
Gdyby też wzięły na koniec do ręki<br>
Te księgi, proste jako ich piosenki!
</p>

<p>
Tak za dni moich, przy wiejskiej zabawie,<br>
Czytano nieraz pod lipą na trawie<br>
Pieśń o Justynie, powieść o Wiesławie.<br>
A przy stoliku drzemiący pan włodarz<br>
Albo ekonom, lub nawet gospodarz,<br>
Nie bronił czytać i sam słuchać raczył,<br>
I młodszym rzeczy trudniejsze tłumaczył,<br>
Chwalił piękności, a błędom wybaczył.
</p>

<p>
I zazdrościła młodzież wieszczów sławie,<br>
Która tam dotąd brzmi w lasach i w polu,<br>
I którym droższy niż laur Kapitolu<br>
Wianek rękami wieśniaczki osnuty<br>
Z modrych bławatków i zielonej ruty.
</p>