<h3>KSIĘGA DRUGA</h3>

<h4>ZAMEK</h4>

<p class="streszczenie">
Polowanie z chartami na upatrzonego<br>
Gość w zamku<br>
Ostatni z dworzan opowiada historię ostatniego z Horeszków<br>
Rzut oka w sad<br>
Dziewczyna w ogórkach<br>
Śniadanie<br>
Pani Telimeny anegdota petersburska<br>
Nowy wybuch sporów o Kusego i Sokoła<br>
Interwencja Robaka<br>
Rzecz Wojskiego<br>
Zakład<br>
Dalej w grzyby!
</p>

<p>
Kto z nas tych lat nie pomni, gdy, młode pacholę,<br>
Ze strzelbą na ramieniu świszcząc szedł na pole,<br>
Gdzie żaden wał, płot żaden nogi nie utrudza,<br>
Gdzie przestępując miedzę, nie poznasz, że cudza!<br>
Bo na Litwie myśliwiec, jak okręt na morzu,<br>
Gdzie chcesz, jaką chcesz drogą, buja po przestworzu!<br>
Czyli jak prorok patrzy w niebo, gdzie w obłoku<br>
Wiele jest znaków widnych strzeleckiemu oku,<br>
Czy jak czarownik gada z ziemią, która, głucha<br>
Dla mieszczan, mnóstwem głosów szepce mu do ucha.
</p>

<p>
Tam derkacz wrzasnął z łąki, szukać go daremnie,<br>
Bo on szybuje w trawie jako szczupak w Niemnie;<br>
Tam ozwał się nad głową ranny wiosny dzwonek:<br>
Również głęboko w niebie schowany skowronek;<br>
Ówdzie orzeł szerokim skrzydłem przez obszary<br>
Zaszumiał, strasząc wróble jak kometa cary;<br>
Zaś jastrząb, pod jasnemi wiszący błękity,<br>
Trzepie skrzydłem jak motyl na szpilce przybity,<br>
Aż ujrzawszy śród łąki ptaka lub zająca,<br>
Runie nań z góry jako gwiazda spadająca.
</p>

<p>
Kiedyż nam Pan Bóg wrócić z wędrówki dozwoli<br>
I znowu dom zamieszkać na ojczystej roli,<br>
I służyć w jeździe, która wojuje szaraki,<br>
Albo w piechocie, która nosi broń na ptaki;<br>
Nie znać innych prócz kosy i sierpa rynsztunków<br>
I innych gazet oprócz domowych rachunków!
</p>

<p>
Nad Soplicowem słońce weszło, i już padło<br>
Na strzechy, i przez szpary w stodołę się wkradło:<br>
I po ciemnozielonym, świeżym, wonnym sianie,<br>
Z którego młodzież sobie zrobiła posłanie,<br>
Rozpływały się złote, migające pręgi<br>
Z otworu czarnej strzechy, jak z warkocza wstęgi;<br>
I słońce usta sennych promykiem poranka<br>
Draźni, jak dziewczę kłosem budzące kochanka.<br>
Już wróble skacząc świerkać zaczęły pod strzechą,<br>
Już trzykroć gęgnął gęsior, a za nim jak echo<br>
Odezwały się chorem kaczki i indyki,<br>
I słychać bydła w pole idącego ryki.
</p>

<p>
Wstała młodzież. Tadeusz jeszcze senny leży,<br>
Bo też najpóźniej zasnął; z wczorajszej wieczerzy<br>
Wrócił tak niespokojny, że o kurów pianiu<br>
Jeszcze oczu nie zmrużył, a na swym posłaniu<br>
Tak kręcił się, że w siano jak w wodę utonął,<br>
I spał twardo, aż zimny wiatr w oczy mu wionął,<br>
Gdy skrzypiące stodoły drzwi otwarto z trzaskiem<br>
I bernardyn ksiądz Robak wszedł z węzlastym paskiem,<br>
„Surge, puer!” wołając i ponad barkami<br>
Rubasznie wywijając pasek z ogórkami.
</p>

<p>
Już na dziedzińcu słychać myśliwskie okrzyki,<br>
Wyprowadzają konie, zajeżdżają bryki,<br>
Ledwie dziedziniec taką gromadę ogarnie;<br>
Odezwały się trąby, otworzono psiarnie;<br>
Zgraja chartów, wypadłszy, wesoło skowycze;<br>
Widząc rumaki szczwaczów, dojeżdżaczów smycze,<br>
Psy jak szalone cwałem śmigają po dworze,<br>
Potem biegą i kładą szyje na obroże.<br>
Wszystko to bardzo dobre polowanie wróży.<br>
Nareszcie Podkomorzy dał rozkaz podróży.
</p>

<p>
Ruszyli szczwacze z wolna, jeden tuż za drugim,<br>
Ale za bramą rzędem rozbiegli się długim;<br>
W środku jechali obok Asesor z Rejentem,<br>
A choć na siebie czasem patrzyli ze wstrętem,<br>
Rozmawiali przyjaźnie, jak ludzie honoru<br>
Idąc na rozstrzygnienie śmiertelnego sporu;<br>
Nikt ze słów zawziętości ich poznać nie zdoła;<br>
Pan Rejent wiódł Kusego, Asesor Sokoła.<br>
Z tyłu damy w pojazdach, młodzieńcy stronami,<br>
Czwałując tuż przy kołach, gadali z damami.
</p>

<p>
Ksiądz Robak po dziedzińcu wolnym chodził krokiem,<br>
Kończąc ranne pacierze; ale rzucał okiem<br>
Na pana Tadeusza, marszczył się, uśmiechał,<br>
Wreszcie kiwnął nań palcem; Tadeusz podjechał;<br>
Robak palcem po nosie dawał mu znak groźby:<br>
Lecz mimo Tadeusza pytania i prośby,<br>
Ażeby mu wyraźnie, co chce, wytłumaczył,<br>
Bernardyn odpowiedzieć ni spójrzeć nie raczył,<br>
Kaptur tylko nasunął i pacierz swój kończył;<br>
Więc Tadeusz odjechał i z gośćmi się złączył.
</p>

<p>
Właśnie wtenczas myśliwi smycze zatrzymali<br>
I wszyscy nieruchomi w miejscach swoich stali;<br>
Jeden drugiemu ręką dawał znak milczenia,<br>
A wszyscy obrócili oczy do kamienia,<br>
Nad którym stał pan Sędzia; on zwierza obaczył<br>
I rąk skinieniem swoje rozkazy tłumaczył.<br>
Pojęli wszyscy, stoją, a środkiem po roli<br>
Asesor i pan Rejent kłusują powoli;<br>
Tadeusz, będąc bliższy, obudwu wyprzedził,<br>
Stanął obok Sędziego i oczyma śledził.<br>
Dawno już nie był w polu; na szarej przestrzeni<br>
Trudno dojrzeć szaraka, zwłaszcza wśród kamieni.<br>
Pokazał mu pan Sędzia; siedział biedny zając,<br>
Płaszcząc się pod kamieniem, uszy nadstawiając,<br>
Okiem czerwonym spotkał myśliwców wejrzenie<br>
I, jakby urzeczony, czując przeznaczenie,<br>
Ze strachu od ich oczu nie mógł zwrócić oka<br>
I pod opoką siedział martwy jak opoka.<br>
Tymczasem kurz na roli rośnie coraz bliżéj,<br>
Pędzi na smyczy Kusy, za nim Sokoł chyży,<br>
Tuż Asesor z Rejentem razem wrzaśli z tyłu:<br>
„Wyczha! wyczha!” i z psami znikli w kłębach pyłu.
</p>

<p>
Kiedy tak za szarakiem goniono, tymczasem<br>
Ukazał się pan Hrabia pod zamkowym lasem.<br>
Wiedziano w okolicy, że ten pan nie może<br>
Nigdy nigdzie stawić się w naznaczonej porze.<br>
I dziś zaspał poranek, więc na sługi zrzędził;<br>
Widząc myśliwców w polu, czwałem do nich pędził;<br>
Surdut swój angielskiego kroju, biały, długi,<br>
Połami na wiatr puścił; z tyłu konno sługi<br>
W kapeluszach jak grzybki, czarnych, lśniących, małych,<br>
W kurtkach, w butach stryflastych, w pantalonach białych;<br>
Sługi, które pan Hrabia tym kształtem odzieje,<br>
Nazywają się w jego pałacu dżokeje.
</p>

<p>
Czwałująca czereda zleciała na błonia,<br>
Gdy Hrabia ujrzał zamek i zatrzymał konia.<br>
Pierwszy raz widział zamek z rana i nie wierzył,<br>
Że to były też same mury, tak odświeżył<br>
I upięknił poranek zarysy budowy;<br>
Zadziwił się pan Hrabia na widok tak nowy.<br>
Wieża zdała się dwakroć wyższa, bo stercząca<br>
Nad mgłą ranną; dach z blachy złocił się od słońca,<br>
Pod nim błyszczała w kratach reszta szyb wybitych,<br>
Łamiąc promienie wschodu w tęczach rozmaitych;<br>
Niższe piętra oblała tumanu powłoka,<br>
Rozpadliny i szczerby zakryła od oka.<br>
Krzyk dalekich myśliwców wiatrami przygnany,<br>
Odbijał się kilkakroć o zamkowe ściany:<br>
Przysiągłbyś, że krzyk z zamku, że pod mgły zasłoną<br>
Mury odbudowano i znów zaludniono.
</p>

<p>
Hrabia lubił widoki niezwykłe i nowe,<br>
Zwał je romansowemi; mawiał, że ma głowę<br>
Romansową; w istocie był wielkim dziwakiem.<br>
Nieraz pędząc za lisem albo za szarakiem,<br>
Nagle stawał i w niebo poglądał żałośnie<br>
Jak kot, gdy ujrzy wróble na wysokiej sośnie;<br>
Często bez psa, bez strzelby błąkał się po gaju<br>
Jak rekrut zbiegły; często siadał przy ruczaju<br>
Nieruchomy, schyliwszy głowę nad potokiem,<br>
Jak czapla wszystkie ryby chcąca pozrzeć okiem.<br>
Takie były Hrabiego dziwne obyczaje;<br>
Wszyscy mówili, że mu czegoś nie dostaje.<br>
Szanowano go przecież, bo pan z prapradziadów,<br>
Bogacz, dobry dla chłopów, ludzki dla sąsiadów,<br>
Nawet dla Żydów.<br>
Hrabski koń, zwrócony z drogi,<br>
Prosto kłusował polem aż pod zamku progi.<br>
Hrabia samotny wzdychał, poglądał na mury,<br>
Wyjął papier, ołówek i kreślił figury.<br>
Wtem, spójrzawszy w bok, ujrzał o dwadzieścia kroków<br>
Człowieka, który, równie miłośnik widoków,<br>
Z głową zadartą, ręce włożywszy w kieszenie,<br>
Zdawało się, że liczył oczyma kamienie.<br>
Poznał go zaraz, ale musiał kilka razy<br>
Krzyknąć, nim głos Hrabiego usłyszał Gerwazy.
</p>

<p>
Szlachcic to był, służący dawnych zamku panów,<br>
Pozostały ostatni z Horeszki dworzanów;<br>
Starzec wysoki, siwy, twarz miał czerstwą, zdrową,<br>
Marszczkami pooraną, posępną, surową.<br>
Dawniej pomiędzy szlachtą z wesołości słynął;<br>
Ale od bitwy, w której dziedzic zamku zginął,<br>
Gerwazy się odmienił i już od lat wielu<br>
Ani był na kiermaszu, ani na weselu;<br>
Odtąd jego dowcipnych żartów nie słyszano<br>
I uśmiechu na jego twarzy nie widziano.
</p>

<p>
Zawsze nosił Horeszków liberyją dawną,<br>
Kurtę z połami żółtą, galonem oprawną,<br>
Który, dziś żółty, dawniej zapewne był złoty.<br>
Wkoło szyte jedwabiem herbowne klejnoty,<br>
Półkozice, i stąd też cała okolica<br>
„Półkozicem” przezwała starego szlachcica.<br>
Czasem też od przysłowia, które bez ustanku<br>
Powtarzał, nazywano go także „Mopanku”;<br>
Czasem „Szczerbcem”, że całą łysinę miał w szczerbach;<br>
Lecz on zwał się Rębajło, a o jego herbach<br>
Nie wiadomo. Klucznikiem siebie tytułował,<br>
Iż ten urząd na zamku przed laty piastował.<br>
I dotąd nosił wielki pęk kluczów za pasem,<br>
Uwiązany na taśmie ze srebrnym kutasem.<br>
Choć nie miał co otwierać, bo zamku podwoje<br>
Stały otworem, przecież wynalazł drzwi dwoje,<br>
Sam je własnym nakładem naprawił i wstawił,<br>
I drzwi tych odmykaniem codziennie się bawił.<br>
W jednej z izb pustych obrał mieszkanie dla siebie;<br>
Mogąc żyć u Hrabiego na łaskawym chlebie,<br>
Nie chciał, bo wszędzie tęsknił i czuł się niezdrowym,<br>
Jeżeli nie oddychał powietrzem zamkowém.
</p>

<p>
Skoro ujrzał Hrabiego, czapkę z głowy schwycił<br>
I krewnego swych panów ukłonem zaszczycił,<br>
Chyląc łysinę wielką, świecącą z daleka<br>
I naciętą od licznych kordów jak nasieka;<br>
Gładził ją ręką, podszedł i jeszcze raz nisko<br>
Skłoniwszy się, rzekł smutnie: „Mopanku Panisko,<br>
Daruj mnie, że tak mówię, Jaśnie Grafie Panie,<br>
To jest mój zwyczaj, nie zaś nieuszanowanie:<br>
„Mopanku” powiadali wszyscy Horeszkowie;<br>
Ostatni Stolnik, pan mój, miał takie przysłowie.<br>
Czyż to prawda, Mopanku, że Pan grosza skąpisz<br>
Na proces i ten zamek Soplicom ustąpisz?<br>
Nie wierzyłem, lecz w całym powiecie tak słychać”.<br>
Tu, poglądając w zamek, nie przestawał wzdychać.
</p>

<p>
„Cóż dziwnego? — rzekł Hrabia. — Koszt wielki, a nuda<br>
Jeszcze większa; chcę skończyć, lecz szlachcic maruda<br>
Upiera się; przewidział, że mię znudzić może.<br>
Dłużej też nie wytrzymam i dzisiaj broń złożę,<br>
Przyjmę warunki zgody, jakie mi sąd poda”.<br>
„Zgody? — krzyknął Gerwazy. — Z Soplicami zgoda?<br>
Z Soplicami, Mopanku?” — To mówiąc wykrzywił<br>
Usta, jakby nad własną mową się zadziwił.<br>
„Zgoda i Soplicowie? Mopanku Panisko,<br>
Pan żartuje, co? Zamek, Horeszków siedlisko,<br>
Ma pójść w ręce Sopliców? Niech Pan tylko raczy<br>
Zsiąść z konia, pódźmy w zamek, niech no Pan obaczy,<br>
Pan sam nie wie, co robi; niech się Pan nie wzbrania,<br>
Zsiadaj Pan!” — i przytrzymał strzemię do zsiadania.
</p>

<p>
Weszli w zamek; Gerwazy stanął w progu sieni:<br>
„Tu — rzekł — dawni panowie, dworem otoczeni,<br>
Często siadali w krzesłach w poobiedniej porze.<br>
Pan godził spory włościan lub w dobrym humorze<br>
Gościom różne ciekawe historyje prawił<br>
Albo ich powieściami i żarty się bawił,<br>
A młodzież na dziedzińcu biła się w palcaty<br>
Lub ujeżdżała pańskie tureckie bachmaty”.
</p>

<p>
Weszli w sień. — Rzekł Gerwazy: „W tej ogromnej sieni<br>
Brukowanej nie znajdziesz Pan tyle kamieni,<br>
Ile tu pękło beczek wina w dobrych czasach;<br>
Szlachta ciągnęła kufy z piwnicy na pasach,<br>
Sproszona na sejm albo sejmik powiatowy,<br>
Albo na imieniny pańskie, lub na łowy.<br>
Podczas uczty na chorze tym kapela stała<br>
I w organ i w rozliczne instrumenty grała;<br>
A gdy wnoszono zdrowie, trąby jak w dniu sądnym<br>
Grzmiały z choru; wiwaty szły ciągiem porządnym:<br>
Pierwszy wiwat za zdrowie króla Jegomości,<br>
Potem prymasa, potem królowej Jejmości,<br>
Potem szlachty i całej Rzeczypospolitej,<br>
A na koniec, po piątej szklenicy wypitej,<br>
Wnoszono: Kochajmy się! wiwat bez przestanku,<br>
Który, dniem okrzykniony, brzmiał aż do poranku;<br>
A już gotowe stały cugi i podwody,<br>
Aby każdego odwieźć do jego gospody”.
</p>

<p>
Przeszli już kilka komnat; Gerwazy w milczeniu<br>
Tu wzrok na ścianie wstrzymał, ówdzie na sklepieniu,<br>
Przywołując pamiątkę tu smutną, tam miłą;<br>
Czasem, jakby chciał mówić: „Wszystko się skończyło”,<br>
Kiwnął żałośnie głową; czasem machnął ręką.<br>
Widać, że mu wspomnienie samo było męką<br>
I że je chciał odpędzić; aż się zatrzymali<br>
Na górze, w wielkiej, niegdyś zwierciadlanej sali;<br>
Dziś wydartych zwierciadeł stały puste ramy,<br>
Okna bez szyb, z krużgankiem wprost naprzeciw bramy.<br>
Tu wszedłszy starzec głowę zadumaną skłonił<br>
I twarz zakrył rękami, a gdy ją odsłonił,<br>
Miała wyraz żałości wielkiej i rozpaczy.
</p>

<p>
Hrabia, chociaż nie wiedział, co to wszystko znaczy,<br>
Poglądając w twarz starca czuł jakieś wzruszenie,<br>
Rękę mu ścisnął; chwilę trwało to milczenie.<br>
Przerwał je starzec, trzęsąc wzniesioną prawicą:<br>
„Nie masz zgody, Mopanku, pomiędzy Soplicą<br>
I krwią Horeszków! W Panu krew Horeszków płynie,<br>
Jesteś krewnym Stolnika po matce Łowczynie,<br>
Która się rodzi z drugiej córki Kasztelana,<br>
Który był, jak wiadomo, wujem mego Pana.<br>
Słuchaj Pan historyi swej własnej rodzinnej,<br>
Która się stała właśnie w tej izbie, nie innej.
</p>

<p>
„Nieboszczyk pan mój, Stolnik, pierwszy pan w powiecie,<br>
Bogacz i familijant, miał jedyne dziecię,<br>
Córkę piękną jak anioł; więc się zalecało<br>
Stolnikównie i szlachty, i paniąt niemało.<br>
Między szlachtą był jeden wielki paliwoda,<br>
Kłótnik, Jacek Soplica, zwany «Wojewoda»<br>
Przez żart; w istocie wiele znaczył w województwie,<br>
Bo rodzinę Sopliców miał jakby w dowództwie<br>
I trzystu ich kreskami rządził wedle woli,<br>
Choć sam nic nie posiadał prócz kawałka roli,<br>
Szabli, i wielkich wąsów od ucha do ucha.<br>
Owoż pan Stolnik nieraz wzywał tego zucha<br>
I ugaszczał w pałacu, zwłaszcza w czas sejmików,<br>
Popularny dla jego krewnych i stronników.<br>
Wąsal tak wzbił się w dumę łaskawem przyjęciem,<br>
Że mu się uroiło zostać pańskim zięciem.<br>
Do zamku nie proszony coraz częściej jeździł,<br>
W końcu u nas jak w swoim domu się zagnieździł<br>
I już miał się oświadczać, lecz pomiarkowano<br>
I czarną mu polewkę do stołu podano.<br>
Podobno Stolnikównie wpadł Soplica w oko,<br>
Ale przed rodzicami taiła głęboko.
</p>

<p>
Było to za Kościuszki czasów; Pan popierał<br>
Prawo trzeciego maja i już szlachtę zbierał,<br>
Aby konfederatom ciągnąć ku pomocy,<br>
Gdy nagle Moskwa zamek opasała w nocy:<br>
Ledwie był czas z możdzerza na trwogę wypalić,<br>
Podwoje dolne zamknąć i ryglem zawalić.<br>
W zamku całym był tylko pan Stolnik, ja, Pani,<br>
Kuchmistrz i dwóch kuchcików, wszyscy trzej pijani,<br>
Proboszcz, lokaj, hajducy czterej, ludzie śmiali;<br>
Więc za strzelby, do okien; aż tu tłum Moskali,<br>
Krzycząc: «ura!» od bramy wali po tarasie;<br>
My im ze strzelb dziesięciu palnęli: «a zasie!»<br>
Nic tam nie było widać; słudzy bez ustanku<br>
Strzelali z dolnych pięter, a ja i Pan z ganku.<br>
Wszystko szło pięknym ładem, choć w tak wielkiej trwodze:<br>
Dwadzieścia strzelb leżało tu, na tej podłodze,<br>
Wystrzeliliśmy jedną, podawano drugą;<br>
Ksiądz proboszcz zatrudniał się czynnie tą usługą<br>
I Pani, i Panienka, i nadworne panny;<br>
Trzech było strzelców, a szedł ogień nieustanny;<br>
Grad kul sypały z dołu moskiewskie piechury,<br>
My z rzadka, ale celniej dogrzewali z góry.<br>
Trzy razy aż pode drzwi to chłopstwo się wparło,<br>
Ale za każdym razem trzech nogi zadarło.<br>
Więc uciekli pod lamus; a już był poranek.<br>
Pan Stolnik wesoł wyszedł ze strzelbą na ganek<br>
I skoro spod lamusa Moskal łeb wychylił,<br>
On dawał zaraz ognia, a nigdy nie mylił;<br>
Za każdym razem czarny kaszkiet w trawę padał<br>
I już się rzadko który zza ściany wykradał.
</p>

<p>
Stolnik, widząc strwożone swe nieprzyjaciele,<br>
Myślił zrobić wycieczkę, porwał karabelę<br>
I z ganku krzycząc sługom wydawał rozkazy;<br>
Obróciwszy się do mnie, rzekł: «Za mną, Gerwazy!»<br>
Wtem strzelono spod bramy, Stolnik się zająknął,<br>
Zaczerwienił się, zbladnął, chciał mówić, krwią chrząknął;<br>
Postrzegłem wtenczas kulę, wpadła w piersi same;<br>
Pan, słaniając się, palcem ukazał na bramę.<br>
Poznałem tego łotra Soplicę! Poznałem!<br>
Po wzroście i po wąsach! Jego to postrzałem<br>
Zginął Stolnik, widziałem! Łotr jeszcze do góry<br>
Wzniesioną trzymał strzelbę, jeszcze dym szedł z rury!<br>
Wziąłem go na cel, zbójca stał jak skamieniały!<br>
Dwa razy dałem ognia, i oba wystrzały<br>
Chybiły; czym ze złości, czy z żalu źle mierzył...<br>
Usłyszałem wrzask kobiet, spójrzałem, — Pan nie żył”.
</p>

<p>
Tu Gerwazy umilknął i łzami się zalał;<br>
Potem rzekł kończąc: „Moskal już wrota wywalał;<br>
Bo po śmierci Stolnika stałem bezprzytomnie<br>
I nie wiedziałem, co się działo wokoło mnie;<br>
Szczęściem, na odsiecz przyszedł nam Parafianowicz,<br>
Przywiodłszy Mickiewiczów dwiestu z Horbatowicz,<br>
Którzy są szlachta liczna i dzielna, człek w człeka,<br>
A nienawidzą rodu Sopliców od wieka.
</p>

<p>
Tak zginął pan potężny, pobożny i prawy,<br>
Który miał w domu krzesła, wstęgi i buławy,<br>
Ojciec włościan, brat szlachty; i nie miał po sobie<br>
Syna, który by zemstę poprzysiągł na grobie!<br>
Ale miał sługi wierne; ja w krew jego rany<br>
Obmoczyłem mój rapier, Scyzorykiem zwany<br>
(Zapewne Pan o moim słyszał Scyzoryku,<br>
Sławnym na każdym sejmie, targu i sejmiku).<br>
Przysiągłem wyszczerbić go na Sopliców karkach;<br>
Ścigałem ich na sejmach, zajazdach, jarmarkach;<br>
Dwóch zarąbałem w kłótni, dwóch na pojedynku;<br>
Jednego podpaliłem w drewnianym budynku,<br>
Kiedyśmy zajeżdżali z Rymszą Korelicze,<br>
Upiekł się tam jak piskorz; a tych nie policzę,<br>
Którym uszy obciąłem. Jeden tylko został,<br>
Który dotąd ode mnie pamiątki nie dostał!<br>
Rodzoniutki braciszek owego wąsala<br>
Żyje dotąd, i z swoich bogactw się przechwala,<br>
Zamku Horeszków tyka swych kopców krawędzią,<br>
Szanowany w powiecie, ma urząd, jest sędzią!<br>
I Pan mu zamek oddasz? niecne jego nogi<br>
Mają krew Pana mego zetrzeć z tej podłogi?<br>
O, nie! Póki Gerwazy ma choć za grosz duszy<br>
I tyle sił, że jednym małym palcem ruszy<br>
Scyzoryk swój, wiszący dotychczas na ścianie,<br>
Póty Soplica tego zamku nie dostanie!”
</p>

<p>
„O! — krzyknął Hrabia, ręce podnosząc do góry —<br>
Dobre miałem przeczucie, żem lubił te mury!<br>
Choć nie wiedziałem, że w nich taki skarb się mieści,<br>
Tyle scen dramatycznych i tyle powieści!<br>
Skoro zamek mych przodków Soplicom zagrabię,<br>
Ciebie osadzę w murach jak mego burgrabię;<br>
Twoja powieść, Gerwazy, zajęła mię mocno.<br>
Szkoda, żeś mię nie przywiódł tu w godzinę nocną;<br>
Udrapowany płaszczem siadłbym na ruinach,<br>
A ty byś mi o krwawych rozpowiadał czynach;<br>
Szkoda, że masz niewielki dar opowiadania!<br>
Nieraz takie słyszałem i czytam podania;<br>
W Angliji i w Szkocyi każdy zamek lordów,<br>
W Niemczech każdy dwór grafów był teatrem mordów!<br>
W każdej dawnej, szlachetnej, potężnej rodzinie<br>
Jest wieść o jakimś krwawym lub zdradzieckim czynie,<br>
Po którym zemsta spływa na dziedziców w spadku:<br>
W Polsce pierwszy raz słyszę o takim wypadku.<br>
Czuję, że we mnie mężnych krew Horeszków płynie!<br>
Wiem, co winienem sławie i mojej rodzinie.<br>
Tak! Muszę zerwać wszelkie z Soplicą układy,<br>
Choćby do pistoletów przyszło lub do szpady!<br>
Honor każe”.<br>
Rzekł, ruszył uroczystym krokiem,<br>
A Gerwazy szedł z tyłu w milczeniu głębokiem.<br>
Przed bramą stanął Hrabia, sam do siebie gadał,<br>
Poglądając na zamek prędko na koń wsiadał,<br>
Tak samotną rozmowę kończąc roztargniony:<br>
„Szkoda, że ten Soplica stary nie ma żony,<br>
Lub córki pięknej, której ubóstwiałbym wdzięki;<br>
Kochając i nie mogąc otrzymać jej ręki,<br>
Nowa by się w powieści zrobiła zawiłość:<br>
Tu serce, tam powinność! tu zemsta, tam miłość!”
</p>

<p>
Tak szepcąc spiął ostrogi; koń leciał do dworu,<br>
Gdy z drugiej strony strzelcy wyjeżdżali z boru;<br>
Hrabia lubił myślistwo; ledwie strzelców zoczył,<br>
Zapomniawszy o wszystkiem, prosto ku nim skoczył,<br>
Mijając bramę, ogród, płoty, gdy w zawrocie<br>
Obejrzał się i konia zatrzymał przy płocie.<br>
Był sad.<br>
Drzewa owocne, zasadzone w rzędy,<br>
Ocieniały szerokie pole; spodem grzędy.<br>
Tu kapusta, sędziwe schylając łysiny,<br>
Siedzi i zda się dumać o losach jarzyny;<br>
Tam, plącząc strąki w marchwi zielonej warkoczu,<br>
Wysmukły bob obraca na nią tysiąc oczu;<br>
Owdzie podnosi złotą kitę kukuruza;<br>
Gdzieniegdzie otyłego widać brzuch harbuza,<br>
Który od swej łodygi aż w daleką stronę<br>
Wtoczył się jak gość między buraki czerwone.<br>
Grzędy rozjęte miedzą; na każdym przykopie<br>
Stoją jakby na straży w szeregach konopie,<br>
Cyprysy jarzyn: ciche, proste i zielone.<br>
Ich liście i woń służą grzędom za obronę,<br>
Bo przez ich liście nie śmie przecisnąć się żmija.<br>
A ich woń gąsienice i owad zabija.<br>
Dalej maków białawe górują badyle;<br>
Na nich, myślisz, iż rojem usiadły motyle,<br>
Trzepiecąc skrzydełkami, na których się mieni<br>
Z rozmaitością tęczy blask drogich kamieni:<br>
Tylą farb żywych, różnych mak zrzenicę mami.<br>
W środku kwiatów, jak pełnia pomiędzy gwiazdami,<br>
Krągły słonecznik licem wielkiem, gorejącem,<br>
Od wschodu do zachodu kręci się za słońcem.
</p>

<p>
Pod płotem wąskie, długie, wypukłe pagórki,<br>
Bez drzew, krzewów i kwiatów: ogród na ogórki..<br>
Pięknie wyrosły; liściem wielkim, rozłożystym,<br>
Okryły grzędy jakby kobiercem fałdzistym.<br>
Pośrodku szła dziewczyna, w bieliznę ubrana,<br>
W majowej zieloności tonąc po kolana;<br>
Z grząd zniżając się w bruzdy, zdała się nie stąpać,<br>
Ale pływać po liściach, w ich barwie się kąpać.<br>
Słomianym kapeluszem osłoniła głowę,<br>
Od skroni powiewały dwie wstążki różowe<br>
I kilka puklów światłych, rozwitych warkoczy;<br>
Na ręku miała koszyk, w dół spuściła oczy,<br>
Prawą rękę podniosła, niby do chwytania;<br>
Jako dziewczę, gdy rybki w kąpieli ugania<br>
Bawiące się z jej nóżką, tak ona co chwila<br>
Z rękami i koszykiem po owoc się schyla,<br>
Który stopą natrąci lub dostrzeże okiem.
</p>

<p>
Pan Hrabia, zachwycony tak cudnym widokiem,<br>
Stał cicho. Słysząc tętent towarzyszów w dali,<br>
Ręką dał znak, ażeby wstrzymać konie; stali.<br>
On patrzył z wyciągniętą szyją, jak dziobaty<br>
Żuraw, z dala od stada gdy odprawia czaty<br>
Stojąc na jednej nodze, z czujnemi oczyma,<br>
I, by nie zasnąć, kamień w drugiej nodze trzyma.
</p>

<p>
Zbudził Hrabiego szelest na plecach i skroni;<br>
Był to bernardyn, kwestarz Robak, a miał w dłoni<br>
Podniesione do góry węzłowate sznurki:<br>
„Ogórków chcesz Waść? — krzyknął. — Oto masz ogórki.<br>
Wara, Panie, od szkody, na tutejszej grzędzie<br>
Nie dla Waszeci owoc, nic z tego nie będzie”.<br>
Potem palcem pogroził, kaptura poprawił<br>
I odszedł. Hrabia jeszcze chwilę w miejscu bawił.<br>
Śmiejąc się i klnąc razem tej nagłej przeszkodzie;<br>
Okiem powrócił w ogród: ale już w ogrodzie<br>
Nie było jej; mignęła tylko śród okienka<br>
Jej różowa wstążeczka i biała sukienka.<br>
Widać na grzędach, jaką przeleciała drogą,<br>
Bo liść zielony, w biegu potrącony nogą,<br>
Podnosił się, drżał chwilę, aż się uspokoił,<br>
Jak woda, którą ptaszek skrzydłami rozkroił.<br>
A na miejscu, gdzie stała, tylko porzucony<br>
Koszyk mały z rokity, denkiem wywrócony,<br>
Pogubiwszy owoce, na liściach zawisał<br>
I wśród fali zielonej jeszcze się kołysał.
</p>

<p>
Po chwili wszędzie było samotnie i głucho.<br>
Hrabia oczy w dom utkwił i natężył ucho,<br>
Zawsze dumał, a strzelcy zawsze nieruchomie<br>
Za nim stali. — Aż w cichym i samotnym domie<br>
Wszczął się naprzód szmer, potem gwar i krzyk wesoły,<br>
Jak w ulu pustym, kiedy weń wlatują pszczoły:<br>
Był to znak, że wracali goście z polowania<br>
I krzątała się służba około śniadania.
</p>

<p>
Jakoż po wszystkich izbach panował ruch wielki,<br>
Roznoszono potrawy, sztuczce i butelki;<br>
Mężczyźni, tak jak weszli, w swych zielonych strojach,<br>
Z talerzami, z szklankami chodząc po pokojach,<br>
Jedli, pili lub wsparci na okien uszakach,<br>
Rozprawiali o flintach, chartach i szarakach;<br>
Podkomorstwo i Sędzia przy stole, a w kątku<br>
Panny szeptały z sobą; nie było porządku,<br>
Jaki się przy obiadach i wieczerzach chowa.<br>
Była to w staropolskim domie moda nowa;<br>
Przy śniadaniach pan Sędzia, choć nierad, pozwalał<br>
Na taki nieporządek, lecz go nie pochwalał.
</p>

<p>
Różne też były dla dam i mężczyzn potrawy:<br>
Tu roznoszono tace z całą służbą kawy,<br>
Tace ogromne, w kwiaty ślicznie malowane,<br>
Na nich kurzące wonnie imbryki blaszane<br>
I z porcelany saskiej złote filiżanki;<br>
Przy każdej garnuszeczek mały do śmietanki.<br>
Takiej kawy jak w Polszcze nie ma w żadnym kraju:<br>
W Polszcze, w domu porządnym, z dawnego zwyczaju,<br>
Jest do robienia kawy osobna niewiasta,<br>
Nazywa się kawiarka; ta sprowadza z miasta<br>
Lub z wicin bierze ziarna w najlepszym gatunku<br>
I zna tajne sposoby gotowania trunku,<br>
Który ma czarność węgla, przejrzystość bursztynu,<br>
Zapach moki i gęstość miodowego płynu.<br>
Wiadomo, czem dla kawy jest dobra śmietana;<br>
Na wsi nietrudno o nię: bo kawiarka z rana,<br>
Przystawiwszy imbryki, odwiedza mleczarnie<br>
I sama lekko świeży nabiału kwiat garnie<br>
Do każdej filiżanki w osobny garnuszek,<br>
Aby każdą z nich ubrać w osobny kożuszek.
</p>

<p>
Panie starsze już wcześniej wstawszy piły kawę,<br>
Teraz drugą dla siebie zrobiły potrawę:<br>
Z gorącego, śmietaną bielonego piwa,<br>
W którym twaróg gruzłami posiekany pływa.
</p>

<p>
Zaś dla mężczyzn więdliny leżą do wyboru:<br>
Półgęski tłuste, kumpia, skrzydliki ozoru,<br>
Wszystkie wyborne, wszystkie sposobem domowym<br>
Uwędzone w kominie dymem jałowcowym;<br>
W końcu wniesiono zrazy na ostatnie danie:<br>
Takie bywało w domu Sędziego śniadanie.
</p>

<p>
We dwóch izbach dwa różne skupiły się grona:<br>
Starszyzna, przy stoliku małym zgromadzona,<br>
Mówiła o sposobach nowych gospodarskich,<br>
O nowych, coraz sroższych ukazach cesarskich;<br>
Podkomorzy krążące o wojnie pogłoski<br>
Oceniał i wyciągał polityczne wnioski.<br>
Panna Wojska włożywszy okulary sine,<br>
Zabawiała kabałą z kart Podkomorzynę.<br>
W drugiej izbie toczyła młodzież rzecz o łowach,<br>
W spokojniejszych i ciszszych niż zwykle rozmowach:<br>
Bo Asesor i Rejent, oba mówcy wielcy,<br>
Pierwsi znawcy myślistwa i najlepsi strzelcy,<br>
Siedzieli przeciw sobie mrukliwi i gniewni;<br>
Oba dobrze poszczuli, oba byli pewni<br>
Zwycięstwa swoich chartów, gdy pośród równiny<br>
Znalazł się zagon chłopskiej nie zżętej jarzyny;<br>
Tam wpadł zając: już Kusy, już go Sokół imał,<br>
Gdy Sędzia dojeżdżaczy na miedzy zatrzymał;<br>
Musieli być posłuszni, chociaż w wielkim gniewie;<br>
Psy powróciły same: i nikt pewnie nie wie,<br>
Czy źwierz uszedł, czy wzięty; nikt zgadnąć nie zdoła,<br>
Czy wpadł w paszczę Kusego, czyli też Sokoła,<br>
Czyli obódwu razem: różnie sądzą strony<br>
I spór na dalsze czasy trwał nie rozstrzygniony.
</p>

<p>
Wojski stary od izby do izby przechodził,<br>
Po obu stronach oczy roztargnione wodził,<br>
Nie mieszał się w myśliwych ni w starców rozmowę<br>
I widać, że czem innym zajętą miał głowę;<br>
Nosił skórzaną plackę: czasem w miejscu stanie,<br>
Duma długo i — muchę zabije na ścianie.
</p>

<p>
Tadeusz z Telimeną, pomiędzy izbami<br>
Stojąc we drzwiach na progu, rozmawiali sami;<br>
Niewielki oddzielał ich od słuchaczów przedział,<br>
Więc szeptali; Tadeusz teraz się dowiedział:<br>
Że ciocia Telimena jest bogata pani,<br>
Że nie są kanonicznie z sobą powiązani<br>
Zbyt bliskim pokrewieństwem; i nawet niepewno,<br>
Czy ciocia Telimena jest synowca krewną,<br>
Choć ją stryj zowie siostrą, bo wspólni rodzice<br>
Tak ich kiedyś nazwali mimo lat różnicę;<br>
Że potem ona, żyjąc w stolicy czas długi,<br>
Wyrządziła nieźmierne Sędziemu usługi;<br>
Stąd ją Sędzia szanował bardzo i przed światem<br>
Lubił, może z próżności, nazywać się bratem,<br>
Czego mu Telimena przez przyjaźń nie wzbrania.<br>
Ulżyły Tadeusza sercu te wyznania.<br>
Wiele też innych rzeczy sobie oświadczyli;<br>
A wszystko to się stało w jednej krótkiej chwili.
</p>

<p>
Ale w izbie na prawo, kusząc Asesora,<br>
Rzekł Rejent mimojazdem: „Ja mówiłem wczora,<br>
Że polowanie nasze udać się nie może:<br>
Jeszcze zbyt wcześnie, jeszcze na pniu stoi zboże<br>
I mnóstwo sznurów chłopskiej nie zżętej jarzyny;<br>
Stąd i Hrabia nie przybył mimo zaprosiny.<br>
Hrabia na polowaniu bardzo dobrze zna się,<br>
Nieraz gadał o łowów i miejscu, i czasie;<br>
Hrabia chował się w obcych krajach od dzieciństwa<br>
I powiada, że to jest znakiem barbarzyństwa<br>
Polować tak jak u nas, bez żadnego względu<br>
Na artykuły ustaw, przepisy urzędu,<br>
Nie szanując niczyich kopców ani miedzy,<br>
Jeździć po cudzym gruncie bez dziedzica wiedzy;<br>
Wiosną równie jak latem zbiegać pola, knieje,<br>
Zabijać nieraz lisa, właśnie gdy linieje,<br>
Albo cierpieć, iż kotną samicę zajęczą<br>
Charty w runi uszczują, a raczej zamęczą,<br>
Z wielką szkodą źwierzyny. Stąd się Hrabia żali,<br>
Że cywilizacyja większa u Moskali,<br>
Bo tam o polowaniu są ukazy cara<br>
I dozor policyi, i na winnych kara”.
</p>

<p>
Telimena, ku lewej iźbie obrócona,<br>
Wachlując batystową chusteczką ramiona,<br>
„Jak mamę kocham — rzekła — Hrabia się nie myli.<br>
Znam ja dobrze Rosyją. Państwo nie wierzyli,<br>
Gdy im nieraz mówiłam, jak tam z wielu względów<br>
Godna pochwały czujność i srogość urzędów.<br>
Byłam ja w Petersburgu nie raz, nie dwa razy!<br>
Miłe wspomnienia! wdzięczne przeszłości obrazy!<br>
Co za miasto! Nikt z Panów nie był w Petersburku?<br>
Chcecie może plan widzieć? Mam plan miasta w biórku.
</p>

<p>
Latem świat petersburski zwykł mieszkać na daczy,<br>
To jest w pałacach wiejskich (dacza wioskę znaczy).<br>
Mieszkałam w pałacyku, tuż nad Newą rzeką,<br>
Niezbyt blisko od miasta i niezbyt daleko,<br>
Na niewielkim, umyślnie sypanym pagórku.<br>
Ach, co to był za domek! plan mam dotąd w biórku.<br>
Otóż, na me nieszczęście, najął dom w sąsiedztwie<br>
Jakiś mały czynownik siedzący na śledztwie;<br>
Trzymał kilkoro chartów; co to za męczarnie,<br>
Gdy blisko mieszka mały czynownik i psiarnie!<br>
Ilekroć z książką wyszłam sobie do ogrodu<br>
Użyć księżyca blasku, wieczornego chłodu,<br>
Zaraz i pies przyleciał i kręcił ogonem,<br>
I strzygł uszami, właśnie jakby był szalonym.<br>
Nieraz się nalękałam. Serce mi wróżyło<br>
Z tych psów jakieś nieszczęście: tak się też zdarzyło.<br>
Bo gdym szła do ogrodu pewnego poranka,<br>
Chart u nóg mych zadławił mojego kochanka<br>
Bonończyka! Ach, była to rozkoszna psina!<br>
Miałam ją w podarunku od księcia Sukina<br>
Na pamiątkę; rozumna, żywa jak wiewiórka,<br>
Mam jej portrecik, tylko nie chcę iść do biórka.<br>
Widząc ją zadławioną, z wielkiej alteracji<br>
Dostałam mdłości, spazmów, serca palpitacji.
</p>

<p>
Może by gorzej jeszcze z moim zdrowiem było;<br>
Szczęściem, nadjechał właśnie z wizytą Kiryło<br>
Gawrylicz Kozodusin, Wielki Łowczy Dworu,<br>
Pyta się o przyczynę tak złego humoru.<br>
Każe wnet urzędnika przyciągnąć za uszy;<br>
Staje pobladły, drżący i prawie bez duszy.<br>
«Jak śmiesz» — krzyknął Kiryło piorunowym głosem —<br>
Szczuć wiosną łanię kotną tuż pod carskim nosem?»<br>
Osłupiały czynownik darmo się zaklinał,<br>
Że polowania dotąd jeszcze nie zaczynał.<br>
Że z Wielkiego Łowczego wielkim pozwoleniem<br>
Zwierz uszczuty zda mu się być psem, nie jeleniem.<br>
«Jak to? — krzyknął Kiryło — to śmiałbyś, hultaju,<br>
Znać się lepiej na łowach i źwierząt rodzaju<br>
Niżli ja, Kozodusin, Carski Jegermajster?<br>
Niechajże nas rozsądzi zaraz policmajster!»<br>
Wołają policmajstra, każą spisać śledztwo:<br>
«Ja — rzecze Kozodusin — wydaję świadectwo,<br>
Że to łani; on plecie, że to pies domowy.<br>
Rozsądź nas, kto zna lepiej źwierzynę i łowy!»<br>
Policmajster powinność służby swej rozumiał,<br>
Bardzo się nad zuchwalstwem czynownika zdumiał<br>
I odwiodłszy na stronę, po bratersku radził,<br>
By przyznał się do winy i tem grzech swój zgładził.<br>
Łowczy udobruchany przyrzekł, że się wstawi<br>
Do Cesarza i wyrok nieco ułaskawi;<br>
Skończyło się, że charty poszły na powrozy,<br>
A czynownik na cztery tygodnie do kozy.<br>
Zabawiła nas cały wieczor ta pustota;<br>
Zrobiła się nazajutrz z tego anegdota,<br>
Że w sądy o mym piesku Wielki Łowczy wdał się;<br>
I nawet wiem z pewnością, że sam Cesarz śmiał się”.
</p>

<p>
Śmiech powstał w obu izbach. Sędzia z Bernardynem<br>
Grał w mariasza i właśnie z wyświeconym winem<br>
Miał coś ważnego zadać; już ksiądz ledwo dyszał,<br>
Kiedy Sędzia początek powieści połyszał<br>
I tak nią był zajęty, że z zadartą głową<br>
I z kartą podniesioną, do bicia gotową,<br>
Siedział cicho i tylko Bernardyna trwożył,<br>
Aż gdy skończono powieść, pamfila położył,<br>
I rzekł śmiejąc się:<br>
„Niech tam sobie, kto chce, chwali<br>
Niemców cywilizacją, porządek Moskali;<br>
Niechaj Wielkopolanie uczą się od Szwabów<br>
Prawować się o lisa i przyzywać drabów,<br>
By wziąść w areszt ogara, że wpadł w cudze gaje;<br>
Na Litwie, chwała Bogu, stare obyczaje:<br>
Mamy dosyć zwierzyny dla nas i sąsiedztwa<br>
I nie będziemy nigdy o to robić śledztwa;<br>
I zboża mamy dosyć, psy nas nie ogłodzą,<br>
Że po jarzynach albo po życie pochodzą;<br>
Na morgach chłopskich bronię robić polowanie”.
</p>

<p>
Ekonom z lewej izby rzekł: „Nie dziw, Mospanie,<br>
Bo też Pan drogo płaci za taką zwierzynę.<br>
Chłopy i radzi temu, kiedy w ich jarzynę<br>
Wskoczy chart; niech otrząśnie dziesięć kłosów żyta,<br>
To Pan mu kopę oddasz, i jeszcze nie kwita,<br>
Często chłopi talara w przydatku dostali;<br>
Wierz mi Pan, że się chłopstwo bardzo rozzuchwali,<br>
Jeśli...”<br>
Resztę dowodów pana ekonoma<br>
Nie mógł usłyszeć Sędzia, bo pomiędzy dwoma<br>
Rozprawami wszczęło się dziesięć rozgoworów,<br>
Anegdot, opowiadań, i na koniec sporów.
</p>

<p>
Tadeusz z Telimeną, całkiem zapomniani,<br>
Pamiętali o sobie. — Rada była pani,<br>
Że jej dowcip tak bardzo Tadeusza bawił;<br>
Młodzieniec jej nawzajem komplementy prawił.<br>
Telimena mówiła coraz wolniéj, ciszéj,<br>
I Tadeusz udawał, że jej nie dosłyszy<br>
W tłumie rozmów: więc szepcąc, tak zbliżył się do niéj,<br>
Że uczuł twarzą lubą gorącość jej skroni;<br>
Wstrzymując oddech, usty chwytał jej westchnienie<br>
I okiem łowił wszystkie jej wzroku promienie.
</p>

<p>
Wtem pomiędzy ich usta mignęła znienacka<br>
Naprzód mucha, a za nią tuż Wojskiego placka.
</p>

<p>
Na Litwie much dostatek. Jest pomiędzy niemi<br>
Gatunek much osobny, zwanych szlacheckiemi;<br>
Barwą i kształtem całkiem podobne do innych,<br>
Ale pierś mają szerszą, brzuch większy od gminnych,<br>
Latając bardzo huczą i nieznośnie brzęczą,<br>
A tak silne, że tkankę przebiją pajęczą<br>
Lub jeśli która wpadnie, trzy dni będzie bzykać,<br>
Bo z pająkiem sam na sam może się borykać.<br>
Wszystko to Wojski zbadał i jeszcze dowodził,<br>
Że się z tych much szlacheckich pomniejszy lud rodził,<br>
Że one tym są muchom, czem dla roju matki,<br>
Że z ich wybiciem zginą owadów ostatki.<br>
Prawda, że ochmistrzyni ani pleban wioski<br>
Nie uwierzyli nigdy w te Wojskiego wnioski<br>
I trzymali inaczej o muszym rodzaju;<br>
Lecz Wojski nie odstąpił dawnego zwyczaju:<br>
Ledwo dostrzegł takową muchę, wnet ją gonił.<br>
Właśnie teraz mu szlachcic nad uchem zadzwonił;<br>
Po dwakroć Wojski machnął, zdziwił się, że chybił,<br>
Trzeci raz machnął, tylko co okna nie wybił;<br>
Aż mucha, odurzona od tyla łoskotu,<br>
Widząc dwóch ludzi w progu broniących odwrotu,<br>
Rzuciła się z rozpaczą pomiędzy ich lica;<br>
I tam za nią mignęła Wojskiego prawica.<br>
Raz tak był tęgi, że dwie odskoczyły głowy,<br>
Jak rozdarte piorunem dwie drzewa połowy;<br>
Uderzyły się mocno oboje w uszaki,<br>
Tak że obojgu sine zostały się znaki.
</p>

<p>
Szczęściem, nikt nie uważał, bo dotychczasowa<br>
Żywa, głośna, lecz dosyć porządna rozmowa<br>
Zakończyła się nagłym wybuchem hałasu.<br>
Jak strzelcy gdy na lisa zaciągną do lasu,<br>
Słychać gdzieniegdzie trzask drzew, strzały, psiarni granie,<br>
A wtem dojeżdżacz dzika ruszył niespodzianie,<br>
Dał znak, i wrzask powstaje w strzelców i psów tłuszczy,<br>
Jak gdyby się ozwały wszystkie drzewa puszczy;<br>
Tak dzieje się z rozmową: z wolna się pomyka,<br>
Aż natrafi na przedmiot wielki, jak na dzika.<br>
Dzikiem rozmów strzeleckich był ów spór zażarty<br>
Rejenta z Asesorem o sławne ich charty.<br>
Krótko trwał, lecz zrobili wiele w jedną chwllę;<br>
Bo razem wyrzucili słów i obelg tyle,<br>
Że wyczerpnęli sporu zwyczajne trzy części:<br>
Przycinki, gniew, wyzwanie — i szło już do pięści.
</p>

<p>
Więc ku nim z drugiej izby wszyscy się porwali<br>
I tocząc się przeze drzwi na kształt bystrej fali,<br>
Unieśli młodą parę stojącą na progu,<br>
Podobną Janusowi, dwulicemu bogu.
</p>

<p>
Tadeusz z Telimeną nim na skroniach włosy<br>
Poprawili, już groźne ucichły odgłosy,<br>
Szmer zmieszany ze śmiechem śród ciżby się szerzył;<br>
Nastąpił rozejm kłótni, Kwestarz ją uśmierzył:<br>
Człowiek stary, lecz krępy i bardzo pleczysty.<br>
Właśnie kiedy Asesor podbiegł do Jurysty,<br>
Gdy już sobie gestami grozili szermierze,<br>
On raptem porwał obu z tyłu za kołnierze<br>
I dwakroć uderzywszy głowy obie mocne<br>
Jedną o drugą jako jaja wielkanocne,<br>
Rozkrzyżował ramiona na kształt drogoskazu<br>
I we dwa kąty izby rzucił ich od razu;<br>
Chwilę z rozciągnionemi stał w miejscu rękami<br>
I „Pax, pax, pax vobiscum! — krzyczał — pokój z wami!”
</p>

<p>
Zdziwiły się, zaśmiały nawet strony obie:<br>
Przez szacunek należny duchownej osobie<br>
Nie śmiano łajać mnicha; a po takiej probie<br>
Nikt też nie miał ochoty zaczynać z nim zwadę.<br>
Zaś kwestarz Robak, skoro uciszył gromadę,<br>
Widać było, że wcale tryumfu nie szukał,<br>
Ani groził kłótnikom więcej, ani fukał;<br>
Tylko poprawił kaptur i ręce za pasem<br>
Zatknąwszy, wyszedł cicho z pokoju.
</p>

<p>
Tymczasem<br>
Podkomorzy i Sędzia między dwiema strony<br>
Plac zajęli. Pan Wojski, jakby przebudzony<br>
Z głębokiego dumania, na środek wystąpił,<br>
Obiegał zgromadzenie ognistą źrenicą<br>
I gdzie szmer jeszcze słyszał, jak ksiądz kropielnicą,<br>
Tam uciszając machał swą placką ze skóry;<br>
Wreszcie, podniosłszy trzonek z powagą do góry<br>
Jak laskę marszałkowską, nakazał milczenie.
</p>

<p>
„Uciszcie się! — powtarzał. — Miejcie też baczenie,<br>
Wy, co jesteście pierwsi myśliwi w powiecie,<br>
Z gorszącej kłótni waszej co będzie? czy wiecie?<br>
Oto młodzież, na której Ojczyzny nadzieje,<br>
Która ma wsławiać nasze ostępy i knieje,<br>
Która, niestety, i tak zaniedbuje łowy,<br>
Może do ich wzgardzenia weźmie pochop nowy!<br>
Widząc, że ci, co innym mają dać przykłady,<br>
Z łowów przynoszą tylko poswarki i zwady.<br>
Miejcie też wzgląd powinny dla mych włosów siwych;<br>
Bo znałem większych dawniej niźli wy myśliwych,<br>
A sądziłem ich nieraz sądem polubownym.<br>
Któż był w lasach litewskich Rejtanowi równym?<br>
Czy obławę zaciągnąć, czy spotkać się z źwierzém,<br>
Kto z Białopiotrowiczem porówna się Jerzym?<br>
Gdzie jest dziś taki strzelec jak szlachcic Żegota,<br>
Co kulą z pistoletu w biegu trafiał kota?<br>
Terajewicza znałem, co idąc na dziki,<br>
Nie brał nigdy innego oręża prócz piki!<br>
Budrewicza, co chodził z niedźwiedziem w zapasy.<br>
Takich mężów widziały niegdyś nasze lasy!<br>
Jeśli do sporu przyszło, jakże spór godzili?<br>
Oto obrali sędziów i zakład stawili.<br>
Ogiński sto włók lasu raz przegrał o wilka;<br>
Niesiołowskiemu borsuk kosztował wsi kilka!<br>
I wy, Panowie, pójdźcie za starych przykładem<br>
I rozstrzygnijcie spór wasz choć mniejszym zakładem.<br>
Słowo wiatr, w sporach słównych nigdy nie masz końca,<br>
Szkoda ust dłużej suszyć kłótnią o zająca;<br>
Więc polubownych sędziów najpierwej obierzcie,<br>
A co wyrzekną, temu sumiennie zawierzcie.<br>
Ja uproszę Sędziego, ażeby nie bronił<br>
Dojeżdżaczowi, choćby po pszenicy gonił;<br>
I tuszę, że tę łaskę otrzymam od Pana”.<br>
To wyrzekłszy, Sędziego ścisnął za kolana.
</p>

<p>
„Konia — zawołał Rejent — stawię konia z rzędem<br>
I opiszę się jeszcze przed ziemskim urzędem,<br>
Iż ten pierścień sędziemu w salarijum złożę”.<br>
„Ja — rzekł Asesor — stawię me złote obroże,<br>
Jaszczurem wykładane, z kółkami ze złota,<br>
I smycz tkany, jedwabny, którego robota<br>
Równie cudna jak kamień, co się na nim świeci.<br>
Chciałem ten sprzęt zostawić w dziedzictwie dla dzieci,<br>
Jeślibym się ożenił; ten sprzęt mnie darował<br>
Książę Dominik, kiedym z nim razem polował<br>
I z marszałkiem Sanguszką księciem, z jenerałem<br>
Mejenem, i gdy wszystkich na charty wyzwałem.<br>
Tam — bezprzykładną w dziejach polowania sztuką<br>
Uszczułem sześć zajęcy pojedynczą suką.<br>
Polowaliśmy wtenczas na kupiskiem błoniu;<br>
Książę Radziwiłł nie mógł dosiedzieć na koniu;<br>
Zsiadł i objąwszy sławną mą charcicę Kanię,<br>
Trzykroć jej w samą głowę dał pocałowanie,<br>
A potem, trzykroć ręką klasnąwszy po pysku,<br>
Rzekł: «Mianuję cię odtąd księżną na Kupisku».<br>
Tak Napoleon daje wodzom swoim księstwa<br>
Od miejsc, na których wielkie odnieśli zwycięstwa”.
</p>

<p>
Telimena, znudzona zbyt długimi swary,<br>
Chciała wyjść na dziedziniec, lecz szukała pary;<br>
Wzięła koszyczek z kołka: „Panowie, jak widzę,<br>
Chcecie zostać w pokoju, ja idę na rydze;<br>
Kto łaska, proszę za mną” — rzekła, koło głowy<br>
Obwijając czerwony szal kaszemirowy;<br>
Córeczkę Podkomorstwa wzięła w jedną rękę,<br>
A drugą podchyliła do kostek sukienkę.<br>
Tadeusz milczkiem za nią na grzyby pośpieszył.
</p>

<p>
Zamiar przechadzki bardzo Sędziego ucieszył.<br>
Widział sposób rozjęcia krzykliwego sporu,<br>
A więc krzyknął: „Panowie, po grzyby do boru!<br>
Kto z najpiękniejszym rydzem do stołu przybędzie,<br>
Ten obok najpiękniejszej panienki usiędzie;<br>
Sam ją sobie wybierze. Jeśli znajdzie dama,<br>
Najpiękniejszego chłopca weźmie sobie sama”.
</p>