{% extends 'KasiaTadeuszBundle::bars.html.twig' %}
	{% block header %}
		<h1>Pan Tadeusz</h1>			
	{% endblock %}
	{% block contnt %}

<h3>KSIĘGA DZIEWIĄTA</h3>

<h4>BITWA</h4>

<p class="streszczenie">
O niebezpieczeństwach wynikających z nieporządnego obozowania<br>
Odsiecz niespodziana<br>
Smutne położenie szlachty<br>
Odwiedziny kwestarskie są wróżbą ratunku<br>
Major Płut zbytnią zalotnością ściąga na siebie burzę<br>
Wystrzał z krócicy, hasło boju<br>
Czyny Kropiciela, czyny i niebezpieczeństwa Maćka<br>
Konewka zasadzką ocala Soplicowo<br>
Posiłki jezdne, atak na piechotę<br>
Czyny Tadeusza<br>
Pojedynek dowódców przerwany zdradą<br>
Wojski stanowczym manewrem przechyla szalę boju<br>
Czyny krwawe Gerwazego<br>
Podkomorzy zwyciężca wspaniałomyślny
</p>

<p>
A chrapali tak twardym snem, że ich nie budzi<br>
Blask latarek i wniście kilkudziesiąt ludzi,<br>
Którzy wpadli na szlachtę, jak pająki ścienne<br>
Nazwane <strong>kosarzami</strong> na muchy wpółsenne:<br>
Zaledwie która bzyknie, już długimi nogi<br>
Obejmuje ją wkoło i dusi mistrz srogi.<br>
Sen szlachecki był jeszcze twardszy niż sen muszy:<br>
Żaden nie bzyka, leżą wszyscy jak bez duszy,<br>
Chociaż byli chwytani silnymi rękoma<br>
I przewracani jako na przewiąsłach słoma.
</p>

<p>
Tylko jeden Konewka, któremu w powiecie<br>
Nie znajdziesz równie mocnej głowy przy bankiecie,<br>
Konewka, co mógł wypić lipcu dwa antały,<br>
Nim mu splątał się język i nogi zachwiały,<br>
Ten, choć długo ucztował i usnął głęboko,<br>
Dawał przecie znak życia; przemknął jedno oko<br>
I widzi! istne zmory! dwie okropne twarze<br>
Tuż nad sobą, a każda ma wąsów po parze;<br>
Dyszą nad nim, ust jego tykają wąsami<br>
I czworgiem rąk wokoło wiją jak skrzydłami;<br>
Zląkł się, chciał przeżegnać się: darmo rękę chwyta,<br>
Ręka prawa jak gdyby do boku przybita;<br>
Ruszył lewą, niestety! czuje, że go duchy<br>
Spowiły ciasno, jako niemowlę w pieluchy;<br>
Zląkł się jeszcze okropniej, wnet oko zawiera,<br>
Leży nie dysząc, stygnie, ledwie nie umiera!
</p>

<p>
Lecz Kropiciel zerwał się bronić się — po czasie!<br>
Bo już był skrępowany we swym własnym pasie;<br>
Przecież zwinął się i tak sprężyście podskoczył,<br>
Że padł na piersi sennych, po głowach się toczył,<br>
Miotał się jako szczupak, gdy się w piasku rzuca.<br>
A ryczał jako niedźwiedź, bo miał silne płuca.<br>
Ryczał: „Zdrada!” Wnet cała zbudzona gromada<br>
Chorem odpowiedziała: „Zdrada! gwałtu! zdrada!”
</p>

<p>
Krzyk dochodzi echami zwierciadlanej sali,<br>
Kędy Hrabia, Gerwazy i dżokeje spali;<br>
Przebudza się Gerwazy, darmo się wydziera,<br>
Związany w kij do swego własnego rapiera;<br>
Patrzy, widzi przy oknie ludzi uzbrojonych,<br>
W czarnych, krótkich kaszkietach, w mundurach zielonych;<br>
Jeden z nich, opasany szarfą, trzymał szpadę<br>
I ostrzem jej kierował swych drabów gromadę,<br>
Szepcąc: „Wiąż! wiąż!”<br>
Dokoła leżą jak barany<br>
Dżokeje w pętach, Hrabia siedzi nie związany,<br>
Lecz bezbronny; przy nim dwaj z gołemi bagnety<br>
Stoją drabi. — Poznał ich Gerwazy, niestety!<br>
Moskale!!!
</p>

<p>
Nieraz Klucznik był w podobnych trwogach,<br>
Nieraz miewał powrozy na ręku i nogach,<br>
A przecież się uwalniał; wiedział o sposobie<br>
Rwania więzów, był silny bardzo, ufał sobie.<br>
Przemyślał ratować się milczkiem; oczy zmrużył,<br>
Niby śpi, z wolna ręce i nogi przedłużył,<br>
Dech wciągnął, brzuch i piersi ścisnął co najwężej;<br>
Aż jednym razem kurczy, wydyma się, pręży,<br>
Jak wąż, głowę i ogon gdy chowa w przeguby,<br>
Tak Gerwazy z długiego stał się krótki, gruby;<br>
Rozciągnęły się, nawet skrzypnęły powrozy,<br>
Ale nie pękły! Klucznik ze wstydu i zgrozy<br>
Przewrócił się i w ziemię schowawszy twarz gniewną,<br>
Zamknąwszy oczy, leżał nieczuły jak drewno.
</p>

<p>
Wtem ozwały się bębny, naprzód z rzadka, potem<br>
Coraz gęstszym i coraz głośniejszym łoskotem;<br>
Na ten apel rozkazał oficer Moskali<br>
Dżokejów z Hrabią zamknąć pod strażą na sali,<br>
Szlachtę wieść na dwór, kędy stała druga rota.<br>
Nadaremnie Kropiciel dąsa się i miota.
</p>

<p>
Sztab stał we dworze, a z nim zbrojnej szlachty wiele:<br>
Podhajscy, Birbaszowie, Hreczechy, Biergele,<br>
Wszyscy Sędziego krewni albo przyjaciele.<br>
Na odsiecz mu przybiegli słysząc o napadzie,<br>
Zwłaszcza że z Dobrzyńskimi byli z dawna w zwadzie.
</p>

<p>
Kto z wiosek batalijon Moskalów sprowadził?<br>
Kto tak prędko sąsiedztwo z zaścianków zgromadził?<br>
Asesor-li, czy Jankiel? Różnie słychać o tem,<br>
Lecz nikt pewnie nie wiedział ni wtenczas, ni potem.<br>
Już też i słońce wschodzi, krwawo się czerwieni,<br>
Brzegiem tępym, jak gdyby odartym z promieni,<br>
Na wpół widne, na poły w czerni chmur się chowa<br>
Jak rozżarzona w węglach kowalskich podkowa.<br>
Wiatr wzmagał się i pędził obłoki ze wschodu,<br>
Gęste i poszarpane jako bryły lodu;<br>
Każdy obłok w przelocie deszczem zimnym prószy,<br>
Z tyłu za nim wiatr leci i deszcz znowu suszy,<br>
Za wiatrem znowu obłok nadbiega wilgotny:<br>
I tak dzień na przemiany był chłodny i słotny.
</p>

<p>
Tymczasem Major belki schnące pode dworem<br>
Każe wlec, w każdej belce wysiekać toporem<br>
Półokrągłe otwory, w te otwory wtyka<br>
Nogi więźniów i drugą belką je zamyka.<br>
Oba drewna goździami przebite po rogach<br>
Ścisnęły się, jako psie paszczęki, na nogach.<br>
Zaś powrozami mocniej sznurowano ręce<br>
Na plecach szlachty; Major, ku większej ich męce,<br>
Kazał pierwej pozdzierać z głów konfederatki,<br>
Z pleców płaszcze, kontusze, nawet taratatki.<br>
Nawet żupany. I tak szlachta, skuta w kłodzie,<br>
Siedziała rzędem, dzwoniąc zębami na chłodzie<br>
I na deszczu, bo coraz wzmagała się słota,<br>
Nadaremnie Kropiciel dąsa się i miota.
</p>

<p>
Darmo Sędzia za szlachtą instancyję wnosi<br>
I Telimena łączy prośby do łez Zosi,<br>
Ażeby miano większy wzgląd na niewolników.<br>
Wprawdzie oficer rotny, pan Nikita Ryków,<br>
Moskal, lecz dobry człowiek, dał się udobruchać,<br>
Cóż, kiedy sam majora Płuta musiał słuchać!
</p>

<p>
Ten major, Polak rodem, z miasteczka Dzierowicz,<br>
Nazywał się (jak słychać) po polsku Płutowicz,<br>
Lecz przechrzcił się; łotr wielki, jak się zwykle dzieje<br>
Z Polakiem, który w carskiej służbie zmoskwicieje.<br>
Płut stał z fajką przed frontem, w boki się podpierał<br>
I gdy mu kłaniano się, nos w górę zadzierał,<br>
A za odpowiedź, na znak gniewnego humoru,<br>
Wypuścił z ust kłąb dymu i poszedł do dworu.
</p>

<p>
A tymczasem Rykowa Sędzia ułagadza<br>
I Asesora także na bok odprowadza;<br>
Przemyślają, jak by rzecz zakończyć bez sądu,<br>
A co jeszcze ważniejsza, bez mieszań się rządu.
</p>

<p>
Więc do majora Płuta rzekł kapitan Ryków:<br>
„Panie Major! co nam z tych wszystkich niewolników?<br>
Oddamy pod sąd? będzie szlachcie wielka bieda,<br>
A Panu Majorowi nikt za to nic nie da.<br>
Wiesz co, Major? ot, lepiej tę sprawę zagodzić,<br>
Pan Sędzia Majorowi musi trud nagrodzić,<br>
My powiemy, że my tu przyszli dla wizyty,<br>
A tak i kozy całe, i wilk będzie syty.<br>
Przysłowie ruskie: Wszystko można, lecz ostrożnie:<br>
I to przysłowie: Sobie piecz na carskim rożnie;<br>
I to przysłowie: Lepsza zgoda od niezgody;<br>
Zaplątaj dobrze węzeł, końce wsadź do wody.<br>
Raportu nie podamy, tak się nikt nie dowie.<br>
Bóg dał ręce, żeby brać, to ruskie przysłowie”.
</p>

<p>
Słysząc to Major wstaje i od gniewu parska:<br>
„Czy ty oszalał, Ryków? to służba cesarska,<br>
A służba nie jest drużba, stary, głupi Ryków!<br>
Czy ty oszalał? ja mam puszczać buntowników!<br>
W takim wojennym czasie! Ha, pany Polaki,<br>
Ja was nauczę buntu! Ha, szlachta łajdaki,<br>
Dobrzyńscy, oj, ja znam was! Niech łajdaki mokną!<br>
(I zaśmiał się na całe gardło, patrząc w okno).<br>
Wszakże ten sam Dobrzyński, co siedzi w surducie —<br>
Hej, zdjąć mu surdut! — w roku przeszłym na reducie<br>
Zaczął ze mną tę kłótnię. Kto zaczął? on, nie ja.<br>
On, gdy tańczyłem, krzyknął: «Precz, za drzwi złodzieja»<br>
Że wtenczas za pułkowej okradzenie kasy<br>
Byłem pod śledztwem, miałem wielkie ambarasy,<br>
A jemu co do tego? Ja tańczę mazura,<br>
On krzyczy z tyłu: «Złodziej!» — Szlachta za nim: «Ura!»<br>
Skrzywdzili mnie — a co? wpadł w me szpony szlachciura.<br>
Mówiłem: Ej, Dobrzyński! ej, przyjdzie do woza<br>
Koza — a co? Dobrzyński, widzisz! będzie łoza”.
</p>

<p>
Potem Sędziemu szepnął, schyliwszy się, w ucho:<br>
„Jeśli chcesz, Sędzio, żeby to uszło na sucho,<br>
Za każdą głowę tysiąc rubelków gotówką.<br>
Tysiąc rubelków, Sędzio, to ostatnie słówko”.
</p>

<p>
Sędzia chciał targować się, lecz Major nie słuchał,<br>
Znowu biegał po izbie, dymem gęsto buchał,<br>
Podobny do szmermelu albo do rakiety.<br>
Chodziły za nim prosząc i płacząc kobiety.<br>
„Majorze — mówił Sędzia — choć pozwiesz do prawa,<br>
Cóż wygrasz? Tu nie zaszła żadna bitwa krwawa,<br>
Nie było ran; że zjedli kury i półgąski,<br>
Za to wedle Statutu zapłacą nawiązki.<br>
Ja na pana Hrabiego nie zanoszę skargi,<br>
To tylko były zwykłe sąsiedzkie zatargi”.
</p>

<p>
„A czy Sędzia — rzekł Major —<br>
<strong>żółtą księgę</strong> czytał?”<br>
„Co to za żółta księga?” pan Sędzia zapytał.
</p>

<p>
„Księga — rzekł Major — lepsza niż wasze statuty,<br>
A w niej pisze co słowo: stryczek, Sybir, knuty;<br>
Księga ustaw wojennych, teraz w Litwie całéj<br>
Ogłoszonych; już pod stół wasze trybunały.<br>
Podług ustaw wojennych za takową psotę<br>
Pójdziecie już to najmniej w sybirną robotę”.
</p>

<p>
„Apeluję — rzekł Sędzia — do gubernatora”.<br>
„Apeluj — rzekł Płut — choćby do Imperatora.<br>
Wiesz, że gdy Imperator zatwierdza ukazy,<br>
Z łaski swej często karę powiększa dwa razy.<br>
Apelujcie, ja może wynajdę w potrzebie,<br>
Mospanie Sędzio, dobry kruczek i na ciebie.<br>
Wszak Jankiel, szpieg, którego już rząd dawno śledzi,<br>
Jest twoim domownikiem, w karczmie twojej siedzi.<br>
Mogę teraz was wszystkich wziąć w areszt od razu”.<br>
„Mnie — rzekł Sędzia — brać w areszt? jak śmiesz bez rozkazu?”<br>
I przychodziło coraz do żywszego sporu,<br>
Gdy nowy gość zajechał na dziedziniec dworu.
</p>

<p>
Wjazd tłumny, dziwny. Przodem, niby laufer, bieży<br>
Ogromny, czarny baran, a łeb mu się jeży<br>
Czterema rogami, z których dwa jako kabłąki<br>
Kręcą się koło uszu, ubrane we dzwonki,<br>
A dwa, od czoła na bok wysuwając końce,<br>
Wstrząsają kulki krągłe, mosiężne, brzęczące.<br>
Za baranem szły woły, trzoda owiec, kozy,<br>
Za bydłem cztery ciężko pakowane wozy.
</p>

<p>
Wszyscy odgadli, że to wjazd księdza Kwestarza.<br>
Więc pan Sędzia, powinność znając gospodarza,<br>
Stał w progu witać gościa. Ksiądz na pierwszej bryce<br>
Jechał, kapturem na wpół zasłoniwszy lice,<br>
Ale go wnet poznano, bo gdy więźniów minął,<br>
Zwrócił się ku nim twarzą, palcem na znak skinął.<br>
I drugiej bryki furman równie był poznany:<br>
Stary Maciek Rózeczka, za chłopa przebrany;<br>
Szlachta zaczęła krzyczeć, skoro się pokazał,<br>
On rzekł: „Głupi!” — i ręką milczenie nakazał.<br>
Na trzecim wozie Prusak w kubraku wytartym,<br>
A pan Zan z Mickiewiczem jechali na czwartym.
</p>

<p>
A tymczasem Podhajscy i Isajewicze,<br>
Birbasze, Wilbikowie, Biergele, Kotwicze,<br>
Widząc szlachtę Dobrzyńskich w tak ciężkiej niewoli,<br>
Zaczęli z dawnych gniewów ostygać powoli.<br>
Bo szlachta polska, chociaż niezmiernie kłotliwa<br>
I porywcza do bitew, przecież nie jest mściwa.<br>
Biegą więc do Macieja starego po radę.<br>
On koło wozów całą ustawia gromadę,<br>
Każe czekać.<br>
Bernardyn wstąpił do pokoju.<br>
Zaledwie go poznano, choć nie zmienił stroju,<br>
Tak przybrał inną postać. Zwyczajnie ponury,<br>
Zamyślony, a teraz głowę wzniósł do góry<br>
I z miną rozjaśnioną, jak kwestarz rubacha,<br>
Nim zaczął gadać, długo śmiał się:<br>
„Cha, cha, cha, cha,<br>
Kłaniam, kłaniam! cha, cha, cha, wyśmienicie, przednie!<br>
Panowie oficery, kto poluje we dnie,<br>
Wy w nocy! dobry połów, widziałem zwierzynę;<br>
Oj, skubać, skubać szlachtę, oj, drzeć z nich łupinę!<br>
Oj, weźcież ich na munsztuk, bo też szlachta bryka!<br>
Winszuję ci, Majorze, żeś złowił Hrabika!<br>
To tłuścioszek, to bogacz, panicz z antenatów,<br>
Nie wypuszczaj go z klatki bez trzystu dukatów;<br>
A jak weźmiesz, na klasztor daj jakie trzy grosze<br>
I dla mnie, bo ja zawżdy za twą duszę proszę.<br>
Jakem bernardyn, bardzo myślę o twej duszy!<br>
Śmierć i sztabsoficerów porywa za uszy!<br>
Dobrze napisał Baka, że śmierć dżga za katy<br>
W szkarłaty i po suknie nieraz dobrze stuknie,<br>
I po płótnie tak utnie, jak i po kapturze,<br>
I po fryzurze równie, jak i po mundurze.<br>
Śmierć matula, powiada Baka, jak cebula<br>
Łzy wyciska, gdy ściska, a równie przytula<br>
I dziecko, co się lula, i zucha, co hula!<br>
Ach! ach! Majorze, dzisiaj żyjem, jutro gnijem,<br>
To tylko nasze, co dziś zjemy i wypijem!<br>
Panie Sędzio, wszakże to czas podobno śniadać?<br>
Siadam za stół i proszę wszystkich ze mną siadać;<br>
Majorze, gdyby zrazów? Panie Poruczniku,<br>
Co myślisz? gdyby wazę dobrego ponczyku?”
</p>

<p>
„To prawda, Ojcze — rzekli dwaj oficerowie —<br>
Czas by już zjeść i wypić Pana Sędzi zdrowie!”
</p>

<p>
Zdziwili się domowi, patrząc na Robaka,<br>
Skąd mu się wzięła mina i wesołość taka.<br>
Sędzia wnet kucharzowi powtórzył rozkazy;<br>
Wniesiono wazę, cukier, butelki i zrazy.<br>
Płut i Ryków tak czynnie zaczęli się zwijać,<br>
Tak łakomie połykać i gęsto zapijać,<br>
Że w pół godziny zjedli dwadzieścia trzy zrazy<br>
I wychylili ponczu ogromne pół wazy.
</p>

<p>
Więc Major syt i wesół w krześle się rozwalił,<br>
Dobył fajkę, biletem bankowym zapalił<br>
I otarłszy śniadanie z ust końcem serwety,<br>
Obrócił śmiejące się oczy na kobiety<br>
I rzekł: „Ja, piękne Panie, lubię was jak wety!<br>
Na me szlify majorskie, gdy człek zjadł śniadanie,<br>
Najlepszą jest po zrazach zakąską gadanie<br>
Z paniami tak pięknemi jak wy, piękne Panie!
</p>

<p>
Wiecie co? grajmy w karty! w welba-cwelba? w wista?<br>
Albo pójdźmy mazurka? he! do diabłów trzysta!<br>
Wszak ja w jegierskim pułku pierwszy mazurzysta!”<br>
Za czym ku damom bliżej schylił się wygięty<br>
I puszczał na przemiany dym i komplementy.
</p>

<p>
„Tańczyć! — zawołał Robak — gdy wychylę flaszę,<br>
To i ja, choć ksiądz, habit czasami podkaszę<br>
I potańczę mazurka! Ale wiesz, Majorze,<br>
My tu pijem, a jegry tam zmarzną na dworze?<br>
Hulać, to hulać! Sędzio, daj beczkę siwuchy!<br>
Major pozwoli, niechaj piją jegry zuchy!”<br>
„Prosiłbym — rzecze Major — lecz w tem nie ma musu”.<br>
„Daj, Sędzio — szepnął Robak — beczkę spirytusu”.<br>
I tak, kiedy we dworze sztab wesoły łyka,<br>
Za domem zaczęła się w wojsku pijatyka.
</p>

<p>
Ryków kapitan milczkiem kielichy wychylał,<br>
Lecz Major pił i razem damom się przymilał,<br>
A wzmagał się w nim coraz tańcowania zapał;<br>
Rzucił fajkę i rękę Telimeny złapał,<br>
Chciał tańczyć, lecz uciekła; więc podszedł do Zosi,<br>
Kłaniając się, słaniając, do mazurka prosi:<br>
„Hej! ty Ryków, przestańże tam trąbić na fajce,<br>
Precz fajka, wszak ty dobrze grasz na bałabajce;<br>
Widzisz no tam gitarę, pódź no, weź gitarę,<br>
I mazurka! ja, Major, idę w pierwszą parę”.<br>
Kapitan wziął gitarę i struny przykręcał,<br>
Płut znowu Telimenę do tańca zachęcał.
</p>

<p>
„Słowo majorskie, Panno, nie Rosyjaninem<br>
Jestem, jeżeli kłamię! chcę być sukinsynem,<br>
Jeżeli kłamię; spytaj, a oficerowie<br>
Wszyscy poświadczą, cała armija to powie,<br>
Że w tej drugiej armiji, w korpusie dziewiątym,<br>
W drugiej pieszej dywizji, w pułku pięćdziesiątym<br>
Jegierskim major Płut jest pierwszy mazurzysta.<br>
Pódźże, Panienko! nie bądź taka narowista!<br>
Bo ja po oficersku ukarzę Panienkę...”
</p>

<p>
To mówiąc skoczył, chwycił Telimeny rękę<br>
I szerokim całusem w białe ramię klasnął,<br>
Gdy Tadeusz, przypadłszy z boku, w twarz mu trzasnął.<br>
I całus, i policzek ozwały się razem,<br>
Jeden za drugim, jako wyraz za wyrazem.
</p>

<p>
Major osłupiał, oczy przetarł, z gniewu blady<br>
Zawołał: „Bunt! buntownik!” — i dobywszy szpady,<br>
Biegł przebić; wtem Ksiądz dostał z rękawa krócicę:<br>
„Pal, Tadeuszku! — krzyknął — pal jak w jasną świécę!”<br>
Tadeusz wnet pochwycił, wymierzył, wypalił,<br>
Chybił, ale Majora zgłuszył i osmalił.<br>
Porywa się z gitarą Ryków: „Bunt! bunt!” — woła,<br>
Wpada na Tadeusza; lecz Wojski zza stoła<br>
Machnął ręką na odlew; nóż w powietrzu świsnął<br>
Między głowy i pierwej uderzył, niż błysnął.<br>
Uderza w dno gitary, na wylot ją wierci,<br>
Schylił się na bok Ryków i tak uszedł śmierci.<br>
Lecz strwożył się; krzyknąwszy:<br>
„Jegry! bunt! Jej Bogu!” —<br>
Dobył szpady, broniąc się zbliżał się do progu.
</p>

<p>
Wtem z drugiej strony izby wpada szlachty wiele<br>
Przez okna, z rapierami, Rózeczka na czele.<br>
Płut w sieni, Ryków za nim, wołają żołnierzy,<br>
Już trzech najbliższych domu na pomoc im bieży;<br>
Już przeze drzwi włażą trzy błyszczące bagnety,<br>
A za nimi trzy czarne schylone kaszkiety.
</p>

<p>
Maciek stał u drzwi z Rózgą wzniesioną do góry,<br>
Lgnąc do ściany, czatował jako kot na szczury,<br>
Aż ciął okropnie; może głowy by trzy zwalił,<br>
Lecz stary, czy nie dojrzał, czy zbyt się zapalił,<br>
Bo nim szyje wytknęli, rąbnął po kaszkietach,<br>
Zdarł je; Rózga spadając brząkła po bagnetach.<br>
Moskale cofają się, Maciek ich wygania<br>
Na dziedziniec.
</p>

<p>
Tam jeszcze więcej zamieszania.<br>
Tam stronnicy Sopliców pracują w zawody<br>
Nad rozkuciem Dobrzyńskich, rozrywają kłody;<br>
Widząc to jegry za broń porywają, biegą;<br>
Sierżant, wpadłszy, bagnetem przebił Podhajskiego,<br>
Dwóch drugich szlachty zranił, do trzeciego strzela,<br>
Uciekają; było to przy kłodzie Chrzciciela.
</p>

<p>
Ten już miał ręce wolne, gotowe ku walce:<br>
Wstał, podniósł dłoń i zwinął w kłębek długie palce,<br>
I z góry tak uderzył w grzbiet Rosyjanina,<br>
Że twarz jego i skroń wbił w zamek karabina.<br>
Trzasł zamek, lecz zalany krwią proch już nie spalił;<br>
Sierżant u nóg Chrzciciela na swą broń się zwalił.<br>
Chrzciciel schyla się, chwyta karabin za rurę<br>
I wijąc jak kropidłem, podnosi go w górę,<br>
Robi młynka, dwóch zaraz szeregowych zwala<br>
Po ramionach i w głowę ugadza kaprala;<br>
Reszta zlękła od kłody cofa się z przestrachem:<br>
Tak Kropiciel ruchomym nakrył szlachtę dachem.
</p>

<p>
Zaczem rozbito kłodę, rozcięto powrozy,<br>
Szlachta już wolna wpada na kwestarskie wozy,<br>
Z nich dobywa rapiery, pałasze, tasaki,<br>
Kosy, strzelby; Konewka znalazł dwa szturmaki<br>
I worek kul; wsypał je do swego szturmaka,<br>
Drugi, równie nabiwszy, ustąpił dla Saka.
</p>

<p>
Jegrów więcej przybywa, mieszają się, tłuką;<br>
Szlachta w zgiełku nie może ciąć krzyżową sztuką,<br>
Jegry nie mogą strzelać, już walczą wręcz, z bliska —<br>
Już stal, ząb za ząb o stal porwawszy się, pryska,<br>
Bagnet o szablę, kosa o gifes się łamie,<br>
Pięść spotyka się z pięścią i z ramieniem ramię.
</p>

<p>
Lecz Ryków z częścią jegrów pobiegł, gdzie stodoła<br>
Tyka płotów; tam staje, na żołnierzy woła,<br>
Ażeby zaprzestali bitwę tak bezładną,<br>
Gdzie nie używszy broni, pod pięściami padną.<br>
Gniewny, że sam nie może dać ognia, bo w tłumie<br>
Moskalów od Polaków rozróżnić nie umie,<br>
Woła: „Stroj się!” (co znaczy: formuj się do szyku),<br>
Ale komendy jego nie słychać śród krzyku.
</p>

<p>
Stary Maciek, do ręcznych zapasów niezdolny,<br>
Rejterował się, czyniąc przed sobą plac wolny<br>
Na prawo i na lewo; tu końcem szablicy<br>
Uciera bagnet z rury jako knot ze świécy;<br>
Tam machnąwszy na odlew, ścina albo kole.<br>
I tak ostrożny Maciek ustępuje w pole.
</p>

<p>
Lecz z największym na niego naciera uporem<br>
Stary Gifrejter, co był pułku instruktorem,<br>
Wielki mistrz na bagnety; zebrał się sam w sobie,<br>
Skurczył się, a karabin porwał w ręce obie,<br>
Prawą u zamka, lewą, w pół rury porywa,<br>
Kręci się, podskakuje, czasem przysiadywa,<br>
Lewą rękę opuszcza, a broń z prawej ręki<br>
Suwa naprzód, jak żądło z wężowej paszczęki,<br>
I znowu ją w tył cofa, na kolanie wspiera,<br>
I tak kręcąc się, skacząc, na Maćka naciera.
</p>

<p>
Ocenił przeciwnika zręczność Maciek stary<br>
I lewą ręką włożył na nos okulary,<br>
Prawą rękojeść Rózgi tuż przy piersiach trzyma,<br>
Cofa się, Gifrejtera ruch śledząc oczyma,<br>
Sam słania się na nogach, jakby był pijany;<br>
Gifrejter bieży prędzej i, pewny wygranej,<br>
Żeby uchodzącego tem łacniej dosięgnął,<br>
Powstał i całą prawą rękę wzdłuż wyciągnął<br>
Popychając karabin, a tak się wysilił<br>
Pchnięciem i wagą broni, że się aż pochylił;<br>
Maciek tam, kędy bagnet wkłada się na rurę,<br>
Podstawia swą rękojeść, podbija broń w górę,<br>
I wnet spuszczając Rózgę, tnie Moskala w rękę<br>
Raz, i znowu na odlew przecina mu szczękę. —<br>
Tak padł Gifrejter, fechmistrz najpierwszy z Moskalów,<br>
Kawaler trzech krzyżyków i czterech medalów.
</p>

<p>
Tymczasem koło kłodek lewe szlachty skrzydło<br>
Już jest bliskie zwycięstwa; tam walczył Kropidło,<br>
Widny z dala, tam Brzytwa wił się śród Moskali,<br>
Ten ich w pół ciała rzeza, tamten w głowy wali;<br>
Jako machina, którą niemieccy majstrowie<br>
Wymyślili i która młockarnią się zowie,<br>
A jest razem sieczkarnią, ma cepy i noże,<br>
Razem i słomę kraje, i wybija zboże:<br>
Tak pracują Kropiciel i Brzytwa pospołu,<br>
Mordując nieprzyjaciół, ten z góry, ten z dołu.
</p>

<p>
Lecz Kropiciel już pewne porzuca zwycięstwo,<br>
Bieży na prawe skrzydło, gdzie niebezpieczeństwo<br>
Nowe grozi Maćkowi; śmierci Gifrejtera<br>
Mszcząc się, Proporszczyk z długim szpontonem naciera<br>
(Szponton jest to zarazem dzida i siekiera,<br>
Teraz już zaniedbany, i tylko na flocie<br>
Używają go; wówczas służył i piechocie).<br>
Proporszczyk, człowiek młody, zręcznie się uwijał;<br>
Ilekroć mu przeciwnik broń na bok odbijał,<br>
On cofał się; młodego nie mógł Maciek zgonić,<br>
I tak, nie raniąc, musiał tylko siebie bronić.<br>
Już mu Proporszczyk dzidą lekką ranę zadał,<br>
Już wznosząc w górę berdysz, do cięcia się składał:<br>
Chrzciciel nie zdoła dobiec, lecz staje w pół drogi,<br>
Okręca broń i ciska wrogowi pod nogi.<br>
Skruszył kość; już Proporszczyk szponton z rąk upuszcza,<br>
Słania się; wpada Chrzciciel, za nim szlachty tłuszcza,<br>
A za szlachtą Moskale od lewego skrzydła<br>
Biegą zmieszani; wszczął się bój koło Kropidła.
</p>

<p>
Chrzciciel, który w obronie Maćka oręż stracił,<br>
Ledwie że tej przysługi życiem nie przypłacił,<br>
Bo przypadło nań z tyłu dwóch silnych Moskali<br>
I czworo rąk zarazem we włos mu wplątali;<br>
Upiąwszy się nogami, ciągną jako liny<br>
Sprężyste, uwiązane do masztu wiciny;<br>
Daremnie w tył Kropiciel ciska ślepe razy,<br>
Chwieje się — a wtem postrzegł, że blisko Gerwazy<br>
Walczy; zawołał: „Jezus Maria! Scyzoryku!”
</p>

<p>
Klucznik, trwogę Chrzciciela poznawszy po krzyku,<br>
Odwrócił się i spuścił ostrze płytkiej stali<br>
Między głowę Chrzciciela i ręce Moskali.<br>
Cofnęli się, wydawszy przeraźliwe głosy,<br>
Lecz jedna ręka, mocniej wplątana we włosy,<br>
Została się, wisząca i krwią buchająca.<br>
Tak orlik, jedną szponę gdy wbije w zająca,<br>
Drugą, by wstrzymać zwierza, o drzewo uczepi,<br>
A zając, targnąwszy się, orła wpół rozszczepi,<br>
Prawa szpona u drzewa zostaje się w lesie,<br>
A lewą, zakrwawioną, źwierz na pola niesie.
</p>

<p>
Kropiciel, wolny, oczy obraca dokoła,<br>
Ręce wyciąga, broni szuka, broni woła,<br>
Tymczasem grzmi pięściami, stojąc mocno w kroku<br>
I pilnując się z bliska Gerwazego boku,<br>
Aż Saka, syna swego, postrzega w natłoku.<br>
Sak prawą ręką szturmak wymierza, a lewą<br>
Ciągnie za sobą długie, sążniowate drzewo,<br>
Uzbrojone w krzemienie i w guzy, i sęki<br>
(Nikt by go nie podźwignął prócz Chrzciciela ręki).<br>
Chrzciciel, gdy miłą broń swą, swe Kropidło zoczył,<br>
Chwycił je, ucałował, z radości podskoczył,<br>
Zakręcił je nad głową i zaraz ubroczył.
</p>

<p>
Co potem dokazywał, jakie klęski szerzył,<br>
Daremnie śpiewać, nikt by muzie nie uwierzył,<br>
Jak nie wierzono w Wilnie ubogiej kobiécie,<br>
Która, stojąc na świętej Ostrej Bramy szczycie,<br>
Widziała, jako Dejów, moskiewski jenerał,<br>
Wchodząc z pułkiem Kozaków, już bramę otwierał<br>
I jak jeden mieszczanin, zwany Czarnobacki,<br>
Zabił Dejowa i zniósł cały pułk kozacki.
</p>

<p>
Dosyć, że się tak stało, jak przewidział Ryków:<br>
Jegry w tłumie ulegli mocy przeciwników.<br>
Dwudziestu trzech na ziemi wala się zabitych,<br>
Trzydziestu kilku jęczy ranami okrytych,<br>
Wielu pierzchło, skryło się w sad, w chmiele, nad rzekę,<br>
Kilku wpadło do domu pod kobiet opiekę.
</p>

<p>
Zwycięska szlachta biega z okrzykiem wesela,<br>
Ci do beczek, ci łupy rwą z nieprzyjaciela;<br>
Jeden Robak tryumfów szlachty nie podziela.
</p>

<p>
On dotąd sam nie walczył (bo bronią kanony<br>
Księdzu bić się), lecz jako człowiek doświadczony<br>
Dawał rady, plac boju z różnych stron obchodził,<br>
Wzrokiem, ręką, walczących zachęcał, przywodził.<br>
I teraz woła, aby do niego się łączyć,<br>
Uderzyć na Rykowa, zwycięstwo dokończyć.<br>
Tymczasem przez posłańca wskazał do Rykowa,<br>
Że jeżeli broń złoży, życie swe zachowa;<br>
Jeżeli zaś oddanie broni będzie zwlekać,<br>
Robak każe otoczyć resztę i wysiekać.
</p>

<p>
Kapitan Ryków wcale nie prosił pardonu;<br>
Zebrawszy koło siebie z pół batalijonu,<br>
Krzyknął: „Za broń!” — wnet szereg karabiny chwyta,<br>
Chrząsnęła broń, a była już dawno nabita;<br>
Krzyknął: „Cel!” — rury rzędem zabłysnęły długim,<br>
Krzyknął: „Ognia koleją!” — grzmią jeden po drugim;<br>
Ten strzela, ten nabija, ten chwyta do ręki,<br>
Słychać świsty kul, zamków chrzęsty, sztenflów dźwięki.<br>
Cały szereg zdaje się być ruchawym płazem,<br>
Który tysiąc błyszczących nóg wywija razem.
</p>

<p>
Prawda, że jegry byli mocnym trunkiem pjani,<br>
Źle mierzą i chybiają, rzadko który rani,<br>
Ledwie który zabije; przecież dwóch Maciejów<br>
Już zraniono i poległ jeden z Bartłomiejów.<br>
Szlachta z niewiela rusznic z rzadka się odstrzela,<br>
Chce szablami uderzyć na nieprzyjaciela,<br>
Ale starsi wstrzymują; kule gęsto świszczą,<br>
Rażą, spędzają, wkrótce dziedziniec oczyszczą.<br>
Już aż po szybach dworu zaczynają dzwonić.
</p>

<p>
Tadeusz, który został w domu kobiet bronić<br>
Z rozkazu stryja, słysząc, że coraz to gorzéj<br>
Wre bitwa, wybiegł; za nim wybiegł Podkomorzy,<br>
Któremu Tomasz wreszcie przyniósł karabelę;<br>
Śpieszy, łączy się z szlachtą i staje na czele.<br>
Bieży, broń wzniosłszy, szlachta rusza jego śladem,<br>
Jegry, przypuściwszy ich, sypnęli kul gradem.<br>
Legł Isajewicz, Wilbik, Brzytewka raniony;<br>
Zaczem wstrzymują szlachtę, Robak z jednej strony,<br>
A z drugiej Maciej; szlachta ostyga w zapale,<br>
Ogląda się, cofa; widzą to Moskale;<br>
Kapitan Ryków myśli ostatni cios zadać,<br>
Spędzić szlachtę z dziedzińca i dworem owładać.
</p>

<p>
„Formuj się do ataku! — zawołał — na sztyki!<br>
Naprzód!” Wnet szereg, rury wytknąwszy jak tyki,<br>
Schyla głowy, zrusza się i przyśpiesza kroku;<br>
Darmo szlachta wstrzymuje z przodu, strzela z boku,<br>
Szereg już pół dziedzińca przeszedł bez oporu;<br>
Kapitan, pokazując szpadą na drzwi dworu,<br>
Krzyczy: „Sędzio! poddaj się, bo dwór spalić każę!”<br>
„Pal — woła Sędzia — ja cię w tym ogniu usmażę”.
</p>

<p>
O dworze Soplicowski! jeśli dotąd całe<br>
Świecą się pod lipami twoje ściany białe<br>
Jeśli tam dotąd szlachty sąsiedzkiej gromada<br>
Za gościnnemi stoły Sędziego zasiada,<br>
Pewnie tam piją często za Konewki zdrowie;<br>
Bez niego już by było dziś po Soplicowie!
</p>

<p>
Konewka dotąd małe dał męstwa dowody;<br>
Choć najpierwszy ze szlachty uwolniony z kłody,<br>
Choć zaraz znalazł w wozie swą miłą Konewkę,<br>
Swój szturmak faworytny i z nim kul sakiewkę,<br>
Nie chciał bić się; powiadał, że sobie nie ufa<br>
Na czczo; szedł więc, gdzie stała spirytusu kufa,<br>
Ręką jak łyżką strumień do ust sobie chylił;<br>
Dopiero gdy się dobrze rozgrzał i posilił,<br>
Poprawił czapkę, z kolan wziął do rąk Konewkę,<br>
Zmacał sztenflem naboju, podsypał panewkę<br>
I spojrzał na plac boju; widzi, że błyszcząca<br>
Fala bagnetów szlachtę bije i roztrąca;<br>
Przeciw tej fali płynie, schyla się do ziemi<br>
I nurkuje pomiędzy trawami gęstemi<br>
Środkiem dziedzińca, aż tam, gdzie rosła pokrzywa,<br>
Zasadza się, a Saka gestami przyzywa.
</p>

<p>
Sak, broniąc dworu, stanął z szturmakiem u proga,<br>
Bo w tym dworze mieszkała jego Zosia droga,<br>
Od której choć w zalotach został pogardzony,<br>
Kochał ją zawsze, zginąć rad dla jej obrony.
</p>

<p>
Już szereg jegrów w marszu na pokrzywę wkracza,<br>
Gdy Konew ruszył cyngla i z paszczy garłacza<br>
Tuzin kul rozsiekanych puszcza śród Moskali;<br>
Sak puszcza drugi tuzin, jegry się zmięszali.<br>
Przerażony zasadzką szereg w kłąb się zwija,<br>
Cofa się, rzuca rannych; Chrzciciel ich dobija.
</p>

<p>
Stodoła już daleko; bojąc się odwodu<br>
Długiego, Ryków skoczył pod parkan ogrodu,<br>
Tam pierzchającą rotę zatrzymuje w biegu,<br>
Szykuje, lecz szyk zmienia: z jednego szeregu<br>
Robi trójkąt, klin ostry wystawując z przodu,<br>
A dwa boki opiera o parkan ogrodu.<br>
Dobrze zrobił, bo jazda nań od zamku wali.
</p>

<p>
Hrabia, który był w zamku pod strażą Moskali,<br>
Gdy pierzchła straż zlękniona, dworzan na koń wsadził<br>
I słysząc strzały, w ogień jazdę swą prowadził,<br>
Sam na czele, z żelazem nad głowę wzniesionem.<br>
Wtem Ryków krzyknął: „Ognia pół batalijonem!”<br>
Przeleciała po zamkach wzdłuż nitka ognista<br>
I z czarnych rur wytkniętych świsnęło kul trzysta.<br>
Trzech jezdnych padło rannych, jeden trupem leży.<br>
Padł koń Hrabi, spadł Hrabia; Klucznik krzycząc bieży<br>
Na ratunek, bo widzi: jegry na cel wzięli<br>
Ostatniego z Horeszków, chociaż po kądzieli.<br>
Robak był bliższy, Hrabię ciałem swym zakrywa,<br>
Dostał za niego postrzał, spod konia dobywa,<br>
Uprowadza; a szlachcie każe się rozstąpić,<br>
Lepiej mierzyć, postrzałów nadaremnych skąpić,<br>
Kryć się za płoty, studnię, za ściany obory;<br>
Hrabia z jazdą ma czekać sposobniejszej pory.
</p>

<p>
Plany Robaka pojął i wykonał cudnie<br>
Tadeusz; stał ukryty za drewnianą studnię;<br>
A że trzeźwy i dobrze strzelał z dubeltówki<br>
(Mógł trafić do rzuconej w powietrze złotówki),<br>
Okropnie razi Moskwę, starszyznę wybiera:<br>
Za pierwszym zaraz strzałem ubił feldfebera.<br>
Potem z dwóch rur raz po raz dwóch sierżantów sprząta,<br>
Mierzy to po galonach, to w środek trójkąta,<br>
Gdzie stał sztab; zaczem Ryków gniewa się i dąsa.<br>
Tupa nogami, szpady swej rękojeść kąsa:<br>
„Majorze Płucie — woła — co to z tego będzie?<br>
Wkrótce tu nie zostanie nikt z nas przy komendzie!”
</p>

<p>
Więc Płut na Tadeusza krzyknął z wielkim gniewem:<br>
„Panie Polak, wstydź się Pan chować się za drzewem,<br>
Nie bądź tchórz, wyjdź na środek, bij się honorowie,<br>
Po żołniersku”. — A na to Tadeusz odpowie:<br>
„Majorze! Jeśli jesteś tak śmiałym rycerzem,<br>
A czegoż ty się chowasz za jegrów kołnierzem?<br>
Nie tchórzę ja przed tobą, wynidź no zza płotów,<br>
Dostałeś w twarz, jam przecie bić się z tobą gotów!<br>
Po co krwi rozlew! Między nami była zwada,<br>
Niechajże ją rozstrzygnie pistolet lub szpada.<br>
Daję ci broń na wybor, od działa do szpilki;<br>
A nie, to was wystrzelam jako w jamie wilki”.<br>
I to mówiąc wystrzelił, a tak dobrze mierzył,<br>
Że porucznika obok Rykowa uderzył.
</p>

<p>
„Majorze — szepnął Ryków — wyjdź na pojedynek<br>
I pomścij się za jego raniejszy uczynek.<br>
Jeśli tego szlachcica kto inny zabije,<br>
To, Major widzi, Major hańby swej nie zmyje.<br>
Trzeba tego szlachcica na pole wywabić,<br>
Nie można z karabina, to choć szpadą zabić.<br>
Co puka, to nie sztuka; to wolę, co kole —<br>
Mówił stary Suworow; wyjdź, Majorze, w pole,<br>
Bo on nas powystrzela; patrz, bierze do celu”.<br>
Na to rzekł Major: „Ryków! miły przyjacielu!<br>
Ty jesteś zuch na szpady, wyjdź ty, bracie Ryków,<br>
Lub wiesz co? wyszlem kogo z naszych poruczników.<br>
Ja major, ja nie mogę odstąpić żołnierzy,<br>
Do mnie batalijonu komenda należy”.<br>
Słysząc to Ryków szpadę podniósł, wyszedł śmiało,<br>
Kazał ognia zaprzestać, machnął chustką białą.<br>
Pyta się Tadeusza, jaką broń podoba;<br>
Po układach — na szpady zgodzili się oba.<br>
Tadeusz broni nie miał; gdy szukano szpady,<br>
Wyskoczył Hrabia zbrojny i zerwał układy.
</p>

<p>
„Panie Soplico! — wołał — z przeproszeniem Pana,<br>
Pan wyzwałeś Majora! ja do Kapitana<br>
Mam dawniejszą urazę: on do zamku mego<br>
(„Mów Pan — przerwał Protazy — do zamku naszego”)<br>
On wpadł — rzekł kończąc Hrabia — na czele złodziejów,<br>
On, poznałem Rykowa, wiązal mych dżokejów.<br>
Skarzę go, jakom zbójców skarał pod opoką,<br>
Którą Sycylijanie zwą Birbante-rokko”.
</p>

<p>
Uciszyli się wszyscy, ustało strzelanie,<br>
Wojska ciekawe patrzą na wodzów spotkanie:<br>
Hrabia i Ryków idą, obróceni bokiem,<br>
Prawą ręką i prawym grożąc sobie okiem;<br>
Wtem lewymi rękami odkrywają głowy<br>
I kłaniają się grzecznie (zwyczaj honorowy:<br>
Nim przyjdzie do zabójstwa, naprzód się przywitać).<br>
Już spotkały się szpady i zaczęły zgrzytać;<br>
Rycerze, wznosząc nogi, prawemi kolany<br>
Przyklękają, w przód i w tył skacząc na przemiany.
</p>

<p>
Ale Płut, Tadeusza widząc przed swym frontem,<br>
Naradzał się po cichu z gifrejterem Gontem,<br>
Który w rocie uchodził za pierwszego strzelca.<br>
„Gonto — rzekł Major — widzisz ty tego wisielca?<br>
Jeśli mu wsadzisz kulę, tam pod piątym żebrem,<br>
To dostaniesz ode mnie cztery ruble srebrem”.<br>
Gont odwodzi karabin, do zamka się chyli,<br>
Wierni go towarzysze płaszczami okryli;<br>
Mierzy nie w żebro, ale w głowę Tadeusza,<br>
Strzelił i trafił — blisko, w środek kapelusza.<br>
Okręcił się Tadeusz, aż Kropiciel wpada<br>
Na Rykowa, a za nim szlachta, krzycząc: „Zdrada!”<br>
Tadeusz go zasłania, ledwie zdołał Ryków<br>
Zrejterować się i wpaść we środek swych szyków.
</p>

<p>
Znowu Dobrzyńscy z Litwą natarli w zawody<br>
I pomimo dawniejsze dwóch stronnictw niezgody<br>
Walczą jak bracia, jeden drugiego zachęca.<br>
Dobrzyńscy, widząc jak się Podhajski wykręca<br>
Tuż przed szeregiem jegrów i kosą ich kraje,<br>
Zawołali z radością: „Niech żyją Podhaje!<br>
Naprzód, bracia Litwini! Górą, górą Litwa!”<br>
Skołubowie zaś, widząc, jak waleczny Brzytwa,<br>
Choć ranny, leci z szablą wzniesioną do góry,<br>
Krzyknęli: „Górą Maćki, niech żyją Mazury!”<br>
Dodawszy wzajem serca, biegą na Moskali;<br>
Nadaremnie ich Robak z Maćkiem wstrzymywali.
</p>

<p>
Gdy tak na rotę jegrów uderzano z przodu,<br>
Wojski rzuca plac boju, idzie do ogrodu;<br>
Przy boku jego stąpał ostrożny Protazy,<br>
A Wojski mu po cichu wydawał rozkazy.
</p>

<p>
Stała w ogrodzie, prawie pod samym parkanem,<br>
O który się opierał Ryków swym trójgranem,<br>
Wielka, stara sernica, budowana w kratki<br>
Z belek na krzyż wiązanych, podobna do klatki.<br>
W niej świeciły się białych serów mnogie kopy;<br>
Wkoło zaś wahały się suszące się snopy<br>
Szałwiji, benedykty kardy, macierzanki:<br>
Cała zielna domowa apteka Wojszczanki.<br>
Sernica w górze miała wszerz sążni półczwarta.<br>
A u dołu na jednym wielkim słupie wsparta,<br>
Niby gniazdo bocianie. Stary słup dębowy<br>
Pochylił się, bo już był wygnił do połowy,<br>
Groził upadkiem. Nieraz Sędziemu radzono,<br>
Aby zrucił budowę wiekiem nadwątloną;<br>
Ale Sędzia powiadał, że woli poprawiać<br>
Aniżeli rozrucać, albo też przestawiać.<br>
Odkładał budowanie do sposobnej pory,<br>
Tymczasem pod słup kazał wetknąć dwie podpory.<br>
Tak pokrzepiona, ale nietrwała budowa<br>
Wyglądała za parkan nad trójkąt Rykowa.
</p>

<p>
Ku tej sernicy Wojski z Woźnym milczkiem idą,<br>
Każdy zbrojny ogromnym drągiem jakby dzidą;<br>
Za nimi ochmistrzyni dąży przez konopie<br>
I kuchcik, małe, ale bardzo silne chłopię.<br>
Przyszedłszy, drągi wparli w wierzch słupa nadgniły,<br>
Sami, u końców wisząc, pchają z całej siły,<br>
Jako flisy uwięzłą na rapach wicinę<br>
Długimi drągi z brzegu pędzą na głębinę.
</p>

<p>
Trzasnął słup: już sernica chwieje się i wali<br>
Z brzemieniem drzew i serów na trójkąt Moskali,<br>
Gniecie, rani, zabija; gdzie stały szeregi,<br>
Leżą drwa, trupy, sery białe jako śniegi,<br>
Krwią i mozgiem splamione. Trójkąt w sztuki pryska,<br>
A już w środku Kropidło grzmi, już Brzytwa błyska,<br>
Siecze Rózga, od dworu wpada szlachty tłuszcza,<br>
A Hrabia od bram jazdę na rozpierzchłych puszcza.
</p>

<p>
Już tylko ośmiu jegrów z sierżantem na czele<br>
Bronią się; bieży Klucznik; oni stoją śmiele,<br>
Dziewięć rur wymierzyli prosto w łeb Klucznika;<br>
On leci na strzał, kręcąc ostrze Scyzoryka.<br>
Widzi to Ksiądz, zabiega Klucznikowi drogę.<br>
Sam pada i podbija Gerwazemu nogę.<br>
Upadli, właśnie kiedy pluton ognia dawał;<br>
Ledwie ołów prześwisnął, już Gerwazy wstawał,<br>
Już wskoczył w dym; dwom jegrom zaraz głowy zmiata.<br>
Uciekają strwożeni, Klucznik goni, płata;<br>
Oni biegną dziedzińcem, Gerwazy ich torem;<br>
Wpadają we drzwi gumna stojące otworem,<br>
I Gerwazy do gumna na ich karkach wjechał,<br>
Zniknął w ciemności, ale bitwy nie zaniechał,<br>
Bo przeze drzwi jęk słychać, wrzask i gęste razy.<br>
Wkrótce ucichło wszystko; wyszedł sam Gerwazy<br>
Z mieczem krwawym.
</p>

<p>
Już szlachta odzierżyła pole,<br>
Porozpędzanych jegrów ściga, rąbie, kole;<br>
Ryków sam został, krzyczy, że broni nie złoży,<br>
Bije się, gdy ku niemu podszedł Podkomorzy<br>
I wznosząc karabelę, rzekł poważnym tonem:<br>
„Kapitanie! nie splamisz czci twojej pardonem,<br>
Dałeś proby, rycerzu nieszczęsny, lecz mężny,<br>
Twojej odwagi; porzuć opór niedołężny,<br>
Złóż broń, nim cię naszymi szablami rozbroim;<br>
Zachowasz życie i cześć, jesteś więźniem moim!”
</p>

<p>
Ryków, Podkomorzego zwalczony powagą,<br>
Skłonił się i oddał mu swoję szpadę nagą,<br>
Skrwawioną po rękojeść, i rzekł: „Lachy braty!<br>
Oj, biada mnie, żem nie miał choć jednej armaty!<br>
Dobrze mówił Suworow: «Pomnij, Ryków kamrat,<br>
Żebyś nigdy na Lachów nie chodził bez armat!»<br>
Cóż! jegry byli pjani, Major pić pozwolił!<br>
Och, major Płut, on dzisiaj bardzo poswawolił!<br>
On odpowie przed carem, bo on miał komendę,<br>
Ja, Panie Podkomorzy, wasz przyjaciel będę.<br>
Ruskie przysłowie mówi: Kto się mocno lubi,<br>
Ten, Panie Podkomorzy, i mocno się czubi.<br>
Wy dobrzy do wypitki, dobrzy do wybitki,<br>
Ale przestańcie robić nad jegrami zbytki”.
</p>

<p>
Podkomorzy, słysząc to, karabelę wznasza<br>
I przez Woźnego pardon powszechny ogłasza,<br>
Każe rannych opatrzyć, z trupów czyścić pole,<br>
A jegrów rozbrojonych prowadzić w niewolę.<br>
Długo szukano Płuta; on, w krzaku pokrzywy<br>
Zarywszy się głęboko, leżał jak nieżywy;<br>
Wyszedł wreszcie, ujrzawszy, że było po bitwie.
</p>

<p>
Taki miał koniec zajazd ostatni na Litwie.
</p>
{% endblock %}