
<h3>KSIĘGA SIÓDMA</h3>

<h4>RADA</h4>

<p class="streszczenie">
Zbawienne rady Bartka, zwanego Prusak<br>
Głos żołnierski Maćka Chrzciciela<br>
Głos polityczny pana Buchmana<br>
Jankiel radzi ku zgodzie, którą Scyzoryk rozcina<br>
Rzecz Gerwazego, z której okazują się wielkie skutki wymowy sejmowej<br>
Protestacja starego Maćka<br>
Nagłe przybycie posiłków wojennych zrywa naradę<br>
Hejże na Soplice!
</p>

<p>
Z kolei Bartek poseł rzecz swą wyprowadzał;<br>
Ten, że często na strugach do Królewca chadzał,<br>
Nazwany był Prusakiem od swych spółrodaków<br>
Przez żart, bo nienawidził okropnie Prusaków,<br>
Choć lubił o nich gadać; człek podeszły w lata,<br>
W podróżach swych dalekich wiele zwiedził świata;<br>
Gazet pilny czytelnik, polityki świadom,<br>
Mógł więc niemało światła udzielić obradom.<br>
Ten tak rzecz kończył:
</p>

<p>
„Nie jest to, Panie Macieju,<br>
Bracie mój, a nas wszystkich Ojcze Dobrodzieju,<br>
Nie jest to marna pomoc. Ja bym na Francuzów<br>
Spuścił się w czasie wojny jak na czterech tuzów:<br>
Lud bitny, a od czasów pana Tadeusza<br>
Kościuszki świat takiego nie miał genijusza<br>
Wojennego jak wielki Cesarz Bonaparte.
</p>

<p>
Pamiętam, kiedy przeszli Francuzi przez Wartę,<br>
Bawiłem za granicą wtenczas, w roku Pańskim<br>
Tysiącznym osimsetnym szóstym; właśnie z Gdańskiem<br>
Handlowałem, a krewnych mam wielu w Poznańskiem.<br>
Jeździłem ich odwiedzić; więc z panem Józefem<br>
Grabowskim, który teraz jest rejmentu szefem,<br>
A podówczas żył na wsi blisko Obiezierza,<br>
Polowaliśmy sobie na małego źwierza.<br>
Był pokój w Wielko — Polszcze, jak teraz na Litwie;<br>
Wtem nagle rozeszła się wieść o strasznej bitwie;<br>
Przybiegł do nas posłaniec od pana Todwena,<br>
Grabowski list przeczytał, krzyknął: «Jena! Jena!<br>
Zbito Prusaków na łeb, na szyję, wygrana!»<br>
Ja, z konia zsiadłszy, zaraz padłem na kolana,<br>
Dziękując Panu Bogu.
</p>

<p>
Do miasta jedziemy<br>
Niby dla interesu, niby nic nie wiemy,<br>
Aż tu widzimy: wszystkie landraty, hofraty,<br>
Komisarze i wszystkie podobne psubraty<br>
Kłaniają się nam nisko; każdy drży, blednieje,<br>
Jako owad prusaczy, gdy wrzątkiem kto zleje.<br>
My śmiejąc się, trąc ręce, prosim uniżenie<br>
O nowinki? pytamy, co słychać o Jenie?<br>
Tu ich strach zdjął, dziwią się, że o klęsce owej<br>
Już wiemy; krzyczą Niemcy: «Achary Got! o wej!»<br>
Spuściwszy nos, do domów, z domów dalej w nogi —<br>
O, to był rwetes! Wszystkie wielkopolskie drogi<br>
Pełne uciekających; niemczyska jak mrowie<br>
Pełzną, ciągną pojazdy, które lud tam zowie<br>
Wageny i fornalki; mężczyźni, kobiety,<br>
Z fajkami, z imbryczkami, wleką pudła, bety;<br>
Drapią, jak mogą; a my milczkiem wchodzim w radę:<br>
Hejże na koń, pomieszać Niemcom rejteradę!<br>
Nuż landratom tłuc w karki, z hofratów drzeć schaby,<br>
A herów oficerów łowić za harcaby —<br>
A jenerał Dąbrowski wpada do Poznania<br>
I cesarski przynosi rozkaz: do powstania!<br>
W tydzień jeden — tak lud nasz Prusaków wychłostał<br>
I wygnał, na lekarstwo Niemca byś nie dostał!
</p>

<p>
Gdyby się tak obrócić i gracko, i raźnie,<br>
I u nas w Litwie sprawić Moskwie taką łaźnię?<br>
He? co myślisz, Macieju? Jeśli z Bonapartem<br>
Moskwa drze koty, to on wojuje nie żartem:<br>
Bohater pierwszy w świecie, a wojsk ma bez liku!<br>
He, cóż myślisz, Macieju, nasz ojcze Króliku?”
</p>

<p>
Skończył. Czekają wszyscy Macieja wyroku.<br>
Maciej głowy nie ruszył ani podniósł wzroku,<br>
Tylko ręką kilkakroć uderzył po boku,<br>
Jak gdyby szabli szukał (od zaboru kraju<br>
Szabli nie nosił; przecież z dawnego zwyczaju<br>
Na wspomnienie Moskala zawsze rękę zwracał<br>
Na lewy bok, zapewne Rózeczki swej macał;<br>
I stąd był nazywany powszechnie Zabokiem).<br>
Już wzniósł głowę, słuchają w milczeniu głębokiem.<br>
Maciej oczekiwanie powszechne omylił,<br>
Nachmurzył brwi i znowu głowę na pierś schylił.<br>
Na koniec odezwał się, z wolna każde słowo<br>
Wymawiając z przyciskiem, a w takt kiwał głową:
</p>

<p>
„Cicho! skądże ta cała nowina pochodzi?<br>
Jak daleko Francuzi? Kto nimi dowodzi?<br>
Czy już wojnę zaczęli z Moskwą? gdzie i o co?<br>
Którędy mają ciągnąć? z jaką idą mocą?<br>
Wiele piechoty, jazdy? Kto wie, niechaj gada!”
</p>

<p>
Milczała, patrząc na się kolejno, gromada.<br>
„Radziłbym — rzecze Prusak — czekać bernardyna<br>
Robaka, bo od niego pochodzi nowina;<br>
Tymczasem posłać pewnych szpiegów nad granicę<br>
I po cichu uzbrajać całą okolicę,<br>
A tymczasem ostrożnie całą rzecz prowadzić,<br>
Aby Moskalom naszych zamiarów nie zdradzić”.
</p>

<p>
He! czekać? szczekać? zwlekać? —<br>
przerwał Maciej drugi,<br>
Ochrzczony Kropicielem od wielkiej maczugi,<br>
Którą zwał Kropidełkiem; miał ją dziś przy sobie.<br>
Stanął za nią, na gałce zwiesił ręce obie,<br>
Na ręku oparł brodę krzycząc: „Czekać! zwlekać!<br>
Sejmikować! Hem, trem, brem, a potem uciekać.<br>
Ja w Prusach nie bywałem; rozum królewiecki<br>
Dobry dla Prus, a u mnie jest rozum szlachecki.<br>
To wiem, że kto chce bić się, niech Kropidło chwyta,<br>
Kto umierać, ten księdza niech woła, i kwita!<br>
Ja chcę żyć, bić! Bernardyn po co? czy my żaki?<br>
Co mi tam Robak! otóż my będziem robaki,<br>
I dalej Moskwę toczyć! trem, bdrem, szpiegi, wzwiady;<br>
Wiecie wy, co to znaczy? — Oto, że wy dziady,<br>
Niedołęgi! He, Bracia! to wyżla rzecz tropić,<br>
Bernardyńska kwestować, a moja rzecz: kropić,<br>
Kropić, kropić i kwita!” — Tu maczugę głasnął,<br>
Za nim cały tłum szlachty: „Kropić, kropić!” — wrzasnął.
</p>

<p>
Poparł stronę Chrzciciela Bartek, zwan Brzytewka,<br>
Od szabli cienkiej, tudzież Maciej, zwan Konewka,<br>
Od sztućca, który naszał, z gardłem tak szerokiem,<br>
Że zeń, jak z konwi tuzin kulek lał potokiem;<br>
Oba krzyczeli: „Wiwat Chrzciciel z Kropidełkiem!”<br>
Prusak chciał mówić, ale zgłuszono go zgiełkiem<br>
I śmiechem: „Precz — wołano — precz Prusaki, tchórze!<br>
Kto tchórz, niech w bernardyńskim chowa się kapturze”.
</p>

<p>
Wtem znowu głowę z wolna podniósł Maciej stary<br>
I zaczęły cokolwiek uciszać się gwary.<br>
„Nie drwijcie — rzekł — z Robaka;<br>
znam go, to ćwik klecha,<br>
Ten robaczek większego od was zgryzł orzecha;<br>
Raz go tylko widziałem, ledwiem okiem rzucił,<br>
Poznałem, co za ptaszek; ksiądz oczy odwrócił,<br>
Lękając się, żebym go nie zaczął spowiadać;<br>
Ale to rzecz nie moja, wiele o tym gadać!<br>
On tu nie przyjdzie, próżno wzywać Bernardyna.<br>
Jeśli od niego wyszła ta cała nowina,<br>
To kto wie, w jakim celu: bo to bies księżyna!<br>
Jeśli prócz tej nowiny nic więcej nie wiecie,<br>
Więc po coście tu przyszli? i czego wy chcecie?”
</p>

<p>
„Wojny!” — krzyknęli. — „Jakiej?” — spytał. — Zawołali:<br>
„Wojny z Moskalem! bić się! Hajże na Moskali!”
</p>

<p>
Prusak wciąż wołał, a głos coraz wyżej wznosił,<br>
Aż posłuchanie częścią ukłonem wyprosił,<br>
Częścią zdobył swą mową krzykliwą i cienką.<br>
„I ja chcę bić się — wołał, tłukąc się w pierś ręką —<br>
Choć kropidła nie noszę, drągiem od wiciny<br>
Sprawiłem raz Prusakom czterem dobre chrzciny,<br>
Którzy mię po pjanemu chcieli w Preglu topić”.<br>
„Toś zuch, Bartku — rzekł Chrzciciel —<br>
dobrze! kropić kropić!”<br>
„Ależ, najsłodszy Jezu! trzeba pierwej wiedzieć,<br>
Z kim wojna? o co? Trzeba to światu powiedzieć —<br>
Wołał Prusak — bo jakże lud ruszy za nami?<br>
Gdzie pójdzie, kiedy, gdzie iść, my nie wiemy sami!<br>
Bracia Szlachta! Panowie! potrzeba rozsądku!<br>
Dobrodzieje! potrzeba ładu i porządku!<br>
Chcecie wojny, więc zróbmy konfederacyją,<br>
Obmyślmy, gdzie zawiązać i pod laską czyją?<br>
Tak było w Wielko — Polszcze: widzim rejteradę<br>
Niemiecką, cóż my robim! Wchodzim tajnie w radę,<br>
Uzbrajamy i szlachtę, i włościan gromadę,<br>
Gotowi, Dąbrowskiego czekamy rozkazu,<br>
Na koniec, hajże na koń! powstajem od razu!”
</p>

<p>
„Proszę o głos!” — zawołał pan komisarz z Klecka,<br>
Człowiek młody, przystojny, ubrany z niemiecka;<br>
Zwał się Buchman, lecz Polak był, w Polszcze się rodził;<br>
Nie wiedzieć pewnie, czyli ze szlachty pochodził,<br>
Lecz o to nie pytano; i wszyscy Buchmana<br>
Szacowali, iż służył u wielkiego pana.<br>
Był dobry patryjota i pełen nauki,<br>
Z ksiąg obcych wyuczył się gospodarstwa sztuki<br>
I dóbr administracją prowadził porządnie;<br>
O polityce także wnioskował rozsądnie,<br>
Pięknie pisać i gładko umiał się wysławiać,<br>
Zatem umilkli wszyscy, kiedy jął rozprawiać.<br>
„Proszę o głos!” — powtórzył, po dwakroć odchrząknął,<br>
Ukłonił się i usty dźwięcznemi tak brząknął:
</p>

<p>
„Preopinanci moi w swych głosach wymownych<br>
Dotknęli wszystkich punktów stanowczych i głownych,<br>
Dyskusyją na wyższe wznieśli stanowisko;<br>
Mnie tylko pozostaje w jedno zjąć ognisko<br>
Rzucone trafne myśli i rozumowania;<br>
Mam nadzieję w ten sposób sprzeczne zgodzić zdania.<br>
Dwie części dyskusyi całej uważałem,<br>
Podział już jest zrobiony, idę tym podziałem.<br>
Naprzód: dlaczego mamy przedsiębrać powstanie?<br>
W jakim duchu? to pierwsze żywotne pytanie;<br>
Drugie rewolucyjnej władzy się dotycze;<br>
Podział jest trafny, tylko przewrócić go życzę.<br>
Naprzód zacząć od władzy; skoro pojmiem władzę,<br>
Z niej powstania istotę, duch, cel wyprowadzę.<br>
Co do władzy więc — kiedy oczyma przebiegam<br>
Dzieje całej ludzkości, i cóż w nich spostrzegam?<br>
Oto ród ludzki dziki, w lasach rozpierzchniony,<br>
Skupia się, zbiera, łączy dla wspólnej obrony,<br>
Obmyśla ją; i to jest najpierwsza obrada.<br>
Potem każdy wolności własnej cząstkę składa<br>
Dla dobra powszechnego: to pierwsza ustawa,<br>
Z której jako ze źródła płyną wszystkie prawa.<br>
Widzimy tedy, że rząd umową się tworzy,<br>
Nie pochodząc, jak mylnie sądzą, z woli Bożéj.<br>
Owoż, rząd na kontrakcie oparłszy społecznym,<br>
Podział władzy już tylko jest skutkiem koniecznym...”
</p>

<p>
„Otóż są i kontrakty! kijowskie czy mińskie? —<br>
Rzekł stary Maciej — owoż i rządy babińskie!<br>
Panie Buchman, czy Bóg nam chciał cara narzucić,<br>
Czy diabeł, ja z Waszecią nie będę się kłócić;<br>
Panie Buchman, gadaj Waść, jakby cara zrucić”.
</p>

<p>
„Tu sęk! — krzyknął Kropiciel — gdybym mógł podskoczyć<br>
Do tronu i Kropidłem, plusk, raz cara zmoczyć,<br>
To już by on nie wrócił ni kijowskim traktem,<br>
Ni mińskim, ni za żadnym Buchmana kontraktem,<br>
Aniby go wskrzesili z mocy Bożej popi,<br>
Ni z mocy Belzebuba — ten mi zuch, kto kropi.<br>
Panie Buchman, Waścina rzecz bardzo wymowna,<br>
Ale wymowa — szum, drum; kropić — to rzecz głowna”.
</p>

<p>
„To, to, to!” — pisnął, ręce trąc, Bartek Brzytewka,<br>
Od Chrzciciela do Maćka biegając jak cewka,<br>
Od jednej strony krosien przerzucana w drugą —<br>
„Tylko ty, Maćku z Rózgą, ty, Maćku z maczugą,<br>
Tylko zgodźcie się, dalbóg, pobijem na druzgi<br>
Moskala; Brzytew idzie pod komendę Rózgi”.
</p>

<p>
„Komenda — przerwał Chrzciciel — dobra ku paradzie;<br>
U nas była komenda w kowieńskiej brygadzie<br>
Krótka a węzłowata: Strasz, sam się nie strachaj —<br>
Bij, nie daj się — postępuj często, gęsto machaj:<br>
Szach, mach!”<br>
„To — pisnął Brzytwa — to mi regulament!<br>
Po co tu pisać akta, po co psuć atrament?<br>
Konfederacji trzeba? O to cała sprzeczka?<br>
Jest marszałek nasz Maciej, a laska Rózeczka”.<br>
„Niech żyje — krzyknął Chrzciciel — Kurek na kościele!”<br>
Szlachta odpowiedziała: „Wiwant Kropiciele!”
</p>

<p>
Ale w kątach szmer powstał, choć w środku tłumiony;<br>
Widać, że się rozdziela rada na dwie strony.<br>
Buchman krzyknął: „Ja zgody nigdy nie pochwalam!<br>
To mój system!” Ktoś drugi wrzasnął: „Nie pozwalam!”<br>
Inni z kątów wtórują. Nareszcie głos gruby<br>
Ozwał się przybyłego szlachcica Skołuby:
</p>

<p>
„Cóż to, Państwo Dobrzyńscy! a to co się święci?<br>
A my czy to będziemy spod prawa wyjęci?<br>
Kiedy nas zapraszano z naszego zaścianku,<br>
A zapraszał nas klucznik Rębajło Mopanku,<br>
Mówiono nam, że wielkie rzeczy dziać się miały,<br>
Że tu nie o Dobrzyńskich, lecz o powiat cały,<br>
O całą szlachtę idzie; toż i Robak bąkał,<br>
Choć nigdy nie dokończył i zawsze się jąkał,<br>
I ciemno się tłumaczył; wreszcie, koniec końców,<br>
My zjechali, sąsiadów wezwali przez gońców.<br>
Nie sami tu, Panowie Dobrzyńscy, jesteście;<br>
Z różnych innych zaścianków jest tu nas ze dwieście;<br>
Wszyscy więc radźmy. Jeśli potrzeba marszałka,<br>
Głosujmy wszyscy; równa u każdego gałka.<br>
Niech żyje równość!”
</p>

<p>
Zatem dwaj Terajewicze<br>
I czterej Stupułkowscy, i trzej Mickiewicze<br>
Krzyknęli: „Wiwat równość!” — stojąc za Skołubą.<br>
Tymczasem Buchman wołał: „Zgoda będzie zgubą!”<br>
Kropiciel krzyczał: „Bez was obejdziem się sami;<br>
Niech żyje nasz marszałek, Maciek nad Maćkami!<br>
Hej, do laski!” Dobrzyńscy krzyczą: „Zapraszamy!”<br>
A obca szlachta woła w głos: „Nie pozwalamy!”<br>
Rozstrycha się tłum na dwie kupy rozdzielony<br>
I kiwając głowami w dwie przeciwne strony,<br>
Tamci: „Nie pozwalamy!” — ci krzyczą: „Prosiemy!”
</p>

<p>
Maciek stary w pośrodku jeden siedział niemy<br>
I jedna głowa jego była nieruchoma.<br>
Przeciw niemu stał Chrzciciel, zwieszony rękoma<br>
Na maczudze, a głową na końcu maczugi<br>
Wspartą kręcił jak tykwą wbitą na kij długi<br>
I na przemiany to w tył, to się naprzód kiwał,<br>
I ustawicznie: „Kropić, kropić!” wykrzykiwał.<br>
Wzdłuż izby zaś przebiegał Brzytewka ruchawy<br>
Ciągle od Kropiciela do Macieja ławy.<br>
Konewka zaś powoli wszerz izbę przechodził<br>
Od Dobrzyńskich do szlachty, niby to ich godził;<br>
Jeden wciąż wołał: „Golić!” — a drugi: „Zalewać!”<br>
Maciek milczał, lecz widno, że się zaczął gniewać.
</p>

<p>
Ćwierć godziny wrzał hałas, gdy nad tłum wrzeszczący,<br>
Ze środka głów, wyskoczył w górę słup błyszczący:<br>
Był to rapier sążnistej długości, szeroki<br>
Na całą piędź, a sieczny na obadwa boki.<br>
Widocznie miecz teutoński, z norymberskiej stali<br>
Ukuty; wszyscy milcząc na broń poglądali.<br>
Kto ją podniósł? nie widać, lecz zaraz zgadniono:<br>
„To Scyzoryk! Niech żyje Scyzoryk! — krzykniono —<br>
Wiwat Scyzoryk, klejnot Rębajłów zaścianku!<br>
Wiwat Rębajło, Szczerbiec, Półkozic, Mopanku!”
</p>

<p>
Wnet Gerwazy (to on był) przez tłum się przecisnął<br>
Na środek izby, wkoło Scyzorykiem błysnął,<br>
Potem, w dół chyląc ostrze na znak powitania<br>
Przed Maćkiem, rzekł: „Rózeczce Scyzoryk się kłania.<br>
Bracia szlachta Dobrzyńscy! Ja nie będę radził<br>
Nic a nic, powiem tylko, po com Was zgromadził,<br>
A co robić, jak robić, decydujcie sami.<br>
Wiecie, słuch dawno chodzi między zaściankami,<br>
Że się na wielkie rzeczy zanosi na świecie;<br>
Ksiądz Robak o tem gadał, wszakże wszyscy wiecie?”<br>
„Wiemy!” — krzyknęli. — „Dobrze. Owoż mądrej głowie —<br>
Ciągnął mowca spojrzawszy bystro — dość dwie słowie,<br>
Nieprawdaż?” „Prawda!” — rzekli. — „Gdy cesarz francuski —<br>
Rzekł Klucznik — stąd przyciąga, a stamtąd car ruski:<br>
Więc wojna, car z cesarzem, królowie z królami<br>
Pójdą za łby, jak zwykle między monarchami;<br>
A nam czy siedzieć cicho? Gdy wielki wielkiego<br>
Będzie dusić, my duśmy mniejszych, każdy swego.<br>
Z góry i z dołu, wielcy wielkich, małych mali,<br>
Jak zaczniem ciąć, tak całe szelmostwo się zwali<br>
I tak zakwitnie szczęście i Rzeczpospolita.<br>
Nieprawdaż?”<br>
„Prawda! — rzekli — jakby z książki czyta”.<br>
„Prawda! — powtórzył Chrzciciel — krop a krop, i kwita”.<br>
„Ja zawsze gotów golić” — ozwał się Brzytewka.<br>
„Tylko zgodźcie się — prosił uprzejmie Konewka —<br>
Chrzcicielu i Macieju, pod czyją iść wodzą”.<br>
Ale mu przerwał Buchman: „Niech się głupi godzą!<br>
Dyskusyje publicznej sprawie nie zaszkodzą.<br>
Proszę milczeć! Słuchamy! Sprawa na tem zyska,<br>
Pan Klucznik ją z nowego zważa stanowiska”.
</p>

<p>
„Owszem — zawołał Klucznik — u mnie po staremu:<br>
O wielkich rzeczach myśleć należy wielkiemu;<br>
Jest na to cesarz, będzie król, senat, posłowie.<br>
Takie rzeczy, Mopanku, robią się w Krakowie<br>
Lub w Warszawie, nie u nas, w zaścianku, w Dobrzynie;<br>
Aktów konfederackich nie piszą w kominie<br>
Kredą, nie na wicinie, lecz na pergaminie:<br>
Nie nam to pisać akta, ma Polska pisarzy<br>
Koronnych i litewskich, tak robili starzy;<br>
Moja rzecz Scyzorykiem wyrzynać”. — „Kropidłem<br>
Pluskać” — dodał Kropiciel. — „I wykalać Szydłem” —<br>
Krzyknął Bartek Szydełko, dobywszy swej szpadki.
</p>

<p>
„Wszystkich was — kończył Klucznik — biorę tu na świadki,<br>
Czy Robak nie powiadał, że wprzód nim przyjmiecie<br>
W dom wasz Napoleona, trzeba wymieść śmiecie?<br>
Słyszeliście to wszyscy, a czy rozumiecie?<br>
Któż jest śmieciem powiatu? Kto zdradziecko zabił<br>
Najlepszego z Polaków, kto go okradł, zgrabił?<br>
I jeszcze chce ostatki wydrzeć z rąk dziedzica?<br>
Któż to? Mamże wam gadać?”
</p>

<p>
„A jużci Soplica —<br>
Przerwał Konewka — to łotr!” — „Oj, to ciemiężyciel!” —<br>
Pisnął Brzytewka. — „Więc go kropić!” — dodał Chrzciciel.<br>
„Jeśli zdrajca — rzekł Buchman — więc na szubienicę!”<br>
„Hejże! — krzyknęli wszyscy — hajże na Soplicę!”
</p>

<p>
Lecz Prusak śmiał podjąć się Sędziego obrony<br>
I wołał z wzniesionemi ku szlachcie ramiony:<br>
„Panowie Bracia! aj! aj! a na boskie rany!<br>
Co znowu? Panie Klucznik, czy Waść opętany?<br>
Czy o tem była mowa? że ktoś miał wariata,<br>
Banita bratem, to co? karać go za brata!<br>
To mi po chrześcijańsku! Są tu w tym konszachty<br>
Hrabiego. — Żeby Sędzia był ciężki dla szlachty,<br>
Nieprawda! dalibógże! to wy tylko sami<br>
Pozywacie go, a on zgody szuka z wami,<br>
Ustępuje ze swego, jeszcze grzywny płaci,<br>
Ma proces z Hrabią, cóż stąd? obadwa bogaci;<br>
Niechaj pan drze się z panem, cóż to do nas braci?<br>
Pan Sędzia ciemiężyciel! On pierwszy zabraniał,<br>
Ażeby się chłop przed nim do ziemi nie kłaniał,<br>
Mówiąc, że to grzech. Nieraz u niego gromada<br>
Chłopska, ja sam widziałem, do stołu z nim siada;<br>
Płacił za włość podatki, a nie tak jest w Klecku,<br>
Choć tam Waść, Panie Buchman, rządzisz po niemiecku.<br>
Sędzia zdrajca! — My się z nim od infimy znamy:<br>
Poczciwe było dziecko i dziś taki samy;<br>
Polskę kocha nad wszystko, polskie obyczaje<br>
Chowa, modom moskiewskim przystępu nie daje.<br>
Ilekroć z Prus powracam, chcąc zmyć się z niemczyzny,<br>
Wpadam do Soplicowa jak w centrum polszczyzny:<br>
Tam się człowiek napije, nadysze Ojczyzny!<br>
Dalbóg, Dobrzyńscy! ja wasz brat, ale Sędziego<br>
Nie pozwolę pokrzywdzić, nie będzie nic z tego.<br>
Nie tak, Panowie Bracia, w Wielko — Polszcze było:<br>
Co za duch! co za zgoda! aż przypomnieć miło!<br>
Nikt tam podobną fraszką nie śmiał rady mieszać!”
</p>

<p>
„To nie fraszka — zawołał Klucznik — łotrów wieszać!”
</p>

<p>
Szmer wzmagał się; wtem Jankiel posłuchania prosił,<br>
Na ławę wskoczył, stanął i nad głowy wznosił<br>
Brodę jak wiechę, co mu aż do pasa wisi;<br>
Prawą ręką zdjął z wolna z głowy kołpak lisi,<br>
Lewą ręką jarmułkę zruszoną poprawił,<br>
Potem lewicę za pas zatknął i tak prawił,<br>
Kołpakiem lisim w kolej kłaniając się nisko
</p>

<p>
„Nu, Panowie Dobrzyńscy, ja sobie żydzisko;<br>
Mnie Sędzia ni brat, ni swat; szanuję Sopliców,<br>
Jak panów bardzo dobrych i moich dziedziców;<br>
Szanuję też Dobrzyńskich Bartków i Maciejów,<br>
Jako dobrych sąsiadów, panów dobrodziejów;<br>
A mówię tak: jeżeli Państwo chcą gwałt zrobić<br>
Sędziemu, to bardzo źle; możecie się pobić,<br>
Zabić... — A asesory? a sprawnik? a turma?<br>
Bo w wiosce u Soplicy jest żołnierzy hurma,<br>
Wszystko jegry! Asesor w domu; tylko świśnie,<br>
Tak wraz przymaszerują, stoją jak umyślnie.<br>
A co będzie? A jeśli czekacie Francuza,<br>
To Francuz jest daleko jeszcze, droga duża.<br>
Ja Żyd, o wojnach nie wiem, a byłem w Bielicy<br>
I widziałem tam żydków od samej granicy;<br>
Słychać, że Francuz stoi nad rzeką Łososną,<br>
A wojna jeśli będzie, to chyba aż wiosną.
</p>

<p>
Nu, mówię tak: czekajcie; wszak dwór Soplicowa<br>
Nie budka kramna, co się rozbierze, w wóz schowa<br>
I pojedzie — dwór jak stał, do wiosny stać będzie;<br>
A pan Sędzia to nie jest żydek na arendzie,<br>
Nie uciecze, to jego można znaleźć wiosną;<br>
A teraz rozejdźcie się, a nie gadać głośno<br>
O tem, co było, bo to gadać, to daremno!<br>
A czyja łaska Panów Szlachty, proszę ze mną.<br>
Moja Siora powiła małego Jankielka,<br>
Ja dziś traktuję wszystkich, a muzyka wielka!<br>
Każę przynieść kozicę, basetlę, dwie skrzypiec,<br>
A pan Maciej Dobrodziej lubi stary lipiec<br>
I nowego mazurka; mam nowe mazurki,<br>
A wyuczyłem śpiewać fein moje bachurki”.
</p>

<p>
Wymowa lubionego powszechnie Jankiela<br>
Trafiała do serc; powstał krzyk, oklask wesela,<br>
Szmer przyzwolenia nawet za domem się szerzył,<br>
Gdy Gerwazy w Jankiela Scyzorykiem zmierzył.<br>
Żyd skoczył, wpadł w tłum;<br>
Klucznik wołał: „Precz stąd, Żydzie!<br>
Nie tkaj palców między drzwi, nie o ciebie idzie!<br>
Panie Prusak! że Waszeć sędziowską handlujesz<br>
Parą wicin mizernych, to już zań gardłujesz?<br>
Zapomniałeś, Mopanku, że ojciec Waszécin<br>
Spławiał do Prus dwadzieście Horeszkowskich wicin?<br>
Stąd się zbogacił i on, i jego rodzina;<br>
Ba, nawet wszyscy, ilu was tu jest z Dobrzyna.<br>
Bo pamiętacie, starzy, słyszeliście młodzi,<br>
Że Stolnik był was wszystkich ojciec i dobrodziéj:<br>
Kogoż on komisarzem słał do swych dóbr pińskich?<br>
Dobrzyńskiego! Rachmistrzów kogo miał? Dobrzyńskich!<br>
Marszałkostwa, kredensu nie zwierzał nikomu,<br>
Tylko Dobrzyńskim: pełno Dobrzyńskich miał w domu!<br>
On forytował wasze w trybunałach sprawy,<br>
On wyrabiał u króla dla was chleb łaskawy,<br>
Dzieci wasze kopami pomieszczał w konwikcie<br>
Pijarskim, na swym koszcie, odzieży i wikcie;<br>
Dorosłych promowował także swym nakładem.<br>
A dlaczego to robił? Że wam był sąsiadem!<br>
Dziś Soplica kopcami tyka waszych granic;<br>
Cóż kiedy wam dobrego zrobił on?”<br>
„Nic a nic! —<br>
Przerwał Konewka — bo to wyrosło z szlachciury,<br>
A jak dmie się, phu phu phu, jak nos drze do góry!<br>
Pamiętacie, prosiłem na córki wesele;<br>
Poję, nie chce pić, mówi: «Nie piję tak wiele<br>
Jak wy szlachta; wy szlachta ciągniecie jak bąki!»<br>
Ot, magnat! delikacik z marymonckiej mąki!<br>
Nie pił, leliśmy w gardło; krzyczał: «Gwałt się dzieje!»<br>
Czekaj no, niech no ja mu z Konewki naleję”.
</p>

<p>
„Filut — zawołał Chrzciciel — oj, i ja go kropnę<br>
Za swoje. Mój syn — było to dziecko roztropne,<br>
Teraz tak zgłupiał, że go nazywają Sakiem.<br>
A z przyczyny Sędziego został głupcem takim.<br>
Mówiłem: «Po co tobie leźć do Soplicowa?<br>
Jeżeli cię tam złowię, niech cię Bóg uchowa!»<br>
On znowu smyk do Zosi, dybie przez konopie;<br>
Złowiłem go, a zatem za uszy i kropię;<br>
A on beczy i beczy jak maleńkie chłopie:<br>
«Ojcze, choć zabij, muszę tam iść» — a wciąż szlocha .<br>
Co tobie? A on mówi, że tę Zosię kocha!<br>
Chciałby popatrzyć na nią! Żal mi nieboraka;<br>
Mówię Sędziemu: «Sędzio, daj Zosię dla Saka!»<br>
On mówi: «Jeszcze mała, czekaj ze trzy lata,<br>
Jak sama zechce». Łotr! łże, już ją komuś swata.<br>
Słyszałem; już ja się tam na wesele wkręcę,<br>
Ja im łoże małżeńskie Kropidłem poświęcę”.
</p>

<p>
„I taki łotr — zawołał Klucznik — ma panować?<br>
I dawnych panów, lepszych od siebie, rujnować?<br>
A Horeszków i pamięć, i imię zaginie!<br>
Gdzież jest wdzięczność na świecie?<br>
— nie ma jej w Dobrzynie.<br>
Bracia! chcecie bój z ruskim wieść imperatorem,<br>
A boicie się wojny z Soplicowskim dworem?<br>
Strach wam turmy! czyż to ja wzywam na rozboje?<br>
Broń Boże! Szlachta Bracia! ja przy prawie stoję.<br>
Wszak Hrabia wygrał, zyskał dekretów niemało;<br>
Tylko je egzekwować! Tak dawniej bywało:<br>
Trybunał pisał dekret, szlachta wypełniała,<br>
A szczególniej Dobrzyńscy, i stąd wasza chwała<br>
Urosła w Litwie!<br>
Wszakże to Dobrzyńscy sami<br>
Bili się na zajeździe myskim z Moskalami,<br>
Których przywiódł jenerał ruski Wojniłowicz<br>
I łotr, przyjaciel jego, pan Wołk z Ługomowicz;<br>
Pamiętacie, jak Wołka wzięliśmy w niewolę,<br>
Jak chcieliśmy go wieszać na belce w stodole,<br>
Iż był tyran dla chłopstwa, a sługa Moskali;<br>
Ale się chłopi głupi nad nim zlitowali!<br>
(Upiec go muszę kiedyś na tym Scyzoryku).<br>
Nie wspomnę innych wielkich zajazdów bez liku,<br>
Z których wyszliśmy zawsze, jak szlachcie przystało,<br>
I z zyskiem, i aplauzem powszechnym, i z chwałą!
</p>

<p>
Po cóż o tem wspominać! Dziś darmo pan Hrabia,<br>
Sąsiad wasz, sprawę toczy, dekrety wyrabia,<br>
Już nikt z was pomóc nie chce biednemu sierocie!<br>
Dziedzic Stolnika, tego, który żywił krocie,<br>
Dziś nie ma przyjaciela oprocz mnie — Klucznika,<br>
I ot, tego wiernego mego Scyzoryka!”
</p>

<p>
„I Kropidła! — rzekł Chrzciciel — gdzie ty, Gerwazeńku,<br>
Tam i ja, póki ręka, póki plusk plask w ręku.<br>
Co dwaj, to dwaj! Dalibóg, mój Gerwazy! ty miecz,<br>
Ja mam Kropidło; dalbóg! ja kropię, a ty siecz,<br>
I tak szach mach, plusk i plask; oni niech gawędzą!”
</p>

<p>
„Toć i Bartka — rzekł Brzytwa — Bracia nie odpędzą;<br>
Już co wy namydlicie, to ja wszystko zgolę”.<br>
„I ja — przydał Konewka — z wami ruszyć wolę,<br>
Gdy ich nie można zgodzić na obior marszałka;<br>
Co mi tam głosy, gałki, u mnie insza gałka<br>
(Tu wydobył z kieszeni garść kul, dzwonił niemi):<br>
Ot, gałki! — krzyknął — w Sędzię gałkami wszystkiemi!”<br>
„Do was — wołał Skołuba — do was się łączymy!”<br>
„Gdzie wy — krzyknęła szlachta — gdzie wy, to tam i my!<br>
Niech żyją Horeszkowie! wiwant Półkozice!<br>
Wiwat Klucznik Rębajło! Hajże na Soplice!”
</p>

<p>
I tak wszystkich pociągnął wymowny Gerwazy:<br>
Bo wszyscy ku Sędziemu mieli swe urazy,<br>
Jak zwyczajnie w sąsiedztwie, to o szkodę skargi,<br>
To o wyręby, to o granice zatargi:<br>
Jednych gniew, drugich tylko podburzała zawiść<br>
Bogactw Sędziego — wszystkich zgodziła nienawiść.<br>
Cisną się do Klucznika, podnoszą do góry<br>
Szable, pałki...<br>
Aż Maciek, dotychczas ponury,<br>
Nieruchomy, wstał z ławy i wolnemi kroki<br>
Wyszedł na środek izby, i podparł się w boki;<br>
I spojrzawszy przed siebie, i kiwając głową,<br>
Zabrał głos, wymawiając z wolna każde słowo,<br>
Z przestankiem i przyciskiem: „A głupi! a głupi!<br>
A głupi wy! Na kim się mleło, na was skrupi.<br>
To póki o wskrzeszeniu Polski była rada,<br>
O dobru pospolitem, głupi, u was zwada?<br>
Nie można było, głupi, ani się rozmówić,<br>
Głupi, ani porządku, ani postanowić<br>
Wodza nad wami, głupi! A niech no kto podda<br>
Osobiste urazy, głupi, u was zgoda!<br>
Precz stąd! bo jakem Maciek, was, do milijonów<br>
Kroćset kroci tysięcy fur beczek furgonów<br>
Diabłów!!!...”<br>
Ucichli wszyscy jak rażeni gromem!<br>
Ale razem straszliwy powstał krzyk za domem:<br>
„Wiwat Hrabia!” On wjeżdżał na folwark Maciejów,<br>
Sam zbrojny, za nim zbrojnych dziesięciu dżokejów.<br>
Hrabia siedział na dzielnym koniu, w czarnym stroju;<br>
Na sukni orzechowy płaszcz włoskiego kroju,<br>
Szeroki, bez rękawów, jak wielka opona,<br>
Spięty klamrą u szyi, spadał przez ramiona;<br>
Kapelusz miał okrągły z piórem, w ręku szpadę,<br>
Okręcił się i szpadą powitał gromadę.
</p>

<p>
„Wiwat Hrabia! — krzyknęli — z nim żyć i umierać!”<br>
Szlachta zaczęła z chaty przez okna wyzierać<br>
I za Klucznikiem coraz ku drzwiom się napierać;<br>
Klucznik wyszedł, a za nim tłum przeze drzwi runął,<br>
Maciek resztę wypędził, drzwi zamknął, zasunął<br>
I przez okno wyjrzawszy, raz jeszcze rzekł: „Głupi!”
</p>

<p>
A tymczasem się szlachta do Hrabiego kupi;<br>
Idą w karczmę, Gerwazy wspomniał dawne czasy,<br>
Kazał sobie trzy podać od kontuszów pasy,<br>
Na nich ze sklepu karczmy beczki wydobywa<br>
Trzy: jedną miodu, drugą wódki, trzecią piwa.<br>
Wyjął goździe, wnet z szumem trysnęły trzy strugi:<br>
Jeden biały jak srebro, krwawnikowy drugi,<br>
Trzeci żółty; troistą grają w górze tęczą,<br>
A spadając w sto kubków, we sto szklanek brzęczą.<br>
Wre szlachta, tamci piją, ci Hrabiemu życzą<br>
Lat setnych, wszyscy: „Hajże na Soplice!” krzyczą.
</p>

<p>
Jankiel wymknął się milczkiem, oklep; Prusak równie,<br>
Nie słuchany, choć jeszcze rozprawiał wymownie,<br>
Chciał zmykać, szlachta w pogoń, wołając, że zdradził.<br>
Mickiewicz stał z daleka, ni krzyczał, ni radził,<br>
Ale z miny poznano, że coś złego knuje,<br>
Więc do kordów, i hajże! On się rejteruje,<br>
Odcina się, już ranny, przyparty do płotów,<br>
Gdy mu skoczył na odsiecz Zan i trzech Czeczotów.<br>
Zaczem rozjęto szlachtę, ale w tym rozruchu<br>
Dwóch było ciętych w ręce, ktoś dostał po uchu.<br>
Reszta wsiadała na koń.
</p>

<p>
Hrabia i Gerwazy<br>
Porządkują, rozdają oręże, rozkazy.<br>
W końcu wszyscy przez długą zaścianku ulicę<br>
Puścili się w cwał, krzycząc: „Hajże na Soplice!”
</p>